@import "./utitilities/viewports.module.scss";

@media only screen and (max-width: $composer-tablet-width-lg) {
    :root{
        --font-size: 1.5vw;
    }
}

@media only screen and (max-width: $composer-tablet-width) {
    :root{
        --font-size: 2.25vw;
    }
}

@media only screen and (max-width: $composer-tablet-width-sm) {
    :root{
        --font-size: 2.5vw;
    }
}

@media only screen and (max-width: $composer-phone-width) {
    :root{
        --font-size: 3vw;
    }
}

@media only screen and (max-width: $composer-phone-width-sm) {
    :root{
        --font-size: 4vw;
    }
}

.h1{
     font-size: 2.8rem;
     margin-top: 1em;
     margin-bottom: 1em;
}

.h2{
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.h3{
    font-size: 1.17rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.h4{
    font-size: 1.1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.h5{
    font-size: 1.05rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.p{
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container{
    width: 100%;
    padding: 20px 50px;
    background-color: var(--composer-html-background);

    &.full {
        padding: 20px 0px;
        .maxContent{
            max-width: 100%;
        }
    }

    @media only screen and (max-width: $composer-tablet-width) {
        padding: 20px 40px;
    }

    @media only screen and (max-width: $composer-phone-width) {
        padding: 20px;
    }




    &.left{
        .verticalContent{
            align-items: flex-start;
        }
        .sectionSubTitle{
            text-align: left;
            &.line{
                transform: translateX(3rem);
                &:before{
                    content: "";
                    position: absolute;
                    left: -3rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2rem;
                    height: 2px;
                }
            }
        }
        &.colorful{
            .sectionSubTitle{
                &:before{
                    background: var(--composer-primary-color);

                }
            }
        }
        &.monochrome{
            .sectionSubTitle{
                &:before{
                    background: var(--composer-font-color-primary);
                }
            }
        }
    }

    &.center{
        .sectionDescription,
        .sectionSubTitle,
        .sectionTitle{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    .sectionSubTitle{
        position: relative;
        font-weight: 500;
        &.badge{
            padding: var(--composer-gap-xs) var(--composer-gap-md);
            border-radius: var(--composer-border-radius-xl);
        }
    }
    

    &.colorful{
        .sectionTitle{
            color: var(--composer-primary-color);

        }
        .sectionSubTitle{
            color: var(--composer-primary-color);
            &.badge{
                background: color-mix(in srgb, var(--composer-primary-color), var(--composer-html-background) 80%);
            }
        }
    }
    &.monochrome{
        .sectionTitle{
            color: var(--composer-font-color-primary);
        }
        .sectionSubTitle{
            color: var(--composer-font-color-primary);
            &.badge{
                color: var(--composer-html-background);
                background: color-mix(in srgb, var(--composer-font-color-primary), var(--composer-html-background) 20%);
            }
        }
    }
}

.maxContent{
    max-width: var(--composer-content-width);
    margin: auto;
    width: 100%;
}

.verticalContent{
    display: flex;
    flex-direction: column;
    >*:not(:last-child){
        margin-bottom: 10px;
    }
    >*{
        margin-top: 0px;
    }
    >*:last-child{
        margin-bottom: 0px;
    }
    .sectionDescription,
    .sectionTitle{
        margin-bottom: 20px;
    }
}

.listGrid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--composer-gap-md);
    @media only screen and (max-width: $composer-tablet-width-sm) {
        flex-direction: column;
    }
}

.containerGrid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--composer-gap-lg);
    .gridCell{
        padding: 0px;
    }
    @media only screen and (max-width: $composer-tablet-width-sm) {
        flex-direction: column;
    }
}

.gridCell{
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    padding: var(--composer-gap-md);
    @media only screen and (max-width: $composer-tablet-width-sm) {
        width: 100%;
    } 
}