@use "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  &.has-image {
    padding: 0;
  }

  .image-container {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--composer-overlay-color);
      z-index: 1;
    }
  }

  .max-content {
    .page {
      .group-container {
        display: flex;
        width: 100%;
        align-items: stretch;
        justify-content: space-between;
        padding: var(--composer-gap-md) var(--composer-gap-xl);
        gap: var(--composer-gap-lg);
        padding-bottom: 80px;

        .title-block {
          display: flex;
          flex-direction: column;
          width: 20%;
          min-width: 0;
          align-items: flex-start;
          justify-content: center;

          .subtitle-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;

            .subtitle {
              text-align: left;
              width: fit-content;
            }
          }

          .title {
            content: "";
            margin: 0;
          }
        }

        .description {
          width: 60%;
          align-self: center;
        }

        .button-group {
          align-self: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          gap: var(--composer-gap-sm);

          .button {
            display: flex;

            .button-link {
              width: 100% !important;
              height: 100%;
            }

            .button-logo {
              width: 170px;
              height: 50px;
              object-fit: cover;
              cursor: pointer;
              border-radius: var(--composer-border-radius-sm);
            }

            .button-element {
              content: "";

              .button-text {
                content: "";
              }

              .button-icon {
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .group-container-center {
        align-items: center;
        padding: var(--composer-gap-md) var(--composer-gap-xl);
        padding-bottom: 80px !important;

        .vertical-content-center {
          width: 100%;
          align-items: center;
          text-align: center;
        }

        .subtitle-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;

          .subtitle {
            width: fit-content;
          }
        }

        .title {
          content: "";
        }

        .button-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: stretch;
          gap: var(--composer-gap-sm);
          margin-bottom: 0px !important;

          .button {
            .button-link {
              width: 100%;
              height: 100%;
            }

            .button-logo {
              width: 200px;
              height: 50px;
              object-fit: cover;
              border-radius: var(--composer-border-radius-sm);
            }

            .button-element {

              .button-text,
              .button-icon {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    padding: 80px 0px !important;

    .image-container {
      height: 300px;
    }

    .max-content {
      .page {
        .group-container {
          padding: var(--composer-gap-md) var(--composer-gap-lg);

          .title-block {
            width: 35%;
          }

          .description {
            width: 45%;
          }
        }

        .group-container-center {
          padding: var(--composer-gap-md) var(--composer-gap-lg);
          padding-bottom: 0px !important;

          .button-group {
            justify-content: center;
            gap: var(--composer-gap-sm);
            margin-bottom: var(--composer-gap-md);

            .button {
              .button-logo {
                height: 47px !important;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    padding: 50px 20px !important;

    .image-container {
      height: 250px;
    }

    .max-content {
      .page {
        .group-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: var(--composer-gap-md);
          padding: var(--composer-gap-md);
          align-items: flex-start;

          .title-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;

            .subtitle-wrapper {
              width: 100%;
              display: flex;
              justify-content: flex-start;

              .subtitle {
                text-align: left !important;
                width: fit-content;
                transform: translateX(0) !important;

                &::before {
                  display: none;
                }
              }
            }

            .title {
              text-align: left !important;
              width: 100%;
            }
          }

          .description {
            text-align: left !important;
            width: 100%;
          }

          .button-group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            gap: var(--composer-gap-sm) !important;
            width: 100%;
            flex-wrap: wrap;

            .button {
              margin: 0px;

              .button-logo {
                width: 120px !important;
                height: 33px !important;
                object-fit: cover;
                border-radius: var(--composer-border-radius-sm);
              }

              .button-element {
                .button-icon {
                  font-size: 1rem;
                }
              }
            }
          }
        }

        .group-container-center {
          padding: var(--composer-gap-md);
          padding-bottom: 0px !important;

          .button-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            gap: var(--composer-gap-sm);
            align-items: stretch;

            .button {
              .button-logo {
                width: 120px !important;
                height: 33px !important;
                object-fit: cover;
                border-radius: var(--composer-border-radius-sm);
              }
            }
          }
        }
      }
    }
  }
}