@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
  background-color: var(--composer-html-background);

  .max-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: var(--composer-gap-xl);

    .header {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      gap: var(--composer-gap-xs) var(--composer-gap-lg);
      width: 100%;
      align-items: start;

      .titles {
        display: contents;
      }

      .subtitle {
        grid-column: 1;
        grid-row: 1;
        width: fit-content;
        text-align: left;
        margin-left: unset;

        content: "";
        margin-bottom: 0;
        position: relative;
        padding: var(--composer-gap-md);
        display: inline-block;

        .highlight {
          position: relative;
          display: inline-block;

          &::after {
            content: "";
            position: absolute;
            left: calc(0px - var(--gap-xl));
            top: calc(0px - var(--gap-xs));
            right: calc(0px - var(--gap-sm));
            bottom: calc(0px - var(--gap-xs));
            background-color: var(--composer-tertiary-color);
            transform: skew(-15deg);
            z-index: -1;
          }
        }
      }

      .title {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        margin-left: unset;
        content: "";
        text-wrap: balance;
        display: block;
        max-inline-size: 1200px;
        margin-bottom: var(--composer-gap-lg);
      }

      .button-container {
        gap: var(--composer-gap-md);
        grid-column: 2;
        grid-row: 2;

        .button {
          justify-content: center;
          padding: var(--composer-gap-md) var(--composer-gap-md);
        }

        .button-text {
          margin: 0;
          color: var(--composer-primary-color);
        }
      }
    }
    .line {
      display: inline-block;
      vertical-align: middle;
      margin-left: var(--composer-gap-md);
      height: 0.5px;
      background: color-mix(
        in srgb,
        var(--composer-html-background),
        var(--composer-font-color-primary) 5%
      );
      width: var(--composer-gap-lg);
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      gap: var(--composer-gap-lg);

      .header {
        .titles {
          .subtitle {
            padding: var(--composer-gap-sm);
          }
        }

        .button-container {
          .button {
            padding: var(--composer-gap-md) var(--composer-gap-md);
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      flex-direction: column;
      align-items: flex-start;

      width: 100%;
      gap: var(--composer-gap-lg);

      .header {
        gap: var(--composer-gap-lg);
        display: flex;
        grid-template-columns: none;
        grid-template-rows: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        .titles {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          inline-size: 100%;

          .title {
            max-inline-size: none;
          }
          .subtitle {
            margin-bottom: var(--composer-gap-xs);
            padding: var(--composer-gap-xs);

            .highlight {
              &::after {
                left: calc(0px - var(--gap-lg));
                right: calc(0px - var(--gap-xs));
              }
            }
          }
        }

        .button-container {
          width: auto;
          justify-content: flex-start;
          flex-wrap: nowrap;

          .button {
            min-width: auto;
            white-space: nowrap;
          }
        }
      }
      .line {
        display: none;
      }
    }
  }
}
