@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
  .max-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: var(--composer-gap-xl);

    .header {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      gap: var(--composer-gap-xs) var(--composer-gap-lg);
      width: 100%;
      align-items: start;

      .titles {
        display: contents;
      }

      .subtitle {
        grid-column: 1;
        grid-row: 1;
        width: fit-content;
        text-align: left;
        margin-left: unset;
        content: "";
        margin-bottom: 0;
        position: relative;
        padding: var(--composer-gap-md) var(--composer-gap-md)
          var(--composer-gap-sm);
        display: inline-block;
        text-wrap: balance;
        max-inline-size: 1200px;

        .highlight {
          position: relative;
          display: inline-block;

          &::after {
            content: "";
            position: absolute;
            left: calc(0px - var(--gap-xl));
            top: calc(0px - var(--gap-xs));
            right: calc(0px - var(--gap-sm));
            bottom: calc(0px - var(--gap-xs));
            background-color: var(--composer-tertiary-color);
            transform: skew(-15deg);
            z-index: -1;
          }
        }
      }

      .title {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        margin-left: unset;
        content: "";
        text-wrap: balance;
        display: block;
        max-inline-size: 1200px;
        margin-bottom: var(--composer-gap-lg);
      }

      .button-container {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--composer-gap-sm);
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 500px;

        .button{
          .button-text {
            margin: 0;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      gap: var(--composer-gap-lg);

      .header {
        .titles {
          .subtitle {
            padding: var(--composer-gap-sm);
          }
        }
        .button-container {
          max-width: 300px;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: var(--composer-gap-lg);

      .header {
        gap: var(--composer-gap-md);
        display: flex;
        flex-direction: column;
        .titles {
          display: flex;
          .title {
            max-inline-size: none;
            margin-bottom: 0;
          }
          .subtitle {
            margin-bottom: var(--composer-gap-sm);
            padding: var(--composer-gap-xs);
            max-inline-size: none;

            .highlight {
              &::after {
                left: calc(0px - var(--gap-lg));
                right: calc(0px - var(--gap-xs));
              }
            }
          }
        }
        .button-container {
          flex-direction: row;
          flex-wrap: wrap;
          gap: var(--composer-gap-sm);
          align-items: flex-start;
          justify-content: flex-start;
          max-width: 100%;
        }
      }
    }
  }
}
