@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    padding-top: var(--composer-gap-lg);

    .max-content {
        .wrapper {
            margin-top: var(--composer-gap-md);
            row-gap: var(--composer-gap-xl);

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--composer-gap-md);
                position: relative;

                .item-index {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: var(--composer-font-color-primary);
                    color: var(--composer-html-background);
                    border-radius: var(--composer-border-radius-full);
                    width: 25px;
                    height: 25px;
                    top: -15px;
                    left: calc(50% + 30px);
                    transform: translateX(-50%);
                }

                .icon {
                    font-size: 3.5rem;
                    width: var(--composer-gap-xl);
                    height: var(--composer-gap-xl);
                    margin: 0;
                    color: var(--composer-font-color-primary);
                }

                .title {
                    width: 100%;
                    margin: 0;
                    color: var(--composer-font-color-primary);
                }

                .description {
                    width: 100%;
                    margin: 0;
                    color: var(--composer-tertiary-color);
                }

                &:not(:last-child)::after {
                    content: "";
                    width: 80%;
                    height: 1px;
                    background-color: var(--composer-font-color-primary);
                    position: absolute;
                    left: 100%;
                    top: calc(var(--composer-gap-xl) / 2);
                    transform: translateX(calc(-50% + var(--composer-gap-sm)));
                    opacity: .2;
                }

                &.remove-line::after {
                    display: none;
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        .max-content {
            .wrapper {
                div:nth-child(2n)::after {
                    display: none;
                }

                .item {
                    .item-index {
                        width: 30px;
                        height: 30px;
                        top: -20px;
                        left: calc(50% + 35px);
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        .max-content {
            .wrapper {
                .item {
                    &::after {
                        display: none;
                    }

                    .item-index {
                        width: 25px;
                        height: 25px;
                        top: -15px;
                        left: calc(50% + 30px);
                    }

                    .icon {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}