@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  width: 100%;

  .first-container {
    .first-max-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--composer-gap-lg);

      .left,
      .list-group {
        flex: 1 1 210px;
        max-width: 300px;
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-xs);
        .logo {
          .image {
            width: 150px;
            height: var(--composer-gap-xl);
          }
        }

        .description {
          font-size: 1rem;
          color: var(--composer-font-color-primary);
        }
      }

      .list-group {
        .title {
          font-size: 1rem;
          color: var(--composer-tertiary-color);
        }
        .text {
          font-size: 1rem;
          color: var(--composer-font-color-primary);
        }
      }
    }
  }

  .line {
    border-top: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);
    width: 100%;
  }

  .second-container {
    .second-max-content {
      .footer-bottom {
        display: flex;
        justify-content: space-between;
        .footer-text,
        .footer-text-no-image {
          max-width: 50%;
          font-size: 1rem;
          color: var(--composer-font-color-primary);
        }
        .footer-text-no-image {
          max-width: 100%;
        }

        .image-container,
        .image-container-full {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          max-width: 50%;
          row-gap: var(--composer-gap-sm);
          column-gap: var(--composer-gap-md);

          .image-element {
            .image {
              width: var(--composer-gap-xl);
              height: 30px;
              object-fit: cover;
              border-radius: var(--composer-border-radius-sm);
            }
          }
        }

        .image-container-full {
          max-width: 100%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    width: 100%;

    .first-container {
      .first-max-content {
        gap: var(--composer-gap-sm);
        flex-direction: column;
        align-items: baseline;

        .left,
        .list-group {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }

    .second-container {
      .second-max-content {
        .footer-bottom {
          flex-direction: column;
          .footer-text {
            max-width: 100%;
          }

          .image-container {
            max-width: 100%;
          }
        }
      }
    }
  }
}
