.container {
  width: 100%;
  padding: 150px 50px;
  background-color: var(--composer-html-background);

  .max-content {
    max-width: var(--composer-content-width);
    display: flex;
    margin: auto;

    .testimonials6 {
      display: block;
      width: 100%;
      .title {
        font-size: 3rem;
        margin: 0 0 80px 0;
        color: var(--composer-primary-color);
      }

      section {
        display: flex;
        gap: 20px;
        flex-direction: column;

        .card-child {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;

          .card {
            flex: 1 1;
            min-width: 250px;
            border-radius: 6px;
            background-color: white;
            border: 1px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: var(--composer-testiary-color);
            .stars {
              display: flex;
              gap: 5px;
              color: var(--composer-secondary-color);
              img {
                width: 15px;
                height: 15px;
              }
              .star{
                color: var(--composer-secondary-color);
              }
            }

            .profile {
              display: flex;
              img {
                border-radius: 100%;
                object-fit: cover;
              }
              .profile-text {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: var(--composer-primary-color);

                .item-value3 {
                  margin: 0;
                  font-weight: 600;
                  font-size: 1.5rem;
                  color: var(--composer-primary-color);
                }
                .item-value4 {
                  margin: 0;
                  font-size: 1.2rem;
                  text-transform: uppercase;
                  color: var(--composer-primary-color);
                }
              }
            }
            .item-value1 {
              font-size: 1.2rem;
              margin: 20px 0;
              color: var(--composer-primary-color);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    background-color: var(--composer-html-background);
    .max-content {
      .testimonials6 {
        .card {
          align-items: center;
          text-align: center;
          border: var(--composer-testiary-color);
        }
      }
    }
  }
}
