.container {
  width: 100%;
  padding: 50px 0 50px 0;
  box-shadow: var(--composer-box-shadow);
  .max-content {
    width: var(--composer-content-width);
    display: flex;
    justify-content: space-around;
    margin: auto;

    .testimonials6 {
      display: block;
      width: 100%;
      h1 {
        text-align: center;
        font-weight: 800;
        line-height: 1.4;
        font-size: 40px;
        margin-bottom: 50px;
      }
      .card-child {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card {
          display: grid;
          margin-bottom: 20px;
          margin-left: 20px;
          min-width: 300px;
          max-width: 300px;
          height: max-content;
          border-radius: 20px;
          background-color: white;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 20px;

          .profile {
            display: flex;
            margin-bottom: 20px;
            img {
              border-radius: 100%;
            }
            .profile-text {
              margin-left: 20px;
              h2 {
                font-weight: 600;
                font-size: 20px;
                margin-top: 3px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
              }
              p {
                margin-top: 3px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                font-size: 15px;
                text-transform: uppercase;
              }
            }
          }
          span {
            font-weight: 200;
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 40px;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 20px;
    .max-content {
      .testimonials6 {
        text-align: center;
        margin: 0;
        h1 {
          width: 100%;
        }
      }
    }
  }
}
