.container {
  width: 100%;
  height: 100vh;
  padding: 20px 50px;
  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;
    height: 100%;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .map-container {
        flex:5;
        width: 100%;
        height: 100%;  
        .map {
          width: 100%;
          height: 100%;
        }
      }
      .bottom-container{
        height: 100%;
        width: 100%;
        flex:1;
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
        .title{
          font-size:24px;
          color:var(--composer-font-color-primary);
          padding-top:20px;
        }
        .title.line-title{
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px; 
            background-color: #000; 
            margin-top: 5px;
            opacity: 0.5;
          }
        }
        .content{
          font-size: 22px;
          font-weight: 300;
          color:var(--composer-font-color-primary)
        }
      }
    }
  }
}
@mixin padding ($padding : 5px 5px 5px 5px, $font-size: 12px, $max-height: 150px){
  padding: $padding;
  font-size: $font-size;
  max-height: $max-height;
}
.popup {
  background-color: var(--composer-html-background);
  border-radius: 2px;
  width: 300px;
  display: flex;
  flex-direction: column;
  .top-container{
    flex:3;
    .image{
      max-height: 150px;
      width: 100%;
      object-fit: cover;
      top:0px;
    }
    .popup-close-button {
      position: absolute;
      top:0px;
      right: 0px;
      background-color: white;
      border:none;
      padding: 10px;
      z-index: 3;
      .icon{
        display: flex;
        justify-content: flex-end;

      }
    }
  }
    .popup-title {
      flex:1;
      @include padding(20px 10px, 15px, 20px);
    }
    .popup-date{
      flex:1;
      @include padding(10px 10px, 15px, 50px);
      opacity: 0.5;
    }

    .popup-content {
      flex:1;
      @include padding(5px 10px 5px 10px, 12px, 100px);
      opacity: 0.5;
    }
}
@media only screen and (max-width: 900) {
  .container{
    padding: 20px 30px !important;
  }

}
