@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  padding: 0;

  .page {
    display: flex;
    flex-direction: column;

    .content {
      position: relative;
      width: 100%;
      min-height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: var(--composer-gap-md) var(--composer-gap-xl);

      .image {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 1;
      }

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--composer-overlay-color);
        z-index: 2;
      }

      .max-content {
        position: relative;
        z-index: 3;
        text-align: center;
        font-weight: bold;

        .title {
          color: white;
        }
      }
    }
    .max-content-no-image {
      padding: var(--composer-gap-md) var(--composer-gap-xl) !important;
      .title-no-image {
        margin: 0 !important;
      }
    }

    .map-container {
      width: 100%;
      height: 500px;
      .map {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.popup {
  background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
  width: 300px;
  min-height: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  // gap: var(--composer-gap-sm);
  border-radius: var(--composer-border-radius-sm);
  box-shadow: var(--composer-box-shadow);

  .popup-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  .popup-texts {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-sm);
    margin: var(--composer-gap-md);

    .popup-title {
      font-size: 1.5rem;
      margin: 0;
      color: var(--composer-font-color-primary);
    }

    .popup-content {
      font-size: 1.5rem;
      margin: 0;
      color: var(--composer-tertiary-color);
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    padding: 0;

    .page {
      .content {
        min-height: 200px;
        padding: var(--composer-gap-md) var(--composer-gap-lg);
      }
      .max-content-no-image {
        padding: var(--composer-gap-md) var(--composer-gap-lg);
        .title-no-image {
          margin: 0 !important;
        }
      }
    }
  }
}
@container (max-width: #{$composer-phone-width}) {
  .container {
    padding: 0;

    .page {
      .content {
        min-height: 200px;
        padding: var(--composer-gap-md);
      }
      .max-content-no-image {
        padding: var(--composer-gap-md);
        .title-no-image {
          margin: 0 !important;
        }
      }
    }
  }
}
