.container {
  .maxContent {
    display: flex;
    .testimonials8 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-xl);
      .title{
        width: 100%;
        margin:0px;
      }
      .content{
        width: 100%;
        display: flex;
        position: relative;
        .prevArrow, .nextArrow{
          position: absolute;
          top:calc(50% - 20px);
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          z-index: 1;
          background-color: transparent;
          border:none;
          width: 40px;
          height: 40px;
          border: 1px solid var(--composer-font-color-primary);
          border-radius: 50%; 
          justify-content: center;
        }
        .prevArrow{
          left: 0;
          
        }
        .nextArrow{
          right: 0;
        }
        >div{
          width: 100%;
          padding: 0px calc(var(--composer-gap-xl) * 3); 
          >ul{
            left: 0px;
            bottom: 0px;
          }
        }
        .card{
          background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
          border-radius: var(--composer-border-radius-md);
          padding: var(--composer-gap-xl);
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);
          margin-bottom: 20px;
          .topContainer{
            display: flex;
            gap: var(--composer-gap-sm);
            .image{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .personal{
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-sm);
              .name{

              }
              .personTitle{
                opacity: 0.5;
  
              }
            }

          }
          .description{            

          }
          .bottomContainer{
            display: flex;
            gap: var(--composer-gap-sm);
            .star{
              color: var(--composer-primary-color);
              display: flex;
              gap: var(--composer-gap-xs);
            }
            .line{
              width: 1px;
              background-color: rgba(var(--composer-font-color-primary-rgb), 0.5);
            }
            .starNumber{
              color: var(--composer-secondary-color);
              display: flex;
              align-items: center;
            }              
          }

        }
      }
    }
  }
}

@container (max-width: 768px) {
  .container{
    .maxContent{
      .testimonials8{
        .content{
          >div{
            padding:0px var(--composer-gap-xl)
          }
          .card{
            padding: var(--composer-gap-lg);
          }
        }
      }
    }
  }
}
@container (max-width: 450px) {
  .container{
    .maxContent{
      .testimonials8{
        .content{
          .prevArrow, .nextArrow{
            width: 30px;
            height: 30px;
          }
          .card{
            padding: var(--composer-gap-sm);
            .topContainer{
              .image{
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
