@import "../../../composer-base-components/base/utitilities/viewports.module.scss";
.container {
  .max-content {

    .page {
      align-items: stretch;
      .left-page {
        flex: 1.5;
        position: relative;

        .up-image, .without-image2 {
          height: 100%;
          width: 100%;
          padding-bottom: var(--composer-gap-sm);

          .image1 {
            width: calc(100% - 100px);
            height: 100%;
            object-fit: cover;
            border-radius: var(--composer-border-radius-lg);
          }
        }

        .without-image2 {
          margin-bottom: 0px;

          .image1 {
            width: 100% !important;
          }
        }

        .down-image {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 70%;
          height: 70%;

          .image2 {
            width: 100%;
            height: 100%;
            border: var(--composer-gap-sm) solid var(--composer-html-background);
            border-radius: 20px;
            object-fit: cover;
          }

          .player {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }

        .without-image1 {
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          .image2 {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: var(--composer-border-radius-lg);
            object-fit: cover;
          }

          .player {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }

        .player-container {
          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            .icon {
              width: 50px;
              height: 50px;
              cursor: pointer;
              color: var(--composer-font-color-secondary);
            }
          }
        }
      }

      .right-page {
        flex: 1;
        justify-content: center;

        .subtitle {content: ""}
        .title {content: ""}
        .description {content: ""}

        .progress-container {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);
          width: 100%;

          .item {
            transition: 0.3s;
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-sm);

            .progress-content {
              display: flex;
              justify-content: space-between;

              .progress-title-container {
                display: flex;
                align-items: center;
                gap: var(--composer-gap-sm);
                font-size: 1.2rem;
                color: var(--composer-font-color-primary);

                .progress-title {
                  font-size: 1.2rem;
                }
              }

              .progress-text {
                font-size: 1.2rem;
                color: var(--composer-font-color-primary);
              }
            }

            .progress-bar-container {
              position: relative;

              .progress-bar {
                width: 100%;
                background-color: color-mix(
                  in srgb,
                  var(--composer-html-background),
                  var(--composer-font-color-primary) 5%
                );
                border-radius: var(--composer-border-radius-xl);
                overflow: hidden;

                .progress {
                  height: 8px;
                  width: 0;
                  background-color: var(--composer-primary-color);
                  transition: width 1.5s ease-in-out;
                  border-radius: var(--composer-border-radius-xl);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $composer-tablet-width-lg) {
  .container {
    .max-content {

      .page {
        gap: var(--composer-gap-sm);

        .left-page {
          .up-image{
            margin-bottom: var(--composer-border-radius-xl);
            .image1{
              width: calc(100% + calc(2 * var(--composer-gap-lg)));
              transform: translateX(calc(-1 * var(--composer-gap-lg)));
            }

            &.without-image2{
              margin-bottom: 0px;
            }
          }

          .down-image {
            bottom: 0px;
            right: unset;
            left: 50%;
            transform: translateX(-50%);

            .icon-container .icon {
              width: 30px;
              height: 30px;
            }
          }

          .without-image1 {
            position: relative;
            left: 0px;
            bottom: unset;
            top: 0px;
            width: 100%;
            transform: unset;
          }
        }

      }
    }
  }
}
