.container {
    width: 100%;
  
    .max-content {
      max-width: var(--composer-content-width);
      margin: auto;
      
      nav {
        display: flex;
        height: 66px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 50px 50px;      
        .title{
            font-size: 35px;
            font-weight: bold;
        }
                .items {
          display: flex;
          gap: 40px;
          &.middle{
            width: 100%;
            justify-content: center;
            margin-right: 150px;
            h3 {
                font-size: 20px;
                font-weight: 200;
                width: 100px;
            }
            }
          &.right{
              width: 70%;
              justify-content: flex-end;
            }
          h3 {
            cursor: pointer;
            transition: all 0.5s;
            font-weight: 200;
            font-size: 16px;
            &:hover {
              opacity: 0.6;
            }
            
          }
        }
  
        .button-child {
          display: flex;
          align-items: center;
          gap: 15px;
          button {
            cursor: pointer;
            transition: all 0.5s;
            background-color: var(--composer-primary-color);
            border: 1px solid var(--composer-primary-color);
            border-radius: 6px;
            font-size: 15px;
            font-weight: 700;
            color: white;
            margin-left: 20px;
            margin-top: 8px;
            padding: 0 20px;
            min-height: 40px;
            &:hover {
              background: transparent;
              color: var(--composer-primary-color);
            }
          }
        }
      }
     
      .navigator-mobile {
        display: none;
        visibility: hidden;
      }

       .topnav{
    overflow: hidden;
    background-color: white;
  }

  .bottom-line{
    border-bottom: 1px solid #5c5d5fd7;
  }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    }

  .topnav a:hover {
    border-bottom: 3px solid red;
  }

  .topnav a.active {
  border-bottom: 3px solid red;
}
    }
  
    .container-sticky {
      @extend .container;
      position: fixed;
      top: 0;
      z-index: 10;
    }
  
    @media only screen and (max-width: 1400px) {
      .max-content {
        max-width: 100%;
        nav {
          padding: 50px 20px;
        }
      }
    }
  
    @media only screen and (max-width: 1100px) {
      .max-content {
        max-width: 100%;
        nav {
          display: flex;
          text-align: center;
          .items {
            width: max-content;
            margin: 0 auto;
            flex-direction: column;
          }
        }
      }
    }
  
    @media only screen and (max-width: 870px) {
      .max-content {
        .disable {
          display: none;
          visibility: hidden;
        }
  
        .navigator-mobile {
          display: block;
          visibility: visible;
          
          .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 20px 0 5px;
            
          }
  

      

        }
      }
    }
  }
 