.lane{
  p{
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
 }

 .menuContainer{
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--composer-gap-md);

    .menuItem{
      display: flex;
      align-items: center;
      gap: var(--composer-gap-xs);
      position: relative;
      padding: 20px 0;
      cursor: pointer;

      span {
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.3s ease;
      }

      .dropdownIcon {
        font-size: 1.2rem;
        transition: all 0.3s ease;
      }

      &:hover {

        .dropdownIcon {
          transform: rotate(180deg);
        }

        .dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      .dropdown {
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
        min-width: 200px;
        background: var(--composer-html-background);
        border-radius: var(--composer-border-radius-sm);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        padding: var(--composer-gap-sm) 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
        z-index: 100;

        &::before {
          content: '';
          position: absolute;
          top: -8px;
          left: 20px;
          width: 16px;
          height: 16px;
          background: var(--composer-html-background);
          transform: rotate(45deg);
          border-radius: 2px;
          box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.04);
        }

        &::after {
          content: '';
          position: absolute;
          top: -15px;
          left: 0;
          width: 100%;
          height: 15px;
        }

        .dropdownItemContainer {
          padding: var(--composer-gap-sm) var(--composer-gap-md);
          transition: all 0.3s ease;
          border-radius: var(--composer-border-radius-sm);
          position: relative;

          .dropdownItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--composer-gap-sm);

            .dropdownItemContent{
              display: flex;
              align-items: center;
              gap: var(--composer-gap-sm);

              .tag{
                font-size: calc(1rem - 2px);
                color: white;
                padding: calc(var(--composer-gap-xs) - 2px) var(--composer-gap-xs);
                border-radius: var(--composer-border-radius-xs);
              }
            }
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: var(--composer-gap-md);
            width: 0;
            height: 1px;
            background-color: var(--composer-primary-color);
            transition: width 0.3s ease;
          }

          &:hover {
            &::after {
              width: calc(100% - (var(--composer-gap-md) * 2));
            }


            .subdropdown {
              opacity: 1;
              visibility: visible;
              transform: translateX(0);
            }
          }

          span {
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--composer-font-color-primary);
            transition: color 0.3s ease;
          }

          .rightIcon {
            font-size: 1rem;
            color: var(--composer-font-color-primary);
            transition: all 0.3s ease;
          }

          .subdropdown {
            position: absolute;
            top: 0;
            left: calc(100% + 15px);
            min-width: 200px;
            background: var(--composer-html-background);
            border-radius: var(--composer-border-radius-sm);
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
            padding: var(--composer-gap-sm);
            opacity: 0;
            visibility: hidden;
            transform: translateX(10px);
            transition: all 0.3s ease;
            z-index: 101;

            &::before {
              content: '';
              position: absolute;
              top: 16px;
              left: -8px;
              width: 16px;
              height: 16px;
              background: var(--composer-html-background);
              transform: rotate(45deg);
              border-radius: 2px;
              box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.04);
            }

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: -15px;
              width: 15px;
              height: 100%;
            }

            .subdropdownItem {
              padding: var(--composer-gap-sm) var(--composer-gap-md);
              transition: all 0.3s ease;
              border-radius: var(--composer-border-radius-sm);
              position: relative;

              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: var(--composer-gap-md);
                width: 0;
                height: 1px;
                background-color: var(--composer-primary-color);
                transition: width 0.3s ease;
              }

              &:hover {
                &::after {
                  width: calc(100% - (var(--composer-gap-md) * 2));
                }
                
                span {
                  color: var(--composer-primary-color);
                }
              }

              span {
                font-size: 0.9rem;
                font-weight: 400;
                color: var(--composer-font-color-primary);
                transition: color 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
}

.maxContent{
  p{
    padding: 0;
    margin: 0;
  }
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
  
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}