.container {
  width: 100%;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    .navigator {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 20px;
      height: fit-content;
      .items {
        display: flex;
        gap: 15px;
        h3 {
          cursor: pointer;
          margin-top: 35px;
          transition: all 0.5s;
          font-weight: 200;
          font-size: 16px;
          &:hover {
            opacity: 0.6;
          }
        }
      }
      .button-child {
        button {
          cursor: pointer;
          transition: all 0.5s;
          background-color: var(--composer-primary-color);
          border: 1px solid var(--composer-primary-color);
          border-radius: 6px;
          font-size: 15px;
          font-weight: 700;
          color: white;
          margin-left: 20px;
          padding: 0 20px;
          min-height: 40px;
          &:hover {
            background: transparent;
            color: var(--composer-primary-color);
          }
        }
      }
    }
    .navigator-mobile {
      display: none;
      visibility: hidden;
    }
  }
}

.container-sticky {
  @extend .container;
  position: fixed;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 1400px) {
  .container {
    .max-content {
      max-width: 100%;
      .navigator {
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    .max-content {
      max-width: 100%;
      .navigator {
        display: flex;
        text-align: center;
        .items {
          width: max-content;
          margin: 0 auto 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .container {
    .max-content {
      .navigator {
        display: block;
        text-align: center;
        .items {
          display: block;
          width: max-content;
          margin: 0 auto 0 auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 870px) {
  .container {
    .max-content {
      .navigator {
        display: none;
        visibility: hidden;
      }
      .navigator-mobile {
        display: block;
        visibility: visible;
        .navbar {
          display: flex;
          justify-content: space-between;
          padding: 10px 25px;
          .img-hamburger {
            cursor: pointer;
            transition: 0.4s;
            font-weight: 100;
            font-size: 30px;
            margin: auto 0 auto 0;
            width: 25px;
            height: 25px;
            &:hover {
              transform: rotate(90deg);
            }
          }
        }
        .navbar-hidden {
          display: block;
          visibility: visible;
        }
        .navbar-child {
          transition: all 0.5s;
          height: 200px;
          background-color: black;
          color: white;
        }
      }
    }
  }
}
