@keyframes scaleUpDown {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0);
  }
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--composer-html-background);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 20px 0;

  .max-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;

    > div {
      > div {
        > div {
          display: flex !important;
          > div {
            height: inherit !important;
            display: inherit;
            > div {
              width: 100%;
            }
          }
        }
      }
    }

    .left-animation {
      animation: scaleUpDown 1s ease-in-out;
    }

    .mid-right-animation {
      animation: rightToLeft 2s ease;
    }

    .sliders {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      position: relative;
    }

    .slider {
      display: flex;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .left-content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      max-width: calc(100% / 3);
    }

    .right-content {
      flex: 1;
      display: flex;
      align-items: start;
      justify-content: end;
      position: relative;
    }

    .left-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background: transparent;
    }

    .right-image {
      height: 80%;
      width: 80%;
      object-fit: cover;
      background: transparent;
    }

    .middle-content,
    .middle-content2,
    .middle-content3 {
      flex: 1;
      width: 100%;    
      position: relative;
      left: calc(var(--composer-gap-xl) * (-1));
      .text-wrapper{
        height: 100%;
        position: absolute;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: var(--composer-gap-md);
        .divider {
          background-color: var(--composer-font-color-primary);
          width: 25%;
          height: 2px;
        }
  
        .title {
          font-size: 3.5rem;
          color: var(--composer-font-color-primary);
          height: fit-content;
        }
  
        .link-button-container {
          .button {
            border: 0;
            color: var(--composer-font-color-primary);
            border-bottom: 1px solid var(--composer-font-color-primary);
            background-color: transparent;
            font-size: 1.2rem;
            padding: 0px;
          }
        }
      }
    }

    .middle-content2 {
      left: 0px;
      .text-wrapper{
        left: 100px;
      }
    }

    .middle-content3 {
      padding-left: 50px;
    }
    .nav-controls {
      position: absolute;
      right: 50px;
      bottom: 0px;
      display: flex;
      gap: var(--composer-gap-xl);
      z-index: 1;
      .nav-buttons {
        background-color: transparent;
        border: none;
        color: var(--composer-font-color-primary);
        font-size: 3rem;
      }
    }
    .dots {
      position: absolute;
      top: 50%;
      display: block;
      padding: 0;
      left: 50px;
      list-style: none;
      text-align: center;
      transform: translateY(-50%);
      bottom: auto;
      width: auto;

      li {
        button {
          color: transparent;
          position: relative;
          background: none;
          border: none;
          padding: var(--composer-gap-xs);
          width: 15px;
          height: 15px;
          margin-right: 0;

          &::before {
            content: "•";
            color: transparent;
            position: absolute;
            transform: translate(-50%, -50%);
            transition: 0.3s;
            font-size: 1.5rem;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      :global(.slick-active) button,
      li button:hover {
        opacity: 1;
        &::before {
          border: 2px solid var(--composer-font-color-primary);
          border-radius: 50%;
          color: var(--composer-font-color-primary);
        }
      }

      :global(:not(.slick-active)) button {
        opacity: 0.3;
        &::before {
          border: 2px solid var(--composer-font-color-primary);
          border-radius: 50%;
        }
      }
    }
  }
}

@container (max-width: 1024px) {
  .container {
    padding: 20px 40px 20px 0;
    .max-content {
      .left-content {
        min-width: 50%;
      }
      .middle-content,
      .middle-content2,
      .middle-content3 {
        gap: 1.5rem;
        .title {
          font-size: 2.5rem;
        }
        .divider {
          width: 65px;
        }
        .link-button-container {
          .button {
            font-size: 1.1rem;
          }
        }
      }

      .middle-content2 {
        padding-left: 60px;
      }
      .middle-content3 {
        padding-left: 30px;
      }

      .right-content {
        display: none;
      }

      .dots {
        margin-left: 30px;
        li {
          button {
            padding: 6px;
            &::before {
              font-size: 1.4rem;
            }
          }
        }
      }

      .nav-controls {
        right: 30px;
        .nav-buttons {
          font-size: 2rem;
        }
      }
    }
  }
}

@container header22 (max-width: 778px) {
  .container {
    .max-content {
      .middle-content,
      .middle-content2,
      .middle-content3 {
        gap: 1.2rem;
        .title {
          line-height: 40px;
          font-size: 2rem;
        }
        .divider {
          width: 55px;
        }
        .link-button-container {
          .button {
            font-size: 1rem;
          }
        }
      }

      .dots li button {
        padding: 5px;
        &::before {
          font-size: 1.2rem;
        }
      }

      .nav-controls {
        .nav-buttons {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@container header22 (max-width: 480px) {
  .container {
    .max-content {
      .middle-content,
      .middle-content2,
      .middle-content3 {
        gap: 0.8rem;
        .title {
          font-size: 1.5rem;
          line-height: 30px;
        }
        .divider {
          width: 45px;
        }
        .link-button-container {
          .button {
            font-size: 0.8rem;
          }
        }
      }
      .dots li button {
        padding: 4px;
        &::before {
          font-size: 1rem;
        }
      }

      .nav-controls {
        .nav-buttons {
          font-size: 1.5rem;
        }
      }
    }
  }
}
