.container {
  width: 100%;
  background: var(--composer-html-background);
  position: relative;
  
  .background{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: blur(20px);
    z-index: 0; 
    object-fit: cover;
  }

  .carousel {
    position: relative;
    overflow: hidden;
    z-index: 1;
  
    .slider-images {
      display: flex;
      position: relative;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
  
      .slider-image {
        position: relative;
        flex: 1;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        background-position: center center;
        background-size: cover;
        clip-path: polygon(30% 0, 30% 0, 30% 100%, 30% 100%);
      }
  
      .imageAnimationClass {
        animation: revealImage 0.5s forwards;
      }
    }
  }  

  .item {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
    z-index: 2;
    position: relative;

    .left-figure-container {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;

      .bottom-figure {
        position: relative;
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 3rem;
        padding: 4rem 0px;

        .line {
          height: 4vh;
          width: 1px;
          background: white;
          margin-top: -16px;
        }
        .icons {
          z-index: 3;
          display: flex;
          flex-direction: column;
          gap: 20px;
          position: relative;

          .icon {
            color: #606060;
            &:hover {
              transition: 0.3s all;
              cursor: pointer;
              color: white;
            }
          }

        }
      }
      .top-figure,
      .bottom-figure {
        position: absolute;
        top: -35;
        left: 0;
      }
    }

    .content-container {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .layout {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        position: relative;

        .content {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: white;
          overflow: hidden;
          justify-content: center;
          position: relative;

          .title-container {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: relative;

           
            
            
            .subtitle1{
              font-size: 1.8rem;
              margin: unset;
              font-family: serif;
              position: relative;
            }
            .title {
              font-size: 6rem;
              margin: -85px 0px;
              width: 50%;
              font-family:initial ;
              position: relative;
            }
            .subtitle2{
              font-size: 1.8rem;
              margin: unset;
              font-family: serif;
              position: relative;
            }

            .btn-line{
              position: absolute;
              left: 0;
              top: 50%;
              width: 2rem;
              margin-top: 2px solid white;
              transition: 0.3s;
            }

            .button {
              font-size: 1.7rem;
              outline: none;
              display: flex;
              align-items: center;
              gap: 15px;
              font-weight: 400;
              color: white;
              transition: 0.3s all;
              margin-top: 30px;
              max-width: 15vw;
              position: relative;
  
              &:hover {
                transition: 0.3s all;
                cursor: pointer;
              }
            }
          }
          .textAnimation{
            animation: moveText 2s forwards;
          }

          .description-and-button {
            display: flex;
            flex-direction: column;
            align-items: end;
          }
          .description {
            width: 50%;
            max-width: 50%;
            text-align: start;
            font-size: 21px;
            
          }

        }
        .arrows {
          display: flex;
          gap: 20px;
          align-self: end;
          position: absolute;
          bottom: -40%;
          right: 135px;
          .line {
            height: 5vh;
            width: 2px;
            background: #ffffff;
            align-self: center;
          }
          div {
            display: flex;
            align-items: center;

            &:hover {
              .arrow {
                opacity: 1;
                transition: 0.2s all;
              }
            }
          }

          .arrow-text {
            color: white;
            font-size: 1.7rem;
          }
        }
      }

      .arrow {
        color: white;
        opacity: 0.5;
        transition: 0.2s all;
      }
      .arrow:nth-child(1) {
        margin-right: 10px;
      }
      .arrow:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
  .low-op-text {
    position: absolute !important;
    left: 0%;
    font-size: 4rem;
    opacity: 0.1;
    color: white;
    z-index: 4;
    top: 21%;

    h1 {
      margin: 0;
    }
  }
}

@keyframes moveText {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(0); 
  }
}

@keyframes revealImage {
  0% {
    clip-path: polygon(30% 0, 30% 0, 30% 100%, 30% 100%);
    width: 100%;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .max-content{
      .wrapper{
        height: max-content;
        .middle{
          .content{
            top: 25%;
            width: 70%;
            .title{
              font-size: 3rem;
              line-height: 30px;
              margin-top: 8px;
              margin-bottom: 8px;
            }
            .button{
              font-size: 1rem;
            }
            .divider-underline {
            margin-left: 4px;
            }

          }
        } 
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .container {
    .max-content{
    .wrapper{
      padding: 0 0 20vh 0;
      height: max-content;
      .middle{
        .content{
          top: 25%;
          width: 80%;
          .title{
            font-size: 1.8rem ;
            line-height: 30px ;
            margin-top: 8px ;
            margin-bottom: 8px ;
          }
          .button{
            font-size: 0.8rem;
            padding: 1px 0px;
          }
          .divider-underline {
            margin-top: 0px;
            margin-left: 2px;
            background-color: black;
            width: 52px;
            height: 1px;
          }
          .divider {
            background-color: black;
            width: 72px;
            height: 1px;
          }
        }
      }
    }
  }
  }
}
