@import "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss";

.container {
  .max-content {
    .wrapper {
      width: 100%;
      background-size: cover;
      background-position: center;
      border-radius: var(--composer-border-radius-xl);
      position: relative;

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--composer-overlay-color);
        border-radius: var(--composer-border-radius-xl);
        z-index: 1;
      }

      .content-container{
        height: 100%;
        justify-content: center;
        position: relative;
        z-index: 2;
        &.image{
          min-height: 600px;
          padding: var(--composer-gap-md) var(--composer-gap-xl);
          align-items: center;
          text-align: center;
        }
        .title {
          font-size: 1.5rem;
          content: "";
          &.image{
            color: white;
          }
        }

        .description {
          font-size: 2rem;
          &.image{
            color: white;
          }
        }

        .buttons-container{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          gap: var(--composer-gap-md);
          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--composer-gap-sm);
            min-width: 200px;
            height: 60px;

            .button-icon {
              width: var(--composer-gap-md);
              height: var(--composer-gap-md);
            }

            .button-text {
              font-size: 1.5rem;
            }
          }

          .button-wrapper {
            min-width: 200px;
            height: 60px;

            .button-image {
              width: 100%;
              border-radius: var(--composer-border-radius-sm);
              max-height: 60px;
              height: 100%;
              object-fit: cover;
            }
          }
          &.center {
            justify-content: center;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    .max-content {
      .wrapper {
        .content-container,
        .content-container-no-image {
          .title,
          .title-no-image {
            font-size: 1rem;
          }
          .description,
          .description-no-image {
            font-size: 1.5rem;
          }
        }

        .content-container {
          min-height: 600px;
          padding: var(--composer-gap-sm) var(--composer-gap-md);
        }
        .content-container-no-image {
          content: "";
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .wrapper {
        .content-container,
        .content-container-no-image {
          .buttons-container,
          .buttons-container-center {
            flex-direction: column;
            align-items: baseline;
            .button {
              min-width: 200px;
              height: 60px;

              .button-icon {
                width: var(--composer-gap-md);
                height: var(--composer-gap-md);
              }

              .button-text {
                font-size: 1rem;
              }
            }

            .button-wrapper {
              min-width: 200px;
              height: 60px;

              .button-image {
                width: 100%;
                max-height: 60px;
                height: 100%;
              }
            }
          }

          .buttons-container-center {
            justify-content: center;
          }
        }

        .content-container {
          min-height: 600px;
          padding: var(--composer-gap-sm) var(--composer-gap-md);
        }
        .content-container-no-image {
          content: "";
        }
      }
    }
  }
}
