.container {
    width: 100%;
    padding: 50px 0;

    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;

        .page {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            .image-child {
                overflow: hidden;
                .background-image {
                    filter: blur(2px);
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
            .up-content {
                width: 100%;
                height: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                border-bottom: 1px solid #ffffff4d;
                transition: height 1.5s;
                overflow: hidden;
                cursor: pointer;
                padding: 0 20px;

                h1 {
                    font-size: 2.2rem;
                    color: #fff;
                    opacity: 0;
                    transition: opacity 1s;
                }

                .button-group {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    opacity: 0;
                    transition: opacity 1s;

                    .button {
                        display: inline-block;
                        padding: 10px 10px;
                        color: #fff;
                        font-size: 1.5rem;
                        background-color: var(--composer-primary-color);
                        border: 1px solid var(--composer-primary-color);
                        border-radius: 6px;
                        cursor: pointer;
                        &:hover {
                            background: transparent;
                            color: var(--composer-primary-color);
                        }
                    }
                }
            }

            .down-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 0;
                transition: height 1.5s;
                overflow: hidden;
                padding: 0 20px;

                h1 {
                    color: #fff;
                    font-size: 2rem;
                    opacity: 1;
                    transition: opacity 1s;
                }
                p {
                    color: #fff;
                    font-size: 1.5rem;
                    opacity: 0.8;
                    transition: opacity 1s;
                }
            }

            &:hover {
                .down-content {
                    height: 0;

                    h1 {
                        opacity: 0;
                    }
                    p {
                        opacity: 0;
                    }
                }

                .up-content {
                    height: 100%;

                    h1 {
                        opacity: 1;
                    }
                    .button-group {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {  
        .max-content {
            .page {
                .up-content {
                    h1 {
                        font-size: 2rem;
                        word-break: break-all;
                        text-align: center;
                    }
                }
    
                .down-content {
                    p {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}