@use "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .max-content {
    .wrapper {
      width: 100%;
      background-size: cover;
      background-position: center;
      border-radius: var(--composer-border-radius-md);
      position: relative;

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--composer-overlay-color);
        border-radius: var(--composer-border-radius-md);
        z-index: 1;
      }

      .content-container{
        height: 100%;
        justify-content: center;
        position: relative;
        z-index: 2;
        &.image{
          min-height: 600px;
          padding: var(--composer-gap-md) var(--composer-gap-md);
          align-items: center;
          text-align: center;
        }
        &.no-image-left{
          min-height: 400px;
          padding: var(--composer-gap-md) var(--composer-gap-md);
          align-items: flex-start;
          text-align: left;
          justify-content: center;
          .subtitle, .title, .description{
            text-align: left;
            
          }
          .subtitle{
            place-self: flex-start !important;
            margin-left: 0 !important;
            
          }
          .buttons-container{
            place-self: flex-start;
            justify-content: flex-start;
          }
        }
        &.no-image-center{
          min-height: 400px;
          padding: var(--composer-gap-md) var(--composer-gap-md);
          align-items: center;
          text-align: center;
          justify-content: center;
          .buttons-container{
            place-self: center;
            justify-content: center;
          }
        }
        .subtitle {
          content: "";
          &.with-image{
            color: white;
            transform: translateX(0);
            place-self: center;           
            &::before{
              display: none;
            }
          }
          &.no-badge{
            background: transparent !important;
          }
        }
        .title, .description {
          text-align: center;
          content: "";
          &.with-image{
            color: white;
            text-align: center;
          }
        }


        .buttons-container {
          place-self: center;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: var(--composer-gap-md);
          .button-wrapper {
            .button-image {
              width: 170px;
              height:50px;
              border-radius: var(--composer-border-radius-sm);
              object-fit: cover;
            }
            .button-element {
              .button-icon, .button-text {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .wrapper {
        .content-container {
          min-height: 600px;
          padding: var(--composer-gap-sm) var(--composer-gap-md);
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .wrapper {
        .content-container {
          min-height: 600px;
          padding: var(--composer-gap-sm) var(--composer-gap-md);
          .description{
            text-align: center;
          }
          .buttons-container{
            justify-content: center;
            flex-direction: column;
            .button-wrapper{
              .button-image{
                width: 150px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
