@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .content {

      .subtitle,
      .title,
      .description {
        content: "";
      }

      .button-group-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--composer-gap-md);
        flex-wrap: wrap;
        width: 100%;

        &.center {
          justify-content: center;

          .subtitle-group {
            content: "";
          }
        }

        .buttons-wrapper {
          display: flex;
          gap: var(--composer-gap-md);
          flex-wrap: wrap;

          &:empty {
            display: none;
          }

          .button {
            .button-text {
              content: "";
            }
          }
        }

        .subtitle-group {
          flex-direction: column;

          .subtitle1,
          .subtitle2 {
            color: var(--composer-font-color-primary);
          }

          .subtitle1 {
            font-weight: 700;
          }
        }
      }

      .image {
        width: 100%;
        height: 700px;
        margin-top: 60px;
        align-self: flex-start;
        object-fit: cover;

        .img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: var(--composer-border-radius-md);
          object-fit: cover;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .content {
        .button-group-container {
          justify-content: flex-start;
          gap: var(--composer-gap-md);

          &.center {
            justify-content: center;
          }

          .subtitle-group {
            width: 100%;
            gap: var(--composer-gap-xs);
            align-items: center;
            text-align: center;
          }
        }

        .image {
          width: 100%;
          height: 300px;
          gap: var(--composer-gap-lg);
        }
      }
    }
  }
}