.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    .page {
      width: 100%;
      display: flex;
      flex-direction: column;
      .title-card {
        width: 100%;

        .title2 {
          color: var(--composer-primary-color);
          text-align: center;
          font-size: 4rem;
          margin: 0 0 20px;
        }
        .title {
          color: rgb(5, 5, 10);
          text-align: center;
          font-size: 2rem;
          margin: 0 0 10px;
        }
        .description {
          color: rgb(5, 5, 10);
          text-align: center;
          font-size: 1.5rem;
          margin: 0 0 30px;
        }
      }

      .all-cards {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
        .basic-card {
          display: flex;
          justify-content: center;
          width: 100%;
          .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
            padding: 20px 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-top: 5px solid var(--composer-primary-color);
            &:hover {
              transform: scale(1.003);
              transition: all 0.2s ease-in-out;
            }

            .image {
              margin: 3px 0 15px 0;
              width: 100%;
              min-width: 250px;
              height: 350px;
              border-radius: 5px;
              object-fit: cover;
            }

            .text-group {
              width: 93%;
              background-color: #fff;
              border-radius: 10px;
              margin: 5px;
              padding: 10px 10px;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
              .itemData-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 0;

                .itemData-title {
                  .p-title {
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: #000;
                    opacity: 0.8;
                    display: inline;
                  }
                }
                .itemData-value {
                  .p-value {
                    font-size: 1.3rem;
                    font-weight: 800;
                    color: #000;
                    display: inline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    .max-content{
      align-items: center;
      flex-direction: column;
      .card-item-count{
        min-width: 100%;
      }
      .all-cards {
        display: flex;
        flex-direction: column;
      }
      .page {
        .title-card {
          .title2 {
            font-size: 3rem !important;
          }
        }
      }
  
      .all-cards {
        gap: 60px !important;
        .basic-card {
          width: unset !important;
          flex: 1 1;
        }
      }
    }
   
  }
}
