@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;
.container {
  padding: 0 !important;
  height: 100vh;
  display: flex;
  gap: var(--composer-gap-xl);
  .box {
    flex: 1;
    .max-content {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: var(--composer-gap-md) 0px var(--composer-gap-md) var(--composer-gap-lg); 
        &.no-image{
          padding:0px var(--composer-gap-md) var(--composer-gap-lg) var(--composer-gap-md);
        }       
        .title {
          font-size: 5rem;
          text-align: left;
        }
        .description {
          font-size: 1.5rem;
          text-align: left;
        }
        .button{
          .button-text{
            content: "";
          }
        }
      }

    }
  }
  .right{
    flex: 2;
    height: 100%;
    position: relative;
    &.no-left{
      .icon-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .image-wrapper{
      height: 100%;
      .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .icon-box {
      width: fit-content;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;
      .icon-wrapper{
        width: 100px;
        height: 100px;
        background-color: var(--composer-primary-color);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          padding: var(--composer-gap-sm);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--composer-font-color-secondary);
          font-size: 2.5rem;
        }
      }
    }
  }

  .video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--composer-overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--composer-overlay-color);
    z-index: 1;
}

.video-content {
    position: relative;
    z-index: 2;
    background: #000;
    border-radius: var(--composer-border-radius-sm);
    max-width: 90%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 var(--composer-gap-xs) var(--composer-gap-sm) var(--composer-overlay-color);
}

.video-player {
    width: 100%;
    height: auto;
    max-height: 80vh;
    border-radius: var(--composer-border-radius-xs);
}

.close-button-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    border: none;

    .close-button {
        width: 40px;
        height: 40px;
    }
}
}

@container (max-width: #{$composer-tablet-width}) {
  .container{
    flex-direction: column-reverse;
    .box {
      width: 100% ;    
      .max-content {
        .content {
          padding: 0px 40px 20px 40px;
          width: 100%;
          .title {
            font-size: 5rem;
          }
        }
      }
    }
    .right{
      overflow: hidden;
      .icon-box {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
} 

@container (max-width: #{$composer-phone-width}) {
  .container{
    gap: 0px;
    .box {
      width: 100%;
      .max-content {
        .content {
          padding: 0px 20px 20px 20px;
          .title {
            font-size: 3rem;
          }
        }
      }
    }
    .right{
      .icon-box {
        .icon-wrapper{
          width: 70px;
          height: 70px;
          .icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
} 