.container {
  .max-content {
    .image-container {
      .card {
        width: 100%;
        position: relative;
        cursor: pointer;
        border-radius: var(--composer-border-radius-sm);
        overflow: hidden;

        .image {
          width: 100%;
          aspect-ratio: 1;
          display: flex;
          justify-content: center;
          position: relative;
          object-fit: cover;
          transition: filter 0.3s ease;
          z-index: 1;
        }

        .category {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          &.text-visible {
            opacity: 1;

            .title {
              color: var(--composer-font-color-primary);
            }
          }
        }

        .category .title {
          color: var(--composer-font-color-secondary);
          position: relative;
          z-index: 2;
          word-break: break-word;
        }
      }

      .card:hover .image {
        filter: brightness(20%);
      }

      .card:hover .category {
        opacity: 1;
        z-index: 2;
      }
    }
  }
}
