.container {
  width: 100%;
  padding: 100px 150px;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .container-common {
      width: 100%;
      display: flex;

      .img-container {
        width: 35%;
        display: flex;
        justify-content: flex-end;

        img {
          height: 40%;
          object-fit: cover;
          background-size: cover;
          background-attachment: fixed;
        }
      }

      .container-right {
        width: 65%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        gap : 14% 0 ;

        .right-top-inner {
          position: relative;
          width: 50%;

          .Title {
            color: var(--composer-primary-color);
            font-size: 2.5em;
            position: absolute;
            top: -10px;
            left: 90px;
            z-index: 5;
          }

          .description {
            color: var(--composer-primary-color);
            font-size: 4em;
            position: absolute;
            top: 25px;
            left: 0;

          }

        }

        .right-bottom-inner {
          width: 80%;
          display: flex;
          flex-direction: column;
          row-gap: 50px;

          .list-container {
            display: flex;
            width: 100%;
            gap: 0 30px;

            .circle {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 42px;
              height: 42px;
              border-radius: 50%;
              background-color: var(--composer-secondary-color);
              color: var(--composer-font-color-secondary);
              font-weight: 700;
            }

            .content-container {
              width: 90%;

              .content-title {
                color: var(--composer-primary-color);
                font-size: 2em;
                margin-top: 5px;
                position: relative;

                .arrowImage {
                  width: 23px;
                  height: 23px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  cursor: pointer;

                  &.rotate {
                    transform: rotate(180deg);
                    transition: transform 500ms;
                  }

                  &.not-rotate {
                    transition: transform 500ms;
                  }
                }

              }

              .content-description {
                color: var(--composer-font-color-primary);
                font-size: 1.5em;
                display: none;
                visibility: hidden;

                &.active {
                  display: block;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0;

    .max-content {
      max-width: var(--composer-content-width);

      .container-common {

        .container-right {

          .right-top-inner {

            .Title {
              top: -20px;
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 400px) {}