.container {
  width: 100%;
  padding: 50px 50px;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    .child {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .logo {
        max-width: 200px;
        width: 200px;
        img {
          width: 100%;
        }
      }
      .title {
        text-align: center;
        color: var(--composer-primary-color);
        font-size: 4.5rem;
        font-weight: bold;
        letter-spacing: 1px;
      }
      
      .button {
        transition: all 0.3s;
        cursor: pointer;
        width: max-content;
        background: var(--composer-secondary-color);
        border: 1px solid var(--composer-secondary-color);
        border-radius: var(--composer-border-radius);
        padding: 10px 20px;
        color: white;
        font-size: 1.5rem;
        &:hover {
          color: var(--composer-secondary-color);
          background: transparent;
        }
      }
      .desc-box{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px 0px 10px;
        .description {
          width: 50%;
          text-align: left;
          font-size: 2rem;
          line-height: 4rem;
          min-height: 100%;
          padding: 20px;
          background: var(--composer-secondary-color);
          border-radius: 10px;
          color: var(--composer-font-color-secondary);
          margin-left: 10px;
          font-weight: 400;
          letter-spacing: 1px;
        }
        .wide-image {
          flex: 1;
          border-radius: 20px;
          border: 2px solid var(--composer-secondary-color);
          width: 50%;
          max-height: 400px;
          object-fit: cover;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .max-content {
      .desc-box{
        align-items: center;
        flex-direction: column;
      .description{
        width: 100%;
      }
      }
      .child {
        padding: 0 20px;
      }
    }
  }
}
