@import '../../../composer-base-components/base/utitilities/viewports.module.scss';
.container {
    .max-content {
        background-color: color-mix(in srgb,var(--composer-html-background), var(--composer-font-color-primary) 5%);
        border-radius: var(--composer-border-radius-xl);
            .content {
                display: flex;
                gap: var(--composer-gap-md);
                .title-box{
                    padding: var(--composer-gap-xl) 0px var(--composer-gap-xl) var(--composer-gap-xl) ;
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .title{
                        .text{
                        }
                    }
                    .button{
                        .button-element{

                        }
                    }

                }
                .image-box{
                    flex: 2;
                    .image{
                        width: 100%;
                        max-height: 70vh; 
                        object-fit: cover;                       
                    }
                }

            }
    }
}

@container (max-width : #{$composer-phone-width}){
    .container{
        .max-content{
            .content{
                flex-direction: column;
                .title-box{
                    padding: var(--composer-gap-md);
                }
            }
        }
    }
}