.container {
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .table {
      border-radius: var(--radius-medium);
      .item-div {
        .card-item-count {
          .item-card {
            width: 100%;
            display: flex;
            flex-direction: column;

            .card-upper {
              display: flex;
              flex-direction: column;
              min-height: 240px;
              padding: var(--composer-gap-lg) var(--composer-gap-lg)
                var(--composer-gap-xl) var(--composer-gap-lg);
              border-radius: var(--radius-large);
              background-color: var(--composer-primary-color);
              color: white;
              z-index: 1;

              .card-title {
                font-size: 1.5rem;
                margin: 0 0 var(--composer-gap-sm) 0;
                letter-spacing: 1px;
              }

              .card-price {
                font-size: 2rem;
                display: flex;
                align-items: center;
                gap: var(--composer-gap-sm);

                .price {
                  font-size: 2.5rem;
                  letter-spacing: 1px;
                }

                .duration {
                  font-size: 1.5rem;
                }
              }
            }

            .card-bottom {
              display: flex;
              flex-direction: column;
              align-self: center;
              width: 85%;
              z-index: 40;
              box-shadow: var(--composer-box-shadow);
              padding: var(--composer-gap-md) var(--composer-gap-md);
              margin-top: calc(-1 * var(--composer-gap-xl));
              background-color: white;
              border-radius: var(--radius-large);

              .card-img {
                padding: var(--composer-gap-md);
                background: white;
                border-radius: var(--radius-large);
                box-shadow: var(--composer-box-shadow);
                width: max-content;
                margin-top: calc(-1 * var(--composer-gap-xl));

                svg {
                  font-size: 2rem;
                }
              }

              .card-list {
                padding-inline-start: 0;

                .card-list-item {
                  list-style: none;
                  display: flex;
                  padding: var(--composer-gap-md) 0;
                  font-size: 1.5rem;
                  opacity: 0.5;
                  gap: var(--composer-gap-md);
                  align-items: center;
                }
              }

              .card-button {
                width: 70%;
                padding: var(--composer-gap-sm) 0;
                border-radius: var(--radius-large);
                background-color: transparent;
                color: var(--composer-secondary-color);
                font-size: 1.5rem;
                border: 2px solid var(--composer-secondary-color);
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                  background-color: var(--composer-secondary-color);
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    .max-content {
      .table {
        .item-div {
          .card-item-count {
            .item-card {
              .card-upper {
                min-height: 250px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .container {
    .max-content {
      .table {
        .item-div {
          .card-item-count {
            .item-card {
              .card-upper {
                min-height: 220px;
              }
            }
          }
        }
      }
    }
  }
}
