@use "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss"
  as *;

.container {
  .max-content {
    .table {
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-md);
      .up-content {
        .title,
        .subtitle,
        .description {
          content: "";
        }
      }

      .item-div {
        gap: var(--composer-gap-lg);
        .card-item-count {
          transition-duration: 0.8s;
          &.animation1:hover {
            transform: scale(1.05);
          }
          &.animation2:hover {
            transform: translateY(calc(-1 * var(--composer-gap-sm)));
          }
          .item-card {
            width: 100%;

            .card-upper {
              margin-bottom: var(--composer-gap-md);
              padding: var(--composer-gap-lg) var(--composer-gap-lg)
                var(--composer-gap-xl) var(--composer-gap-lg);
              border-radius: var(--composer-border-radius-lg);
              background-color: var(--composer-primary-color);
              color: var(--composer-font-color-secondary);
              z-index: 1;

              .card-title {
                color: var(--composer-font-color-secondary);
              }

              .card-price {
                display: flex;
                align-items: center;
                gap: var(--composer-gap-sm);
                margin-bottom: var(--composer-gap-sm);

                .price,
                .duration {
                  color: var(--composer-font-color-secondary);
                }
              }
            }
            .hidden {
              visibility: hidden;
            }

            .card-bottom {
              align-self: center;
              width: 85%;
              margin-left: 5%;
              z-index: 40;
              box-shadow: var(--box-shadow-active);
              padding: var(--composer-gap-md) var(--composer-gap-md);
              margin-top: calc(-1 * var(--composer-gap-xl));
              background-color: var(--composer-html-background);
              border-radius: var(--composer-border-radius-lg);

              .card-img {
                padding: var(--composer-gap-md);
                background: color-mix(
                  in srgb,
                  var(--composer-html-background),
                  var(--composer-font-color-primary) 5%
                );
                border-radius: var(--composer-border-radius-lg);
                box-shadow: var(--box-shadow-active);
                width: max-content;
                margin-top: calc(-1 * var(--composer-gap-xl));
                color: var(--composer-primary-color);

                .icon {
                  font-size: 2rem;
                  width: 25px;
                  height: 25px;
                }
              }

              .card-list {
                .card-list-item {
                  display: flex;
                  padding: var(--composer-gap-sm);
                  gap: var(--composer-gap-md);
                  align-items: center;

                  .list-item {
                    width: 100%;
                    color: var(--composer-font-color-primary);
                  }

                  .list-icon {
                    display: flex;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    color: var(--composer-font-color-primary);
                  }
                  .list-item {
                    color: var(--composer-font-color-primary);
                  }
                }
              }
              .action-buttons {
                display: flex;
                gap: var(--composer-gap-sm);
                flex-wrap: wrap;
                flex-direction: row;

                .card-button {
                  .card-button {
                    content: "";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .table {
        .item-div {
          .card-item-count {
            .item-card {
              .card-upper {
                padding: var(--composer-gap-md) var(--composer-gap-md)
                  var(--composer-gap-lg) var(--composer-gap-md);
              }

              .card-bottom {
                padding: var(--composer-gap-md) var(--composer-gap-md);
                margin-top: calc(-1 * var(--composer-gap-lg));
              }
            }
          }
        }
      }
    }
  }
}
