@use "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .table {
      .up-content {
        .title, .subtitle, .description {
          content: "";
        }
      }

      .item-div {
        .card-item-count {
          .item-card {
            width: 100%;

            .card-upper {
              margin-bottom: var(--composer-gap-md);
              padding: var(--composer-gap-lg) var(--composer-gap-lg) var(--composer-gap-xl) var(--composer-gap-lg);
              border-radius: var(--composer-border-radius-lg);
              background-color: var(--composer-primary-color);
              color: var(--composer-font-color-secondary);
              z-index: 1;

              .card-title {
                letter-spacing: 1px;
                color: var(--composer-font-color-secondary);
              }

              .card-price {
                display: flex;
                align-items: center;
                gap: var(--composer-gap-sm);
                margin-bottom: var(--composer-gap-sm);

                .price {
                  color: var(--composer-font-color-secondary);
                  letter-spacing: 1px;
                  margin: 0;
                }

                .duration {
                  color: var(--composer-font-color-secondary);
                }
              }
            }
            .hidden {
              visibility: hidden;
            }

            .card-bottom {
              align-self: center;
              width: 85%;
              margin-left: 5%;
              z-index: 40;
              box-shadow: var(--box-shadow-active);
              padding: var(--composer-gap-md) var(--composer-gap-md);
              margin-top: calc(-1 * var(--composer-gap-xl));
              background-color: var(--composer-html-background);
              border-radius: var(--composer-border-radius-lg);

              .card-img {
                padding: var(--composer-gap-md);
                background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
                border-radius: var(--composer-border-radius-lg);
                box-shadow: var(--box-shadow-active);
                width: max-content;
                margin-top: calc(-1 * var(--composer-gap-xl));
                color: var(--composer-primary-color);

                .icon {
                  font-size: 2rem;
                }
              }

              .card-list {
                .card-list-item {
                  display: flex;
                  padding: var(--composer-gap-sm);
                  gap: var(--composer-gap-md);
                  align-items: center;

                  .list-item {
                    width: 100%;
                    color: var(--composer-font-color-primary);
                  }

                  .list-icon {
                    width: 20px;
                    height: 20px;
                    color: var(--composer-font-color-primary);
                  }
                  .list-item {
                    font-size: 1rem;
                    color: var(--composer-font-color-primary);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .table {
        .item-div {
          .card-item-count {
            .item-card {
              .card-upper {
                padding: var(--composer-gap-md) var(--composer-gap-md) var(--composer-gap-lg) var(--composer-gap-md);
              }

              .card-bottom {
                padding: var(--composer-gap-md) var(--composer-gap-md);
                margin-top: calc(-1 * var(--composer-gap-lg));
              }
            }
          }
        }
      }
    }
  }
}
