.container {
  .max-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--composer-gap-sm);

    .text {
      text-align: center;
      font-size: 1rem;
      color: var(--composer-font-color-primary);
    }

    .socials-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--composer-gap-md);

      .socials-element {
        display: flex;
        align-items: center;
        gap: var(--composer-gap-sm);
        .icon,
        .text {
          font-size: 1.5rem;
          color: var(--composer-font-color-primary);
        }
      }
    }

    &:not(:has(.links)):not(:has(.socials-container)) .text {
      justify-content: center;
    }

    &:not(:has(.links)):has(.socials-container) .text {
      justify-content: flex-start;
    }

    &:not(:has(.socials-container)):has(.links) .text {
      justify-content: flex-end;
    }
  }
}
