@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--composer-gap-sm);
}

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--composer-gap-lg);

    .header-container {
      .subtitle {
        width: fit-content;
      }

      .title,
      .description {
        content: "";
      }
    }

    .items-container {
      row-gap: 0 !important;
      column-gap: var(--composer-gap-xl);
      .item {
        align-items: flex-start;
        height: fit-content;
        color: var(--composer-font-color-primary);
        transition: all 0.3s ease;

        &.with-lines {
          border-bottom: 1px solid
            rgba(var(--composer-font-color-primary-rgb), 0.2);
        }

        &.active {
          .item-header {
            color: var(--composer-primary-color);
          }

          .item-icon {
            rotate: 45deg;
          }

          .item-description {
            max-height: 500px;
            padding: 0px var(--composer-gap-md) var(--composer-gap-md) 0;
            opacity: 1;
          }
        }

        .item-header {
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding-block: var(--composer-gap-md);
          cursor: pointer;
          margin-bottom: 0;
        }

        .item-title,
        .item-description {
          text-align: left !important;
        }

        .item-description {
          overflow: hidden;
          padding: 0px;
          max-height: 0px;
          opacity: 0;
          transition:
            max-height,
            padding 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .item-icon {
          transition: all 0.3s ease;
        }

        :where(svg, img) {
          width: 26px;
          height: 26px;
        }
      }
    }

    .section-buttons-wrapper {
      @extend .buttons-wrapper;
      margin-inline: auto;

      .section-button {
        .section-button-icon,
        .section-button-text {
          content: "";
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container .max-content {
    gap: var(--composer-gap-md);
  }

  .container .items-container .item :where(svg, img) {
    width: 22px !important;
    height: 22px !important;
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container .items-container .item :where(svg, img) {
    width: 18px !important;
    height: 18px !important;
  }
}
