@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-md);

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-md);

      .logo {
        width: 230px;
        height: 80px;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
          text-align: center;
          margin: 0;
        }

        .description {
          font-size: 1.5rem;
          color: var(--composer-tertiary-color);
          text-align: center;
        }

        .button{
          content: "";
        }
      }
    }

    .list-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-md);
      .text {
        font-size: 1rem;
        color: var(--composer-font-color-primary);
        transition: transform 0.8s ease;
        
        &[data-animation="animate1"] {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .icon-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-lg);
      .icon-element {
        display: flex;
        align-items: center;
        gap: var(--composer-gap-sm);
        position: relative;
        
        &[data-animation="animate1"] {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--composer-primary-color);
            transition: width 0.8s ease;
          }
          
          &:hover::after {
            width: 100%;
          }
        }

        .icon-text,
        .icon {
          font-size: 1rem;
          color: var(--composer-font-color-primary);
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      .bottom-text {
        max-width: 50%;
        font-size: 1rem;
        color: var(--composer-tertiary-color);
        margin-left: 0;
      }

      .list {
        max-width: 50%;
        display: flex;
        align-items: center;
        gap: var(--composer-gap-md);
        .item {
          font-size: 1rem;
          color: var(--composer-tertiary-color);
          transition: transform 0.8s ease;
          
          &[data-animation="animate1"] {
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-md);

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--composer-gap-sm);

        .logo {
          width: 150px;
          height: var(--composer-gap-xl);
        }

        .content {
          .title {
            font-size: 1.5rem;
            margin: 0;
          }

          .description {
            font-size: 1rem;
          }
        }
      }

      .list-group {
        row-gap: 0;
        column-gap: var(--composer-gap-sm);
      }

      .icon-container {
        gap: var(--composer-gap-sm);
        .icon-element {
          display: flex;
          align-items: center;
          gap: var(--composer-gap-sm);
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .bottom-text {
          max-width: 100%;
          font-size: 1rem;
          color: var(--composer-font-color-primary);
          margin-left: auto;
        }

        .list {
          max-width: 100%;
          display: flex;
          align-items: center;
          gap: var(--composer-gap-md);
        }
      }
    }
  }
}
