@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
    .max-content {
        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--composer-gap-md);
            overflow: hidden;
            .logo {
                max-width: 300px;
                object-fit: cover;
            }
            .vertical {
                align-items: center !important;
                text-align: center;
                .header {
                    font-size: 3rem !important;
                    color: var(--composer-font-color-primary);
                }
                .description {
                    font-size: 1.5rem !important;
                    color: var(--composer-tertiary-color);
                }
            }
            .list-group {
                margin-top: var(--composer-border-radius-lg);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: var(--composer-gap-lg);
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    color: var(--composer-font-color-primary);
                    .tag {
                        border-radius: var(--composer-border-radius-lg);
                        padding: var(--composer-gap-xs);
                        background-color: var(--composer-secondary-color);
                        margin-left: var(--composer-gap-xs);
                        color: var(--composer-font-color-primary);
                    }
                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 var(--composer-gap-xs);
                        font-size: 1.5rem;
                        color: var(--composer-font-color-primary);
                    }
                }
            }
            .lower {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin: var(--composer-gap-lg) 0;
                .list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--composer-border-radius-xl);
                    .item {
                        font-size: 1rem;
                        color: var(--composer-font-color-primary);
                    }
                }
                > span {
                    font-size: 1rem;
                    color: var(--composer-font-color-primary);
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) { 
    .section {
        .list-group {
            flex-direction: column;
        }
        .lower {
            flex-direction: column;
            .list {
                margin-top: var(--composer-gap-lg);
                flex-direction: column;
            }
        }
    }
}