.container {
    width: 100%;
    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        .background-image {
            width: 100%;
            height: max-content;
            position: relative;
            .img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                filter: brightness(35%);
            }
        }
        .contacts9 {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            position: absolute;
            top: 10%;
            .contacts-top {
                flex: 1;
                text-align: center;
                .title {
                    font-size: 42px;
                    line-height: 1.23;
                    margin-bottom: 40px;
                    font-weight: 600;
                    color: #fff;
                }
                .description {
                    font-size: 20px;
                    line-height: 1.55;
                    margin-bottom: 10px;
                    color: #fff;
                }
            }
            .contacts-form {
                height: fit-content;
                .form {
                    max-width: 560px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    box-shadow: var(--composer-box-shadow);
                    border-radius: 6px;
                    padding: 20px;
                    h3 {
                        color: #fff;
                        text-shadow: 1px 1px black;
                    }
                    .input {
                        padding: 16px 10px;
                        border-radius: 10px;
                        border: 1px solid #8e8e8e91;
                        resize: none;
                        &:focus {
                            outline-color: var(--composer-primary-color);
                        }
                    }
                    .error-message {
                        color: red;
                        font-size: 0.6rem;
                        margin-top: 3px;
                        margin-left: 5px;
                    }
                    .submit-button {
                        width: 100%;
                        height: 50px;
                        background-color: var(--composer-primary-color);
                        border-radius: 6px;
                        border: none;
                        cursor: pointer;
                        transition: 0.1s;
                        margin-top: 15px;
                        box-shadow: var(--composer-box-shadow);
                        font-size: 1.5rem;
                        color: white;
                        padding: 10px 50px;
                        font-weight: 500;
                        &:active {
                            background: var(--composer-secondary-color);
                            color: var(--composer-tertiary-color);
                        }
                    }
                }
            }
            .below-text {
                text-align: center;
                color: #fff;
                font-size: 15px;
                font-weight: 300;
                line-height: 1.55;
            }
        }
        @media screen and (max-width: 500px) {
            .contacts9 {
                top: 5%;
            }
        }
    }
}