@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
as *;

.container {
  .max-content {
    display: flex;
    flex-direction: column;

    .main-wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      gap: var(--composer-gap-md);

      .left-section {
        flex: 1;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);

        .card-1 {
          display: flex;
          flex-direction: column;
          align-items: baseline;

          .title,
          .subtitle {
            text-align: left !important;
            margin-left: 0;
            word-break: break-word;
          }
        }
      }

      .right-section {
        flex: 4;
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);

        .content {
          display: flex;
          flex: 1;
          gap: var(--composer-gap-xl);
          flex-wrap: wrap;

          .card-2 {
            color: var(--composer-font-color-primary);
            display: flex;
            flex: 1;
            min-width: 250px;

            .left-text {
              color: var(--composer-tertiary-color);
              text-align: justify;
              word-break: break-word;
            }
          }

          .card-3 {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 250px;
            gap: var(--composer-gap-md);

            .right-text {
              color: var(--composer-tertiary-color);
              text-align: justify;
              word-break: break-word;
            }

            .information {
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-xs);
              align-items: flex-start;

              .name {
                color: var(--composer-primary-color);
                text-align: left;
              }

              .job-title {
                color: var(--composer-tertiary-color);
                text-align: left;
              }
            }
          }

          .content-right-section-empty {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 250px;
            gap: var(--composer-gap-md);

            .left-text {
              color: var(--composer-tertiary-color);
              text-align: justify;
            }

            .information-below-text1 {
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-xs);
              align-items: flex-start;

              .name {
                color: var(--composer-primary-color);
                text-align: left;
              }

              .job-title {
                color: var(--composer-tertiary-color);
                text-align: left;
              }
            }
          }
        }

        .content-column {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: var(--composer-gap-md);

          .information {
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-xs);
            align-self: flex-start;
            align-items: flex-start;

            .name {
              color: var(--composer-primary-color);
              text-align: left;
            }

            .job-title {
              color: var(--composer-tertiary-color);
              text-align: left;
            }
          }

          .card-2,
          .card-3,
          .content-right-section-empty {
            display: none;
          }
        }
      }
    }

    .description-mobile {
      text-align: left !important;
      margin-left: 0;
      color: var(--composer-font-color-primary);
      word-break: break-word;
      display: none;
    }

    .description-desktop {
      text-align: left !important;
      margin-left: 0;
      color: var(--composer-font-color-primary);
      word-break: break-word;
      display: block;
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      gap: 0px;

      .description-mobile {
        display: block;
      }

      .description-desktop {
        display: none;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .main-wrapper {
        flex-direction: column;
        gap: var(--composer-gap-md);

        .left-section,
        .right-section {
          width: 100% !important;
          min-width: 0 !important;
        }

        .left-section {
          order: 1;

          .card-1 {
            padding-bottom: 0px;
          }
        }

        .right-section {
          order: 2;
        }

        .right-section {
          .content {
            flex-direction: column !important;
            gap: var(--composer-gap-md) !important;

            .card-2,
            .card-3,
            .content-right-section-empty {
              min-width: auto !important;
              width: 100% !important;
            }

            .content-right-section-empty {
              gap: var(--composer-gap-md) !important;

              .information-below-text1 {
                align-items: flex-start !important;
              }
            }
          }

          .content-column {
            gap: var(--composer-gap-md) !important;

            .information {
              align-self: flex-start !important;
              align-items: flex-start !important;
            }
          }
        }
      }

      .description-mobile {
        display: block;
      }

      .description-desktop {
        display: none;
      }
    }
  }
}