.container {
    width: 100%;
    padding: 150px 45px;
    background-color: var(--composer-html-background);
    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        .title {
            text-align: center;
            font-size: 3rem;
            margin: 0 0 80px 0;
            color: var(--composer-primary-color);
        }
        .testimonials2 {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            .card {
                padding: 30px;
                margin: 10px;
                min-width: 250px;
                border-radius: 6px;
                background-color: var(--composer-html-background);
                flex: 1 1;
                border: 1px solid var(--composer-tertiary-color);
                .item-time {
                    opacity: 0.8;
                    font-weight: 200;
                    font-size: 1rem;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    color: var(--composer-font-color-tertiary);
                }
                .profile {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        border-radius: 100%;
                        object-fit: cover;
                        border: 1px solid var(--composer-tertiary-color);
                    }
                    .profile-text {
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .item-name {
                            margin: 0;
                            color: var(--composer-primary-color);
                        }
                        .item-name-id {
                            margin: 5px 0 !important;
                            text-transform: uppercase;
                            color: var(--composer-primary-color);
                        }
                    }
                }
                .item-description {
                    font-size: 1.1rem;
                    color: var(--composer-font-color-primary);
                }
            }
        }
        @media screen and (max-width: 910px) {
            .testimonials2 {
                gap: 20px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 50px 20px;
        background-color: var(--composer-html-background);
    }
}