@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  width: 100%;

  &.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
  }

  .max-content {
    .first-container {
      padding: var(--composer-gap-md) var(--composer-gap-xl) !important;

      .first-max-content {
        .footer-page {
          display: flex;
          gap: var(--composer-gap-md);
          flex-wrap: wrap;
          width: 100%;

          .items {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: var(--composer-gap-md);
            justify-content: space-between;

            .left,
            .list-group,
            .right {
              flex: 1 1 20%;
              max-width: 20%;
              min-width: 200px;
            }

            .left {
              display: flex;
              flex-direction: column;
              align-items: baseline;
              gap: var(--composer-gap-xs);

              .left-title {
                color: var(--composer-font-color-primary);
                text-align: left;
              }

              .images {
                .image-container {
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  gap: var(--composer-gap-md);

                  .image {
                    width: var(--composer-gap-xl);
                    height: var(--composer-gap-xl);
                  }
                }
              }
            }

            .list-group {
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-md);

              .title {
                margin: 0;
                color: var(--composer-font-color-primary);
              }

              .text {
                margin: 0;
                color: var(--composer-font-color-primary);
                transition: all 0.3s ease;
                
                &[data-has-link="true"] {
                  cursor: pointer;

                  &[data-animation~="animate1"]:hover {
                    color: var(--composer-primary-color);
                  }

                  &[data-animation~="animate2"]:hover {
                    transform: translateY(-3px);
                    color: var(--composer-primary-color);
                  }

                  &[data-animation~="animate3"]:hover {
                    transform: scale(1.1);
                    color: var(--composer-primary-color);
                  }
                }
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-md);

              .form {
                display: flex;
                justify-content: flex-end;

                .input-element {
                  position: relative;
                  display: flex;
                  width: 100%;
                  height: 100%;
                  flex-direction: column;
                  gap: var(--composer-gap-xs);

                  .input {
                    width: 100%;
                    border: none;
                    border-top: 1px solid var(--composer-tertiary-color);
                    border-left: 1px solid var(--composer-tertiary-color);
                    border-bottom: 1px solid var(--composer-tertiary-color);
                    border-top-left-radius: var(--composer-border-radius-sm);
                    border-bottom-left-radius: var(--composer-border-radius-sm);
                    padding-bottom: var(--composer-gap-sm);
                    background: transparent;
                    color: var(--composer-font-color-primary);
                    padding: var(--composer-gap-sm);
                    height: var(--composer-gap-xl);
                  }

                  .input:focus {
                    outline: none;
                  }

                  .input::placeholder {
                    color: var(--composer-font-color-primary);
                    opacity: 0.5;
                  }

                  .error {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    color: var(--danger-color);
                  }
                }

                .button{
                  content: "";
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                }
              }

              .title {
                margin: 0;
                color: var(--composer-font-color-primary);
              }

              .description {
                margin: 0;
                color: var(--composer-font-color-primary);
              }
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          gap: var(--composer-gap-md);
          width: 100%;

          .footer-text {
            justify-content: flex-start;
          }

          .links,
          .footer-text {
            flex: 1;
            display: flex;
            align-items: center;
            color: var(--composer-font-color-primary);
          }

          .links {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);
          }

          .link-element {
            display: flex;
            align-items: center;
            position: relative;
          }

          .link-element::after {
            content: "";
            display: block;
            width: 1px;
            height: var(--composer-gap-md);
            background-color: rgb(var(--composer-font-color-primary-rgb), 0.5);
            margin-left: var(--composer-gap-sm);
          }

          .link-element:last-child::after {
            content: none;
          }

          .link-element {
            .link-text {
              transition: all 0.3s ease;
              
              &[data-has-link="true"] {
                cursor: pointer;

                &[data-animation~="animate1"]:hover {
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate2"]:hover {
                  transform: translateY(-3px);
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate3"]:hover {
                  transform: scale(1.1);
                  color: var(--composer-primary-color);
                }
              }
            }
          }
        }
      }
    }
    
    .line {
      height: 1px;
      width: 100%;
      border-top: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);
    }

    .second-container {
      padding: var(--composer-gap-md) var(--composer-gap-xl) !important;

      .second-max-content {
        .bottom {
          display: flex;
          justify-content: space-between;
          gap: var(--composer-gap-md);
          width: 100%;

          .footer-text {
            justify-content: flex-start;
          }

          .links,
          .footer-text {
            flex: 1;
            display: flex;
            align-items: center;
            color: var(--composer-font-color-primary);
          }

          .links {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);
          }

          .link-element {
            display: flex;
            align-items: center;
            position: relative;
          }

          .link-element::after {
            content: "";
            display: block;
            width: 1px;
            height: var(--composer-gap-md);
            background-color: rgb(var(--composer-font-color-primary-rgb), 0.5);
            margin-left: var(--composer-gap-sm);
          }

          .link-element:last-child::after {
            content: none;
          }

          .link-element {
            .link-text {
              transition: all 0.3s ease;
              
              &[data-has-link="true"] {
                cursor: pointer;

                &[data-animation~="animate1"]:hover {
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate2"]:hover {
                  transform: translateY(-3px);
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate3"]:hover {
                  transform: scale(1.1);
                  color: var(--composer-primary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .first-container {
        padding: var(--composer-gap-md) var(--composer-gap-lg) !important;

        .first-max-content {
          .footer-page {
            .items {
              gap: var(--composer-gap-xl);

              .left,
              .list-group,
              .right {
                min-width: 300px;
              }

              .left {
                .images {
                  .image-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: var(--composer-gap-md);

                    .image {
                      width: var(--composer-gap-lg);
                      height: var(--composer-gap-lg);
                    }
                  }
                }
              }

              .right {
                display: flex;
                flex-direction: column;
                gap: var(--composer-gap-sm);

                .form {
                  display: flex;
                  flex-direction: column;
                  gap: var(--composer-gap-sm);

                  .input-element {
                    .input {
                      border-radius: var(--composer-border-radius-sm);
                      border: 1px solid var(--composer-tertiary-color);
                    }

                    .error {
                      position: unset;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .second-container {
        padding: var(--composer-gap-md) var(--composer-gap-lg) !important;

        .second-max-content {
          .bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--composer-gap-xs);
            width: 100%;

            .footer-text {
              justify-content: flex-start;
            }

            .links,
            .footer-text {
              flex: 1;
              display: flex;
              align-items: center;
              color: var(--composer-font-color-primary);
            }

            .links {
              content: "";
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .first-container {
        padding: var(--composer-gap-md) !important;

        .first-max-content {
          .footer-page {
            .items {
              gap: var(--composer-gap-lg);

              .left,
              .list-group,
              .right {
                max-width: 100%;
                align-items: center;
              }
              .list-group{
                .title, .text{
                  text-align: center;
                }
              }
              .right{
                .title, .description{
                  text-align: center;
                }
                .form{
                  .button{
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }

      .second-container {
        padding: var(--composer-gap-md) !important;

        .second-max-content {
          .bottom {
            align-items: center;
            .footer-text{
              text-align: center;
            }
            .links {
              justify-content: center;
              .link-element{
                .link-text{
                  text-align: center;
                }
              }

              &.center {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}