@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  width: 100%;
  container-type: inline-size;

  &.absolute {
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 10;

    > .max-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: transparent;

      .first-container {
        background: transparent;
      }

      .second-container {
        background: transparent;
      }
    }
  }

  .max-content {
    .first-container {
      padding: 120px 60px var(--composer-gap-md) 60px !important;

      .first-max-content {
        .footer-page {
          display: flex;
          gap: var(--composer-gap-md);
          flex-wrap: wrap;
          width: 100%;

          .items {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: var(--composer-gap-md);
            justify-content: space-between;

            .left,
            .list-group,
            .right {
              flex: 1 1 20%;
              max-width: 20%;
              min-width: 200px;
            }

            .left {
              align-items: flex-start !important;

              .subtitle,
              .title,
              .description {
                text-align: left !important;
                margin-left: 0 !important;
                margin-right: auto !important;
              }

              .description:has(+ .images) {
                margin-bottom: 17px !important;
              }


              .left-title {
                text-align: left;
                color: var(--composer-font-color-primary);
              }

              .button-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--composer-gap-sm);

                .button {

                  .button-text {
                    content: "";
                  }
                }
              }

              .images {
                .tint-definition {
                  position: absolute;
                  width: 0;
                  height: 0;
                }

                .image-container {
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: flex-start !important;
                  gap: var(--composer-gap-sm);

                  .image {
                    display: block;
                    width: 34px !important;
                    height: 23px !important;
                    object-fit: contain;
                    filter: var(--card-tint, none);

                    &.is-icon {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 1.5rem !important;
                      width: 23px !important;
                      height: 23px !important;
                      filter: none;
                      color: var(--composer-font-color-primary);
                    }
                  }
                }
              }
            }

            .list-group {
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-sm) !important;
              align-items: flex-start;

              .title {
                text-align: left;
                color: var(--composer-font-color-primary);
                font-size: 1.25rem !important;
              }

              .text-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              }

              .text {
                text-align: left;
                margin: 0;
                color: var(--composer-tertiary-color);
                transition: all 0.3s ease;
                font-size: 1rem !important;

                &[data-has-link="true"] {
                  cursor: pointer;

                  &[data-animation~="animate1"]:hover {
                    color: var(--composer-primary-color);
                  }

                  &[data-animation~="animate2"]:hover {
                    transform: translateY(-3px);
                    color: var(--composer-primary-color);
                  }

                  &[data-animation~="animate3"]:hover {
                    transform: scale(1.1);
                    color: var(--composer-primary-color);
                  }
                }
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              align-items: baseline;
              gap: var(--composer-gap-md);

              .form {
                display: flex;
                align-items: center;

                .input-element {
                  position: relative;
                  display: flex;
                  width: 100%;
                  height: 100%;
                  flex-direction: column;
                  gap: var(--composer-gap-xs);

                  .input {
                    width: 100%;
                    border: none;
                    border-top: 1px solid var(--composer-tertiary-color);
                    border-left: 1px solid var(--composer-tertiary-color);
                    border-bottom: 1px solid var(--composer-tertiary-color);
                    border-top-left-radius: var(--composer-border-radius-sm);
                    border-bottom-left-radius: var(--composer-border-radius-sm);
                    padding-bottom: var(--composer-gap-sm);
                    background: transparent;
                    color: var(--composer-font-color-primary);
                    padding: var(--composer-gap-sm);
                    height: var(--composer-gap-xl);
                  }

                  .input:focus {
                    outline: none;
                  }

                  .input::placeholder {
                    color: var(--composer-font-color-primary);
                    opacity: 0.5;
                  }

                  .error {
                    position: absolute;
                    bottom: calc(var(--composer-gap-sm) * -2.5);
                    left: 0;
                    color: var(--composer-danger-color);
                    width: fit-content;
                    text-align: left;
                    margin: 0;
                    font-size: 1rem;
                  }
                }

                .buttons {
                  display: flex;
                  flex-wrap: wrap;

                  .button-link {
                    display: flex;
                    align-items: stretch;
                  }

                  .button {
                    margin-top: 0 !important;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    height: var(--composer-gap-xl);

                    .button-text {
                      content: "";
                    }
                  }
                }
              }

              .title {
                text-align: left;
                margin: 0;
                color: var(--composer-font-color-primary);
                font-size: 1.25rem !important;
              }

              .description {
                text-align: left;
                margin: 0;
                color: var(--composer-font-color-primary);
                font-size: 1rem !important;
              }
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          gap: var(--composer-gap-md);
          width: 100%;

          .footer-text {
            justify-content: flex-start;
          }

          .links,
          .footer-text {
            flex: 1;
            display: flex;
            align-items: center;
            color: var(--composer-font-color-primary);
          }

          .links {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);
          }

          .link-element {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center !important;
            position: relative;
          }

          .link-element::after {
            content: "";
            display: block;
            width: 1px;
            height: var(--composer-gap-md);
            background-color: rgb(var(--composer-font-color-primary-rgb), 0.5);
            margin-left: var(--composer-gap-sm);
          }

          .link-element:last-child::after {
            content: none;
          }

          .link-element {
            .link-text {
              transition: all 0.3s ease;
              text-align: left !important;
              margin-left: 0 !important;
              margin-right: 0 !important;
              justify-content: flex-start !important;

              &[data-has-link="true"] {
                cursor: pointer;

                &[data-animation~="animate1"]:hover {
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate2"]:hover {
                  transform: translateY(-3px);
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate3"]:hover {
                  transform: scale(1.1);
                  color: var(--composer-primary-color);
                }
              }
            }
          }
        }
      }
    }

    .line {
      height: 1px;
      width: 100%;
      border-top: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);
      margin-top: var(--composer-gap-xl);
    }

    .second-container {
      padding: var(--composer-gap-md) 60px var(--composer-gap-md) 60px !important;

      .second-max-content {
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: var(--composer-gap-md);
          width: 100%;

          .footer-text {
            justify-content: flex-start !important;
            font-size: 1rem !important;
          }

          .links,
          .footer-text {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--composer-font-color-primary);
          }

          .links {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);
          }

          .link-element {
            display: flex;
            align-items: center;
            position: relative;
          }

          .link-element::after {
            content: "";
            display: block;
            width: 1px;
            height: var(--composer-gap-md);
            background-color: rgb(var(--composer-font-color-primary-rgb), 0.5);
            margin-left: var(--composer-gap-sm);
          }

          .link-element:last-child::after {
            content: none;
          }

          .link-element {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center !important;

            .link-text {
              transition: all 0.3s ease;
              text-align: left !important;
              margin-left: 0 !important;
              margin-right: 0 !important;
              justify-content: flex-start !important;
              font-size: 1rem !important;

              &[data-has-link="true"] {
                cursor: pointer;

                &[data-animation~="animate1"]:hover {
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate2"]:hover {
                  transform: translateY(-3px);
                  color: var(--composer-primary-color);
                }

                &[data-animation~="animate3"]:hover {
                  transform: scale(1.1);
                  color: var(--composer-primary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .first-container {
        padding: 100px var(--composer-gap-xl) var(--composer-gap-md) var(--composer-gap-xl) !important;

        .first-max-content {
          .footer-page {
            .items {
              .list-group {
                .text {
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .second-container {
        padding: 20px 50px 20px 50px !important;

        .second-max-content {
          .bottom {
            .links {
              flex-wrap: nowrap;
              justify-content: flex-start !important;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .first-container {
        padding: var(--composer-gap-xl) 30px var(--composer-gap-md) 30px !important;

        .first-max-content {
          .footer-page {
            .items {
              gap: var(--composer-gap-md);

              &.center {
                align-items: center !important;

                .left,
                .list-group,
                .right {
                  align-items: center !important;

                  .left-title,
                  .subtitle,
                  .title,
                  .description {
                    text-align: center !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                  }

                  .text-container {
                    align-items: center !important;
                    
                    .text {
                      text-align: center !important;
                    }
                  }

                  .button-container {
                    justify-content: center !important;
                  }

                  // On phone, keep the centered layout for the social icons (the
                  // desktop/tablet left-alignment above is intentionally not applied here).
                  .images .image-container {
                    justify-content: center !important;
                  }
                }
              }


              .left,
              .list-group,
              .right {
                max-width: 100%;
              }
            }
          }
        }
      }

      .second-container {
        padding: var(--composer-gap-md) 30px var(--composer-gap-md) 30px !important;

        .second-max-content {
          .bottom {
            flex-direction: column;
            align-items: stretch;

            .footer-text {
              justify-content: flex-start !important;
            }

            .links {
              flex-wrap: wrap;
              justify-content: flex-start !important;

              .link-element {
                justify-content: flex-start !important;

                .link-text {
                  text-align: left !important;
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  justify-content: flex-start !important;
                }
              }
            }

            &.center {
              .footer-text {
                justify-content: center !important;
              }

              .links {
                justify-content: center !important;

                .link-element {
                  justify-content: center !important;

                  .link-text {
                    text-align: center !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    justify-content: center !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-media-wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--composer-gap-sm);
}

.menu-title-media,
.menu-item-media {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;

  svg {
    width: 100%;
    height: 100%;
  }
}

.menu-title-media {
  width: 20px;
  height: 20px;
  color: var(--composer-font-color-primary);
}

.menu-item-media {
  width: 16px;
  height: 16px;
  color: var(--composer-tertiary-color);
}
