.container {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    height: 100vh;
    display: flex;
    overflow: hidden;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 14rem;
      margin-left: 10rem;
      position: static;

      .page {
        .image {
          display: none;
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          top: 0;
          left: 0;
          z-index: -1;
          object-fit: cover;
          height: 100%;
          width: 100%;
          &.active {
            display: unset;
          }
        }
        h2 {
          width: fit-content;
          height: fit-content;
          padding: 2px 2px;
          font-size: 3rem;
          margin-bottom: -1rem;
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          color: black;
          h2:visited {
            color: inherit;
          }
          &:hover {
            background: black;
            color: white;
          }
        }
      }
      .page .active {
        .image {
          display: unset;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 50px 50px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    h2 {
      margin-bottom: 1rem !important;
      font-size: 1.5rem !important;
    }
  }
}
