@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;
.container {
  .max-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      display: flex;
      flex-direction: column;
      .sub-title {
        content: "";
      }
      .title {
        margin-top: 0.5rem;
      }
      .text-container {
        columns: 2;
        column-gap: 4rem;
        text-align: left;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .max-content {
    .content {
      .text-container {
        columns: 1 !important;
      }
    }
  }
}
