@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
    .max-content {
        display: flex;
        align-items: center;
        gap: var(--composer-gap-lg);
        .right-image {
            flex: 1;
            align-items: center;
            .img {
                max-height: 100%;
                width: 100%;
                border-radius: var(--composer-border-radius-sm);
                aspect-ratio: 1;
                object-fit: cover;
            }
            &.no-content{
                .img{
                    aspect-ratio: 16/9;
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-xl);
            flex: 1;
            .header {
                .subtitle{
                    content: "";
                }
                .title {
                    content: "";
                }
                .description {
                    margin-bottom: 0px
                }
            }
            .item-block {
                display: flex;
                flex-direction: column;
                gap: var(--composer-gap-lg);
                .texts {
                    display: flex;
                    gap: var(--composer-gap-md);
                    .icon{
                        min-width: 3rem;
                        font-size: 3rem;
                        color: var(--composer-primary-color);
                    }
                    .list-item-content{

                        .list-item-title{
                            margin-top: 0px;
                            margin-bottom: var(--composer-gap-sm);
                            color: var(--composer-font-color-primary);
                        }
                        .texts-inside {
                            margin-bottom: 0px;
                            color: var(--composer-font-color-primary);
                        }
                    }
                }
            }
            .button {content: "";}
        }
    }
}
@media screen and (max-width: $composer-tablet-width-lg) {
    .container{
        .max-content{
            flex-direction: column;
        }
    }
}