.container {
  .max-content {  
    .row {
      gap: 0;
    }

    .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: var(--composer-gap-xl);
      min-height: 30rem;
      min-width: calc(100% / 4);
      border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.5);

      .firs-inner {
        .title {
          font-weight: bold;
          color: var(--composer-font-color-primary);
          word-break: break-word; 
        }
  
        .description {
          opacity: 0.8;
          line-height: 1.5;
          word-break: break-word; 
        }
      }
    }

    .card {
      padding: var(--composer-gap-xl);
      min-height: 30rem;
      min-width: calc(var(--composer-) / 4);
      position: relative;
      overflow: hidden;
      transition: background-color 0.3s ease;
      color: var(--composer-font-color-primary);
      border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.5);
      

      &:not(.first):hover {
        background-color: var(--composer-primary-color);
        color: var(--composer-font-color-secondary);

        .itemTitle {
          color: var(--composer-font-color-secondary);
        }

        .itemText {
          color: var(--composer-font-color-secondary);
        }

        .spanItem {
          background-color: var(--composer-font-color-secondary);
        }
        
        .index {
          color: var(--composer-font-color-secondary);
        }
      }
      .card-content{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        .itemTitle {
          font-size: 1.5rem;
          font-weight: bold;
          margin-top: var(--composer-gap-lg);
          color: var(--composer-font-color-primary);
        }
    
        .itemText {
          font-size: 1rem;
          margin-bottom: 10px;
          opacity: 0.8;
          color: var(--composer-font-color-primary);
        }
    
        .spanItem {
          display: block;
          height: 1px;
          background-color: var(--composer-font-color-primary);
          margin: 10px 0;
          opacity: 0.5;
        }
      }
        .index {
          position: absolute;
          font-size: 7.5rem;
          -webkit-text-stroke-width: 1px;
          letter-spacing: -5px;
          color: var(--composer-primary-color);
          -webkit-text-fill-color: transparent;
          margin: 0;
          bottom: -50px
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .first {
      padding: var(--composer-gap-xl) !important;
    }
    .card {
      .index {
        bottom: -50px !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    .card {
      .index {
        bottom: -65px
      }
    }
  }
}
