@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.hamburgerActive {
  background: inherit !important;
}

.container{
  padding-top: var(--composer-gap-sm);
  padding-bottom: var(--composer-gap-sm);
  transition: all 0.3s ease;

  .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background: var(--composer-overlay-color);
    transition: all 0.3s ease;
  }
}

.maxContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  
  .logo,
  .titleContainer,
  .icons {
    flex: 1;
  }

  .logo {
    .logoImage {
      width: unset;
      max-height: 60px;
      object-fit: cover;

      &.openedLogoImage{
        content: "";
      }
    }
  }

  .titleContainer {
    display: flex;
    justify-content: center;
    .titleContainerContent{
      align-items: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    .title {
      font-weight: 700;
      color: var(--composer-font-color-primary);
      font-size: calc(2 * (var(--composer-font-size-md) + 4px));

      &.openedTitle{
        content: "";
      }
    }
    
    .subtitle {
      margin: 0;
      font-weight: 400;
      color: var(--composer-font-color-primary);
      text-align: center;

      &.openedSubtitle{
        content: "";
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--composer-gap-sm);

    .localizationDropdown {
      gap: var(--composer-gap-xs);
      color: var(--composer-font-color-primary);
    }

    .localization, .localizationItem {
      content: "";
    }

    .localizationLabel{
      color: var(--composer-font-color-primary);
      font-weight: normal;
      transition: all 0.3s ease;
      &.animation1{
        &:hover{
          font-weight: bold;
        }
      }
      &.openedLabel{
        content: "";
      }
    }
    .localizationContent{
      .localizationItem{
        font-weight: normal;
        transition: all 0.3s ease;
      }
      &.animation1{
        &:hover{
          .localizationItem{
            font-weight: bold;
          }
        }
      }
    }

    .localizationIcon{
      &.openedIcon{
        content: "";
      }
    }

    .closeIcon,
    .menuIcon {
      font-size: 1.5rem !important;
      color: var(--composer-font-color-primary);
      width: 20px;
      height: 20px;
      object-fit: cover;
      display: flex;
    }
    

    .openedCloseIcon,
    .openedMenuIcon{
      content: "";
    }
  }

}

.openedMaxContent{
  content: "";
}


.dropdownMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--composer-html-background);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.open {
    max-height: 90vh;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .dropdownMenuContent {
    display: flex;
    padding: var(--composer-gap-xl);
    justify-content: center;

    .dropdownRightSide,
    .dropdownItemList {
      flex: 1;
      margin: 0;
    }

    .dropdownRightSide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--composer-gap-xl);
      .dropdownTitle {
        color: var(--composer-font-color-primary);
        margin: 0;
        width: fit-content;
      }
      .line{
        width: 20%;
        height: 2px;
        background-color: var(--composer-font-color-primary);
      }
      .dropdownDescription {
        text-align: start;
        max-width: 60%;
        color: var(--composer-font-color-primary);
      }
    }

    .dropdownItemList {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .dropdownItemContent{
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);
        width: fit-content;
        .dropdownItem {
          margin: 0;
          text-align: start;
          color: var(--composer-font-color-primary);
          transition: all 0.3s ease;
          &.animation1{
            &:hover{
              font-weight: bold;
            }
          }
        }
      }
      .socialMediaWrapper{
        width: 100%;
        display: flex;
        justify-content: end;
        .socialMediaLinks {
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: center;
          margin-top: var(--composer-gap-xl);
          gap: var(--composer-gap-xs);
          width: fit-content;
  
          .socialMediaLinksTitle {
            color: var(--composer-font-color-primary);
          }
          .socialMediaLinksList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--composer-gap-xs);
            width: 100%;
            .socialMediaLink{
              .socialMediaIconContainer{
                display: flex;
                transition: all 0.3s ease;
                .socialMediaIcon {
                  font-size: calc(2 * var(--composer-font-size-md));
                  color: var(--composer-font-color-primary);
                }
                &.animation2{
                  &:hover{
                    .socialMediaIcon{
                      color: var(--composer-primary-color);
                    }
                  }
                }
              }
            }

          }
        }
      }

    }

    .divider {
      width: 2px;
      background-color: var(--composer-font-color-primary);
      border: none;
      margin: 0 var(--composer-gap-md);
    }
  }
}

.maxContent > :first-child{
    justify-content: flex-start;
}

.maxContent > :last-child{
  justify-content: flex-end;
}

.maxContent > :only-child{
  justify-content: center;
}

.transparentBackground {
  .titleContainer {
    .title,
    .subtitle {
      color: white;
    }
  }
  .icons {
    .localizationDropdown {
      color: white;
    }
    .localizationLabel{
      color: white;
    }
    .localizationIcon{
      color: white;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
    .closeIcon,
    .menuIcon {
      color: white;
    }
  }
}

.openedContainer{
   background: var(--composer-html-background) !important;
   transition: all 0.3s ease;
}

@container (max-width: #{$composer-tablet-width}) {

  .maxContent{
    .logo{
      .logoImage{
        max-height: 50px;
      }
    }

    .icons {
      .localizationIcon,
      .closeIcon,
      .menuIcon {
        font-size: calc(1.5 * var(--composer-font-size-md)) !important;
        height: 25px;
        width: 25px;
        display: flex;
      }
    }
  }

  .dropdownMenuContainer {
    .dropdownMenuContent {
      .dropdownItemList {
        .socialMediaWrapper {
          .socialMediaLinks {
            .socialMediaLinksTitle {
              text-align: center;
            }
            .socialMediaLinksList {
              .socialMediaLink {
                .socialMediaIconContainer {
                  .socialMediaIcon {
                    font-size: calc(1.5 * var(--composer-font-size-md));
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

@container (max-width: #{$composer-phone-width}) {

  .maxContent{
    .logo{
      .logoImage{
        max-height: 40px;
      }
    }

    .titleContainer {
      display: none;
    }

  }
    
    .dropdownMenuContainer {
      flex-direction: column;

      .dropdownMenuContent {
        .dropdownRightSide {
          display: none;
        }
  
        .dropdownItemList {
          .dropdownItemContent{
            .dropdownItem{
              text-align: center;
            }
          }
          .socialMediaWrapper{
            justify-content: center;
            .socialMediaLinks {
              align-items: center;
              margin-top: var(--composer-gap-md);
              gap: var(--composer-gap-sm);
              .socialMediaLinksList {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: var(--composer-gap-xs);
                width: 100%;
                .socialMediaLink{
                  .socialMediaIconContainer{
                    .socialMediaIcon {
                      font-size: calc(1.5 * var(--composer-font-size-md));
                    }
                  }
                }
    
              }
              
            }
          }

        }
  
        .divider {
          display: none;
        }
      }
    }


}
