.container {
  .max-content {
    height: 100vh;
    display: flex;
    gap: var(--composer-gap-md);
  }

  .left {
    width: 100%;
    display: flex;
    .item {
      align-items: flex-start;
      padding: var(--composer-gap-lg) var(--composer-gap-xl);

      .content {
        text-overflow: ellipsis;
        white-space: nowrap;

        .title {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: var(--composer-gap-sm);
        }
      }
    }
  }

  .right {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--composer-gap-md);
    height: 100%;

    .top {
      flex: 2;
      display: flex;
      gap: var(--composer-gap-md);

      .item {
        flex: 1;
      }
    }

    .bottom {
      display: flex;
      gap: var(--composer-gap-md);
      flex: 2;

      .item {
        flex: 1;
      }
    }
  }

  .item {
    padding: var(--composer-gap-lg);
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 100%;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        position: absolute;
        left: -10px;
        transition: left 0.3s ease;
        width: calc(100% + var(--composer-gap-md));
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover .background-image img {
      left: 0;
    }

    .content {
      z-index: 5;
      display: flex;
      color: var(--composer-font-color-secondary);
      margin-top: auto;
      height: auto;
      white-space: normal;

      .title {
        font-weight: bold;
        color: var(--composer-font-color-secondary);
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-right: var(--composer-gap-md);
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .icons {
        font-size: 4rem;
        display: flex;
        align-items: center;
        margin-left: 0;
        transition: margin-right 0.3s ease;
        position: relative;
        width: 100px;
      }
    }

    .icon1,
    .icon2 {
      position: absolute;
    }

    .icon1 {
      left: 0;
    }

    .icon2 {
      left: 40px;
    }

    &:hover .icons .icon2 {
      left: 50px;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .container {
    padding-bottom: var(--composer-gap-lg);

    .max-content {
      display: grid;
      height: auto;
    }

    .left {
      grid-row: 1 / 2;
      height: 450px;

      .item {
        align-items: flex-start;
        padding: var(--composer-gap-xl);
        height: 100%;
      }
    }

    .right {
      grid-row: 2 / 3;
      display: flex;
      gap: var(--composer-gap-xs);
      height: 100%;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 400px;

      .content {
        .title {
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .container {
    .max-content {
      flex-direction: column;
      grid-template-rows: auto;
    }
  }

  .right {
    width: 100%;
  }

  .right .item {
    width: 100%;
  }

  .right .top,
  .right .bottom {
    flex-direction: column;
  }
}
