@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  background-color: var(--composer-html-background);
  padding-top: var(--composer-gap-sm);
  padding-bottom: var(--composer-gap-sm);

  .max-content {
    .title {
      margin-top: 0;
      margin-bottom: 0;
    }

    .subtitle {
      margin-top: 0;
      margin-bottom: 0;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      padding-top: var(--composer-gap-sm);
      padding-bottom: 0;

      .left-content {
        display: flex;
        justify-content: flex-start;
        font-size: 1rem;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--composer-gap-md);
        font-size: 1rem;

        >div,
        >a {
          .link {
            color: var(--composer-font-color-primary);
            padding: var(--composer-gap-xs) var(--composer-gap-sm);
            position: relative;
            white-space: nowrap;

            &:hover {
              >.subitems {
                display: flex;
              }
            }
          }

          .subitems {
            background-color: var(--composer-html-background);
            display: none;
            position: absolute;
          }

          >.link {
            >.subitems { // subitems
              left: 0;
              top: 100%;

              >div,
              >a {
                >.link {
                  >.subitems { // subsubitems
                    left: 100%;
                    top: 0;

                    >div,>a {
                      >.link {
                        content: "";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .right-content {
        display: flex;
        justify-content: flex-end;
        font-size: 1rem;
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {}

@container (max-width: #{$composer-phone-width}) {}