.container {
  width: 100%;
  padding: 50px 0;
  background-color: var(composer-html-background);

  .max-content {
    padding: 20px;
    max-width: var(--composer-content-width);
    margin: auto;

    .testimonials1 {
      display: block;
      width: 100%;
      .title {
        text-align: center;
        font-size: 3rem;
        margin-top: 45px;
        margin-bottom: 80px;
        color: var(--composer-primary-color);
      }
      .subtitle {
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        color: var(--composer-primary-color);
        margin-top: 50px;
      }
      .card-child {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .card {
          display: block;
          min-width: 250px;
          height: max-content;
          border-radius: 6px;
          flex: 1 1;
          border: var(--composer-tertiary-color);
          .profile {
            display: flex;
            margin: 0 auto 0 auto;
            width: max-content;
            img {
              border-radius: 100%;
              object-fit: cover;
              margin-bottom: 30px;
            }
            .profile-text {
              margin-left: 20px;
              .item-value1 {
                font-weight: 600;
                font-size: 1.5rem;
                margin-top: 3px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                color: var(--composer-font-color-primary);
              }
              .item-value2 {
                margin-top: 3px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                font-size: 1.2rem;
                text-transform: uppercase;
                color: var(--composer-font-color-primary);
              }
            }
          }
          .item-value3 {
            width: 90%;
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
            color: var(--composer-font-color-primary);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    background-color: var(--composer-html-background);
    .max-content {
      .testimonials1 {
        text-align: center;
        margin: 0;
        .card-child {
          gap: 60px;
        }
      }
    }
  }
}
