@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;
.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: var(--composer-gap-xl);
  .max-content {
    display: flex;
    gap: var(--composer-gap-xl);
    .wrapper {
      width: 100%;
      .content-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-xl);

          &.content-no-image {
            width: 100%;
          }
          > div {
            > div {
              > div {
                display: flex;
                align-items: stretch;
                height: 100%;
                > div {
                  height: auto;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
          .items {
            display: flex !important;
            flex-direction: column;
            gap: var(--composer-gap-md);
            align-items: center;
            .icons {
              font-size: 3rem;
              border-radius: 50%;
              display: inline-block;
              padding: var(--composer-gap-sm);
              background-color: #d39121;
              color: white;

              &.icons-no-image {
                color: var(--composer-font-color-secondary);
                background-color: var(--composer-primary-color);
              }
            }

            .longtext {
              font-size: 1.5rem;
              text-align: center;
              color: black;

              &.longtext-no-image {
                color: var(--composer-font-color-primary);
              }
            }

            .name {
              width: 100%;
              font-size: 1.5rem;
              text-align: center;
              color: #d39121;

              &.name-no-image {
                color: var(--composer-primary-color);
              }
            }
          }
          .images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--composer-gap-md);
            .image-container {
              .image {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
                transition: 0.3s;
                filter: grayscale(100%);
                &.active {
                  transform: scale(1.1);
                  filter: grayscale(0%);
                }
              }
            }
          }
        }
        .content {
          width: 30%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    background-size: cover;
    padding: var(--composer-gap-md) var(--composer-gap-lg) !important;
    .max-content {
      .wrapper {
        .content-wrapper {
          .content {
            width: 100%;
            .images {
              flex-direction: row;
              .image-container {
                .image {
                  width: 80px;
                  height: 80px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    background-size: cover;
    padding: var(--composer-gap-md) !important;
    .max-content {
      .wrapper {
        .content-wrapper {
          .content {
            width: 100%;
            .images {
              .image-container {
                .image {
                  width: 70px;
                  height: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
