@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    width: 100%;
    position: relative;
    background-color: color-mix(in srgb, var(--composer-primary-color), var(--composer-html-background) 95%);
    min-height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;

    .vector1 {
        position: absolute;
        left: 550px;
        top: 100px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--composer-font-color-primary);
        font-size: 6rem;

        &.animated {
            animation: animation1 1s infinite alternate;
        }
    }

    .vector2 {
        position: absolute;
        left: var(--composer-gap-lg);
        bottom: var(--composer-gap-lg);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--composer-font-color-primary);
        font-size: 6rem;

        &.animated {
            animation: animation1 1.3s infinite alternate;
        }
    }

    .vector3 {
        position: absolute;
        right: var(--composer-gap-xl);
        bottom: var(--composer-gap-md);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--composer-font-color-primary);
        font-size: 6rem;

        &.animated {
            animation: animation2 1s infinite alternate;
        }
    }

    @keyframes animation1 {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(17px);
            transform: translateY(17px);
        }
    }

    @keyframes animation2 {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: var(--composer-overlay-color);
    }

    .max-content {
        position: relative;
        z-index: 2;

        .items {
            &.with-image {
                .subtitle {
                    padding: 0;
                    background-color: transparent;
                    color: var(--composer-font-color-secondary) !important;

                    &::before {
                        background: var(--composer-font-color-secondary) !important;
                    }
                }

                .title,
                .description {
                    color: var(--composer-font-color-secondary) !important;
                }

                .pages {
                    .link {
                        .text {
                            color: var(--composer-font-color-secondary) !important;
                        }

                        .breadcrumb-link {
                            .crumberIcon {
                                color: var(--composer-font-color-secondary) !important;
                            }
                        }

                        .breadcrumb-link:hover {
                            .text,
                            .crumberIcon {
                                color: var(--composer-font-color-secondary) !important;
                                opacity: 0.75;
                            }
                        }
                    }

                    .crumberIcon {
                        color: var(--composer-font-color-secondary) !important;
                    }
                }
            }

            .subtitle {
                content: "";
            }

            .title {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }

            .description {
                content: "";
            }

            .pages {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: var(--composer-gap-sm);

                .link {
                    display: flex;
                    align-items: center;
                    gap: var(--composer-gap-sm);

                    .breadcrumb-link {
                        display: flex;
                        align-items: center;
                        gap: var(--composer-gap-xs);
                        text-decoration: none;
                        cursor: pointer;

                        .crumberIcon {
                            color: var(--composer-primary-color) !important;
                        }

                        &:hover {
                            .text {
                                color: var(--composer-primary-color);
                            }

                            .crumberIcon {
                                color: var(--composer-primary-color);
                            }
                        }
                    }

                    .text {
                        color: var(--composer-primary-color) !important;
                    }
                }

                .crumberIcon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.25rem !important;
                    height: 20px;
                    width: 20px;
                    flex-shrink: 0;
                    color: var(--composer-font-color-primary) !important;
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        min-height: calc(var(--composer-gap-xl) * 6);
    }
}

@container (max-width: #{$composer-phone-width}) {

    .vector1,
    .vector2,
    .vector3 {
        display: none !important;
    }

    .container {
        min-height: unset !important;
    }
}