@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  width: 100%;
  background: var(--composer-html-background);
  height: 100vh;

  .max-content {
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: end;
    overflow: hidden;

    .slider-parent {
      width: 100%;
      height: 100%;
      position: absolute;

      .carousel {
        width: 100%;
        height: 100%;

        .img {
          width: auto;
          height: 100vh;
          object-fit: cover;

          &.no-img {
            display: none !important;
          }
        }
      }

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 90%);
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
      }
    }

    .content-container {
      position: relative;
      z-index: 2;
      background-color: transparent;

      .box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: var(--composer-gap-lg);
        justify-content: space-between;

        .content-left,
        .content-right {
          display: flex;
          flex-wrap: wrap-reverse;
          align-items: end;
        }

        .content-left {
          align-items: end;
          row-gap: var(--composer-gap-sm);
          column-gap: var(--composer-gap-lg);

          .text {
            font-size: 1.5rem;
            color: white;
          }
        }

        .content-right {
          justify-content: end;
          gap: var(--composer-gap-sm);
          color: white;

          .icon {
            width: 30px;
            height: 30px;
          }
        }
      }

      .imageless {
        .content-left {
          .text {
            color: var(--composer-font-color-primary);
          }
        }

        .content-right {
          .icon {
            color: var(--composer-font-color-primary);
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .content-container {
        .box {
          flex-direction: row;

          .content-left {
            row-gap: var(--composer-gap-sm);
            column-gap: var(--composer-gap-md);

            .text {
              font-size: 1rem;
            }
          }

          .content-right {
            .icon {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .content-container {
        .box {
          align-items: end;
          flex-direction: row;
          flex-wrap: nowrap;

          .content-left {
            height: 100%;
            align-items: end;
            row-gap: var(--composer-gap-md);

            > div {
              width: 100% !important;
            }

            .text {
              width: 100%;
              text-align: start;
            }
          }

          .content-right {
            height: 100%;
            align-items: end;

            > div {
              display: flex;
              justify-content: end;
              width: 100% !important;
              height: fit-content;
            }
          }
        }
      }
    }
  }
}
