@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container {
    background-color: var(--composer-html-background);
    align-items: flex-start;

    .max-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: var(--composer-gap-md);
        padding: var(--composer-gap-xl);
        border-radius: 1rem;
        background-color: color-mix(in srgb,
                var(--composer-html-background),
                var(--composer-font-color-primary) 5%);


        @container (max-width: #{$composer-tablet-width}) {
            // padding: 4rem;
            gap: var(--composer-gap-md);
        }

        @container (max-width: #{$composer-phone-width}) {
            // padding: 2rem;
            gap: var(--composer-gap-md);
        }

        .header-row {
            display: flex;
            justify-content: space-between;
            align-items: center;


            @container (max-width: #{$composer-tablet-width}) {
                flex-direction: column;
                text-align: center;
                gap: var(--composer-gap-md);
            }

            .text-column {
                @container (max-width: #{$composer-tablet-width}) {
                    max-width: 100% !important;
                    display: flex;
                    flex-direction: column;
                }

                .subtitle {
                    &::before {
                        display: none !important;
                    }

                    padding-left: 0 !important;
                }

                .title,
                .description {
                    padding: 0 !important;
                }
            }

            .button-container {

                .button {
                    min-width: auto;

                    .button-text {
                        text-align: center;
                        content: "";
                    }
                }
            }
        }

        .media-wrapper {
            position: relative;
            overflow: hidden;

            .media {
                max-width: 100%;
            }

            .overlay {
                position: absolute;
                inset: 0;
            }
        }
    }
}