@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container {
    background-color: var(--composer-html-background);
    align-items: flex-start;

    .max-content {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: var(--composer-gap-xl);
        border-radius: var(--composer-border-radius-md);
        background-color: color-mix(in srgb,
                var(--composer-html-background),
                var(--composer-font-color-primary) 5%);

        padding: 80px 50px 0;

        @container (max-width: #{$composer-tablet-width}) {
            padding: 80px 40px 0;
            height: auto;
        }

        @container (max-width: #{$composer-phone-width}) {
            padding: 50px 20px 0;
            gap: var(--composer-gap-lg);
            height: auto;
        }

        &.no-card {
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            height: auto;

            .media-wrapper {
                border-radius: var(--composer-border-radius-sm);
            }
        }

        &.no-media:not(.no-card) {
            padding-bottom: 80px;
            height: auto;

            @container (max-width: #{$composer-tablet-width}) {
                padding-bottom: 80px;
            }

            @container (max-width: #{$composer-phone-width}) {
                padding-bottom: 50px;
            }
        }

        .header-row {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            gap: var(--composer-gap-xl);
            align-items: flex-end;
            flex-wrap: wrap;

            .text-column {
                flex: 0 0 70%;
                width: 70%;
                text-align: left;

                .subtitle,
                .title,
                .description {
                    text-align: left !important;
                    align-self: flex-start !important;
                    margin-left: 0 !important;
                    margin-right: auto !important;
                }
            }

            .button-column {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: var(--composer-gap-sm);

                .button {
                    min-width: auto;

                    .button-text {
                        text-align: center;
                    }
                }
            }

            @container (max-width: #{$composer-phone-width}) {
                flex-direction: column;
                align-items: flex-start;
                gap: var(--composer-gap-md);

                .text-column {
                    flex: 1 1 auto;
                    width: 100%;
                }

            }
        }

        .media-wrapper {
            border-radius: var(--composer-border-radius-sm) var(--composer-border-radius-sm) 0 0;
            position: relative;
            overflow: hidden;

            .media {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .overlay {
                background-color: var(--composer-overlay-color);
                position: absolute;
                inset: 0;
            }
        }
    }
}