@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  height: 100%;
  position: relative;
  padding: 0 !important;
  overflow: hidden;

  .max-content {
    max-width: unset;
    position: relative;
    background: black;

    .carousel-wrapper {
      position: relative;

      .carousel {
        width: 100%;
        text-align: center;
        margin: 0 auto;

        :global(.slick-prev),
        :global(.slick-next) {
          z-index: 20;
          width: 40px;
          height: 40px;
          top: 55%;

          @container (max-width: #{$composer-tablet-width}) {
            top: 50%;
          }

          &:before {
            font-size: 40px;
            color: white;
            opacity: 1;
          }
        }

        :global(.slick-prev) {
          left: 25px;
        }

        :global(.slick-next) {
          right: 25px;
        }

        :global(.slick-dots) {
          position: absolute;
          bottom: var(--composer-gap-lg);
          display: flex !important;
          justify-content: center;
          width: 100%;
          padding: 0;
          margin: 0;
          list-style: none;
          z-index: 10;

          li {
            margin: 0 5px;

            button {
              font-size: 0;
              line-height: 0;
              display: block;
              width: 10px;
              height: 10px;
              padding: 5px;
              cursor: pointer;
              color: transparent;
              border: 0;
              outline: none;
              background: rgba(255, 255, 255, 0.5);
              border-radius: 50%;
            }

            &.slick-active button {
              background: white;
            }
          }
        }

        :global(.slick-list) {
          :global(.slick-track) {
            :global(.slick-slide) {
              :global(.slick-slide)>div {
                padding: 0 var(--composer-gap-xl);

                @container (max-width: #{$composer-tablet-width}) {
                  padding: 0 var(--composer-gap-lg);
                }

                @container (max-width: #{$composer-phone-width}) {
                  padding: 0 var(--composer-gap-md);
                }
              }
            }
          }
        }

        .card {
          width: 100%;
          height: 100vh;
          position: relative;

          .button-wrapper {
            font-size: 6rem;
            background-color: transparent;
            color: transparent;
            position: relative;
            cursor: pointer;
            top: 45%;
            transform: translate(0, -50%);
            z-index: 2;
            -webkit-text-stroke: 1px white;
            text-transform: uppercase;
            transition: var(--composer-transition-duration-normal) ease-out;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            margin-right: var(--composer-gap-xl) !important;

            &:hover {
              color: white;
              -webkit-text-stroke: 1px white;
            }

            @container (max-width: #{$composer-tablet-width}) {
              font-size: 3rem;
            }

            @container (max-width: #{$composer-phone-width}) {
              font-size: 2rem;
            }

            .link-wrapper {
              width: 100%;
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }

            .number {
              font-size: 1rem;
              color: white;
              align-self: flex-start;
              margin: 0;
              margin-top: var(--composer-gap-xs);
            }

            .title-text {
              white-space: nowrap;
              flex-shrink: 0;
              width: max-content;

              &.active {
                color: white;
              }
            }
          }
        }
      }
    }

    .image-box {
      position: absolute;
      height: 100%;
      right: 0;
      width: 65%;
      z-index: 0;
      overflow: hidden;

      @container (max-width: #{$composer-tablet-width}) {
        width: 100%;
      }

      .image-overlay {
        background-color: var(--composer-overlay-color);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 3;
      }

      .overlay {
        width: 100%;
        height: 100%;
        position: relative;

        .image {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: var(--composer-transition-duration-normal) ease-in-out;
          opacity: 0;
          transform: scale(1.05);

          &.active {
            opacity: 1;
            transform: scale(1);
            z-index: 2;
          }
        }
      }
    }

    .text-box {
      width: 100%;
      margin: auto;
      position: absolute;
      top: 63%;
      left: 50%;
      transform: translateX(-50%);
      height: calc(37vh - var(--composer-gap-md));
      z-index: 5;

      @container (max-width: #{$composer-tablet-width}) {
        top: 58%;
        height: calc(42vh - var(--composer-gap-md));
      }

      @container (max-width: #{$composer-phone-width}) {
        height: calc(45vh - var(--composer-gap-md));
        top: 55%;
      }

      .decorator-line {
        background-color: white;
        width: 20px;
        height: 2px;
        position: absolute;
        top: -15px;
        left: var(--composer-gap-xl);

        @container (max-width: #{$composer-tablet-width}) {
          left: var(--composer-gap-lg);
        }

        @container (max-width: #{$composer-phone-width}) {
          left: var(--composer-gap-md);
          top: calc(-1 * var(--composer-gap-sm));
        }
      }

      .text {
        color: white;
        transition: var(--composer-transition-duration-normal);
        opacity: 0;
        width: 100%;
        max-width: 35%;
        padding: 0 var(--composer-gap-xl);
        overflow: hidden;
        max-height: 100%;
        margin: 0;
        text-align: left;

        @container (max-width: #{$composer-tablet-width}) {
          padding: 0 var(--composer-gap-lg);
          max-width: 100%;
        }

        @container (max-width: #{$composer-phone-width}) {
          padding: 0 var(--composer-gap-md);
          max-width: 100%;
        }

        &.visible {
          opacity: 1;
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    padding: 0 !important;
    overflow: hidden;
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    padding: 0 !important;
    overflow: hidden;
  }
}