@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container{
    background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
    .max-content{
        .header{
            align-items: center; 
            .subtitle{
                transform: none !important;
                height: calc(2.75rem + 2 * var(--composer-gap-xs)) !important; 
                display: flex;
                align-items: center;
                &::before{
                    display: none !important
                }
            }
            .title{
                color: var(--composer-font-color-primary);
            }
            .title, .description{
                text-align: center;
            }
        }
    }
    .button-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--composer-gap-sm);
        justify-content: center;
        align-items: center;
        .button{
            .button-text{
                content: "";
            }
        }
    }
}