.container {
    width: 100%;
    padding: 50px 20px;
    justify-content: center;
    display: flex;
    .max-content {
        max-width: var(--composer-content-width);
        justify-content: center;
        display: flex;
        .child {
            display: flex;
            align-items: center;
            justify-content: center;
            .img-div {
                width: 25%;
                .img {
                    border-radius: 50%;
                    width: 80%;
                    border: 0.5px solid white;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }
            }
            .right-side {
                width: 30%;
                .title {
                    font-size: 2rem;
                    font-weight: 900;
                    margin-bottom: 30px;
                    color: var(--composer-primary-color);
                    position: relative;
                    padding-left: 70px;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 40px;
                        height: 2px;
                        background-color: var(--composer-primary-color);
                        left: 0;
                        top: 50%;
                        z-index: 1;
                    }
                }
                .subtitle {
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-bottom: 30px;
                    color: var(--composer-primary-color);
                }
                .description {
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin-bottom: 30px;
                    opacity: 0.75;
                    color: var(--composer-font-color-primary);
                }
                .button {
                    padding: 15px 40px;
                    border-radius: var(--composer-border-radius);
                    background-color: var(--composer-secondary-color);
                    color: white;
                    font-size: 1.5rem;
                    font-weight: 400;
                    transition: all 0.3s ease-in-out;
                    border: 1px solid var(--composer-secondary-color);
                    cursor: pointer;
                    margin-top: 30px;
                    &:hover {
                        background-color: transparent;
                        color: var(--composer-secondary-color);
                        border: 1px solid var(--composer-secondary-color);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        .max-content {
            .child {
                display: flex;
                .img-div {
                    width: 50%;
                    .img {
                        width: 90%;
                    }
                }
                .right-side {
                    width: 100%;
                    .title {
                        font-size: 1.5rem;
                    }
                    .subtitle {
                        font-size: 1.6rem;
                        margin-bottom: 5px;
                    }
                    .description {
                        font-size: 0.8rem;
                    }
                    .button {
                        font-size: 1rem;
                        padding: 10px 20px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}