@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    .wrapper {
        display: flex;
        width: 100%;
        padding-left: calc(var(--padding-md) * 4) !important;

        .left-content {
            width: calc(var(--composer-content-width) / 2) !important;
            max-width: 100% !important;
            flex-wrap: wrap;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--gap-md);

            &.full-width {
                min-width: 100%;
                padding: 0 calc(var(--padding-md) * 4) 0 0;
            }

            .rating-container {
                display: flex;
                align-items: center;
                gap: var(--composer-gap-sm);
                font-size: 2rem;
                color: var(--composer-primary-color);
                justify-content: flex-start !important;
                margin: 0;

                .rating-content {
                    .icon {
                        content: "";
                    }
                }

                .rating-number {
                    text-align: left;
                    content: "";
                }
            }

            .sub-title {
                overflow-wrap: anywhere;
                text-align: left;
                width: 100%;
            }

            .title {
                overflow-wrap: anywhere;
                text-align: left;
                width: 100%;
            }

            .description {
                overflow-wrap: anywhere;
                text-align: left;
                width: 100%;
            }

            .child-container {
                display: grid;
                gap: var(--gap-md);

                .button-container {
                    justify-content: flex-start;
                    display: flex;
                    gap: var(--composer-gap-md);
                    flex-wrap: wrap;

                    .button {
                        content: "";
                    }

                    .button-text {
                        content: "";
                    }
                }

                .stats-container {
                    display: flex;
                    justify-content: flex-start !important;
                    flex-wrap: wrap;
                    gap: var(--gap-lg);

                    .stat-item {
                        text-align: start;
                        gap: var(--gap-md);
                        display: flex;
                        flex-direction: column;

                        .stat-number {
                            color: var(--composer-primary-color);
                            text-align: left !important;
                            font-size: calc(var(--composer-font-size-lg) * 2);
                            font-weight: 550;
                        }

                        .stat-description {
                            flex-wrap: wrap;
                            text-align: start;
                        }
                    }
                }
            }
        }


        .right-content {
            width: 50%;
            flex-shrink: 0;
            display: flex;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            &.full-width {
                width: 100%;
                padding: 0 calc(var(--padding-md) * 4) 0 0;
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        .wrapper {
            flex-direction: column;
            padding: 0 !important;
            gap: calc(var(--gap-xl) * 2);

            .left-content {
                padding: 0 calc(var(--padding-md) * 4);
                width: 100% !important;
                margin-left: 0;

                .stats-container {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }

            .right-content {
                width: 100%;
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        .wrapper {
            .left-content {
                .child-container {
                    .button-container {
                        flex-direction: column;
                        align-content: flex-start;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}