.container {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    @media screen and (max-width:360px) {
        padding: 0;        
    }

    .max-content {
        text-align: center;
        font-weight: bold;
        width: 100%;
        margin: 0 auto;
        max-width: var(--composer-content-width);

    .title {
        @media screen and (max-width: 360px) {
            font-size: 14px;
        }

        margin-top: 80px;
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 2px;
        word-spacing: 3px;
        color: var(--composer-font-color-primary);
    }

    .subtitle {
        font-size: 36px;
        margin: 0;
        color: var(--composer-primary-color);

        @media screen and (max-width: 360px) {
            font-size: 35px;
        }
    }

    .description {
        font-size: 1.6rem;
        font-weight: 240;
        color: var(--composer-font-color-primary);

        @media screen and (max-width:360px) {
            padding: 0 20px;
            font-size: 1.3rem;
        }

    }

    .line {
        height: 7px;
        width: 90px;
        margin: auto;
        margin-top: 20px;
        background: var(--composer-primary-color);
        opacity: 0.8;
    }

    .box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 50px;
        padding-top: 5rem;
        row-gap: 50px;
        @media screen and (max-width: 360px) {
            padding-top: 20px;
        }
        .button {
            display: flex;
            width: 250px;
            height: 80px;
            background-color: transparent;
            gap: 10px;
            letter-spacing: 2px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: var(--composer-font-color-primary);
            border: 2px solid var(--composer-primary-color);
            font-size: 14px;
            font-weight: bold;
            border-radius: var(--composer-border-radius);
            transition: 0.4s;
        }

        .button:hover {
            background-color: var(--composer-primary-color);
            color: var(--composer-font-color-secondary);

            .icon {
                @media screen and (max-width:360px) {
                    transform: scale(1);
                }
            }
        }
    }
}
}

@media only screen and (max-width: 768px) {
    .container {
        .box {
            padding-top: 1.875rem;
        }
    }
}