@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;
.container {
  height: 100vh;
  .max-content {
    height: 100%;
    .content-box {
      height: 100%;
      display: flex;
      border-radius: var(--composer-border-radius-xl);
      background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
      .content {
        height: 100%;
        display: flex;
        gap: var(--composer-gap-xl);
        width: 100%;
        padding: var(--composer-gap-md);
        overflow: hidden;
        .left-side {
          flex: 1;
          width: 100%;
          display: flex;
          align-items: center;
          .image-box {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: var(--composer-gap-xl);
            align-items: center;
            height: 100%;
            .image {
              max-height: 100%;
              width: 75%;
              object-fit: cover;
              &.image-full {
                height: 100%;
                width: auto;
              }
            }
          }
        }
        .right-side {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .right-content {
            gap: var(--composer-gap-md);
            .title {
              font-size: 4rem;
              margin: 0;
              &.title-no-image {
                text-align: center;
              }
            }

            .description {
              color: var(--composer-tertiary-color);
              font-size: 1.5rem;
              &.description-no-image {
                text-align: center;
              }
            }

            .button-wrapper {
              display: flex;
              flex-wrap: wrap;
              gap: var(--composer-gap-md);
              align-items: stretch;

              &.button-wrapper-no-image {
                display: flex;
                justify-content: center;
              }
              .button {
                height: 100%;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .content-box {
        .content {
          flex-direction: column;
          gap: 0px;
          padding: var(--composer-gap-md);
          .left-side {
            justify-content: center;
            max-height: 50vh;

            &.left-side-full-width {
              max-height: 100%;
            }
            .image-box {
              width: 100%;
              padding: 0px;
              .image {
                width: auto;
              }
            }
          }

          .right-side {
            .right-content {
              align-items: center;
              .title {
                text-align: center;
              }
              .description {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .content-box {
        align-items: center;
        .content {
          flex-direction: column;
          gap: 0px;
          height: 80%;
          .left-side {
            justify-content: center;
            .image-box {
              width: auto;

              &.image-box-full-width {
                padding: 0px;
              }
              .image {
                max-height: auto;
                width: 100%;
              }
            }
          }
          .right-side {
            .right-content {
              .button-wrapper {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
