@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

@mixin transition {
  transition: all 1s ease-out;
}

@mixin textEllipsis($line, $important: "") {
  * {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line#{$important};
  }
}

.container {
  background: white;
  .max-content {
    .pagination {
      width: max-content;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

      .page-number {
        cursor: pointer;
        font-size: 1rem;
        padding: var(--composer-gap-xs);
        margin: var(--composer-gap-xs) 0;
        color: rgba(#000, 0.4);

        &.active,
        &:hover {
          color: #000;
        }
      }
    }

    .slider {
      height: 42vw;

      .wrapper {
        padding: 0 12vw;
        position: relative;
        height: 100%;
        opacity: 0;
        @include transition;

        &.start-animation {
          opacity: 1;

          .content {
            left: 0vw;
          }

          .text-container {
            .title {
              top: 0;
              opacity: 1;
              @include textEllipsis(2);
            }
            .bottom-section {
              bottom: 0;
              opacity: 1;
            }
          }

          .image {
            right: 9vw;
            box-shadow: rgba(114, 116, 101, 0.2) 0px 0px 20px;

            &.full-image{
              right: 50% !important;
              transform: translateX(50%) !important;
            }
          }
        }

        .content {
          width: 100%;
          height: 32vw;
          margin-top: 5vw;
          background: white;
          position: relative;
          left: -100vw;
          border-radius: var(--composer-border-radius-sm);
          @include transition;
        }

        .text-container {
          padding: 5vw;
          width: 40vw;
          position: absolute;
          top: 5vw;
          z-index: 1;

          &.full-text-container{
            width: 76vw;
            text-align: center;
          }

          .title {
            font-size: 3rem;
            position: relative;
            top: -40vh;
            opacity: 0;
            @include transition;
          }

          .bottom-section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25vw;
            margin: auto;
            gap: var(--composer-gap-lg);
            bottom: -20vw;
            opacity: 0;
            @include transition;

            .description {
              font-size: 1.5rem;
              text-align: center;
              margin-bottom: 0;
              color: rgba($color: #000000, $alpha: 0.5);
              @include textEllipsis(4);
            }

            .button {
            }

            &.bottom-section-line {
              &::before {
                content: "";
                position: absolute;
                width: 6vw;
                height: 1px;
                background: rgba($color: #000000, $alpha: 0.5);
                z-index: 99999;
                left: -7vw;
                top: 1.75vw;
              }
            }
          }
        }

        .image {
          position: absolute;
          right: -60vw;
          top: 1vw;
          width: 50vw;
          height: 30vw;
          @include transition;
        }
      }
    }
  }
}

@container (max-width: #{$composer-desktop-width}) {
  .container {
    .max-content {
      padding: 0 4vw !important;
      .slider {
        .wrapper {
          padding: 0 !important;
        }
        .text-container {
          .title {
            font-size: 2rem !important;
          }

          .bottom-section {
            width: 30vw !important;
            gap: var(--composer-gap-md) !important;
            .description {
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .slider {
        .text-container {
          .title {
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .slider {
        .text-container {
          padding: 0 !important;
          .title {
            font-size: 1rem !important;
          }

          .bottom-section {
            gap: var(--composer-gap-sm) !important;
            .description {
              font-size: 0.5rem !important;
            }
          }
        }
      }
    }
  }
}
