@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

@mixin transitionAll {
  transition: all 1s ease-out;
}

@mixin transitionOpacity {
  transition: opacity 0.1s linear;
}

@mixin textEllipsis($line, $important: "") {
  * {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line#{$important};
  }
}

@mixin lineBeforeTop($top, $important: "") {
  &.bottom-section-line {
    &::before {
      top: $top#{$important};
    }
  }
}

.container {
  background: white;
  .max-content {
    .pagination {
      width: max-content;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

      .page-number {
        cursor: pointer;
        font-size: 1rem;
        padding: var(--composer-gap-xs);
        margin: var(--composer-gap-xs) 0;
        color: rgba(#000, 0.4);

        &.active,
        &:hover {
          color: #000;
        }
      }
    }

    .slider {
      height: 42vw;

      .wrapper {
        padding: 0 12vw;
        position: relative;
        height: 100%;
        opacity: 0;

        &.animation {
          opacity: 1;
          @include transitionAll;

          .content {
            left: 0vw;
            @include transitionAll;
          }

          .text-container {
            &.full-text-container {
              left: 0;
            }

            .title {
              top: 0;
              opacity: 1;
              @include textEllipsis(2);
              @include transitionAll;
            }
            .bottom-section {
              bottom: 0;
              opacity: 1;
              @include transitionAll;
            }
          }

          .image {
            right: 9vw;
            opacity: 1;
            border-radius: var(--composer-border-radius-xs);
            @include transitionAll;

            &.full-image {
              right: 50% !important;
              transform: translateX(50%) !important;
            }
          }
        }

        .content {
          width: calc(100% - 2vw);
          height: 32vw;
          margin-top: 5vw;
          background: white;
          position: relative;
          left: -100vw;
          border-radius: var(--composer-border-radius-sm);
          box-shadow: 0 0 10px rgb(191, 191, 191);
          margin: 5vw 1vw 1vw 1vw;
        }

        .text-container {
          padding: 5vw;
          width: 45vw;
          position: absolute;
          top: 5vw;
          z-index: 1;

          &.full-text-container {
            width: 100%;
            text-align: center;
            top: 9.5vw;

            .bottom-section {
              width: max-content; 
              max-width: 50vw; 
            }
          }

          .title {
            font-size: 3rem;
            position: relative;
            top: -40vh;
            opacity: 0;
            @include transitionOpacity;
          }

          .bottom-section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25vw;
            margin: auto;
            gap: var(--composer-gap-lg);
            bottom: -20vw;
            opacity: 0;
            @include transitionOpacity;

            .description {
              font-size: 1.5rem;
              text-align: center;
              margin-bottom: 0;
              color: rgba($color: #000000, $alpha: 0.5);
              @include textEllipsis(4);
            }

            .button {
            }

            &.bottom-section-line {
              &::before {
                content: "";
                position: absolute;
                width: 6vw;
                height: 1px;
                background: rgba($color: #000000, $alpha: 0.5);
                z-index: 99999;
                left: -7vw;
                top: 1.75vw;
              }
            }
          }
        }

        .image {
          position: absolute;
          right: -60vw;
          top: 1vw;
          width: 50vw;
          height: 30vw;
          opacity: 0;
          box-shadow: rgba(114, 116, 101, 0.2) 0px 0px 20px;
          @include transitionOpacity;

          &.full-image {
            top: 4vw;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-desktop-width}) {
  .container {
    .max-content {
      padding: 0 4vw !important;
      .slider {
        .wrapper {
          padding: 0 !important;
        }
        .text-container {
          .title {
            font-size: 2rem !important;
          }

          .bottom-section {
            gap: var(--composer-gap-md) !important;
            
            .description {
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .slider {
        .wrapper {
          .content {
            width: calc(100% - 4vw);
            margin: 5vw 2vw 1vw 2vw;
          }

          &.animation{
            .image {
              right: 2vw;
            }

            .text-container {
              left: 5vw;
            }
          }
        }
        .image {
          box-shadow: rgba(114, 116, 101, 0.2) 0px 0px 10px !important;
        }
        .text-container {
          .title {
            font-size: 1.5rem !important;
          }

          .bottom-section {
            @include lineBeforeTop(2.5vw, !important);
          }

          &.full-text-container {
            top: 5.5vw !important;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .slider {
        height: 60vw;

        .wrapper{
          .content {
            height: 50vw;
          }
        }

        .image {
          box-shadow: rgba(114, 116, 101, 0.2) 0px 0px 5px !important;
          top: 0vw;
          width: 70vw !important;
          height: 40vw !important;

          &.full-image {
            top: 6.5vw !important;
          }
        }

        .text-container {
          top: 12vw !important;
          padding: 0 !important;

          .title {
            font-size: 1rem !important;
          }

          .bottom-section {
            width: 60vw !important;
            gap: var(--composer-gap-sm) !important;
            &.bottom-section-line {
              &::before {
                display: none;
              }
            }

            .description {
              font-size: 1em !important;
              max-width: 75vw;
              @include textEllipsis(2, !important);
            }
          }

          &.full-text-container {
            top: 9.5vw !important;
          }
        }
      }
    }
  }
}
