@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.1);
  }
}

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-lg);

    .header {

      .title,
      .subtitle,
      .description,
      .button-container,
      .button,
      .button-text,
      .button-icon {
        content: "";
      }
    }

    .container {
      display: flex;
      width: 100%;

      .columns-container {
        display: flex;
        flex: 1;
        width: 100%;

        .column-item {
          flex: 1;

          &:first-child {
            .content-item {
              justify-content: flex-start;
            }
          }

          &.animation1:hover {
            .content-item {
              .hover-line {
                width: 100%;
                left: 0;
              }
            }
          }

          &.animation2:hover {
            .title-container {
              .column-title {
                color: var(--composer-primary-color);
                background-color: var(--composer-font-color-secondary);
              }
            }
          }

          &.animation3:hover {
            .column-button-container {
              .column-button {
                .pulse-wrapper {
                  animation-name: pulse;
                  animation-duration: 1.5s;
                  animation-timing-function: ease-in-out;
                  animation-iteration-count: infinite;
                  animation-direction: alternate;
                }
              }
            }
          }

          .title-container {
            margin: 0;
            margin-bottom: var(--composer-gap-md);
            height: var(--composer-gap-xl);
            display: flex;
            align-items: center;
            justify-content: center;

            .column-title {
              color: var(--composer-font-color-secondary);
              background-color: var(--composer-primary-color);
              padding: var(--composer-gap-md);
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              height: auto;
              overflow: hidden;
              transition: 0.8s;

              &.empty {
                display: none;
              }
            }
          }

          .content-item {
            border-bottom: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
            min-height: var(--composer-gap-xl);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--composer-gap-sm);
            position: relative;

            .hover-line {
              left: 0;
              position: absolute;
              width: 0;
              height: 1px;
              background-color: var(--composer-primary-color);
              bottom: -1px;
              transition: width 0.8s ease, left 0.8s ease;
              z-index: 10;
            }

            .content-icon {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              width: calc(var(--composer-gap-md) + var(--composer-gap-xs));
              height: calc(var(--composer-gap-md) + var(--composer-gap-xs));

              .icon {
                width: var(--composer-gap-md);
                height: var(--composer-gap-md);
                color: var(--composer-font-color-primary);
              }
            }

            .content-text {
              color: var(--composer-font-color-primary);
              text-align: left;
              width: unset;

            }
          }

          .column-button-container {
            padding: var(--composer-gap-md);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--composer-gap-md);
            flex-wrap: wrap;
          }

          .column-button {
            content: "";
            width: 100%;
            justify-content: center;

            .button-icon {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              width: calc(var(--composer-gap-md) + var(--composer-gap-xs));
              height: calc(var(--composer-gap-md) + var(--composer-gap-xs));
            }

            .button-text {
              margin-left: var(--composer-gap-sm);
            }
          }
        }
      }
    }

    .dots {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: fit-content;
      gap: var(--composer-gap-sm);
      list-style-type: none;
      padding: 0;
      margin-top: var(--composer-gap-md);

      .pulse-wrapper {
        border: none;
        color: var(--composer-font-color-primary);
        opacity: 0.5;
        transition: 0.3s;
        content-visibility: hidden;
        width: var(--composer-gap-sm);
        height: var(--composer-gap-sm);
        background: var(--composer-font-color-primary);
        border-radius: var(--composer-border-radius-sm);
        margin: 0;
        padding: 0;
        cursor: pointer;
      }

    }

    .dots :global(li.slick-active) .pulse-wrapper {
      opacity: 1;
    }

    .slider {
      display: none;
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    padding: calc(var(--composer-gap-lg) * 2) var(--composer-gap-lg) !important;

    .max-content {
      .container {
        display: none !important;
      }

      .slider {
        display: flex;
        width: 100%;

        .slider-container {
          flex: 1;
          width: 100%;
          position: relative;

          :global(.slick-slider) {
            height: 100%;

            :global(.slick-list),
            :global(.slick-track) {
              height: 100%;
            }
          }

          .column-item {
            display: flex !important;
            flex-direction: column;
            height: 100%;

            .title-container {
              margin: 0;
              margin-bottom: var(--composer-gap-md);
              height: var(--composer-gap-xl);
              display: flex;
              align-items: center;
              justify-content: center;

              .column-title {
                color: var(--composer-font-color-secondary);
                background-color: var(--composer-primary-color);
                padding: var(--composer-gap-sm) var(--composer-gap-md);
                border-radius: var(--composer-border-radius-sm);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: auto;
                width: 100%;
                overflow: hidden;

                &.empty {
                  display: none;
                }
              }
            }

            .content-item {
              padding: var(--composer-gap-md);
              min-height: var(--composer-gap-xl);
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: var(--composer-gap-sm);
              border-bottom: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.5);

              .content-label {
                color: var(--composer-font-color-primary);
                font-weight: bold;
                text-align: left;
                flex: 1;
              }

              .content-icon {
                margin-left: initial;
                margin-right: initial;

                .icon {
                  width: var(--composer-gap-md);
                  height: var(--composer-gap-md);
                  color: var(--composer-font-color-primary);
                }
              }

              .content-text {
                color: var(--composer-font-color-primary);
                text-align: right;
              }
            }

            .column-button-container {
              padding: var(--composer-gap-md);
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: auto;
            }
          }
        }
      }

      .dots {
        display: flex;
        justify-content: center;
        margin: var(--composer-gap-md) auto 0 auto;
        width: 100%;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    padding: var(--composer-gap-xl) var(--composer-gap-md) !important;

    .max-content {
      gap: var(--composer-gap-md);

      .slider {
        .slider-container {
          flex: 1;
          width: 100%;

          .column-item {
            .title-container {
              .column-title {
                max-width: calc(var(--composer-gap-xl) * 3);
                width: fit-content;
                font-size: 1rem;
                padding: var(--composer-gap-xs);

                &.empty {
                  display: none;
                }
              }
            }

            .content-item {
              padding: var(--composer-gap-md);
              min-height: var(--composer-gap-md);

              .content-text {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .dots {
        position: relative;
        display: flex;
        justify-content: center;
        margin: var(--composer-gap-md) auto 0 auto;
        width: 100%;
      }
    }
  }
}