.container {
  max-width: 650px;
  border-radius: var(--composer-border-radius-lg);

  container-name: container;
  container-type: inline-size;
  .max-content {
    .content {
      display: flex;
      flex-direction: column;
      box-shadow: var(--composer-box-shadow);
      background-color: var(--composer-html-background);
      gap: var(--composer-gap-md);

      .top-wrapper {
        position: relative;
        width: 100%;
        text-align: center;
        .exit-icon {
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          position: absolute;
          z-index: 10;
          right: 0;
          top: 0;
          margin-top: var(--composer-gap-xs);
          margin-right: var(--composer-gap-xs);
          color: var(--composer-font-color-primary);
        }
        .wrapper {
          position: relative;
          width: 100%;
          text-align: center;
          height: auto;
          top: 0;

          .image {
            width: 100%;
            height: 100%;
            max-height: 100%;
            position: absolute;
            object-fit: cover;
            left: 0px;
            top: 0px;
            z-index: 1;
          }
          .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background-color: rgba(var(--composer-font-color-secondary-rgb), 0.3);
            z-index: 2;
          }

          .first-header {
            text-align: center;
            margin: auto;
            color: var(--composer-font-color-primary);
            padding: var(--composer-gap-lg) var(--composer-gap-md);
            z-index: 3;
            word-break: break-word;
            position: relative;
          }
        }
      }

      .second-div {
        align-items: center;
        .second-header {
          text-align: center;
          word-break: break-word;
        }
        .notice-content {
          width: 80%;
          word-break: break-word;
        }
      }
    }
    .button-background {
      width: 100%;
      background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%) !important;
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        height: auto;
        min-width: 100px;
        text-align: center;
        background-color: var(--composer-primary-color);
        color: var(--composer-font-color-secondary);
        margin: var(--composer-gap-md);
        padding: var(--composer-gap-sm) var(--composer-gap-md);
        border-radius: var(--composer-border-radius-sm);
        cursor: pointer;
        transition: background-color 0.3s;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
        font-size: 1rem;

        &:hover {
          background-color: var(--composer-primary-color);
        }
      }

      .button:not(:first-child) {
        margin-right: 10px;
      }
    }
  }
  @container container (min-width: 480px) {
    .max-content {
      .button-background {
        .button {
          &.first-button {
            margin-right: 0;
          }
        }
      }
    }
  }
  @container container (max-width: 480px) {
    .max-content {
      .button-background {
        flex-direction: column;
        .button {
          text-align: center;
          &.first-button {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}