@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss"
as *;

.container {
  .max-content {
    align-items: stretch;

    .header {
      align-items: flex-start;
      text-align: left;
      width: 100%;
      padding: 0 var(--composer-gap-md);

      .subtitle,
      .title,
      .description {
        content: "";
      }
    }

    .carousel {
      width: 100%;
      overflow: hidden;
      padding: 0 var(--composer-gap-md);
      position: relative;

      :global(.slick-slide) {
        padding: 0 calc(var(--composer-gap-md) / 2);
        margin-bottom: calc(2 * var(--composer-gap-md));
        box-sizing: border-box;
        height: auto;
        display: flex;
        align-items: stretch;
      }

      :global(.slick-list),
      :global(.slick-track) {
        display: flex;
        align-items: stretch;
      }

      :global(.slick-slide) {
        flex-direction: column;
      }

      :global(.slick-slide)>div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      .dots {
        display: flex !important;
        width: 100%;
        gap: calc(var(--composer-gap-sm) * 1.5);
        list-style-type: none;
        padding: 0;
        bottom: var(--composer-gap-xs);
        position: absolute;
        left: 0;
        right: 0;
        justify-content: center;
        z-index: 2 !important;

        .dot-button {
          border: none;
          transition: all var(--composer-transition-duration-normal) ease;
          content-visibility: hidden;
          background-color: var(--composer-font-color-secondary);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          cursor: pointer;
          padding: 0;
        }

        :global(.slick-active) .dot-button {
          width: 40px;
          border-radius: var(--composer-border-radius-md);
          transform: none;
        }


      }
    }

    .dots:not(.dots-colored) {
      .dot-button {
        background-color: var(--composer-primary-color);
      }

      :global(.slick-active) .dot-button {
        background-color: var(--composer-primary-color);
      }
    }



    .dots-colored {
      .dot-button {
        background-color: var(--composer-font-color-secondary);
      }

      :global(.slick-active) .dot-button {
        background-color: var(--composer-font-color-secondary);
      }
    }

    .card {
      margin: 0;
      position: relative;
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
      padding: var(--composer-gap-lg);
      background-color: color-mix(in srgb,
          var(--composer-html-background),
          var(--composer-font-color-primary) 5%);
      border-radius: var(--composer-border-radius-md);
      gap: var(--composer-gap-md);
      flex: 1 1 auto;
      height: 100%;
      min-height: 0;
      width: 100% !important;

      .image-container {
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        width: 220px;
        max-width: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .image {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all var(--composer-transition-duration-slow) var(--composer-transition-easing);
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--composer-overlay-color);
          border-radius: inherit;
        }

        &.no-round {
          border-radius: 0;

          .image {
            border-radius: 0;
            font-size: 15rem;
          }

          .overlay {
            border-radius: 0;
            opacity: 0;
          }
        }
      }

      .card-header {
        gap: var(--composer-gap-md);
        margin: 0;
        align-items: flex-start;

        .card-title {
          content: "";
          color: var(--composer-font-color-primary);
          transition: color var(--composer-transition-duration-normal) ease;
          cursor: pointer;
          text-align: left !important;
        }

        .card-description {
          content: "";
          color: var(--composer-font-color-primary);
          text-align: left !important;
        }
      }

      .button {
        position: relative;

        .button-before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: var(--composer-border-width-xs);
          background-color: var(--composer-primary-color);
        }

        .button-text {
          content: "";
        }

        .icon {
          font-size: 1rem;
          width: 1rem;
          height: 1rem;
          min-width: fit-content;
        }
      }

      &.active {
        .active-after {
          content: "";
          position: absolute;
          width: calc(100% + var(--composer-gap-lg));
          height: 85%;
          bottom: calc(-2 * var(--composer-gap-md));
          left: calc(-0.5 * var(--composer-gap-lg));
          background-color: var(--composer-primary-color);
          z-index: -1;
          border-bottom-left-radius: var(--composer-border-radius-lg);
          border-bottom-right-radius: var(--composer-border-radius-lg);

        }
      }


      &[data-animation~="animate1"]:hover {
        .card-title {
          color: var(--composer-primary-color);
        }

        .image-container .image {
          transform: scale(1.1);
          transition: transform var(--composer-transition-duration-slow) ease-in-out;
        }
      }

      &[data-animation~="animate2"]:hover {
        .image-container .image {
          transform: rotate(360deg);
          transition: transform var(--composer-transition-duration-normal) ease-in-out;
        }
      }

      &[data-animation~="animate3"] {
        .button {
          .button-before {
            transition: width var(--composer-transition-duration-slow) ease-in-out;
          }
        }

        &:hover .button .button-before {
          width: 100%;
        }

        &:not(:hover) .button .button-before {
          width: 0;
        }
      }


      &[data-animation~="animate4"]:hover {
        .button {
          animation: breathing 2s infinite ease-in-out;
        }
      }
    }
  }
}



@keyframes breathing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .carousel {
      padding: 0 !important;

      .dots {
        .dot-button {
          width: 10px;
          height: 10px;
        }
      }

      .card {
        min-height: 0;
        padding-top: var(--composer-gap-md);
        padding-bottom: var(--composer-gap-md);

        .button {
          margin-bottom: 0;
        }

        .image-container {
          width: 170px !important;

          &.no-round .image {
            font-size: 12rem;
          }
        }

      }
    }


  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .carousel {
      padding: 0 !important;

      .card .active-after {
        display: none;
      }

      :global(.slick-slide) {
        padding: 0 !important;
      }

      .dots {
        bottom:-10px !important;

        .dot-button {
          width: var(--composer-gap-sm) !important;
          height: var(--composer-gap-sm) !important;
        }

        :global(.slick-active) .dot-button {
          width: 25px !important;
        }
      }

      .dots-colored {
        li {
          button {
            background-color: var(--composer-font-color-primary) !important;
          }
        }

        :global(li.slick-active) button {
          background-color: var(--composer-font-color-primary) !important;
        }
      }
    }
  }

  .image-container {
    width: 150px !important;

    &.no-round .image {
      font-size: 10rem;
    }
  }
}
