@import "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss";

.container {
  background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
  .max-content {
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-md);
      .carousel {
        overflow: hidden;
        >div{
          >div{
            display: flex;
            align-items: stretch;
            >div{
              height: auto;
              >div{
                height: 100%;
              }
            }
          }
        }

        .dots {
          display: flex !important;
          width: 100%;
          gap: var(--composer-gap-sm);
          list-style-type: none;
          padding: 0;
          bottom: 10px;
          position: absolute;
          justify-content: center;
          li {
            button {
              border: none;
              transition: 0.3s;
              content-visibility: hidden;
              background-color: var(--composer-html-background) ;
              width: 10px;
              height: 10px;
              border-radius: var(--composer-border-radius-xl);
              cursor: pointer;
            }
          }
        }
        .dots :global(li.slick-active) button {
          padding: 0 var(--composer-gap-md);
        }
        .card {
          height: 100%;
          padding: 0px var(--composer-gap-md) var(--composer-gap-xl) var(--composer-gap-md); 
          position: relative;

          &.active {
            &::after {
              content: "";
              position: absolute;
              width: calc(100% + var(--composer-gap-md) * 2);
              height: 85%;
              bottom: 0px;
              left: calc(0px - var(--composer-gap-md));
              background-color: var(--composer-primary-color);
              z-index: -1;
              opacity: 1;
              border-radius: var(--composer-border-radius-xs);
            }
          }

          .card-inner {
            display: flex;
            flex-direction: column;
            padding: var(--composer-gap-lg);
            background-color: var(--composer-html-background);
            border-radius: var(--composer-border-radius-xs);
            gap: var(--composer-gap-md);
            height: 100%;

            .img-div {
              .img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 200px;
              }
            }

            .card-titles {
              .title {
                content: "";
              }
              .subtitle {
                content: "";
              }
            }
            .link {
              color: var(--composer-font-color-primary);
              display: flex;
              align-items: center;
              gap: var(--composer-gap-xs);
              cursor: pointer;

              .icon {
                font-size: 1rem;
                min-width: fit-content;
              }
              .text {
                font-size: 1rem;
              }
              &:hover {
                color: var(--composer-primary-color);
                transition: 1s;
              }
            }
          }
        }
      }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    .max-content {
      .carousel {
        .card {
          &.active {
            &::after {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
