.container {
  width: 100%;
  display: block;
  justify-content: space-around;
  padding: 50px 0 50px 0;

  hr{
    border-left: 4px solid var(--composer-primary-color);
    height: 930px;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 27vh;
  }
  .heading-page {
    display: block;
    max-width: var(--composer-content-width);
    h3 {
      margin: 0 auto 20px auto;
      text-align: center;
      color: rgb(180, 180, 180);
      width: 400px;
      padding: 20px 0;
    }
    h1 {
      margin-bottom: 100px;
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 4rem;
    }
  }

  .heading-page-2{
    display: block;
    max-width: var(--composer-content-width);

    h3{
      margin: auto;
      margin-left: 640px;
      margin-bottom: 20px;
      text-align: center;
      width: 20%;
      font-weight: 600;
      font-size: 2.5rem;
    }

    h4{
      margin: auto;
      margin-left: 540px;
      text-align: right;
      width: 20%;
      font-weight: 200;
      font-size: 2.5rem;
    }
  }

  .heading-page-3{
    display: block;
    max-width: var(--composer-content-width);

    h5{
      margin: auto;
      margin-left: 940px;
      margin-bottom: 20px;
      text-align: center;
      width: 20%;
      font-weight: 600;
      font-size: 2.5rem;
    }

    h6{
      margin: auto;
      margin-left: 1040px;
      text-align: left;
      width: 20%;
      font-weight: 200;
      font-size: 2.5rem;
    }
  }

  .heading-page-4{
    display: block;
    max-width: var(--composer-content-width);

    h5{
      margin: auto;
      margin-left: 640px;
      margin-bottom: 20px;
      text-align: center;
      width: 20%;
      font-weight: 600;
      font-size: 2.5rem;
    }

    h6{
      margin: auto;
      margin-left: 540px;
      text-align: right;
      width: 20%;
      font-weight: 200;
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 20px;
    .heading-page {
      text-align: center;
      margin: 0;
      h3 {
        width: 100%;
      }
      h1 {
        width: 100%;
      }
    }
  }
}
