@import "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss";

.container {
  width: auto;
  max-width: 600px;
  max-height: 700px;
  overflow: auto;
  border-radius: var(--composer-border-radius-xl);

  .max-content {
    position: relative;
    .close-icon-wrapper {
      position: absolute;
      top: var(--composer-gap-xs);
      right: var(--composer-gap-xs);
      cursor: pointer;
    }

    .exit-icon {
      font-size: 1.5rem;
      color: var(--composer-font-color-primary);

      &:hover {
        color: var(--composer-primary-color);
      }
    }
    .content {
      justify-content: center;
      align-items: center;
      padding: var(--composer-gap-md);
      gap: var(--composer-gap-sm);
      min-height: 100%;

      .icon {
        color: var(--composer-font-color-primary);

        .icon-element {
          font-size: 3rem;
        }
      }

      .notification-title {
        font-size: 2rem;
      }

      .displayer-message {
        color: var(--composer-font-color-primary);
        opacity: 0.5;
      }

      .send-mail {
        width: 100%;

        .input-group {
          position: relative;
          width: 100%;

          .input {
            width: 100%;
            height: var(--composer-gap-xl);
            padding: var(--composer-gap-md) var(--composer-gap-sm);
            padding-right: 30%;
            border-radius: var(--composer-border-radius-xl);
            border: none;
            background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
            color: var(--composer-font-color-primary);

            .input-style {
              background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
            }

            &:focus {
              outline-color: var(--composer-secondary-color);
            }
          }

          .button {
            position: absolute;
            right: var(--composer-gap-xs);
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            min-width: 100px;
            height: calc(85%);
            border-radius: var(--composer-border-radius-xl);
            background-color: var(--composer-secondary-color);
            border: none;
            box-shadow: var(--composer-box-shadow);
            color: (--composer-font-color-secondary);
            cursor: pointer;
            font-size: 1rem;
            max-width: 150px;
            overflow: hidden;

            &:hover {
              color: var(--composer-font-color-primary);
              background-color: var(--composer-secondary-color);
            }
          }
        }
      }
    }
  }
}
// @container (max-width: #{$composer-phone-width}) {
@media only screen and (max-width: 480px) {
  .container {
    max-width: 300px;
    max-height: 500px;
    .max-content {
      position: relative;

      .content {
        .notification-title {
          font-size: 1rem;
        }
        .send-mail {
          .input-group {
            .input {
              padding-right: 50%;
            }

            .button {
              min-width: 100px;
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}
