@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-xl);

    .slider-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .heading {
      align-items: center;
      text-align: center;
      width: 100%;
      justify-content: center;

      .title {
        margin: 0px;
      width: 100%;
      text-align: center;
        word-break: break-word;
      white-space: normal;

        content: "";
      }

      .subtitle {
      text-align: center !important;
      word-break: break-word;
      white-space: normal;
      justify-content: center;
      align-items: center;
      line-height: inherit;
      left: auto;
      transform: none;
      &::before,
      &::after {
        display: none !important;
        content: "" !important;
      }
      }

      .description {
      text-align: center;
      width: 100%;
      word-break: break-word;
      white-space: normal;
      }
    }

    .slider-container {
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-lg);
      width: 100%;
      position: relative;
      overflow: hidden;


      .slider {
        width: 100%;
      }


      .gallery {
        width: 100%;
        max-width: 100%;
        gap: var(--composer-gap-xl);
        justify-content: space-around;
        justify-items: center;
        .cell {
          width: 100% !important;
        }

        .image-child {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 0;
          width: 100%;

          .image {
            max-width: 400px;
            max-height: auto;
            aspect-ratio: 3/1;
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .slider-wrapper {
        width: 100%;
      }
      .slider-container {
        .image {
          max-width: 200px !important;
          aspect-ratio: 3/1;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .slider-container {
        .image {
          max-width: 150px !important;
          aspect-ratio: 3/1;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

