.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    .max-content {
      position: relative;
      max-width: var(--composer-content-width);
      margin: 0 auto;
      width: 100%;
      height: 100%;
      }
      
      .carousel {
        position: relative;
        width: 100%;
        
        .content {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: var(--composer-content-width);
  
        img {
          width: 100vw;
          height: 100%;
          object-fit: cover;
          margin: 0 auto;
          z-index: -50;
          position: absolute;
          left: 0;
          top: 0;
        }
  
        .corousel-content-div {
         position: relative; 
         top: 10%;
  
        .corousel-content {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 40%;
          left: 5%;
          z-index: 9999;
          text-align: left;
          font-size: 45px;
          font-weight: bold;
          color: black;
  
          .rotate {
            background-color: transparent;
            width: 130px;
            height: 130px;
            animation: rotate 5s linear infinite;
            z-index: 9999;
          }
  
          h1 {
            color: black;
            font-weight: bold;
            width: 70%;
            animation: fadeInRight 1s forwards;
            margin-top: 150px;
          }
  
          button {
            position: absolute;
            font-size: 20px;
            font-weight: bold;
            border: none;
            color: black;
            background-color: transparent;
            background: transparent;
            border-bottom: 2px solid black;
            padding-bottom: 5px;
            cursor: pointer;
            animation: fadeInUp 1s forwards;
            transition: transform 0.4s ease;
  
            }
            button:hover {
              transform: scale(1.2);
            }
        }
      }
      }
    }
  
    .secondary-slide {
      .corousel-content {
        text-align: center;
        top: 200px !important; 
        left: 690px !important;
        .rotate {
          width: 130px !important;
          height: 130px !important;
          margin-left: 195px ;
        }
  
        h1 {
          width: 700px !important;
          
        }
        button {  
          color: black !important;
          margin-left: 200px !important;
          padding-bottom: 5px !important;
        }
      }
    }
  
  
    @media (max-width: 550px) {
      .max-content{
        .content {
          height: 40vh !important;
        }
  
        .corousel-content {
        text-align: center;
        top: 15% !important; 
        left: 5% !important;
        bottom: auto !important;
    
        .rotate {
          width: 100px !important;
          height: 100px !important;
          margin-left: 8px !important;
          margin-top: 10% !important;
          margin-right: 0px;
        }
    
        h1 {
          width: 135px !important;
          font-size: 20px !important;
          margin: 10px 0 !important;
          margin-top: 120px !important;
        }
    
        button {  
          color: var(--composer-font-color-secondary) !important;
          color: black !important;
          margin-left: 0px !important;
          margin-top: 7px !important;
          font-size: 12px !important;
          padding-bottom: 15px !important;
  
        }
      }
      .secondary-slide {
        .corousel-content {
          text-align: center;
          display: flex !important;
          flex-direction: column !important;
          top: 5% !important; 
          left: 120px !important;
          bottom: 0px !important;
          .rotate {
            width: 100px !important;
            height: 100px !important;
            margin-left: 5px !important;
            margin-bottom: 50px !important;
            top: 5px !important;
          }
  
          h1 {
            width: 700px !important;
            
          }
          button {  
            color: black !important;
            margin-left: 0px !important;
            padding-bottom: 5px !important;
          }
        }
      }
    }}
  
    .arrow-next,
    .arrow-prev {
      position: absolute;
      top: 50%;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      z-index: 10;
      border-radius: 100%;
    }
  
    .arrow-next {
      right: 1rem;
    }
  
    .arrow-prev {
      left: 1rem;
    }
  }
  
  @media (max-width: 960px) {
    .max-content{
      .content {
        height: 60vh !important;
      }
    
      .corousel-content {
        font-size: 30px;
    
        .rotate {
          width: 100px;
          height: 100px;
        }
    
        h1 {
          font-size: 45px;
          width: 200px !important;
        }
    
        button {
          font-size: 20px !important;
          top: 95% !important;
          bottom: 0;
          border-bottom: 0px solid transparent;
          padding-bottom: 22px !important;
        }
      }

      .secondary-slide {
        .corousel-content {
          display: flex !important;
          flex-direction: column !important;
          top: 50px !important; 
          left: 265px !important;
          bottom: 0px !important;
          .rotate {
            width: 130px !important;
            height: 130px !important;
            margin-left: 50px !important;
          }
  
          h1 {
            width: 400px !important;
            
          }
          button {  
            top: 250px !important;
            left: 60px !important;
            color: black !important;
            margin-left: 0px !important;
            padding-bottom: 20px !important;
          }
        }
      }
    }
  }
  

//   @media (max-width: 550px) {

//     .max-content{
//       height: 100% !important;
//     }
//     .content {
//       height: 30vh !important;

  
//       img {
//         width: 100% !important;
//         height: 100% !important;
//         object-fit: fill !important;
//       }
//     }
  
//     .corousel-content-div{
//       top: 5% !important ;
  
//       .corousel-content {
//         text-align: center;
//         top: 30% !important; 
//         left: 35% !important;
//         bottom: auto !important;
    
//         .rotate {
//           width: 100px !important;
//           height: 100px !important;
//           margin-left: 8px !important;
//           margin-top: 70% !important;
//           margin-right: 0px;
//         }
    
//         h1 {
//           width: 100% !important;
//           font-size: 20px !important;
//           margin: 10px 0 !important;
//           margin-top: 200px !important;
//         }
    
//         button {  
//           color: var(--composer-font-color-secondary) !important;
//           color: black !important;
//           margin-left: 20px !important;
//           margin-top: 12px !important;
//           font-size: 12px !important;
//           padding-bottom: 15px !important;
  
//         }
//       }
//   }
//     .secondary-slide {
//       .corousel-content {
//         text-align: center;
//         top: 5% !important; 
//         left: 500px !important;
//         bottom: 200px !important;
//         .rotate {
//           width: 130px !important;
//           height: 30px !important;
//           margin-left: 195px !important;
//         }

//         h1 {
//           width: 700px !important;
          
//         }
//         button {  
//           color: black !important;
//           margin-left: 200px !important;
//           padding-bottom: 5px !important;
//         }
//       }
//     }
// }

  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }