@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .content {
      gap: var(--composer-gap-lg);
      align-items: center;

      .header {
        align-items: center;

        .title,
        .subtitle,
        .description {
          text-align: center;
        }

        .subtitle {
          width: fit-content;
          transform: translateX(0);

          &::before {
            display: none;
          }
        }

        .button-container {
          display: flex;
          gap: var(--composer-gap-sm);
          flex-wrap: wrap;
          justify-content: center;

          .button {
            content: "";

            .button-text {
              content: "";
              margin: 0;
              color: var(--composer-font-color-secondary);
            }
          }
        }
      }

      .description {
        content: "";
        text-align: center;
      }

      .item-description {
        content: "";
        text-align: center;
      }

      .image-container {
        width: fit-content;
        container-type: normal;
        justify-content: center;
        gap: var(--composer-gap-lg);

        .image-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          aspect-ratio: 3 / 1;
          width: 100%;

          .image {
            height: var(--composer-gap-lg);
            font-size: var(--composer-gap-lg);
            object-fit: cover;
          }

          .video {
            height: var(--composer-gap-lg);
            object-fit: cover;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .content {
        gap: var(--composer-gap-md);
      }
    }
  }
}