@import '../../../composer-base-components/base/utitilities/viewports.module.scss';
.container {
  position: relative;
  .carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    .content {
      position: relative;
      .image {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }

      .overlay {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--composer-overlay-color);
        }
      }
    }
  }
  .slider-text{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 0px;
    left: 0px;
    transition: all 1s ease;
    .slider-content{
      height: 100vh;
      position: relative;
      .text-and-button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--composer-gap-xl);
      
        .text {
          color: white;
          font-size: 6rem;
          max-width: 700px;
          text-align: center;
        }
  
        .button {
          content: "";
        }
      }
    }
    &.unvisible {
      opacity: 0;
      margin-top: 30px;
    }
    &.display-none{
      opacity: 1;
      margin-top: 0px
    }
  }
  .arrow-content{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    .arrow {
      position: absolute;
      top: 50%;
      color: white;
      cursor: pointer;
      margin: auto 0;
      font-size: 3rem;
      &.prev-icon {
        left: 50px;
      }
      &.next-icon {
        right: 50px;
      }
    }
  }
  .overlay-animation-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition-duration: 3s;
    transition-timing-function: ease;
    display: unset;

    &.left {
      margin-left: 100vw;
    }

    &.right {
      margin-left: 100vw;
    }

    &.visible {
      &.left {
        margin-left: -100vw;
      }
      &.right {
        margin-left: -100vw;
      }
    }

    &.display-none {
      display: none !important;
    }

    .overlay {
      z-index: 2;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--composer-overlay-color);
      opacity: 1;
    }

    .animation-image {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .dots{
      position: absolute;
      padding: 0;
      list-style: none;
      text-align: center;
      bottom: 20px;
      width: 100%;
      display: flex !important;
      justify-content: center;
      li {
          button {
              color: transparent;
              position: relative;
              background: none;
              width: 30px;
              height: 30px;
              border: 1px solid transparent;
              border-radius: 50%;
              transition: 0.3s;

              &::before {
                font-size: 5rem;
                  content: "•";
                  color: rgba(142, 142, 142, 0.6);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  transition: 0.3s;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
          }
      }         

  }
    .dots :global(li.slick-active) button {
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        font-size: 3rem;
        border: 1px solid white;
        border-radius: 50%;
        content: "•";
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}
@container (max-width: #{$composer-phone-width}){
  .container{
    .slider-text{
      .slider-content{
        .text-and-button {
          .text{
            font-size: 4rem;
          }
        }
      }
    }
    .dots{
      li {
          button {
              width: 20px;
              height: 20px;
              &::before {
                font-size: 3rem;
              }
          }
        }         
     }
    .dots :global(li.slick-active) button {
      &::before {
        font-size: 2rem;
      }
    }
  }
}