@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  &.has-image {
    padding: 0;
  }

  .page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: auto;

    &.image {
      min-height: 500px;
    }

    &.no-image {
      min-height: fit-content;
    }

    .background-image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: var(--composer-overlay-color);
    }

    .max-content {
      position: relative;
      z-index: 2;
      width: 100vw;
      display: flex;
      overflow: hidden;
      position: relative;
      height: auto;
      min-height: 250px;
      width: 100%;

      &.image {
        align-items: center;
        min-height: 500px;

        .middle-container {
          align-items: center;

          .title,
          .description {
            text-align: center;
          }
        }

        .hover-container {
          align-items: center;
        }

        .card-title,
        .card-description {
          text-align: center;
        }

        .buttons-container {
          align-items: center;
        }
      }
    }

    &.no-image {
      .max-content {
        height: fit-content !important;
        min-height: fit-content !important;

        .middle-container,
        .hover-container {
          padding: 0 !important;
        }

        .middle-container {
          min-height: fit-content !important;
          height: fit-content !important;
        }
      }
    }

    .middle-container {
      padding: var(--composer-gap-md) var(--composer-gap-xl);
      z-index: 3;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      height: auto;
      justify-content: center;
      position: relative;
      bottom: 0;
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.3s;

      .subtitle {
        content: "";
        transform: translateX(0);
        align-self: center;

        &::before {
          display: none;
        }

        &.with-image {
          color: white;
          background: transparent !important;
        }
      }

      .title,
      .description {
        content: "";
        text-align: center;

        &.with-image {
          color: white;
        }
      }
    }

    .hover-container {
      position: absolute;
      inset: 0;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--composer-gap-md) var(--composer-gap-xl);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease, transform 0.5s ease;

      .card-title,
      .card-description {
        text-align: center;

        &.with-image {
          color: white;
        }
      }

      .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--composer-gap-sm);

        .image-container {
          width: 170px;
          height: 50px;

          .card-image {
            width: 100%;
            height: 100%;
            cursor: pointer;
            object-fit: cover;
            border-radius: var(--composer-border-radius-sm);
          }
        }

        .button {
          width: 170px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;

          .icon,
          .text {
            content: "";
          }
        }
      }
    }

    &:hover {
      .left-container {
        left: calc(-50% - 200px);
        opacity: 0;
      }

      .right-container {
        transform: translatex(-50vw);
        opacity: 0;
        z-index: 3;
      }

      .middle-container {
        opacity: 0;
        pointer-events: none;
        transform: translateY(var(--composer-gap-xl));
        transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
      }

      .hover-container {
        opacity: 1;
        pointer-events: auto;
        transform: none;
        transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
      }
    }
  }


}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    &.has-image {
      padding: 0 !important;
    }

    .page {
      .max-content {
        min-height: 500px;

        .middle-container {
          padding: var(--composer-gap-md) var(--composer-gap-lg);
        }

        .hover-container {
          padding: var(--composer-gap-md) var(--composer-gap-lg);

          .buttons-container {

            .image-container,
            .button {
              width: 170px !important;
              height: 50px !important;
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .page {
      .max-content {
        .middle-container {
          padding: var(--composer-gap-md);
        }

        .hover-container {
          padding: var(--composer-gap-md);

          .buttons-container {
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);

            .image-container,
            .button {
              width: 150px !important;
              height: 40px !important;
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
            }
          }
        }
      }
    }
  }
}