@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container {
    .max-content {
        .content {
            align-items: center;

            .icon {
                font-size: 3rem;
                color: var(--composer-primary-color);
            }

            .subtitle {
                text-align: center;
                margin-left: 0;
                transform: translateX(0);
                &::before {
                    display: none;
                }
            }

            .title {
                text-align: center;
            }

            .description {
                text-align: center;
            }

            .button-container {
                display: flex;
                .button{
                    content: "";
                    .button-text {
                        content: "";
                    }
                }
            }

        }
    }
}