.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--composer-html-background);
  padding: 50px 0px;
  display: flex;
  align-items: center;

  .max-content {
    width: 100%;
    max-width: var(--composer-content-width);
    margin: auto;

    .child-container {
      display: flex;
      align-items: center;
      gap: 20px;

      .left-content {
        flex: 1;
        .title {
          font-size: 5rem;
          font-weight: 600;
          color: var(--composer-primary-color);
        }
        .description {
          margin-bottom: 30px;
          font-size: 1.2rem;
          color: var(--composer-font-color-primary);
        }
        .row {
          display: flex;
          flex-wrap: wrap;
          gap: 15px;

          .col {
            width: calc(50% - 15px);
            .box {
              display: flex;
              color: var(--composer-font-color-secondary);
              background-color: var(--composer-secondary-color);
              border: 1px solid var(--composer-tertiary-color);
              box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
              border-radius: 30px;
              font-size: 15px;
              padding: 12px 22px;
              cursor: pointer;
              transition: 0.5s;
              img {
                margin-right: 10px;
                width: 20px;
                height: 20px;
              }
              &:hover {
                background-color: var(--composer-secondary-color);
                color: var(--composer-font-color-secondary);
                padding-left: 25px;
              }
            }
          }
        }
      }
      .right-content {
        flex: 1;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;

    .child-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px !important;
    }
  }
}

@media only screen and (max-width: 360px) {
  .container {
    .child-container {
      .row {
        .col {
          width: 100% !important;
          .box {
            justify-content: center;
          }
        }
      }
    }
  }
}
