@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;


@keyframes fadeOutIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.container {
    position: relative;

    .max-content {
        display: flex;
        position: relative;
        gap: calc(2 * var(--composer-gap-xl));
        width: 100%;

        .left {
            display: flex;
            flex: 1;
            overflow: hidden;
            gap: var(--composer-gap-md);
            max-height: 600px;

            &.without-right {
                flex: 0 1 600px;
                margin: 0 auto;
            }

            .left-images {
                max-height: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--composer-gap-md);
                overflow: hidden;
                width: 15%;

                &.without-right {
                    width: 10%;
                }

                .img-container {
                    flex: 1;
                    position: relative;

                    .image-wrapper {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;
                        border-radius: var(--composer-border-radius-sm);

                        .img {
                            opacity: 0.5;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                            &.active {
                                opacity: 1;
                            }
                        }

                        .media-overlay {
                            position: absolute;
                            inset: 0;
                            border-radius: inherit;
                            background: var(--composer-overlay-color);
                        }
                    }
                }
            }

            .right-image {
                position: relative;
                max-height: 100%;
                width: 85%;
                overflow: hidden;

                &.without-right {
                    width: 90%;
                }

                .new {
                    position: absolute;
                    left: var(--composer-gap-md);
                    top: var(--composer-gap-md);
                    z-index: 2;
                    color: var(--composer-tertiary-color);
                    text-align: left;
                }

                .left-arrow,
                .right-arrow {
                    position: absolute;
                    font-size: 2rem;
                    width: 1em;
                    height: 1em;
                    object-fit: contain;
                    color: black;
                    z-index: 2;
                    top: 50%;
                    color: var(--composer-tertiary-color);
                    cursor: pointer;
                }

                .left-arrow {
                    left: var(--composer-gap-md);
                }

                .right-arrow {
                    right: var(--composer-gap-md);
                }

                .carousel {
                    height: 100%;

                    :global(.slick-list) {
                        height: 100%;

                        :global(.slick-track) {
                            height: 100%;

                            :global(.slick-slide) {
                                >div {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .card {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .image-wrapper {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;
                        border-radius: var(--composer-border-radius-sm);

                        .product-img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                        .media-overlay {
                            position: absolute;
                            inset: 0;
                            border-radius: inherit;
                            background: var(--composer-overlay-color);
                        }
                    }
                }
            }
        }

        .right {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-md);

            .header {
                display: flex;
                flex-direction: column;
                width: 100%;

                .subtitle {
                    text-align: left;
                    margin-left: 0;
                }

                .title {
                    text-align: left;
                }

                .price {
                    color: var(--composer-font-color-primary);
                    text-align: left;
                }
            }

            .review-and-description {
                display: flex;
                flex-direction: column;
                gap: var(--composer-gap-sm);
                width: 100%;

                .review-area {
                    display: flex;
                    align-items: center;
                    gap: var(--composer-gap-sm);

                    .stars {
                        display: flex;

                        .star {
                            color: #ebbc00;
                            font-size: 1rem !important;
                            width: 1em;
                            height: 1em;
                            object-fit: contain;
                        }
                    }

                    .review {
                        display: flex;
                        align-items: center;
                        gap: var(--composer-gap-xs);

                        .review-count,
                        .review-text,
                        .brackets {
                            color: var(--composer-font-color-primary);
                            margin: 0;
                            width: fit-content;
                            font-size: 1rem !important;
                        }
                    }
                }

                .description {
                    color: var(--composer-tertiary-color);
                    width: fit-content;
                    text-align: left;
                    margin: 0;
                }
            }

            .inputs {
                display: flex;
                width: 100%;

                .count-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--composer-tertiary-color);
                    border-radius: var(--composer-border-radius-sm);
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: var(--composer-gap-sm);
                    width: 175px;

                    &.with-button {
                        border-right: none;
                    }

                    .label {
                        text-align: left;
                        color: var(--composer-tertiary-color);
                        font-size: 1rem !important;
                    }

                    .left-icon,
                    .right-icon {
                        flex: 1;
                        font-size: 1.5rem !important;
                        width: 1em;
                        height: 1em;
                        object-fit: contain;
                        color: var(--composer-tertiary-color);
                        cursor: pointer;
                        transition: opacity 0.3s ease;

                        &:hover {
                            opacity: 0.5;
                        }
                    }

                    .input {
                        max-width: 2rem;
                        background-color: transparent;
                        border: none;
                        text-align: center;
                        color: var(--composer-tertiary-color);
                        outline: none;
                        font-size: 1rem !important;
                    }
                }

                .button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    height: 100%;
                    margin-top: 0;

                    .button-text {
                        text-align: center;
                    }
                }
            }

            .wishlist-container {
                width: 100%;

                .wishlist {
                    display: flex;
                    align-items: center;
                    gap: var(--composer-gap-xs);
                    cursor: pointer;
                    transition: opacity 0.3s ease;

                    &:hover {
                        opacity: 0.5;
                    }

                    .heart-icon {
                        color: var(--composer-font-color-primary);
                        font-size: 1rem;
                        width: 1em;
                        height: 1em;
                        object-fit: contain;
                    }

                    .cart-title {
                        color: var(--composer-font-color-primary);
                        text-align: left !important;
                    }
                }
            }

            .categories {
                display: flex;
                flex-direction: column;
                width: 100%;

                .category {
                    color: var(--composer-font-color-primary);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: var(--composer-gap-xs);

                    .categoryLabel {
                        width: fit-content;
                        color: var(--composer-font-color-primary);
                        text-align: left;
                    }
                }

                .categoryText {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--composer-gap-xs);
                }

                .text {
                    color: var(--composer-tertiary-color);
                    width: fit-content;
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                    margin: 0;
                    text-align: left;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

    }
}

.image-popup {
    z-index: 9999;

    .popup-content {
        width: min(40%, calc(90vh - 80px));
        height: auto;
        max-height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

                .image-container {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    border-radius: var(--composer-border-radius-sm);
                }

                .image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    &.active {
                        animation: fadeOutIn 1s forwards;
                        z-index: 1;
                        animation-timing-function: cubic-bezier(0.6, 0.05, 0.2, 1);
                    }

                    &.exits {
                        animation: fadeInOut 1s forwards;
                        z-index: 1;
                        animation-timing-function: cubic-bezier(0.6, 0.05, 0.2, 1);
                    }
                }

                .items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: var(--composer-gap-xs) var(--composer-gap-sm);
                    width: 100%;
                    height: 50px;
                    flex: none;
                    margin-top: var(--composer-gap-sm);
                    z-index: 2;

                    .icon-group {
                        display: flex;
                        align-items: center;
                        gap: var(--composer-gap-sm);

                        .left-arrow,
                        .right-arrow {
                            color: var(--composer-font-color-primary);
                            font-size: 1.75rem !important;
                            width: 1em;
                            height: 1em;
                            object-fit: contain;
                            cursor: pointer;
                            transition: transform 0.3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .pages {
                        color: var(--composer-font-color-primary);
                        width: fit-content;
                    }

                    .close {
                        color: var(--composer-font-color-primary);
                        font-size: 1.75rem !important;
                        width: 1em;
                        height: 1em;
                        object-fit: contain;
                        cursor: pointer;
                        transition: transform 0.5s ease;

                        &:hover {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

@container (max-width: #{$composer-tablet-width}) {
    .image-popup {
        .popup-content {
            width: 90%;
            max-width: 500px;
            height: auto;
            max-height: 90vh;
            align-items: center;

            .image-container {
                width: 100%;
                max-width: 500px;
                max-height: 500px;
                height: auto;
                aspect-ratio: 1 / 1;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .image-popup {
        .popup-content {
            width: 100%;
            max-width: 340px;
            height: auto;
            max-height: 90vh;
            align-items: center;

            .image-container {
                width: 100%;
                max-width: 340px;
                max-height: 340px;
                height: auto;
                aspect-ratio: 1 / 1;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .items {
                width: 100%;
                max-width: 340px;
                height: 36px;
                padding: var(--composer-gap-xs) var(--composer-gap-xs);
                margin-top: var(--composer-gap-xs);
                gap: var(--composer-gap-xs);

                .icon-group {
                    gap: var(--composer-gap-xs);

                    .left-arrow,
                    .right-arrow {
                        font-size: 1.25rem !important;
                    }
                }

                .pages {
                    font-size: 0.75rem !important;
                }

                .close {
                    font-size: 1.25rem !important;
                }
            }
        }
    }

    .container {
        .max-content {
            flex-direction: column;
            gap: var(--composer-gap-lg);

            .left {
                flex: none;
                width: 100%;
                flex-direction: column;
                max-height: none;
                height: auto;
                gap: var(--composer-gap-md);

                .left-images {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    gap: var(--composer-gap-sm);
                    width: 100%;

                    &.without-right {
                        width: 100%;
                    }

                    .img-container {
                        width: calc(25% - var(--composer-gap-sm));
                        aspect-ratio: 1 / 1;
                        flex: none;

                        .img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .right-image {
                    width: 100%;

                    .product-img {
                        width: 100%;
                        height: auto !important;
                    }
                }
            }

            .right {
                flex: auto;
                width: 100%;

                .content {
                    gap: var(--composer-gap-md);

                    .inputs {
                        flex-direction: column;
                        width: 100%;
                        gap: var(--composer-gap-sm);

                        .button,
                        .count-input {
                            width: 100% !important;
                            height: var(--composer-gap-xl) !important;
                            justify-content: center;
                        }

                        .count-input {
                            border-right: 1px solid var(--composer-tertiary-color);

                            &.with-button {
                                border-right: 1px solid var(--composer-tertiary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}