@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    .max-content {
        .section {
            display: flex;
            position: relative;
            gap: calc(2 * var(--composer-gap-xl));

            .left {
                display: flex;
                flex: 1;
                gap: var(--composer-gap-md);
                .left-images {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .img-container {
                        .img {
                            border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
                            border-radius: var(--composer-border-radius-xs);
                            max-width: 85px;
                            opacity: 0.5;

                            &.active {
                                opacity: 1;
                            }
                        }
                    }
                }
                .right-image {
                    position: relative;
                    flex: 1;
                    max-width: 550px;
                    max-height: 100%;

                    .new { 
                        position: absolute; 
                        left: 20px; 
                        top: 20px; 
                        font-size: 1rem; 
                        opacity: 0.7; 
                        z-index: 20;
                        color: var(--composer-tertiary-color);
                    }

                    .left-arrow, .right-arrow {
                        position: absolute; 
                        font-size: 2rem; 
                        color: black;
                        z-index: 21;
                        top: 50%;
                        color: var(--composer-tertiary-color);
                        cursor: pointer;
                    }

                    .left-arrow {
                        left: var(--composer-gap-md);
                    }

                    .right-arrow {
                        right: var(--composer-gap-md);
                    }

                    .carousel {
                        height: 100%;
                        > div {
                            height: 100%;
                            > div {
                                height: 100%;
                                > div {
                                    height: 550px !important;
                                    padding-bottom: var(--composer-gap-sm);
    
                                    > div {
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .card {
                        .product-img { 
                            border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2); 
                            border-radius: var(--composer-border-radius-xs); 
                            max-width: 550px;
                            height: 550px;
                        } 
                    }
                }
            }

            .right {
                .vertical {
                    .title {
                        font-size: 2rem !important;
                        margin-bottom: var(--composer-gap-sm) !important;
                    }
                    .price {
                        font-size: 2rem;
                        color: var(--composer-font-color-primary);
                    }
                    .review-area {
                        display: flex;
                        align-items: center;
                        margin-top: calc(1.5 * var(--composer-gap-xl));
                        .star {
                            color: #ebbc00;
                            font-size: 1rem !important;
                        }
                        .review-count {
                            margin-left: var(--composer-gap-xs);
                            color: var(--composer-tertiary-color);
                        }
                    }
                    .description {
                        color: var(--composer-tertiary-color);
                        margin-bottom: var(--composer-gap-lg);
                    }
                    .inputs {
                        display: flex;
                        .count-input {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid var(--composer-tertiary-color);
                            border-right: none;
                            border-radius: var(--composer-border-radius-xs);
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            padding: var(--composer-gap-sm);
                            width: 175px;
                            .label {
                                color: var(--composer-tertiary-color);
                                padding-right: var(--composer-gap-lg);
                            }
                            .left-icon, .right-icon {
                                flex: 1;
                                font-size: 1.5rem !important;
                                min-width: 1.5rem;
                                color: var(--composer-tertiary-color);
                                cursor: pointer;
                                transition: opacity 0.3s ease;
                                &:hover {
                                    opacity: 0.5;
                                }
                            }
                            .input {
                                max-width: 2rem;
                                background-color: transparent;
                                border: none;
                                text-align: center;
                                color: var(--composer-tertiary-color);
                                outline: none;
                            }
                        }
                        .button {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            width: 175px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .wishlist {
                        display: flex;
                        align-items: center;
                        gap: var(--composer-gap-xs);
                        padding: var(--composer-gap-lg) 0;
                        cursor: pointer;
                        transition: opacity 0.3s ease;
                        &:hover {
                            opacity: 0.5;
                        }
                        .heart-icon {
                            color: var(--composer-font-color-primary);
                            font-size: 1rem;
                        }
                        .cart-title {
                            color: var(--composer-font-color-primary);
                        }
                    }
                    .bottom {
                        display: flex;
                        flex-direction: column;
                        gap: var(--composer-gap-sm);

                        .code-area {
                            display: flex;
                            align-items: center;

                            .code-tag, .code {
                                color: var(--composer-font-color-primary);
                                font-size: 1rem;
                            }
                        }
                        .categories, .tags {
                            display: flex;
                            align-items: center;
                            gap: var(--composer-gap-xs);
    
                            .categoryLabel, .tagLabel {
                                font-size: 1rem;
                                color: var(--composer-font-color-primary);
                            }
                            .category, .tag {
                                font-size: 1rem !important;
                                color: var(--composer-font-color-primary);
                                cursor: pointer;
                                transition: opacity 0.3s ease;
                                &:hover {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
        .image-popup {
            background-color: var(--composer-overlay-color);
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            max-height: 100vh;
            top: 0;
            left: 0;
            z-index: 200;
            overflow: auto;
            .popup-content {
                width: 40%;
                .popup-image {
                    width: 100%;
                }
                .items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: var(--composer-gap-xs) var(--composer-gap-sm);
                    .icon-group {
                        .left-arrow, .right-arrow {
                            color: var(--composer-font-color-primary);
                            font-size: 2rem !important;
                            cursor: pointer;
                        }
                    }
                    .pages {
                        color: var(--composer-font-color-primary);
                        font-size: 1rem;
                    }
                    .close {
                        color: var(--composer-font-color-primary);
                        font-size: 2rem !important;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        .max-content {
            .section {
                flex-direction: column;
                gap: var(--composer-gap-md);
                .left {
                    .left-images {
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: var(--composer-gap-md);
                    }
                    .right-image {
                        width: 100% !important;

                        .carousel {
                            > div {
                                > div {
                                    > div {
                                        height: 100% !important;
                                    }
                                }
                            }
                        }
                        .product-img {
                            width: 100% !important;
                        }
                    }
                }
                .right {
                    .title {
                        margin: 0 !important;
                    }
                    .review-area {
                        margin-top: var(--composer-gap-md) !important;
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        .max-content {
            .section {
                flex-direction: column;
                .left {
                    flex-direction: column-reverse;
                    .left-images {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        gap: var(--composer-gap-sm);

                        .img-container {
                            .img {
                                width: 100%;
                            }
                        }
                    }
                    .right-image {
                        .product-img {
                            width: 100%;
                            height: auto !important;
                        }
                    }
                }
                .right {
                    .vertical {
                        .inputs {
                            flex-direction: column;
                            width: 100%;

                            .button, .count-input {
                                width: 100% !important;
                                height: var(--composer-gap-xl) !important;
                            }

                            .count-input {
                                border-right: 1px solid var(--composer-tertiary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}