.container {
    width: 100%;
    padding: 50px 0;
    background-color: var(--composer-html-background);

    .max-content {
        max-width: var(--composer-content-width);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .header{
            display: flex;
            justify-content: space-between;
            padding-left: 19%;
            padding-right: 19%;
            margin-bottom: 24px;
            align-items: center;
            width: 100%;
    
            .left-side{
                display: flex;
                column-gap: 5px;
                align-items: center;
                .icon1{
                    width: 24px;
                    height: 24px;
                    color: var(--composer-primary-color);
                }
                .first-text{
                    font-size: 28px;
                    color: var(--composer-font-color-primary);
                }
            }
            .right-side{
                display: flex;
                column-gap: 15px;
                align-items: center;
    
                .button{
                    font-size: 28px;
                    color: var(--composer-secondary-color);
                    text-decoration: underline !important;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-bottom: 3px solid;
                    border-color: var(--composer-secondary-color);
                    
                }
                .icon2{
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    color: var(--composer-secondary-color);
                }
            }
        }

        .features {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            column-gap: 40px;
            row-gap: 40px;

            .card-1, .card-2 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-start;
                height: 100%;
                min-height: 100%;
            }
            
            .card-1 .card, .card-2 .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 400px;
                min-height: 580px;
                background-color: var(--composer-font-color-primary);
                padding-bottom: 2px !important;
                margin-bottom: 40px;
            }
            
            .card-1 .card .image, .card-2 .card .image {
                width: 100%;
                height: 40%;
                max-height: 700px;
            }
            
            .card-1 .card .date-time, .card-2 .card .date-time {
                display: flex;
                justify-content: space-between;
                min-height: 20px;
                margin-left: 1rem !important;
                margin-right: 1rem !important;
                font-size: 16px;
                color: var(--composer-font-color-secondary);
            }

            .card-1 .card .date, .card-2 .card .date{
                display: flex;
                column-gap: 5px;
                align-items: center;
            }

            .card-1 .card .time, .card-2 .card  .time{
                display: flex;
                column-gap: 5px;
                align-items: center;
            }
            
            
            .card-1 .card .title, .card-2 .card .title {
                font-size: 24px;
                font-weight: bold;
                margin-left: 1rem;
                margin-right: 1rem;
                color: var(--composer-font-color-secondary);
            }
            
            .card-1 .card .description, .card-2 
            .card .description {
                font-size: 20px;
                color: var(--composer-font-color-secondary);
                width: 90%;
                min-height: 120px;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            
            .card-1 .card .user-info, 
            .card-2 .card .user-info {
                display: flex;
                flex: 1;
                flex-direction: row;
                // justify-content: flex-start;
                align-items: center;
                text-align: left;
                gap: 10px;
                margin-left: 1rem;
                margin-right: 1rem;
                width: 100%;
            }

            .card-1 .card .user-info.no-profile,
            .card-2 .card .user-info.no-profile,
            .middle-content .card .user-info.no-profile {
            justify-content: flex-start;
            }


            
            .card-1 .card .profile-image, 
            .card-2 .card .profile-image {
                width: 44px;
                height: 44px;
            }
            
            .card-1 .card .user .written, 
            .card-2 .card .user .written {
                font-size: 14px;
                color: var(--composer-font-color-secondary);
            }
            
            .card-1 .card .user .fullname, .card-2 .card .user .fullname {
                font-size: 14px;
                font-weight: bold;
                color: var(--composer-font-color-secondary);
            }
            

            .middle-content {
                    display: flex;
                    flex-direction: column;
                    row-gap: 70px;

                    .card {
                        flex-direction: column;
                        justify-content: center;
                        width: 300px;
                        background-color: var(--composer-font-color-primary);

                        .date-time {
                            display: flex;
                            justify-content: space-between;
                            min-height: 20px !important;
                            margin-left: 1rem !important;
                            margin-right: 1rem !important;
                            font-size: 16px;
                            color: var(--composer-font-color-secondary);

                            .date{
                                display: flex;
                                column-gap: 5px;
                                align-items: center;
                            }
                            .time{
                                display: flex;
                                column-gap: 5px;
                                align-items: center;
                            }
                        }

                        .title {
                            font-size: 20px;
                            font-weight: bold;
                            margin-left: 1rem;
                            margin-right: 1rem;
                            color: var(--composer-font-color-secondary);
                            cursor: pointer;
                        }

                        .description {
                            font-size: 16px;
                            color: var(--composer-font-color-secondary);
                            width: 90%;
                            min-height: 30px ;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }

                        .user-info {
                            display: flex;
                            flex: 1;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            text-align: left;
                            gap: 10px;
                            margin-left: 1rem;
                            margin-right: 1rem;

                            .profile-image {
                                width: 34px;
                                height: 34px;
                            }

                            .user {
                                .written {
                                    font-size: 14px;
                                    color: var(--composer-font-color-secondary);
                                }

                                .fullname {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: var(--composer-font-color-secondary);
                                }
                            }
                        }
                    }
            }

        }
    }
}


@media screen and (max-width: 1900px) {
    .max-content {
        .header{
            padding-left: 14rem !important;
            padding-right: 14rem!important;

        }
    }
}


@media only screen and (max-width: 768px) {
    .container {
        padding: 0px 0;

        .max-content {
            gap: 10px !important;
            flex-direction: column !important;
        }

        .header{
            padding: 0 13rem !important;
            // margin-left: 0rem !important;
            // margin-right: 0rem !important;
            margin-bottom: 12px !important;
            margin-top: 12px !important;
            width: 100% !important;
    
            .left-side{
                
                
                .icon1{
                    width: 16px !important;
                    height: 16px !important;
                    color: var(--composer-primary-color);
                }
                .first-text{
                    font-size: 16px !important;
                    color: var(--composer-font-color-primary);
                }
            }
            .right-side{
                display: flex;
                column-gap: 5px;
                align-items: center;
    
                .button{
                    font-size: 16px !important;
                    color: var(--composer-secondary-color);
                    text-decoration: underline !important;
                    background-color: transparent;
                    outline: none;
                    border: none;
                   
                    
                }
                .icon2{
                    width: 16px !important;
                    height: 16px !important;
                }
            }
        }

        .features {
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            margin-left: 0rem !important;
            margin-right: 0rem !important;
            
            .card-1 .card, .card-2 .card {
                width: 450px !important;
                min-height: 580px;
                margin-bottom: 10px !important;
            }
            
            .card-1 .card .image, .card-2 .card .image {
                width: 100%;
                height: 40%;
                max-height: 700px;
            }
            
            .card-1 .card .date-time, .card-2 .card .date-time {
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-between !important;
                min-height: 20px;
                margin-left: 1rem !important;
                margin-right: 1rem !important;
                font-size: 16px;
                color: var(--composer-font-color-secondary);
            }
            
            .card-1 .card .title, .card-2 .card .title {
                font-size: 20px !important;
            }
            
            .card-1 .card .description, .card-2 .card .description {
                font-size: 16px !important;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            
            .card-1 .card .user-info, .card-2 .card .user-info {
                text-align: left !important;
                justify-content: flex-start !important;
                gap: 10px;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            
            .card-1 .card .profile-image, .card-2 .card .profile-image {
                width: 44px;
                height: 44px;
            }
            
            .card-1 .card .user .written, .card-2 .card .user .written {
                font-size: 14px;
                color: var(--composer-font-color-secondary);
            }
            
            .card-1 .card .user .fullname, .card-2 .card .user .fullname {
                font-size: 14px;
                font-weight: bold;
                color: var(--composer-font-color-secondary);
            }
            

            .middle-content {
                    .card {
                        row-gap: 10px !important;
                        width: 450px !important;
                        
                        .date-time {
                            display: flex;
                            justify-content: space-between;
                            min-height: 20px !important;
                            margin-left: 1rem !important;
                            margin-right: 1rem !important;
                            font-size: 16px;
                            color: var(--composer-font-color-secondary);

                            .date{
                                display: flex;
                                column-gap: 5px;
                                align-items: center;
                            }
                            .time{
                                display: flex;
                                column-gap: 5px;
                                align-items: center;
                            }
                        }

                        .title {
                            font-size: 20px;
                            font-weight: bold;
                            margin-left: 1rem;
                            margin-right: 1rem;
                            color: var(--composer-font-color-secondary);
                            cursor: pointer;
                        }

                        .description {
                            font-size: 16px;
                            color: var(--composer-font-color-secondary);
                            width: 90%;
                            min-height: 30px ;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }

                        .user-info {
                            flex: 1;
                            justify-content: flex-start;
                            align-items: center;
                            text-align: left;
                            justify-content: flex-start !important; 
                            align-items: center;
                            gap: 10px;
                            margin-left: 1rem;
                            margin-right: 1rem;

                            .profile-image {
                                width: 34px;
                                height: 34px;
                            }

                            .user {
                                .written {
                                    font-size: 14px;
                                    color: var(--composer-font-color-secondary);
                                }

                                .fullname {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: var(--composer-font-color-secondary);
                                }
                            }
                        }
                    }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0px 0;

        .max-content {
            gap: 10px !important;
            flex-direction: column !important;
        }

        .header{
            margin-bottom: 12px !important;
            margin-top: 12px !important;
            margin-left: 0rem !important;
            margin-right: 0rem !important;
            padding: 0 2rem !important;
    
            .left-side{
                
                
                .icon1{
                    width: 16px !important;
                    height: 16px !important;
                    color: var(--composer-primary-color);
                }
                .first-text{
                    font-size: 16px !important;
                    color: var(--composer-font-color-primary);
                }
            }
            .right-side{
                display: flex;
                column-gap: 5px;
                align-items: center;
    
                .button{
                    font-size: 16px !important;
                    color: var(--composer-secondary-color);
                    text-decoration: underline !important;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    
                }
                .icon2{
                    width: 16px !important;
                    height: 16px !important;
                }
            }
        }

        .features {
            flex-direction: column !important;
            margin-left: 0rem !important;
            margin-right: 0rem !important;
            
            .card-1 .card, .card-2 .card {
                width: 300px !important;
                min-height: 580px;
                margin-bottom: 10px !important;
            }
            
            .card-1 .card .image, .card-2 .card .image {
                width: 100%;
                height: 40%;
                max-height: 700px;
            }
            
            .card-1 .card .date-time, .card-2 .card .date-time {
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-between !important;
                min-height: 20px;
                margin-left: 1rem !important;
                margin-right: 1rem !important;
                font-size: 16px;
                color: var(--composer-font-color-secondary);
            }
            
            .card-1 .card .title, .card-2 .card .title {
                font-size: 20px !important;
            }
            
            .card-1 .card .description, .card-2 .card .description {
                font-size: 16px !important;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            
            .card-1 .card .user-info, .card-2 .card .user-info {
                display: flex;
                flex-direction: row;
                justify-content: flex-start !important; 
                align-items: center;
                gap: 10px;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            
            .card-1 .card .profile-image, .card-2 .card .profile-image {
                width: 44px;
                height: 44px;
            }
            
            .card-1 .card .user .written, .card-2 .card .user .written {
                font-size: 14px;
                color: var(--composer-font-color-secondary);
            }
            
            .card-1 .card .user .fullname, .card-2 .card .user .fullname {
                font-size: 14px;
                font-weight: bold;
                color: var(--composer-font-color-secondary);
            }
            

            .middle-content {
                row-gap: 40px !important;
                    .card {
                        width: 300px !important;
                        .date-time {
                            display: flex;
                            justify-content: space-between;
                            min-height: 20px !important;
                            margin-left: 1rem !important;
                            margin-right: 1rem !important;
                            font-size: 16px;
                            color: var(--composer-font-color-secondary);

                            .date{
                                display: flex;
                                column-gap: 5px;
                                align-items: center;
                            }
                            .time{
                                display: flex;
                                column-gap: 5px;
                                align-items: center;
                            }
                        }

                        .title {
                            font-size: 20px;
                            font-weight: bold;
                            margin-left: 1rem;
                            margin-right: 1rem;
                            color: var(--composer-font-color-secondary);
                            cursor: pointer;
                        }

                        .description {
                            font-size: 16px;
                            color: var(--composer-font-color-secondary);
                            width: 90%;
                            min-height: 30px ;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }

                        .user-info {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start !important;
                            align-items: center;
                            gap: 10px;
                            margin-left: 1rem;
                            margin-right: 1rem;

                            .profile-image {
                                width: 34px;
                                height: 34px;
                            }

                            .user {
                                .written {
                                    font-size: 14px;
                                    color: var(--composer-font-color-secondary);
                                }

                                .fullname {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: var(--composer-font-color-secondary);
                                }
                            }
                        }
                    }
            }
        }
    }
}
