.container {
  width: 100%;
  position: relative;
  background-color: var(--composer-html-background);
  &.sticky {
    position: sticky;
    top: 0px;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(var(--composer-primary-color-rgb), 0.2);
  }
  ul {
    list-style-type: none;
    > li {
      font-size: 2rem;
      letter-spacing: 0.5px;
      line-height: 60px;
      color: var(--composer-font-color-primary);
      font-weight: 900;
      list-style-type: none;
      cursor: pointer;
    }
  }

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .content {
      width: 100%;
      padding: 25px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img-container {
        padding-left: 4rem;

        .image {
          height: 80px;
        }
      }

      .list-items {
        display: flex;
        margin-left: 4rem;
        .list-item {
          font-size: 1.4rem;
          color: var(--composer-font-color-primary) !important;
        }
      }
      .navbar {
        display: none;
      }
      .icon-items {
        display: flex;
        margin-right: 4rem;
        .icon-ul {
          padding-left: 10px;
        }
        .icon-item {
          border: 1px solid var(--composer-font-color-primary);
          border-radius: 50%;
          height: 36px;
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--composer-font-color-primary);
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .container {
    position: relative;
  }
  .navbar {
    display: block !important;
    padding-right: 4rem;
  }
  .img-hamburger {
    pointer-events: all;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 100;
    font-size: 30px;
    width: 40px;
    height: 40px;
    &:hover {
      transform: rotate(90deg);
    }
  }
  .list-items {
    display: none !important;
    &.active {
      display: flex !important;
      position: absolute !important;
      top: 100px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-left: 0 !important;
      background-color: var(--composer-html-background);
    }
  }
  .icon-items {
    display: none !important;
  }
}
