.container {
  width: 100%;
  padding: 50px 0;
  background-color: var(--composer-html-background);

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .table {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      padding: 20px;
      width: 70%;
      @media only screen and (max-width: 1000px) {
        width: 90%;
      }
      @media only screen and (max-width: 1200px) {
        width: 80%;
      }

      @media only screen and (max-width: 800px) {
        .items{
          .item-card{
            width: 100% !important;
            flex: unset !important;
            border: 1px solid var(--composer-primary-color);
            border-radius: var(--composer-border-radius);
            overflow: hidden;
          }
        }
      }

      .top-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;

        .title {
          font-size: 3rem;
          max-width: 450px;
        }
        .subtitle {
          padding: 6px 20px;
          border-radius: 25px;
          background: color-mix(in srgb, var(--composer-primary-color), #fff 80%);
          color: var(--composer-primary-color);
          font-size: 1.2rem;
        }
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;


        .item-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          flex: 1;

          &.active {
            box-shadow: var(--composer-box-shadow);
          }

          .popular-box {
            opacity: 0;
            width: 100%;
            text-align: center;
            background-image: linear-gradient(
              to right,
              var(--composer-font-color-primary),
              var(--composer-secondary-color)
            );

            padding: 10px 0;

            &.active {
              opacity: 1;
            }
            .popular-text {
              color: var(--composer-font-color-secondary);
            }
          }

          .cardsubtitle {
            background: color-mix(in srgb, var(--composer-primary-color), #fff 80%);
            color: var(--composer-primary-color);
            padding: 4px 15px;
            border-radius: 25px;
            font-weight: 500;
            font-size: 0.75rem;
          }

          .card-title {
            margin: 0 0 10px 0;
            font-size: 1.4rem;
          }

          .card-list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .card-list-item {
              display: flex;
              align-items: center;
              gap: 6px;
              padding: 15px 30px;
              border-top: 1px solid var(--composer-tertiary-color);

              .icon {
                min-width: 12px;
              }
            }
          }

          .card-bottom {
            padding: 15px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: var(--composer-font-color-primary);
            &.active {
              background: var(--composer-primary-color);
              color: var(--composer-font-color-secondary);
              .card-button {
                background: var(--composer-font-color-secondary);
                color: var(--composer-primary-color);
              }
            }

            .card-price {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 6px;
              .price {
                font-size: 2.5rem;
                font-weight: 600;
              }
              .card-duration {
                font-size: 0.8rem;
              }
            }

            .card-button {
              padding: 15px 0;
              width: 100%;
              border-radius: var(--composer-border-radius);
              background: var(--composer-primary-color);
              color: var(--composer-font-color-secondary);
              border: none;
            }

            .pricingTitle {
              margin-top: 15px;
              font-size: 0.8rem;
            }
          }
        }
      }

      .titles {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px 0;
        flex-wrap: wrap;
        gap: 20px;

        .title-bottom {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
