.container {
  width: 100%;
  padding: 50px 0;
  background-color: var(--composer-html-background);

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .price {
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 1px solid var(--composer-tertiary-color);
      border-radius: 10px;
      height: max-content;
      padding: 20px;
      flex: 1 1;
      min-width: 250px;

      .title {
        display: block;
        font-weight: 450;
        margin: 0;
        color: var(--composer-primary-color);
      }
      .price-text {
        display: block;
        font-weight: bold;
        font-size: 3em;
        color: var(--composer-primary-color);
      }
      .duration-text {
        display: block;
        font-size: 1.2em;
        color: var(--composer-font-color-primary);
        margin: 0 0 18px 0;
      }
      .button {
        min-width: 200px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        transition: 0.3s;
        display: block;
        color: white;
        background-color: var(--composer-secondary-color);
        padding: 15px 30px;
        border-radius: 6px;
        border: 1px solid transparent;
        &:hover {
          color: var(--composer-primary-color);
          background-color: transparent;
          border: 1px solid var(--composer-tertiary-color);
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    .max-content{
      .card-item-count{
        margin: 10px 70px 0 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .max-content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flexbox;
      .card-item-count{
        min-width: 70%;
        margin: 10px 20px 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 555px) {
  .container {
    .max-content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      .card-item-count{
        min-width: 70%;
        margin: 10px 20px 10px 0;
      }
    }
  }
}

