@use "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss" as *;
$transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);

.container {
  .max-content {
    display: flex;

    .page {
      width: 100%;
      gap: var(--composer-gap-lg);

      .down-page {
        gap: var(--composer-gap-md);

        .all-card {
          .top {
            .image-wrapper {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: relative;

              .image-icon {
                position: absolute;
                top: var(--composer-gap-xs);
                right: var(--composer-gap-xs);
                z-index: 1;
                font-size: 1.5rem;
                color: var(--composer-tertiary-color);
              }

              .image-container {
                overflow: hidden;
                border-radius: var(--composer-border-radius-lg);
                height: 550px;
                
                .image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  margin-bottom: var(--composer-gap-sm);
                  transition: $transition;
  
                  &[data-animation~="animate1"] {
                    transition: transform 0.3s ease;
                    &:hover { 
                      transition: transform 0.3s ease;
                      transform: scale(1.1);
                    }
                  }
                }
                
                .overlay-bar {
                  .features {
                    width: 100%;
  
                    .feature {
                      display: flex;
                      align-items: center;
                      color: var(--composer-tertiary-color);
                      margin: 0;
                      gap: var(--composer-gap-md);
  
                      .icon {
                        font-size: 2rem;
                      }
  
                      .feature-element {
                        width: 100%;
                        text-align: left;
                      }
                    }
                  }
                }

                &[data-animation~="animate2"] { 
                  display: inline-block;
                  position: relative;

                  &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 4px;
                    width: 0%;
                    background-color: var(--composer-primary-color);
                    transition: width 0.3s ease-in-out;
                  }

                  &:hover {
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }

              .image.shrink {
                height: 200px;
                margin-bottom: var(--composer-gap-md);
              }
            }

            .card-name {
              color: var(--composer-font-color-primary);
              margin-top: var(--composer-gap-sm);
            }

            .position {
              margin: 0;
              border: 1px solid;
              border-radius: var(--composer-border-radius-lg);
              width: fit-content;
              color: var(--composer-tertiary-color);
              padding: var(--composer-gap-sm);
            }
          }
        }
      }
      button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .page {
      gap: var(--composer-gap-xs) !important;

      .up-page {
        .text-group {
          .title1 {
            width: 90%;
          }
        }
      }
    }

    .down-page {
      gap: var(--composer-gap-md) !important;
    }
  }
}
