@import "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss";

.container {
  .max-content {
    display: flex;
    flex-direction: column;

    .up-page {
      .cards-box {
        .card {
          border-radius: var(--composer-border-radius-md);
          overflow: hidden;
          min-height: 600px;
          height: 100%;
          width: 100%;
          position: relative;
          cursor: pointer;
          margin: 0 auto;

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;
          }

          &:hover {
            .image {
              transform: scale(1.1);
            }
          }

          .overlay,
          .overlay2 {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transition: 0.9s;
          }

          .overlay {
            background: linear-gradient(to bottom, rgba(var(--composer-html-background-rgb), 0) 30%, rgba(var(--composer-font-color-primary-rgb), 0.8) 100%);
            z-index: 1;
            opacity: 1;
          }

          .overlay2 {
            z-index: 2;
            opacity: 0;
          }

          .card-content {
            position: absolute;
            left: var(--composer-gap-md);
            bottom: var(--composer-gap-md);
            top: var(--composer-gap-md);
            right: var(--composer-gap-md);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: var(--composer-border-radius-sm);
            display: flex;
            color: var(--composer-font-color-secondary);
            z-index: 4;

            .icon-list-container {
              height: 0;
              transition: height 0.5s, gap 0.5s;
              -webkit-transition: all 0.5s linear;
              transform: scaleY(0);
              position: absolute;
              right: 40px;
              bottom: 50px;
              background-color: var(--composer-font-color-primary);
              border-radius: var(--composer-border-radius-sm);
              text-align: center;
              padding: 15px 13px 15px;
              gap: var(--composer-gap-sm);
              height: auto;
              overflow: hidden;
              transform-origin: bottom center;
              z-index: 5;

              .icon {
                width: 0;
                height: 0;
                color: var(--composer-font-color-primary);
              }
            }
          }

          &:hover {
            .icon-list-container {
              transform: scaleY(1);

              .icon {
                width: var(--composer-gap-md);
                height: var(--composer-gap-md);
                object-fit: cover;
                position: relative;
                color: var(--composer-font-color-secondary);
                &:hover {
                  color: var(--composer-secondary-color);
                }
              }
            }
          }

          .title {
            min-width: 100px;
            width: 100%;
            position: absolute;
            bottom: 70px;
            left: 15px;
            color: var(--composer-font-color-secondary);
            &:hover {
              color: var(--composer-secondary-color);
            }
          }

          .labels {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            color: var(--composer-font-color-secondary);
            padding: 10px 15px 8px;

            .description {
              color: var(--composer-font-color-secondary);
              opacity: 0.5;
              margin: 0;
            }

            .icons {
              display: flex;
              gap: var(--composer-gap-md);
              color: var(--composer-secondary-color);

              .firstIcon,
              .secondIcon {
                width: var(--composer-gap-md);
                height: var(--composer-gap-md);
                &:hover {
                  color: var(--composer-font-color-primary);
                }
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container .max-content .up-page .cards-box .card {
    height: 450px;
    width: 100%;

    .icon-list-container {
      bottom: 55px !important;
    }

    .card-content {
      left: var(--composer-gap-sm);
      bottom: var(--composer-gap-sm);
      top: var(--composer-gap-sm);
      right: var(--composer-gap-sm);
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container .max-content .up-page .cards-box .card {
    height: 400px;

    .icon-list-container {
      right: 35px !important;
      bottom: var(--composer-gap-xl) !important;
      padding: var(--composer-gap-sm) !important;
      gap: 0 !important;

      .icon {
        width: var(--composer-gap-sm) !important;
        height: var(--composer-gap-sm) !important;
      }
    }

    .labels {
      padding: 0.5rem;
    }
  }
}
