@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {

    .container-top {
        padding-bottom: 0 !important;

        .max-content {
            .tab-buttons {
                display: flex;
                flex-wrap: wrap;

                .tab {
                    padding: var(--composer-gap-md) var(--composer-gap-lg);
                    border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
                    border-bottom: none !important;

                    .tab-title {
                        color: var(--composer-font-color-primary);
                    }

                    &.active {
                        border: none !important;
                        background-color: var(--composer-font-color-primary);

                        .tab-title {
                            color: var(--composer-html-background) !important;
                        }
                    }
                }
            }
        }
    }

    .container-bottom {
        border-top: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
        border-bottom: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
        background-color: var(--composer-html-background);

        .wrapper {
            .tab-content {
                align-items: start;
                gap: var(--composer-gap-md);
                width: 100%;

                .subtitle,
                .title {
                    color: var(--composer-font-color-primary);
                    text-align: left;
                }

                .description {
                    text-align: left;
                }

                .content {
                    display: flex;
                    gap: var(--composer-gap-md);
                    width: 100%;

                    .left {
                        display: flex;
                        flex-direction: column;
                        gap: var(--composer-gap-sm);

                        .detail-title,
                        .property-title {
                            color: var(--composer-font-color-primary);
                            text-align: left;
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        gap: var(--composer-gap-sm);

                        .detail-value {
                            color: var(--composer-font-color-primary);
                            text-align: left;
                        }

                        .box {
                            display: flex;
                            min-height: 16px;

                            .property-value {
                                color: var(--composer-font-color-primary);
                                padding-right: var(--composer-gap-sm);
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container-top {
        border: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .max-content {
            width: 100% !important;
            max-width: none !important;

            .tab-buttons {
                flex-direction: column;
                width: 100%;

                .tab {
                    width: 100%;
                    padding: 20px 30px !important;
                    border-left: 0 !important;
                    border-right: 0 !important;
                }
            }
        }
    }
}