@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    .max-content {
        .tab-buttons {
            display: flex;
            flex-wrap: wrap;

            .tab {
                padding: var(--composer-gap-md) var(--composer-gap-lg);
                border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
                border-bottom: none !important;

                .tab-title {
                    color: var(--composer-font-color-primary);
                }

                &.active {
                    border: none !important;
                    background-color: var(--composer-font-color-primary);

                    .tab-title {
                        color: var(--composer-html-background) !important;
                    }
                }
            }
        }
    }

    .container-bottom {
        margin: 0 -60px;
        padding: var(--composer-gap-xl) 60px;
        border-top: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
        border-bottom: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
        background-color: var(--composer-html-background);

        .tab-content {
            align-items: start;
            gap: var(--composer-gap-md);
            width: 100%;

            .vertical>*:last-child {
                margin-bottom: 0;
            }

            .subtitle,
            .title {
                color: var(--composer-font-color-primary);
                text-align: left;
            }

            .description {
                text-align: left;
            }

            .content {
                display: flex;
                gap: var(--composer-gap-md);
                width: 100%;

                .left {
                    display: flex;
                    flex-direction: column;
                    gap: var(--composer-gap-sm);

                    .detail-title,
                    .property-title {
                        color: var(--composer-font-color-primary);
                        text-align: left;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    gap: var(--composer-gap-sm);

                    .detail-value {
                        color: var(--composer-font-color-primary);
                        text-align: left;
                    }

                    .box {
                        display: flex;
                        min-height: 16px;

                        .property-value {
                            color: var(--composer-font-color-primary);
                            padding-right: var(--composer-gap-sm);
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .max-content {
            .tab-buttons {
                flex-direction: column;
                width: 100%;

                .tab {
                    width: 100%;
                    padding: 20px 30px !important;
                    border-left: 0 !important;
                    border-right: 0 !important;
                }
            }
        }

        .container-bottom {
            margin: 0 !important;
            padding: var(--composer-gap-xl) 30px !important;
        }
    }
}