@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  .max-content {
    .video {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(var(--composer-font-color-primary-rgb), 0.8);
      top: 0;
      left: 0;
      display: grid;
      place-items: center;
      padding: var(--composer-gap-md);
      z-index: 9;

      .player {
        width: 60%;
        height: 56.25vw;
        max-height: 450px;
        z-index: 10;
      }
    }

    .content {
      .text-side {
        flex: 1;
        justify-content: center;
        .title-text {content: ""}

        .description-div {
          display: flex;
          align-items: center;
          position: relative;

          .line {
            width: 3px;
            background-color: var(--composer-secondary-color);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin-right: var(--composer-gap-sm);
          }

          .description {
            width: 100%;
            margin: 0px 0px 0px var(--composer-gap-md);
          }
        }

        .description-author {
          display: flex;
          align-items: center;
          gap: var(--composer-gap-md);

          .author-icon {
            flex-shrink: 0;
            color: var(--composer-primary-color);
            width: 80px;
            height: 80px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--composer-box-shadow);
            margin: var(--composer-gap-md) 0px;

            .author-icon-photo {
              width: 40px;
              height: 40px;
            }
          }

          .author-info {
            .author-description-text {
              color: var(--composer-font-color-primary);
              font-weight: 300;
              margin: 0 0 var(--composer-gap-xs);
            }

            .author-name-text {
              color: var(--composer-font-color-primary);
              font-weight: 600;
              margin: 0;
            }
          }
        }

        .button-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: var(--composer-gap-sm);
          width: 100%;

          .button {
            
            display: flex;
            background-color: var(--composer-primary-color);
            color: var(--composer-font-color-secondary);
            font-size: 1rem;
            padding: var(--composer-gap-sm) var(--composer-gap-md);
            transition: background-color 0.3s ease;
            border: 1px solid transparent;
            border-radius: var(--composer-border-radius-sm);
            cursor: pointer;

            &:hover {
              color: var(--composer-secondary-color);
              background: transparent;
              border: 1px solid var(--composer-secondary-color);
            }
          }
        }
      }

      .video-part {
        flex: 1;
        display: flex;
        aspect-ratio: 1;
        position: relative;
        align-self: center;
        .video-images {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: var(--composer-border-radius-md);
        }

        .play-part {
          align-self: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;

          .play-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: clamp(50px, 10vw, 70px);
            height: clamp(50px, 10vw, 70px);
            background-color: transparent;
            border-radius: var(--composer-border-radius-xl);

            .outer-circle {
              position: absolute;
              width: 120%;
              height: 120%;
              background-color: var(--composer-html-background);
              opacity: 0.6;
              border-radius: 50%;
              animation: pulse 1.5s infinite;
              z-index: 1;
            }

            .inner-circle {
              position: absolute;
              width: 90%;
              height: 90%;
              background-color: var(--composer-html-background);
              opacity: 0.9;
              border-radius: 50%;
              animation: pulse 1.5s infinite;
              z-index: 2;
            }

            .play-image {
              color: var(--composer-primary-color);
              width: 70%;
              height: 70%;
              z-index: 3;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $composer-tablet-width-lg) {
  .container{
    .max-content{
      .content {
        .video-part{
          width: 100%;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
