.container {
  width: 100%;

  .wrapper {
    height: 100vh;

    .carousel > button:first-child {
      &:before {
        transform: rotateZ(-45deg);
      }
    }

    .carousel > :last-child {
      margin-right: 120px;

      &:before {
        transform: rotateZ(135deg);
      }
    }

    .carousel {
      height: 100%;

      > button {
        z-index: 10;
        margin-left: 70px;
        &:before {
          content: "";
          position: absolute;
          transform: rotateZ(135deg);
          font-size: 100px;
          width: 50px;
          height: 50px;
          border-top: 3px solid white;
          border-left: 3px solid white;
        }
      }

      .items {
        position: relative;

        .max-content {
          max-width: var(--composer-content-width);
          margin: auto;
        }

        .background {
          object-fit: cover;
          z-index: -1;
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
        }

        .item-box {
          padding: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding-top: 50px;
          gap: 150px;
          height: 100vh;

          .text-content {
            display: flex;
            flex-direction: column;
            gap: 35px;
            justify-content: center;

            .upper-title {
              color: #f2ad44;
              font-size: 3rem;
              overflow-wrap: break-word;
              word-wrap: break-word;
              text-wrap: wrap;
              width: 50rem;
            }
            .lower-title {
              color: #ffffffff;
              font-size: 4rem;
              overflow-wrap: break-word;
              font-weight: bold;
              word-wrap: break-word;
              text-wrap: wrap;
              width: 50rem;
            }
            .text {
              width: 50rem;
              color: #ffffffcc;
              font-size: 2rem;
              overflow-wrap: break-word;
              word-wrap: break-word;
              text-wrap: wrap;
            }
            .action-button {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              background-color: #f2ad44;
              padding: 15px;
              font-size: 1.9rem;
            }
          }

          .image {
            z-index: 5;
            height: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .wrapper {
      .carousel > button:first-child {
      }

      .carousel > :last-child {
        margin-right: 115px;
      }

      .carousel {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;

        .items {
          padding: 50px 20px;

          height: 100%;
          width: 100%;
          .max-content {
          }

          .background {
            height: 100vh;
            object-fit: cover;
          }

          .item-box {
            display: flex;
            flex-direction: column;
            height: 100vh;
            gap: 100px;
            .text-content {
              .upper-title {
                font-size: 2rem;
                text-align: center;
              }
              .lower-title {
                font-size: 2.5rem;
                text-align: center;
              }
              .text {
                font-size: 1rem;
                text-align: center;
              }
              .action-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
              }
            }

            .image {
              width: 50%;
              height: 70%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .wrapper {
      .carousel > button:first-child {
        margin-left: 40px;
      }

      .carousel > :last-child {
        margin-right: 60px;
      }

      .carousel {
        > button {
          &:before {
            height: 20px;
            width: 20px;
          }
        }
        .items {
          .item-box {
            gap: 25px;
            .upper-title {
              color: black;
            }
            .image {
              width: 70%;
              height: 35%;
            }
            .text-content {
              gap: 20px;
              width: 300px;
              align-items: center;

              .upper-title {
                font-size: 15px;
                width: 200px;
              }
              .lower-title {
                font-size: 17px;
                width: 200px;
              }
              .text {
                font-size: 1rem;
                width: 250px;
              }
              .action-button {
                padding: 6px;
                .button-content {
                  color: white;
                  padding: 6px;

                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
