@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-md);

    .header {
      .section-title, .section-subtitle, .section-description {
        content: "";
      }
    }

    .cards-container {
      .card {
        padding: var(--composer-gap-md);
        border-radius: var(--composer-border-radius-sm);
        background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
        border: none;

        .title {
          color: var(--composer-font-color-primary);
        }
        .icon-container {
          width: var(--composer-gap-xl);
          height: var(--composer-gap-xl);
          border-radius: 50%;
          border: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.2);
          display: flex;
          justify-content: center;
          align-items: center;

          &.filled {
            border: none;
            background-color: var(--composer-primary-color);

            .icon {
              color: var(--composer-font-color-secondary);
            }
          }

          .icon {
            color: var(--composer-primary-color);
            font-size: 1.5rem;
            width: fit-content;
            height: var(--composer-gap-md);
          }
        }

        .rows {
          width: 100%;
          .row-item {
            color: var(--composer-font-color-secondary);
          }
        }
      }
    }
  }
}
