.container {
    width: 100%;
    padding: 100px 50px;
    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        .call-to-action7-page {
            display: block;
            gap: 20px;
            justify-content: center;
            width: 100%;
            .left-child {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                margin-right: 100px;
                .description {
                    font-weight: 200;
                    font-size: 2rem;
                    line-height: 1.5;
                    margin: 0;
                    color: var(--composer-font-color-primary);
                }
                .title {
                    margin: 0;
                    font-size: 4rem;
                    padding: 0px 0px 30px;
                    color: var(--composer-primary-color);
                }
            }
            .card-child {
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: var(--composer-border-radius);
                padding: 40px 30px;
                width: 100%;
                margin-top: 20px;
                margin-right: 20px;
                box-shadow: var(--composer-box-shadow);
                .image {
                    margin-bottom: 10px;
                    width: 40px;
                    height: 40px;
                }
                .title-2 {
                    margin: 0px 0px 30px 0px;
                    font-size: 3rem;
                    color: var(--composer-primary-color);
                }
                .leftDescription {
                    font-weight: 300;
                    opacity: 0.8;
                    margin: 0;
                    margin-bottom: 10px;
                    color: var(--composer-font-color-primary);
                    font-size: 2rem;
                    line-height: 1.5;
                }
                a {
                    margin-top: 20px;
                    color: var(--composer-font-color-primary);
                    text-decoration: none;
                    .left-button-text {
                        transition: all 0.5s;
                        display: flex;
                        font-size: 1.75rem;
                        margin: 20px 0px 0px;
                        img {
                            transition: all 0.5s;
                            padding: 0;
                            margin: 5px 0 0 5px;
                        }
                        &:hover {
                            img {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        gap: 20px;
        padding: 50px 20px;
        .max-content {
            .call-to-action7-page {
                display: flex;
                gap: 20px;
                flex-direction: column;
                text-align: center;
                margin: 0;
                .card-child {
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    margin: 0 auto 0 auto;
                }
            }
        }
    }
}