.container {
  height: 100%;
  width: 100%;
  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
    padding :20px 50px;
    container-name: max-content;
    container-type: inline-size;
    @container max-content (max-width: 1000px){
      .image{
        width: 100% !important;
      }
      .left-page{
        padding-top: 0px !important;
      }
      .right-container{
        gap:10px !important;
        .card-container{
          margin-top:0px !important;
          position: static !important;
          .card{
            width: 100% !important;
            position: static !important;
            border:none !important;
            .content{
              align-items: flex-start !important;
              .icon{
                width: 20px !important;
                height: 20px !important;
              }
              .number{
                font-size:1.5rem !important;
              }
              .right-text{
                font-size: 1.2rem !important;
              }
            }
          }
        }
      }
    }

    .page {
      width: 100%;
      height: 100%;
      display: flex;
      height: auto;
      gap:20px;
        .left-page,.left-page-without-image {
          display: flex;
          flex-direction: column;
          height: auto;
          width: 100%;
          flex:1;
          gap:20px;
          padding-top: 50px; 
          .subTitle {
            color: var(--composer-font-color-primary);
            font-size:1.6rem;
            margin:0px;
            padding-bottom: 10px ;   
          }
          .title {
            font-size: 3.5rem;
            color: var(--composer-font-color-primary);
            margin:0px;
          }
          .description {
            font-weight: 100;
            font-size: 1.6rem;
            color: var(--composer-font-color-primary);
            margin:0px;
            font-weight: 100;
            opacity: 0.5;
            padding-bottom: 20px;
          }
          .button-container {
            display: flex;
            gap: 20px;
            align-items: center;
            .button {              
              border-radius: 6px;
              cursor: pointer;
              border: 2px solid var(--composer-primary-color);
              padding: 15px 30px;
              background-color: transparent;
              max-width: 300px;
              .button-text{
                color: var(--composer-primary-color);
                font-size: 1.6rem;
                >blinkpage{
                  >p{
                    flex-wrap: wrap;
                    word-break: break-word;
                  }
                }
              }
              transition: transform 0.3s ease;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
        .left-page-without-image {
          padding-top: 0px;
        }
        .right-container, .right-container-without-image{
          display: flex;
          align-items: center;
          flex-direction: column;
          flex:1.5;
          height: fit-content;
          align-items: flex-end;
          min-height: 200px;
          width: 100%;
          .image {
            border-radius: 20px;
            width: 85%;
            object-fit: cover;
            display: flex;
            max-height: 700px;
          }
          .card-container , .card-container-without-image {
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 150px;
            margin-top:-50px;
            .card {
              position: absolute;
              bottom:0px;
              width: 90%;
              display: flex;
              border-radius: 20px;
              border: 10px solid var(--composer-html-background); 
              padding: 30px;
              max-width: 100%;
              background-color: color-mix(in srgb , var(--composer-primary-color), var(--composer-html-background) 95%);
              .content {
                flex: 1;
                display: flex;
                color: var(--composer-font-color-primary);
                flex-direction: row;  
                position: relative;
                justify-content: center;
                padding: 10px;
                .inner-content{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  .text-container{
                    display: flex;
                    flex-direction: column;
                    .first-container{
                      display: flex;
                      gap:15px;
                      .icon {
                        width: 35px;
                        height: 35px;
                        min-width: 35px;
                        color: var(--composer-font-color-primary);
                      }
                      .text{
                        display: flex;
                        flex-direction: column;
                        gap:5px;
                        .right-text {
                          max-width: 300px;
                          font-size:1.5rem;
                          color: var(--composer-font-color-primary);
                          >blinkpage{
                            >p{
                              flex-wrap: wrap;
                              word-break: break-word;
                            }
                          }
                        }
                        .number{
                          max-width: 300px;
                          font-size: 2rem;
                          color: var(--composer-font-color-primary);
                          >blinkpage{
                            >p{
                              flex-wrap: wrap;
                              word-break: break-word;
                            }
                          }
                        }
                      }
                    }
                  }
                }
  
                &::after {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 1px;
                  height: calc(100% + 30px);
                  background-color: var(--composer-font-color-primary);
                  margin: -30px 0px;
                  left:100%;
                }
                &:last-child::after {
                  display: none;
                }
              }
            }
          }
          .card-container-without-image {
            margin-top: 0;
            height: 100%;
            align-items: center;
            display: flex;
            .card{
              bottom:auto !important;
              width: 100%;
            }
          }          
        }
        .right-container-without-image{
          height: 100% !important;
        }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .max-content {
      padding :20px 30px;
      .page {
        display: flex;
        flex-direction: column;
         gap:40px;
          .left-page,.left-page-without-image {
            flex:auto;
            padding-top: 0px;
            .subTitle {
              font-size:1.6rem;
              padding-bottom: 10px; 
              padding-top: 0px !important; 
            }
            .title {
              font-size: 3rem;
            }
            .description {
              font-size: 1.5rem;
            }
            .button-container {
              .button {
                font-size: 1.4rem;
              }
            }
          }
          .right-container, .right-container-without-image{
            flex:auto;
            .image {
              width: 100%;
            }
            .card-container, .card-container-without-image{
              .card {
                width: 100%;
                .content {
                  .right-text {
                    font-size: 1.4rem !important;
                  }
                  .number{
                    font-size: 1.8rem !important;
                  }
                }
              }
            }
            .card-container-without-image{
              .card{
                bottom:0px !important;
              }
            }
          }
          .right-container-without-image{
            min-height: fit-content !important;
          }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    .max-content {
      padding :20px 30px;
      .page {
        display: flex;
        flex-direction: column;
        gap:30px;
          .left-page {
            flex: auto;
            gap:10px;
            height: fit-content !important;
            .subTitle {
              font-size:1.4rem;
              padding-bottom: 10px;           
            }
            .title {
              font-size: 2.5rem;
            }
            .description {
              font-weight: 100;
              font-size: 1.3rem;
            }
            .button-container {
              flex-direction: column;
              >div{
                width: 100% !important;
              }        
              .button {
                font-size: 1.2rem;
                width: 100%;
              }
            }
          }
          .right-container, .right-container-without-image{
            gap:20px;
            flex: auto;
            .image {
              width: 100%;
              margin: 0px;
            }
            .card-container, .card-container-without-image{
              margin-top: 0px;
              .card {
                position: relative;
                flex-direction: column;
                gap:0px;
                max-width: 100%;
                gap:20px;
                .content {
                  flex-direction: column;
                  width: 100%;
                  .inner-content{
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    .text-container{
                      width: 100%;
                      align-items: center;
                      display: flex;
                      flex-direction: column;
                      margin:0px;
                      .first-container{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        gap:10px;
                        .text{
                          width: 100%;
                          height: 100%;
                          align-items: center;
                          gap:10px;
                          .right-text {
                            font-size: 1.2;
                            margin-right: 0px;
                          }
                          .number{
                            font-size:1.5;
                          }
                        }
                      }
                    }
                  }
                  &::after {
                    display: none;
                  }
                }
              }
            }
          }
      }
    }
  }
}
