.container {
  height: 100%;

  .max-content {
    display: flex;
    height: 100%;

    .page {
      width: 100%;
      display: flex;
      height: auto;
      gap: var(--composer-gap-md);

      .left-page,
      .left-page-without-image {
        height: auto;
        width: 100%;
        flex: 1;
        gap: var(--composer-gap-sm);
        padding-top: 2.5rem;

        .description {
          color: var(--composer-font-color-primary);
          font-weight: 100;
          opacity: 0.5;
        }

        .button-container {
          display: flex;
          align-items: center;

          .button {
            border-radius: var(--composer-border-radius-sm);
            cursor: pointer;
            border: 2px solid var(--composer-primary-color);
            padding: 1rem 2rem;
            background-color: transparent;
            max-width: 300px;

            .button-text {
              color: var(--composer-primary-color);
              font-size: 1.5rem;

              >blinkpage {
                >p {
                  flex-wrap: wrap;
                  word-break: break-word;
                }
              }
            }

            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .left-page-without-image {
        padding-top: 0px;
      }

      .right-container,
      .right-container-without-image {
        flex: 1.5;
        height: fit-content;
        align-items: flex-end;
        min-height: 200px;
        width: 100%;

        .image {
          border-radius: var(--composer-border-radius-xl);
          width: 85%;
          object-fit: cover;
          display: flex;
          max-height: 700px;
        }

        .card-container,
        .card-container-without-image {
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          margin-top: -3rem;

          .card {
            position: absolute;
            bottom: 0px;
            width: 90%;
            display: flex;
            border-radius: var(--composer-border-radius-xl);
            border: .5rem solid var(--composer-html-background);
            padding: 2rem;
            max-width: 100%;
            background-color: color-mix(in srgb, var(--composer-primary-color), var(--composer-html-background) 95%);

            .content {
              flex: 1;
              display: flex;
              color: var(--composer-font-color-primary);
              flex-direction: row;
              position: relative;
              justify-content: center;
              align-items: flex-start;
              padding: 10px;

              .inner-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .text-container {
                  .first-container {
                    display: flex;
                    gap: var(--composer-gap-md);

                    .icon {
                      width: 2rem;
                      height: 2rem;
                      min-width: 2rem;
                      color: var(--composer-font-color-primary);
                    }

                    .text {
                      .number {
                        max-width: 300px;
                        font-size: 2rem;
                        color: var(--composer-font-color-primary);

                        >blinkpage {
                          >p {
                            flex-wrap: wrap;
                            word-break: break-word;
                          }
                        }
                      }

                      .right-text {
                        max-width: 300px;
                        font-size: 1.5rem;
                        color: var(--composer-font-color-primary);

                        >blinkpage {
                          >p {
                            flex-wrap: wrap;
                            word-break: break-word;
                          }
                        }
                      }


                    }
                  }
                }
              }

              &::after {
                content: "";
                position: absolute;
                display: block;
                width: 1px;
                height: calc(100% + 2rem);
                background-color: var(--composer-font-color-primary);
                margin: -2rem 0px;
                left: 100%;
              }

              &:last-child::after {
                display: none;
              }
            }
          }
        }

        .card-container-without-image {
          margin-top: 0;
          height: 100%;
          align-items: center;
          display: flex;

          .card {
            bottom: auto;
            width: 100%;
          }
        }
      }

      .right-container-without-image {
        height: 100%;
      }
    }
  }
}

@container (max-width: 1000px) {
  .container {
    .max-content {
      .page {
        flex-direction: column;
        gap: var(--composer-gap-lg);

        .left-page,
        .left-page-without-image {
          flex: auto;
          padding-top: 0px;

          .button-container {
            .button {
              .button-text {
                font-size: 1rem;
              }
            }
          }
        }

        .right-container,
        .right-container-without-image {
          flex: auto;
          gap: var(--composer-gap-sm);

          .image {
            width: 100%;
          }

          .card-container,
          .card-container-without-image {
            margin-top: 0px;
            position: static;

            .card {
              width: 100%;
              position: static;
              border: none;

              .content {
                .inner-content {
                  .text-container {
                    .first-container {
                      .icon {
                        width: 1.5rem;
                        height: 1.5rem;
                      }

                      .text {
                        .number {
                          font-size: 1.5rem;
                        }

                        .right-text {
                          font-size: 1rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .card-container-without-image {
            .card {
              bottom: 0px;
            }
          }
        }

        .right-container-without-image {
          min-height: fit-content;
        }
      }
    }
  }
}

@container (max-width: 450px) {
  .container {
    .max-content {
      .page {
        .left-page {
          height: fit-content;

          .button-container {
            flex-direction: column;

            >div {
              width: 100% !important;
            }

            .button-container {
              .button {
                .button-text {
                  width: 100%;
                }
              }
            }
          }
        }

        .right-container,
        .right-container-without-image {
          gap: var(--composer-gap-md);

          .image {
            margin: 0px;
          }

          .card-container,
          .card-container-without-image {
            .card {
              position: relative;
              flex-direction: column;
              max-width: 100%;
              gap: var(--composer-gap-md);

              .content {
                flex-direction: column;
                width: 100%;

                .inner-content {
                  flex-direction: column;
                  width: 100%;
                  align-items: center;

                  .text-container {
                    width: 100%;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin: 0px;

                    .first-container {
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      height: 100%;
                      align-items: center;
                      gap: var(--composer-gap-sm);

                      .text {
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        gap: var(--composer-gap-sm);

                        .right-text {
                          font-size: 1.5rem;
                          margin-right: 0px;
                        }
                      }
                    }
                  }
                }

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}