@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  padding: 80px 50px;
  width: 100%;
  background-color: var(--composer-html-background);

  .max-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;

    .header {
      width: 100%;
      margin-bottom: var(--composer-gap-md);
      display: flex;
      flex-direction: column;
      align-items: center;

      .title,
      .subtitle,
      .no-title,
      .section-description {
        text-align: center;
        justify-content: center;
      }

      .subtitle {
        transform: translateX(0) !important;

        &::before {
          display: none;
        }
      }

    }

    .section-button {
      width: fit-content;
      margin-top: var(--composer-gap-lg);
    }

    .slider-parent {
      width: calc(100% + 100px);
      margin: auto;
      margin-bottom: var(--composer-gap-md);
      margin-left: -50px;
      margin-right: -50px;

      .carousel {
        width: 100%;

        :global(.slick-list) {
          :global(.slick-track) {
            display: flex;
            align-items: stretch;
            gap: var(--composer-gap-lg);

            :global(.slick-slide) {
              height: auto;
              padding: 0;
            }
          }
        }

        .card {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          border-radius: var(--composer-border-radius-sm) !important;

          .content-div {
            border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
            transition: transform var(--composer-transition-duration-normal), filter var(--composer-transition-duration-normal);
            min-height: 300px;
            height: 100%;
            gap: 0;

            .left-part {
              flex: 1;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              width: 100%;
              align-items: stretch;
              align-items: center;
              justify-content: center;

              .vert-text {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                font-size: 1rem;
                color: var(--composer-font-color-primary);
                text-align: center;
                margin: var(--composer-gap-sm) var(--composer-gap-md);
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
              }

              .image-wrapper {
                position: relative;
                min-height: 250px;
                flex: 1;
                height: 100%;

                .image {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  object-position: center;
                }

                .overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: var(--composer-overlay-color);
                  z-index: 1;
                }
              }
            }

            .no-img {
              flex: unset;
              width: auto;
            }

            .right-part {
              flex: 1;
              gap: var(--composer-gap-sm);
              padding: var(--composer-gap-lg) var(--composer-gap-md);
              height: fit-content;
              align-items: flex-start;

              .card-subtitle {
                margin: 0;
                color: var(--composer-tertiary-color);
                text-align: left;
                content: "";
              }

              .card-title {
                margin: 0;
                color: var(--composer-font-color-primary);
                font-size: 1.5rem;
                text-align: left;
                content: "";
              }

              .card-description {
                margin: 0;
                color: var(--composer-tertiary-color);
                font-size: 1.5rem;
                text-align: left;
                content: "";
              }
            }
          }

          &.nextSlide,
          &.prevSlide {
            filter: blur(var(--composer-gap-xs));
          }
        }

        :global(.slick-prev),
        :global(.slick-next) {
          position: absolute;
          display: block;
          height: 20px;
          width: 20px;
          line-height: 0px;
          font-size: 0px;
          cursor: pointer;
          background: transparent;
          color: transparent;
          top: auto;
          bottom: -40px;
          padding: 0;
          border: none;
          outline: none;
          z-index: 10;

          &:hover,
          &:focus {
            outline: none;
            background: transparent;
            color: transparent;

            &:before {
              opacity: 1;
            }
          }

          &:before {
            font-family: "slick";
            font-size: 20px;
            line-height: 1;
            color: var(--composer-font-color-primary);
            opacity: 0.75;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }

        :global(.slick-prev) {
          left: 20px;

          [dir="rtl"] & {
            left: auto;
            right: 20px;
          }

          &:before {
            content: "←";

            [dir="rtl"] & {
              content: "→";
            }
          }
        }

        :global(.slick-next) {
          right: 20px;

          [dir="rtl"] & {
            left: 20px;
            right: auto;
          }

          &:before {
            content: "→";

            [dir="rtl"] & {
              content: "←";
            }
          }
        }

        :global(.slick-dots) {
          position: relative;
          display: flex !important;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: var(--composer-gap-md) 0 0 0;
          width: 100%;

          :global(li) {
            height: 10px;
            margin: 0 var(--composer-gap-xs);

            :global(button) {
              height: inherit;
              width: 100%;
              padding: 0;
              border: none;
              background: transparent;
              font-size: 0;

              &::before {
                content: "";
                display: block;
                background-color: var(--composer-primary-color);
                height: 2px;
                width: 100%;
              }
            }

            &.slick-active {
              :global(button) {
                &::before {
                  background-color: var(--composer-primary-color);
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .no-header {
        margin-bottom: 0;
      }

      .single-item {
        :global(.slick-list) {
          :global(.slick-track) {
            margin-left: unset !important;
          }
        }
      }
    }

    .button,
    .button-text {
      content: "";
    }

    .icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .icon {
        font-size: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .slider-parent {
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        .carousel {
          :global(.slick-list) {
            :global(.slick-track) {
              gap: 0;
            }
          }

          .card {
            .content-div {
              flex-direction: column;

              .left-part {
                flex-direction: column;
                align-items: unset;

                .vert-text {
                  writing-mode: unset;
                  transform: unset;
                }

                .image-wrapper {
                  flex: unset;
                }
              }

              .right-part {
                padding: var(--composer-gap-md);
              }
            }
          }

          :global(.slick-prev),
          :global(.slick-next) {
            display: none !important;
          }
        }
      }

      .icon {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}