@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  padding: 80px 50px;
  width: 100%;
  background-color: var(--composer-html-background);

  .max-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;

    .header {
      width: 100%;

      .no-title {
        margin-bottom: var(--composer-gap-md);
      }
    }

    .slider-parent {
      width: calc(100% + 100px);
      margin: auto;
      margin-bottom: var(--composer-gap-md);
      margin-left: -50px;
      margin-right: -50px;

      @container (max-width: #{$composer-phone-width}) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      .carousel {
        width: 100%;

        :global(.slick-list) {
          :global(.slick-track) {
            display: flex;
            align-items: stretch;
            gap: var(--composer-gap-lg);

            @container (max-width: #{$composer-phone-width}) {
              gap: 0;
            }

            :global(.slick-slide) {
              height: auto;
              padding: 0;

              @container (max-width: #{$composer-tablet-width}) {
                padding: 0;
              }

              @container (max-width: #{$composer-phone-width}) {
                padding: 0;
              }
            }
          }
        }

        .card {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .content-div {
            border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
            transition: transform var(--composer-transition-duration-normal), filter var(--composer-transition-duration-normal);
            min-height: 300px;
            height: 100%;
            gap: 0;

            @container (max-width: #{$composer-phone-width}) {
              flex-direction: column;
            }

            .left-part {
              flex: 1;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              width: 100%;
              align-items: stretch;
              align-items: center;
              justify-content: center;

              @container (max-width: #{$composer-phone-width}) {
                flex-direction: column;
                align-items: unset;
              }

              .vert-text {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                font-size: 1rem;
                color: var(--composer-font-color-primary);
                text-align: center;
                margin: var(--composer-gap-sm) var(--composer-gap-md);
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;

                @container (max-width: #{$composer-phone-width}) {
                  writing-mode: unset;
                  transform: unset;
                }
              }

              .image-wrapper {
                position: relative;
                min-height: 250px;
                flex: 1;
                height: 100%;

                @container (max-width: #{$composer-phone-width}) {
                  flex: unset;
                }

                .image {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  object-position: center;
                }

                .overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: var(--composer-overlay-color);
                  z-index: 1;
                }
              }
            }

            .no-img {
              flex: unset;
              width: auto;
            }

            .right-part {
              flex: 1;
              gap: var(--composer-gap-md);
              padding: var(--composer-gap-lg) var(--composer-gap-md);
              height: fit-content;

              @container (max-width: #{$composer-phone-width}) {
                padding: var(--composer-gap-md);
              }

              .first-header {
                margin: 0;
                color: var(--composer-tertiary-color);
              }

              .item-title {
                margin: 0;
                color: var(--composer-font-color-primary);
                font-size: 1.5rem;
              }

              .item-description {
                margin: 0;
                color: var(--composer-tertiary-color);
                font-size: 1.5rem;
              }
            }
          }

          &.nextSlide,
          &.prevSlide {
            filter: blur(var(--composer-gap-xs));
          }
        }

        :global(.slick-prev),
        :global(.slick-next) {
          @container (max-width: #{$composer-phone-width}) {
            display: none !important;
          }
        }

        :global(.slick-dots) {
          position: relative;
          display: flex !important;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: var(--composer-gap-xs) 0 0 0;
          width: 100%;

          :global(li) {
            height: 10px;
            margin: 0 var(--composer-gap-xs);

            :global(button) {
              height: inherit;
              width: 100%;
              padding: 0;
              border: none;
              background: transparent;
              font-size: 0;

              &::before {
                content: "";
                display: block;
                background-color: var(--composer-font-color-primary);
                height: 2px;
                width: 100%;
              }
            }

            &.slick-active {
              :global(button) {
                &::before {
                  background-color: var(--composer-font-color-primary);
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .no-header {
        margin-bottom: 0;
      }

      .single-item {
        :global(.slick-list) {
          :global(.slick-track) {
            margin-left: unset !important;
          }
        }
      }
    }
  }
}

