@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;
.container {
  .max-content {
    height: 100vh;
    display: flex;
    gap: var(--composer-gap-md);
  }

  .left {
    width: 100%;
    display: flex;
    .item {
      align-items: flex-start;
      padding: var(--composer-gap-lg) var(--composer-gap-xl);

      .content {
        text-overflow: ellipsis;
        white-space: nowrap;

        .title {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: var(--composer-gap-sm);
        }
      }

    }
  }

  .right {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--composer-gap-md);
    height: 100%;

    .top {
      flex: 2;
      display: flex;
      gap: var(--composer-gap-md);

      .item {
        flex: 1;
      }
    }

    .bottom {
      display: flex;
      gap: var(--composer-gap-md);
      flex: 2;

      .item {
        flex: 1;
      }
    }
  }

  .item {
    padding: var(--composer-gap-lg);
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: color-mix(
      in srgb,
      var(--composer-html-background),
      var(--composer-font-color-primary) 5%);

    &.no-image{
        .content{
            color: var(--composer-font-color-primary);
        }
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            position: absolute;
            width: calc(100% + var(--composer-gap-md));
            height: 100%;
            object-fit: cover;
        }
    }

    .icon2 {
        left: 25px;
    }

    &[data-animation~="animate1"] {
        .background-image img {
            transform: translateX(-6px);
            transition: transform 0.45s cubic-bezier(.61,1,.88,1);
        }

        .icon2 {
            transition: left 0.3s cubic-bezier(.61,1,.88,1);
        }

        &:hover {
            .background-image img {
                transform: translateX(0);
            }

            .icons .icon2 {
                left: 31px;
            }

            .item-title::after {
                visibility: visible;
                width: 100%;
            }
        }

        .item-title {
            &::after {
                visibility: hidden;
                transition: width 0.5s ease-in-out;
            }
        }
    }

    &[data-animation~="animate2"] {
        .background-image img {
            transform: scale(1);
            transition: transform 0.45s cubic-bezier(.61,1,.88,1);
        }

        .icon2 {
            transition: left 0.3s cubic-bezier(.61,1,.88,1);
        }

        &:hover {
            .background-image img {
                transform: scale(1.1);
            }

            .icons .icon2 {
                left: 31px;
            }

            .item-title::after {
                visibility: visible;
                width: 100%;
            }
        }

        .item-title {
            &::after {
                visibility: hidden;
                transition: width 0.5s ease-in-out;
            }
        }
    }

    .item-title::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--composer-font-color-primary);
        visibility: hidden;
    }

    .content {
      z-index: 5;
      display: flex;
      color: white;
      margin-top: auto;
      height: auto;
      white-space: normal;

      .title {
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-right: var(--composer-gap-md);
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .icons {
        font-size: 4rem;
        display: flex;
        align-items: center;
        margin-left: 0;
        position: relative;
        width: 100px;
      }
    }

    .icon1,
    .icon2 {
      position: absolute;
    }

    .icon1 {
      left: 0;
    }

    .icon2 {
      left: 25px;
      transition: left 0.3s cubic-bezier(.61,1,.88,1);
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    padding-bottom: var(--composer-gap-lg);

    .max-content {
      display: grid;
      height: auto;
    }

    .left {
      grid-row: 1 / 2;
      height: 450px;

      .item {
        align-items: flex-start;
        padding: var(--composer-gap-xl);
        height: 100%;
      }
    }

    .right {
      grid-row: 2 / 3;
      display: flex;
      gap: var(--composer-gap-xs);
      height: 100%;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 400px;

      .content {
        .title {
          content: "";
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      flex-direction: column;
      grid-template-rows: auto;
    }
  }

  .right {
    width: 100%;
  }

  .right .item {
    width: 100%;
  }

  .right .top,
  .right .bottom {
    flex-direction: column;
  }
}
