.container {
    .max-content {
        .grid-container{
            gap: 0px;
            .card {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                height: 480px;
                transition: transform 0.3s;
                transform: scale(1);
                overflow: hidden;
                &:hover {
                    transform: scale(1.1);
                    z-index: 5;
    
                    .little-container {    
                        .description {
                            max-height: 300px;
                            opacity: 1;
                        }
                    }
                    .image-container {
                        transform: scale(1.03) translateY(-1%);
                        height: 100%;
    
                        .image {
                            transform: scale(1.2);
                        }
                        &:after {
                            background: linear-gradient(
                                0deg,
                                var(--composer-secondary-color) 0%,
                                transparent 85%,
                                transparent 100%
                            );
                        }
                    }
                }
    
                .image-container {
                    width: auto;
                    height: 100%;
                    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    
                    &:after {
                        content: "";
                        background: linear-gradient(0deg, var(--composer-font-color-primary) 0%, transparent 85%, transparent 100%);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        transition: all 1s ease-out;
                    }
    
                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
                        transform: scale(1);
                    }
                }
    
                .little-container {
                    justify-content: flex-end;
                    left: 0px;
                    width: 100%;
                    bottom: 0px;
                    position: absolute;
                    padding: var(--composer-gap-md);
                    max-height: 480px;
    
                    .title {
                        width: 100%;
                        color: var(--composer-font-color-secondary);
                    }

                    .icon {
                        color: var(--composer-font-color-secondary);
                        width: 40px;
                        height: 40px;
                    }
                    .description {
                        max-height: 0;
                        transition: opacity 0.3s, max-height 0.3s;
                        opacity: 0;
                        width: 100%;
                        color: var(--composer-font-color-secondary);
                        white-space: normal;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
    .container {
        .max-content {
            .card {
                .little-container {
                    .icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
