.container {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;

    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 480px;
            &:hover {
                transform: scale(1.1);
                z-index: 5;
                .little-container {
                    flex-direction: column;

                    .icon-title-container {
                        flex-direction: column;
                        opacity: 1;

                        .icon {
                            visibility: visible;
                        }
                    }
                    .description-box {
                        max-height: 480px;
                        opacity: 1;
                        overflow: auto;

                        .description {
                            width: 100%;
                            opacity: 1;
                            transition: 0.3s;
                            display: block;
                            max-height: 480px;

                        }
                    }
                }
                .image-container {
                    transform: scale(1.03) translateY(-1%);
                    height: 100%;
                    .image {
                        transform: scale(1.2);
                    }
                    &:after {
                        background: linear-gradient(
                            0deg,
                            var(--composer-secondary-color) 0%,
                            transparent 85%,
                            transparent 100%
                        );
                    }
                }
            }

            .image-container {
                width: auto;
                height: 100%;
                transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
                overflow: hidden;
                &:after {
                    content: "";
                    background: linear-gradient(0deg, #000 0%, transparent 85%, transparent 100%);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    transition: all 1s ease-out;
                }
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
                    transform: scale(1);
                }
            }

            .little-container {
                display: flex;
                font-size: 1.5rem;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                left: 0px;
                width: 100%;
                bottom: 0px;
                position: absolute;
                padding: 30px;
                max-height: 480px;

                .icon-title-container {
                    flex-direction: column;
                    left: 30px;
                    transition: 0.4s all ease-in-out;
                    z-index: 5;
                    opacity: 1;
                    white-space: normal;

                    .title {
                        font-weight: bold;
                        font-size: 2.2rem;
                        width: 100%;
                        color: white;         
                        line-height: 1.2;
                        margin: 0;
                    }

                    .icon {
                        color: white;
                        left: 0;
                        width: 40px;
                        height: 40px;
                    }
                }
                .description-box {
                    max-height: 0;
                    transition: opacity 0.1s, max-height 0.6s,;
                    opacity: 0;

                    .description {
                        width: 100%;
                        color: white; 
                        white-space: normal;
                        text-overflow: ellipsis;
                        font-size: 1.2rem;
                        line-height: 1.2;
                        display: none;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .max-content {
        flex-direction: column;
        align-items: center;
        .card-item-count {
            width: 100% !important;
            .card{
                margin-bottom: 20px;
                transform: scale(1.0) !important;
            }
        }
    }
}
@media only screen and (min-width: 451px) and (max-width: 768px) {
    .container {
        .max-content {
            .card {
                .little-container {
                    .icon-title-container {
                        .icon {
                            width: 30px;
                            height: 30px;
                        }
                        .title {
                            font-size: 1.9rem;
                        }
                    }
                }
            }
        }
    }
}
