.container {
  .max-content {
    .basic-page {
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-sm);

      .up-page {
        width: 100%;
        gap: var(--composer-gap-md);

        .up-page-bottom {
          flex-direction: row;
          width: 100%;
          align-items: center;
          gap: var(--composer-gap-sm);
          .title {
            color: var(--composer-font-color-primary);
            flex: 1;
          }

          .description {
            opacity: 0.5;
            color: var(--composer-font-color-primary);
            flex: 1;
          }
        }
      }

      .down-page {
        gap: var(--composer-gap-md);
        .card {
          display: flex;
          justify-content: center;
          position: relative;
          height: auto;
          flex-direction: column;
          gap: var(--composer-gap-sm);

          .image-container {
            position: relative;
            width: 100%;
            height: 100%;
          }

          .image-wrapper {
            position: relative;
          }

          .person-image {
            height: 350px;
            min-height: 350px;
            width: 100%;
            object-fit: cover;
            border-radius: var(--composer-border-radius-md);
          }

          .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 20%;
            background: linear-gradient(to top, var(--composer-font-color-primary), transparent);
            opacity: 0;
            transition: opacity 0.3s;
            z-index: 1;
          }

          .image-wrapper:hover .overlay {
            opacity: 1;
          }

          .icons-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: var(--composer-gap-sm);
            opacity: 0;
            padding: 0.5rem;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            z-index: 5;
          }

          .image-container:hover .icons-bar {
            transform: translateY(0);
            opacity: 1;
          }
          .image-container:hover .person-image {
            box-shadow: 0 8px 15px -4px var(--composer-primary-color);
          }
          .icon {
            color: var(--composer-font-color-secondary);
            font-size: 1.5rem;
          }

          .person-info {
            width: 100%;

            .text-group {
              width: 100%;
              justify-content: center;
              transition: transform 0.3s ease;
              color: var(--composer-font-color-primary);
              .item-position {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .up-page {
    .up-page-bottom {
      flex-direction: column !important;
      align-items: baseline !important;
    }
  }
}
