.container {
    height: 100%;
    width: 100%;
    .max-content {
        max-width: var(--composer-content-width);
        padding: 20px 50px;
        align-items: center;
        width: 100%;
        display: flex;
        .wrapper{
            display: flex;
            gap:20px;
            .title-container {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                max-width: var(--composer-content-width);
                word-break: break-word;
                gap:20px;
                min-height:100px;
                .about-title {
                    font-size: 2rem;
                    width: 100%;
                    color: var(--composer-font-color-primary);
                    word-break: break-word;
                    height: auto;
                }
                .maintitle {
                    font-size: 4rem;
                    width: 100%;
                    color: var(--composer-font-color-primary);
                    word-break: break-word;
                    height: auto;
                }
                .description {
                    color: var(--composer-font-color-primary);
                    word-break: break-word;
                    height: auto;
                    font-size: 2rem;
                    width: 100%;
                }
    
                .button-icon {
                    width: 100%;
                    display: flex;
                    margin-top: 30px;
                    gap: 30px;
                    align-items: center;
                    .about-button {
                        flex-grow: 1;
                        align-items: center;
                        background-color:  var(--composer-secondary-color);
                        color: var(--composer-font-color-primary);
                        border: none;
                        border-radius: 5px;
                        width: 50%;
                        cursor: pointer;
                        .buttonText{
                            color: (--composer-font-color-secondary);
                            word-break: break-word;
                            width: auto;
                            font-size: 2rem;
                            margin:20px;
                            text-align: center;
                        }
                    }
                    .phone-icon {
                        width: 100%;
                        flex-grow: 1;
                        color: var(--composer-font-color-primary);
                        display: flex;
                        gap:20px;
                        align-items: center;
                        .icon {
                            text-align: center;
                            font-size: 1.5rem;
                            align-items: center;
                        }
                        .phone {
                            text-align: center;
                            align-items: center;
                            font-size: 1.5rem;
                            color: var(--composer-font-color-primary);
                            max-width: 80%;
                        }
                    }
                }
            }
            .right-page {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                .image-container {
                    position: relative;
                    height: 100%;
                  .image-text {
                    position: absolute;
                    z-index: 10;
                    top:10px;
                    left:22rem;
                    .text {
                        text-transform: uppercase;
                        font-size: 1.5rem;
                    }
                    .year{
                        font-size: 5.6rem;
                    }
                  }
              
                  .image1{
                    position: absolute;
                    right: 0;
                    width: 60%;
                    max-height: 100%;
                    padding-bottom: 50px;
                    object-fit: cover;                
                  }
                  .image2 {
                    position: absolute;
                    left:10rem;
                    bottom:0px;
                    max-height: 70%;
                    width: 50%;
                    object-fit: cover;  
                  }
                }
              }
              
              
        }
    }
}
@media only screen and (max-width: 1024px)  {
    .container {
        .max-content {
            flex-direction: column;
            padding: 20px 30px !important;
            height: 100%;
            .wrapper {
                flex-direction: column;
                height: 100%;
                .title-container {
                    height: 100%;
                }
                .right-page {
                    height: 100%;
                    .image-container {
                        height: 100%;
                        position: static !important;
                        .image-text{
                            position: absolute !important;
                            transform: translate(3%, 450%);
                            width: 60% !important;

                        }
                        .image1{
                            position: static !important;
                            object-fit: cover;
                            display: flex;
                            float: right;
                        }
                        .image2{
                            position: absolute !important;
                            object-fit: cover;
                            bottom:20px;
                        }
                    }
                }
            }
        }
    }
    .image-text {
        width: 80% !important;
        margin-left: -5rem;
        top:10rem !important;
    }
    .text {
        font-size: 1.2rem !important;
    }
    .year {
        font-size: 5rem !important;
    }
}


@media only screen and (max-width: 480px)  {
    .max-content{
        padding: 20 30px !important;
    }
    .title-container{
        padding: 0px !important;
    }
    .maintitle{
        font-size: 40px !important;
    }
    .right-page{
        padding: 0px !important;
        margin: 0px !important; 

    }
    .text{
        font-size: 1.1rem !important;
    }
    .year{
        font-size: 3.5rem !important;
    }
    .button-icon{
        width: 100% !important;
        gap:20px !important;
    }
    .about-button{
        .buttonText{
            font-size: 1.5rem !important;
            margin: 15px !important;
        }
    }
    .phone-icon{
        gap: 5px !important;
    }
    .icon{
        font-size: 1.5rem !important;
    }
    .phone{
        font-size: 1.5rem !important;
    }
  }


