.container {
    height: 100%;
    width: 100%;
    
    .max-content {
        max-width: var(--composer-content-width);
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        padding: 20px 50px;
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            padding-top:20px;
            .title-container {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                max-width: var(--composer-content-width);
                word-break: break-word;
                gap:20px;
                .about-title {
                    font-size: 2rem;
                    width: 100%;
                    color: var(--composer-font-color-primary);
                    word-break: break-word;
                    height: auto;
                }
    
                .maintitle {
                    font-size: 4rem;
                    width: 100%;
                    color: var(--composer-font-color-primary);
                    word-break: break-word;
                    height: auto;
                }
    
                .description {
                    color: var(--composer-font-color-primary);
                    text-align: left;
                    word-break: break-word;
                    height: auto;
                    font-size: 2rem;
                    width: 100%;
                }
    
                .button-icon {
                    width: 80%;
                    display: flex;
                    margin-top: 30px;
                    gap: 30px;
                    align-items: center;
                    .about-button {
                        align-items: center;
                        background-color:  var(--composer-secondary-color);
                        color: var(--composer-font-color-primary);
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        width:50%;
                        .buttonText{
                            color: (--composer-font-color-secondary);
                            word-break: break-word;
                            width: auto;
                            font-size: 2rem;
                            margin:20px;
                            text-align: center;
                        }
                    }
                    .phone-icon {
                        color: var(--composer-font-color-primary);
                        display: flex;
                        width: 100%;
                        height: 100%;
                        gap:20px;
                        align-items: center;
                        .icon {
                            text-align: center;
                            font-size: 1.5rem;
                            align-items: center;
                            width: 50%;
                        }
                        .phone {
                            width: 100%;
                            text-align: center;
                            align-items: center;
                            font-size: 1.5rem;
                            color: var(--composer-font-color-primary);
                        }
                    }
    
                }
            }
            .right-page {
                flex-grow: 1;
                width: 100%;
                padding: 0px 30px;
                height: auto;
                margin-bottom: 20px;
                .image-container {
                    position: relative;
                    max-width: 100%;
                    width: auto;
                    height: 100%;
                    .image-text{
                        position: absolute;
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        .text {
                            width: 50%;
                            position: relative;
                            font-size: 1.5rem;
                            text-transform: uppercase;
                            color: var(--composer-primary-color);
                            font-weight: 500;
                            z-index: 10;
                            padding-left: 250px;
                        }
                        .year {
                            width: 50%;
                            position: relative;
                            font-size: 5.6rem;
                            color: var(--composer-font-color-primary);
                            z-index: 10;
                            padding-left: 250px
                        }
                    }
                    .image1-container{
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        height: auto;
                        position: relative; 
                        .image1 {
                            position: relative;
                            max-width: 75%;
                            height: auto;
                            border-radius: 4px;
                            margin-left: 0px;
                            min-width: 60%;
                        }
                    }
                    .image2-container{
                        width: 100%;
                        display: flex;
                        justify-content: start;
                        height: auto;
                        position: relative;
                        margin-top: -40%;
                        .image2 {
                            height: auto;
                            position: relative;
                            border-radius: 4px;
                            width: 50%;
                            top:0px;
                        }
                    }
                    .image2-container-without-image1{
                        width: 100%;
                        display: flex;
                        justify-content: start;
                        height: 100%;
                        position: relative;
                        align-items: center;
                        padding-top: 10rem;
                        
                        .image2 {
                            height: auto;
                            position: relative;
                            border-radius: 4px;
                            width: 50%;
                            max-height: auto;
                            bottom:0px;
                           
                        }

                    }
    
                }
            }
    
        }



    }

   

}
@media only screen and (max-width: 1200px)  {
    .container {
        padding: 50px 20px;

        .max-content {
            align-items: center;
            flex-direction: row;

            .wrapper{
                flex-direction: column;
            }
            .text{
                padding-left: 0px !important;
            }
            .year{
                padding-left: 0px !important;
            }
            .about-button{
                width: 100% !important;
            }
            .right-page{
                padding-top: 80px !important;
            }
        }
    }
}
@media only screen and (max-width: 1024px)  {

    .right-page{
        margin: 0px !important;
        padding-top: 50px !important;
    }
    .image-text{
        padding-left: 10% !important;
    }
    .text{
        font-size: 1.2rem !important;
    }
    .year{
        font-size: 5rem !important;
    }
    .image1-container{
        bottom: 30px;
    }
}


@media only screen and (max-width: 480px)  {
    .max-content{
        padding: 0px !important;
    }
    .title-container{
        padding: 0px !important;
    }
    .maintitle{
        font-size: 40px !important;
    }
    .right-page{
        padding: 0px !important;
        margin: 0px !important; 
        padding-top: 50px !important;

    }
    .image-text{
        padding-left: 10px !important;
    }
    .text{
        font-size: 1.2rem;
    }
    .year{
        font-size: 4rem !important;
    }
    .image-container{
        width: 100%;
        height: 100%;
    }
    .image1-container{
        bottom:20px !important; 
    }
    .button-icon{
        width: 100% !important;
        gap:20px !important;
    }
    .about-button{
        .buttonText{
            font-size: 1.5rem !important;
            margin: 15px !important;
        }
    }
    .phone-icon{
        gap: 5px !important;
    }
    .icon{
        font-size: 1.5rem !important;
    }
    .phone{
        font-size: 1.5rem !important;
    }
  }


