.container {
  width: 100%;
  padding: 50px 0;
  color: var(--composer-html-background);

  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;

    .bottom-child {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
        height: 200px;
        position: relative;

        &.stick {
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            right: 0;
            top: 35%;
            bottom: 35%;
            width: 1px;
            background-color: var(--composer-font-color-primary);
            opacity: 0.3;
          }
        }

        .card-data-description {
          font-size: 2rem;
          color: var(--composer-font-color-primary);
          margin: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-weight: bolder;
        }

        .card-data-title {
          font-size: 9rem;
          color: var(--composer-primary-color);
          opacity: 0.3;
          margin: 0;
          line-height: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .container {
    .max-content {
      .bottom-child {
        padding: 0px;
        .card {
          margin: 0px;
          .card-data-title {
            font-size: 6rem;
          }

          .card-data-description {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 766px) {
  .container {
    .max-content {
      .bottom-child {
        flex-direction: column;
        align-items: center;

        .card {
          min-width: auto;
          height: auto;

          &::after {
            display: none;
          }

          .card-data-title {
            font-size: 6rem;
          }

          .card-data-description {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
