@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .bottom-child {
      .card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        min-height: 100px;
        width: 100%;
        position: relative;

        &.stick {
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            right: 0;
            top: 35%;
            bottom: 35%;
            width: 1px;
            background-color: var(--composer-font-color-primary);
          }
        }

        .card-data-title {
          font-size: 13rem;
          margin: 0;
          white-space: normal;
          word-break: break-word;
          overflow-wrap: break-word;
        }

        .card-data-description {
          font-size: 2rem;
          margin: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .bottom-child {
        .card {
          margin: 0px !important;

          &.stick {
            &:nth-child(2n)::after {
              display: none !important;
            }
          }

          .card-data-title {
            font-size: 5rem !important;
          }

          .card-data-description {
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .bottom-child {
        .card {
          height: auto;
          width: 100%;

          &::after {
            display: none;
          }

          .card-data-title {
            font-size: 7rem;
          }

          .card-data-description {
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
