@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  position: relative;

  &.has-background {
    .max-content {
      .header {

        .subtitle {
          background: transparent !important;
          padding: 0 !important;
        }

        .subtitle,
        .title,
        .description {
          color: white;
        }
      }
    }
  }

  &.overlay-active {
    &::before {
      position: absolute;
      content: "";
      background: var(--composer-overlay-color);
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .max-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-lg);
    z-index: 2;

    .header {
      align-items: center;

      .title,
      .description,
      .subtitle {
        text-align: center;
      }

      .subtitle {
        transform: translateX(0);

        &::before {
          display: none;
        }
      }
    }

    .form {
      display: flex;
      justify-content: center;

      .newsletter {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 30%;
        min-width: 500px;

        .inputs {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .input {
            padding: var(--composer-gap-md) var(--composer-gap-md);
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-top-left-radius: var(--composer-border-radius-sm);
            border-bottom-left-radius: var(--composer-border-radius-sm);

            &.no-image {
              background-color: transparent;
              border: 1px solid var(--composer-primary-color);
              color: var(--composer-font-color-primary);

              &::placeholder {
                color: var(--composer-font-color-primary);
              }
            }
          }

          .error {
            position: absolute;
            bottom: -20px;
            left: 0;
            color: var(--warning);
          }
        }

        .submit-button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-top: 0;

          .button-text {
            content: "";
          }
        }
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      gap: var(--composer-gap-sm);
      justify-content: center;

      .button {
        content: "";
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.button-no-item {
          border-radius: var(--composer-border-radius-sm);
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .form {
        .newsletter {
          width: 70%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .form {
        .newsletter {
          width: 100%;
          min-width: 100%;

          .inputs {
            .input {
              padding: var(--composer-gap-sm) var(--composer-gap-sm);
            }
          }
        }
      }
    }
  }
}