* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--composer-html-background);
  width: 100%;
  padding: 50px 0;
}

.max-content {
  max-width: var(--composer-content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title,
.subtitle {
  text-align: center;
  color: var(--composer-primary-color);
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 20px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.newsletter.vertical {
  flex-direction: column;
  gap: 5px;
  width: 400px;

  .inputs {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
}

.input {
  padding: .8em 1em;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
}

.submit-button {
  padding: .8em 1em;
  border: 1px solid var(--composer-primary-color);
  background-color: var(--composer-primary-color);
  color: var(--composer-font-color-secondary);
  transition: 300ms;
  transition-property: border, background-color, color;
  width: 30%;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--composer-primary-color);
    background-color: transparent;
    color: var(--composer-primary-color);
  }
}

@media only screen and (max-width: 450px) {

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }

  .newsletter,
  .newsletter.vertical {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .inputs {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}