.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    padding: 20px;
    max-width: var(--composer-content-width);
    box-shadow: var(--composer-box-shadow);
    margin: auto;

    .testimonials3 {
      display: block;
      width: 100%;

      .card-child {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        .card {
          display: flex;
          flex-direction: column;
          min-width: 250px;
          justify-content: center;
          align-items: center;
          height: max-content;
          flex: 1 1;
          .stars {
            display: flex;
            gap: 5px;
            img {
              width: 15px;
              height: 15px;
            }
          }

          span {
            font-weight: 500;
            font-size: 2rem;
            margin: 20px 0;
          }
          h5 {
            font-weight: 200;
            font-size: 1rem;
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    .max-content {
      .testimonials3 {
        .card-child {
          gap: 60px;
        }
      }
    }
  }
}
