.container {
  width: 100%;
  .wrapper {
    width: 100%;
    height: 100%;
    .carousel {
      width: 100%;
      > button {
        z-index: 10;
        margin-left: 70px;
        margin-right: 110px;

        &:before {
          content: "";
          position: absolute;
          transform: rotateZ(135deg);
          font-size: 50px;
          width: 20px;
          height: 20px;
        }
      }

      > button:first-of-type {
        &:before {
          transform: rotateZ(-45deg);
          border-top: 3px solid white;
          border-left: 3px solid white;
        }
      }

      > button:last-of-type {
        &:before {
          transform: rotateZ(135deg);
          border-top: 3px solid white;
          border-left: 3px solid white;
        }
      }
      > ul {
        transform: translateY(-40px) translateX(-50%);
        background-color: white;
        border-radius: 100px;
        width: auto;
        position: absolute;
        left: 50%;
        padding: 0px 5px;
        li {
          button {
            &:before {
              font-size: 15px;
            }
          }
        }
      }
      .item {
        width: 100%;
        height: 730px;
        position: relative;
        .background-image {
          position: absolute;
          object-fit: cover;
        }
        .max-content {
          max-width: var(--composer-content-width);
          margin: auto;
          display: flex;
          height: 100%;
          z-index: 1;
          .left {
            z-index: 1;
            flex: 1;

            .content {
              height: 100%;
              display: flex;
              flex-direction: column;
              text-align: center;
              align-items: center;
              justify-content: center;
              .flower {
                z-index: 8;
                padding: 12px;
              }
              .title {
                z-index: 2;
                font-size: 4rem;
                color: #b09782;
                width: 380px;
                font-style: italic;
                margin-top: 24px;
              }
              .description {
                z-index: 2;
                font-size: 2rem;
                color: #8c7b6e;
                width: 55%;
                margin-top: 24px;
              }
              .buttons {
                z-index: 2;
                margin-top: 24px;
                display: flex;
                  .button {
                    padding: 12px 18px;
                    border-radius: 24px;
                    background: var(--composer-primary-color);
                    border: 0px;
                    color: white;
                    margin: 12px;
                    font-weight: bold;
                    &:last-child {
                      border: 2px solid #b09782;
                      border-color: #b09782;
                      background: transparent;
                      color: #8c7b6e;
                    }
                    &:hover:last-child {
                      background: #b09782;
                      color: white;
                    }
                  }
              }
            }
          }

          .right {
            flex: 1;
            z-index: 2;
            width: 100%;
            height: 100%;
            position: relative;
            .image {
              width: 100%;
              height: 120px;
              position: absolute;
              top: 50px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    .wrapper {
      .carousel {
        > button {
          z-index: 10;
          margin-left: 30px;
          margin-right: 50px;
  
          &:before {
            content: "";
            position: absolute;
            transform: rotateZ(135deg);
            font-size: 50px;
            width: 20px;
            height: 20px;
          }
        }
  
        > button:first-of-type {
          &:before {
            transform: rotateZ(-45deg);
            border-top: 3px solid white;
            border-left: 3px solid white;
          }
        }
  
        > button:last-of-type {
          &:before {
            transform: rotateZ(135deg);
            border-top: 3px solid white;
            border-left: 3px solid white;
          }
        }
        > ul {
          transform: translateY(-40px) translateX(-50%);
          background-color: white;
          border-radius: 100px;
          width: auto;
          position: absolute;
          left: 50%;
          padding: 0px 2px;
          li {
            button {
              &:before {
                font-size: 8px;
              }
            }
          }
        }
        .item {
          .max-content {
            overflow: hidden;
            .left {
              .content {
                .title {
                  margin-top: 8px;
                  font-size: 3.5rem;
                }
                .description {
                  width: 60%;
                  margin-top: 12px;
                  font-size: 1.5rem;
                }
                .buttons {
                  margin-top: 12px;
                  .button {
                    padding: 8px 12px;
                    font-size: 0.9rem;
                  }
                }
              }
            }
            .right {
              .image {
                height: 60px;
                left: -50px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .container {
    .wrapper {
      .carousel {
        > button {
          z-index: 10;
          margin-left: 30px;
          margin-right: 50px;
  
          &:before {
            content: "";
            position: absolute;
            transform: rotateZ(135deg);
            font-size: 50px;
            width: 14px;
            height: 14px;
          }
        }
  
        > button:first-of-type {
          &:before {
            transform: rotateZ(-45deg);
            border-top: 3px solid white;
            border-left: 3px solid white;
          }
        }
  
        > button:last-of-type {
          &:before {
            transform: rotateZ(135deg);
            border-top: 3px solid white;
            border-left: 3px solid white;
          }
        }
        .item {
          .max-content {
            .left {
              .content {
                .title {
                  margin-top: 4px;
                  font-size: 2.5rem;
                }
                .description {
                  font-size: 1.3rem;
                }
                .buttons {
                  margin-top: 8px;
                  .button {
                    padding: 8px 10px;
                    font-size: 0.8rem;
                  }
                }
              }
            }
            .right {
              .image {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
