@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

$top-figure-height: 245px;
$bottom-figure-width: 115px;

.container {
  width: 100%;
  background: var(--composer-html-background);
  position: relative;
  padding: 0 !important; // need
  height: 100vh;

  .carousel {
    .slider-image {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: 1;
      overflow: hidden;
    }
  }

  .item {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;

    .left-figure-container {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;

      .top-figure {
        width: 480px;
        height: $top-figure-height;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        flex-direction: column;

        .pagination {
          font-size: 1.5rem;

          .active-slide {
            color: var(--composer-primary-color);
            font-size: 6rem;
          }

          .slide-count-power {
            color: var(--composer-font-color-primary);
            vertical-align: top;

            .slide-count {
              font-size: 1.5rem;
            }
          }
        }

        .low-op-text {
          z-index: 4;
          margin-left: 100px;

          .background-op-text {
            margin: 0;
            font-size: 8rem;
            color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary-rgb) 5%);
            opacity: 0.1;
          }
        }
      }

      .bottom-figure {
        width: $bottom-figure-width;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: var(--composer-gap-md);
        padding: var(--composer-gap-md) 0;
        position: absolute;
        bottom: -2px; // need

        .side-text {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          text-align: center;
          word-spacing: 6px;
          letter-spacing: 4px;
          color: var(--composer-font-color-primary);
          opacity: 0.5;

          .side-text-content {
            display: flex;
          }
        }

        .line {
          height: 100%;
          max-height: 30px;
          width: 1px;
          background-color: var(--composer-font-color-primary);
          opacity: 0.4;
        }

        .icons {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);

          .icon {
            color: var(--composer-font-color-primary);
            opacity: 0.5;
          }
        }
      }

      .top-figure,
      .bottom-figure {
        background: var(--composer-html-background);
        position: absolute;
        left: 0;
      }
    }

    .content-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;

      .arrows {
        display: flex;
        gap: var(--composer-gap-md);
        z-index: 99;
        position: relative;
        left: calc($bottom-figure-width + var(--composer-gap-md));
        top: calc($top-figure-height + var(--composer-gap-md));
        height: fit-content;
        width: fit-content;

        div {
          display: flex;
          align-items: center;

          &:hover {
            .arrow {
              opacity: 1;
              transition: 0.2s all;
            }
          }
        }

        .arrow-text {
          color: var(--composer-font-color-primary);
        }
      }

      .layout {
        position: absolute;
        width: 65%;
        display: flex;
        padding-right: var(--composer-gap-xl);
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        right: 0;

        .content {
          display: flex;
          flex-direction: column;
          align-items: end;
          color: white;
          overflow: hidden;
          width: 100%;
          height: 100%;
          justify-content: center;
          padding-bottom: var(--composer-gap-xl);
          gap: var(--composer-gap-sm);

          .title-container {
            .title {
              color: var(--composer-font-color-primary);
              margin: 0;
              text-align: right;
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
          }

          .description {
            width: 100%;
            text-align: right;
            color: var(--composer-font-color-primary);
            margin: 0;
            display: -webkit-box;
            line-clamp: 5;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .button {
            display: flex;
            align-items: center;
            gap: var(--composer-gap-sm);

            .button-icon {
              width: 20px;
              height: 20px;
              min-width: 10%;
            }
          }
        }
      }

      .arrow {
        color: var(--composer-font-color-primary);
        opacity: 0.5;
        transition: 0.2s all;
        min-width: fit-content;
      }

      .arrow:nth-child(1) {
        margin-right: var(--composer-gap-sm);
      }

      .arrow:nth-child(2) {
        margin-left: var(--composer-gap-sm);
      }

      &.with-image {
        .arrow {
          color: white;
        }

        .arrows {
          .arrow-text {
            color: white;
          }
        }

        .layout {
          .content {
            .title-container {
              .title {
                color: white;
              }
            }

            .description {
              color: white;
            }
          }
        }
      }
    }
  }

}

$bottom-figure-width: 115px;

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .item {
      .left-figure-container {
        .top-figure {
          width: 350px;
          height: $top-figure-height;

          .low-op-text {
            margin-left: var(--composer-gap-xl);

            .background-op-text {
              font-size: 5rem;
            }
          }
        }

        .bottom-figure {
          gap: var(--composer-gap-sm);
          padding-bottom: var(--composer-gap-md);
          height: 400px;

          .line {
            height: 30px;
          }
        }
      }

      .content-container {
        .arrows {
          top: calc($top-figure-height + var(--composer-gap-sm));
          left: calc($bottom-figure-width + var(--composer-gap-sm));
        }

        .layout {
          padding-right: calc(var(--composer-gap-md) + var(--composer-gap-sm));
          width: 50%;

          .content {
            .title-container {
              .title {
                line-clamp: 4;
                -webkit-line-clamp: 4;
              }
            }
          }
        }
      }
    }
  }
}

$top-figure-height: 130px;
$bottom-figure-width: 70px;

@container (max-width: #{$composer-phone-width}) {
  .container {
    .item {
      .left-figure-container {
        .top-figure {
          width: 200px;
          height: $top-figure-height;

          .pagination {
            margin-top: var(--composer-gap-sm);
            .active-slide {
              font-size: 2.5rem;
            }

            .slide-count-power {
              position: relative;
              top: calc(-1* var(--composer-gap-sm));
              left: var(--composer-gap-xs);

              .slide-count {
                font-size: 1rem;
              }
            }
          }

          .low-op-text {
            margin-left: calc(var(--composer-gap-xl) *1.5);

            .background-op-text {
              font-size: 4rem;
            }
          }
        }

        .bottom-figure {
          width: $bottom-figure-width;
          height: 510px;

          .icons {
            gap: var(--composer-gap-sm);

            .icon {
              width: 12px;
            }
          }
        }
      }

      .content-container {
        .arrows {
          left: auto;
          right: 0;
          position: absolute;
          top: calc(100% - calc(var(--composer-gap-md) + var(--composer-gap-sm)));
          justify-content: space-between;
          width: calc(100% - $bottom-figure-width);
          padding-left: var(--composer-gap-sm);
          padding-right: var(--composer-gap-sm);

          >div {
            align-items: end;
          }

          .arrow-text {
            font-size: 15px;
          }
        }

        .layout {
          width: calc(100% - calc($bottom-figure-width + var(--composer-gap-sm)));
          padding-top: $top-figure-height;
          height: 100%;
          justify-content: end;
          align-items: center;
          padding-bottom: var(--composer-gap-lg);
          padding-right: var(--composer-gap-md);

          .content {
            width: 100%;
            justify-content: flex-start;
          }
        }

        .arrow {
          width: 15px;
        }
      }
    }
  }
}