.container {
  position: relative;
  background-color: var(--composer-html-background);
  overflow: hidden;

  .carousel {
    width: 100vw;
    height: 100vh;

    .content {
      position: relative;
      z-index: 99;
      height: 100vh;

      .bg-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }

      .arrow {
        position: absolute;
        top: 0;
        z-index: 999;
        color: white;
        cursor: pointer;
        bottom: 0;
        margin: auto 0;

        &.prev-icon {
          left: 0;
        }

        &.next-icon {
          right: 0;
        }
      }

      .slider-item-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .slider-item-content {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: end;

          .left-side {
            display: flex;
            align-items: center;
            position: absolute;
            max-width: 600px;
            height: 100%;
            left: 160px;
            z-index: 10;
            opacity: 0;
            transform: translateX(-100%);
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;

            .cover-image {
              width: 100%;
              height: auto;
              pointer-events: none;
            }

            &.left-side-slide-animation {
              opacity: 1;
              transform: translateX(0);
            }
          }

          .right-side {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            width: 50%;
            left: 50%;
            z-index: 10;
            opacity: 0;
            transform: translateX(100%);
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;

            &.right-side-slide-animation {
              opacity: 1 !important;
              transform: translateX(0) !important;
            }

            .title-box {
              z-index: 1;
              // height: 30vh;
              // padding: 2rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              position: absolute;
              left: 0%;
              width: 500px;

              .subtitle {
                font-size: 24px;
                color: var(--composer-primary-color);

                blinkpage > p {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  -webkit-line-clamp: 3;
                  text-overflow: ellipsis;
                }
              }

              .title {
                margin: 0;
                font-size: 48px;
                color: var(--composer-primary-color);

                blinkpage > p {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  -webkit-line-clamp: 3;
                  text-overflow: ellipsis;
                }
              }

              .description {
                color: var(--composer-primary-color);
                font-size: 20px;
                margin: 5px 0px;

                blinkpage > p {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  -webkit-line-clamp: 10;
                  text-overflow: ellipsis;
                }
              }
            }
          }

          .text-overlay {
            position: absolute;
            height: 100%;
            width: 70%;
            left: 30%;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px); 
            top: 0;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            transform: translateX(100%);
            opacity: 0;

            &.text-overlay-slide-animation {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }

        .view-button {
          width: max-content;
          background: rgba(255, 255, 255, 0.45);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid var(--composer-primary-color);
          padding: 1rem;
          margin-top: 20px;

          .view-button-text {
            font-size: 1.2rem;
            color: var(--composer-primary-color);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    position: relative;
    background-color: var(--composer-html-background);
    overflow: hidden;

    .carousel {
      width: 100vw;
      height: 100vh;

      .content {
        position: relative;
        z-index: 99;
        height: 100vh;

        .bg-img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }

        .arrow {
          position: absolute;
          top: 0;
          z-index: 999;
          color: white;
          cursor: pointer;
          bottom: 0;
          margin: auto 0;

          &.prev-icon {
            left: 0;
          }

          &.next-icon {
            right: 0;
          }
        }

        .slider-item-container {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .slider-item-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: end;

            .left-side {
              display: flex;
              align-items: baseline !important;
              justify-content: center !important;
              position: absolute;
              max-width: none !important;
              width: 100%;
              height: 60%;
              left: 0% !important;
              top: 0 !important;
              z-index: 10;
              opacity: 0;
              transform: translateX(-100%);
              transition: transform 1s ease-in-out, opacity 1s ease-in-out;

              .cover-image {
                width: auto !important;
                height: 400px !important;
                pointer-events: none;
                margin: 0 auto !important;
              }

              &.left-side-slide-animation {
                opacity: 1;
                transform: translateX(0);
              }
            }

            .right-side {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              height: 50% !important;
              width: 100%;
              left: 0% !important;
              z-index: 10;
              opacity: 0;
              transform: translateX(100%);
              transition: transform 1s ease-in-out, opacity 1s ease-in-out;

              &.right-side-slide-animation {
                opacity: 1 !important;
                transform: translateX(0) !important;
              }

              .title-box {
                z-index: 1;
                height: 10vh;
                // padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding: 0px 30px !important;
                top: 40%;

                .subtitle {
                  font-size: 24px;
                  color: var(--composer-primary-color);

                  blinkpage > p {
                    -webkit-line-clamp: 2 !important;
                  }
                }

                .title {
                  margin: 0;
                  font-size: 48px;
                  color: var(--composer-primary-color);

                  blinkpage > p {
                    -webkit-line-clamp: 2 !important;
                  }
                }

                .description {
                  display: none !important;
                }
              }
            }

            .text-overlay {
              position: absolute;
              height: 60%;
              width: 100%;
              left: 0%;
              top: 40%;

              background-color: rgba(255, 255, 255, 0.5);
              backdrop-filter: blur(5px);
              transition: transform 1s ease-in-out, opacity 1s ease-in-out;
              transform: translateX(100%);
              opacity: 0;

              &.text-overlay-slide-animation {
                transform: translateX(0);
                opacity: 1;
              }
            }
          }

          .view-button {
            width: max-content;
            background: rgba(255, 255, 255, 0.45);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid var(--composer-primary-color);
            padding: 1rem;
            margin-top: 20px;

            .view-button-text {
              font-size: 1.2rem;
              color: var(--composer-primary-color);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    position: relative;
    background-color: var(--composer-html-background);
    overflow: hidden;

    .carousel {
      width: 100vw;
      height: 100vh;

      .content {
        position: relative;
        z-index: 99;
        height: 100vh;

        .bg-img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }

        .arrow {
          position: absolute;
          top: 0;
          z-index: 999;
          color: white;
          cursor: pointer;
          bottom: 0;
          margin: auto 0;

          &.prev-icon {
            left: 0;
          }

          &.next-icon {
            right: 0;
          }
        }

        .slider-item-container {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .slider-item-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: end;

            .left-side {
              display: flex;
              align-items: baseline !important;
              justify-content: center !important;
              position: absolute;
              max-width: none !important;
              width: 100%;
              height: 60%;
              left: 0% !important;
              top: 20% !important;
              z-index: 10;
              opacity: 0;
              transform: translateX(-100%);
              transition: transform 1s ease-in-out, opacity 1s ease-in-out;

              .cover-image {
                width: auto !important;
                height: 250px !important;
                pointer-events: none;
                margin: 0 auto !important;
              }

              &.left-side-slide-animation {
                opacity: 1;
                transform: translateX(0);
              }
            }

            .right-side {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              height: 50% !important;
              width: 100%;
              left: 0% !important;
              z-index: 10;
              opacity: 0;
              transform: translateX(100%);
              transition: transform 1s ease-in-out, opacity 1s ease-in-out;

              &.right-side-slide-animation {
                opacity: 1 !important;
                transform: translateX(0) !important;
              }

              .title-box {
                z-index: 1;
                height: 15vh;
                // padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                max-width: 500px;

                .subtitle {
                  font-size: 24px;
                  color: var(--composer-primary-color);
                }

                .title {
                  margin: 0;
                  font-size: 48px;
                  color: var(--composer-primary-color);
                }

                .description {
                  display: none !important;
                }
              }
            }
          }

          .view-button {
            width: max-content;
            background: rgba(255, 255, 255, 0.45);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid var(--composer-primary-color);
            padding: 1rem;
            margin-top: 20px;

            .view-button-text {
              font-size: 1.2rem;
              color: var(--composer-primary-color);
            }
          }
        }
      }
    }
  }
}
