.container {
  width: 100%;
  padding: 50px 0;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .wrapper {
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 23.8cm;
      background-size:100%;

      p {
        color: white;
        font-weight: var(--wd-title-font-weight);
        font-style: var(--wd-title-font-style);
        font-family: var(--wd-title-font);
        font-size: 20px;
      }
      h1 {
        color: white;
        font-size: 83px;
        margin: 0 ;
        margin-bottom: 2%;
        font-weight: var(--wd-title-font-weight);
        font-style: var(--wd-title-font-style);
        font-family: var(--wd-title-font);
      text-transform: var(--wd-title-transform);
      }
      button {
        --wd-text-font: "Lexend", Arial, Helvetica, sans-serif;
        --wd-text-font-weight: 300;
        --wd-text-font-size: 16px;
        font-size: large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 200px;
        height: 50px;
        margin-bottom: 1.7%;
        background-color: white;
        border: 0;
        color: black;
      }
    }
  }
}
