.container {
  position: relative;
  background-color: var(--composer-html-background);
  .carousel {
    width: 100vw;
    height: 100vh;
    .content {
      position: relative;
      z-index: 99;
      height: 100vh;

      .bg-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }
      .arrow {
        position: absolute;
        top: 0;
        z-index: 999;
        color: white;
        cursor: pointer;
        bottom: 0;
        margin: auto 0;

        &.prev-icon {
          left: 0;
        }
        &.next-icon {
          right: 0;
        }
      }

      .slider-item-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .slider-item-content {
          width: 80%;
          height: 80%;
          display: flex;
          justify-content: space-between;
          align-items: end;

          .title-box {
            max-width: 60vw;
            min-width: 30vw;
            height: 30vh;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: rgba(255, 255, 255, 0.45);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);

            .year {
              font-size: 4rem;
              color: var(--composer-primary-color);
            }

            .title {
              margin: 0;
              color: var(--composer-primary-color);
            }
          }
        }

        .view-button {
          width: max-content;
          background: rgba(255, 255, 255, 0.45);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid var(--composer-secondary-color);
          padding: 1rem;
          margin-top: 20px;

          .view-button-text {
            font-size: 1.2rem;
            color: var(--composer-font-color-secondary);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    .carousel {
      .content {
        .slider-item-container {
          .slider-item-content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .title-box {
              max-width: 100%;
              width: 100%;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    .carousel {
      .content {
        .slider-item-container {
          .slider-item-content {
            .title-box {
              padding: 1rem;
              height: 25vh;
              margin-top: 3.75rem;
              .year {
                font-size: 3rem;
                margin-bottom: 1rem;
              }

              .title {
                font-size: 1.5rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
