@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    position: relative;
    padding: calc(var(--composer-gap-lg) * 2) var(--composer-gap-xl);

    .max-content {
        position: relative;
        z-index: 2;
    }

    .content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: calc(var(--composer-gap-lg) * 2);

        .left-column {
            flex: 1;
            width: 100%;
            justify-content: center;

            .text-block {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .subtitle {
                margin-left: 0;
            }

            .title,
            .description {
                text-align: left;
            }


            .button-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--composer-gap-sm);
                width: 100%;
                align-items: center;

                .button {
                    .button-text {
                        content: "";
                    }
                }
            }
        }

        .right-column {
            flex: 1;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 500px;
            margin: calc(-1 * var(--composer-gap-lg) * 2) calc(-1 * var(--composer-gap-xl)) calc(-1 * var(--composer-gap-lg) * 2) 0;

            .right-background {
                position: absolute;
                inset: 0;

                .background-image {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .overlay {
                    position: absolute;
                    inset: 0;
                    background: var(--composer-overlay-color);
                    z-index: 1;
                }
            }

            &.full-width {
                margin: calc(-1 * var(--composer-gap-lg) * 2) calc(-1 * var(--composer-gap-xl));
            }

            &.no-media {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 0;
                min-height: unset;

                .stats-list {
                    padding: 0;
                }

                .stat-value {
                    color: var(--composer-font-color-primary) !important;
                }

                .stat-subtitle,
                .stat-title,
                .stat-description {
                    color: var(--composer-font-color-primary) !important;
                }
            }

            .stats-list {
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                gap: var(--composer-gap-xl);
                padding: calc(var(--composer-gap-lg) * 2) var(--composer-gap-xl);
                width: 100%;
                align-items: flex-start;

                .stat-item {
                    display: flex;
                    flex-direction: column;


                    .stat-value {
                        display: flex;
                        align-items: flex-end;
                        color: var(--composer-font-color-secondary);
                        font-size: 7rem;
                        line-height: 1;

                        .stat-prefix,
                        .stat-number,
                        .stat-suffix {
                            color: inherit;
                            font-size: inherit;
                            text-align: left;
                        }
                    }

                    .stat-title,
                    .stat-subtitle,
                    .stat-description {
                        color: var(--composer-font-color-secondary);
                        text-align: left;
                    }
                }
            }

        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        padding: calc(var(--composer-gap-lg) * 2) var(--composer-gap-lg);

        .content-wrapper {
            .subtitle {
                text-align: left;
            }

            .right-column {
                min-height: 400px;
                margin-right: calc(-1 * var(--composer-gap-lg));

                &.full-width {
                    margin: calc(-1 * var(--composer-gap-lg) * 2) calc(-1 * var(--composer-gap-lg));
                }

                .stats-list {
                    .stat-item {
                        .stat-value {
                            font-size: 5rem;
                        }
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        .content-wrapper {
            flex-direction: column;
            gap: var(--composer-gap-md);

            .left-column.center-alignment {

                .subtitle,
                .title,
                .description {
                    text-align: center;
                }

                .button-container {
                    justify-content: center;
                }
            }

            .right-column.center-alignment {
                .stats-list {
                    align-items: center;

                    .stat-item {
                        align-items: center;

                        .stat-value {
                            justify-content: center;
                        }

                        .stat-title,
                        .stat-subtitle,
                        .stat-description {
                            text-align: center;
                        }
                    }
                }
            }


            .right-column {
                margin: 0 calc(-1 * var(--composer-gap-lg)) calc(-1 * var(--composer-gap-lg) * 2);
                min-height: unset;

                &.full-width {
                    margin: calc(-1 * var(--composer-gap-lg) * 2) calc(-1 * var(--composer-gap-lg));
                }

                &.no-media {
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }
    }
}