@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    position: relative;
    overflow: hidden;

    .max-content {
        position: relative;
    }

    .left-column {
        width: 50%;
        padding: 0;
        justify-content: center;

        .text-block {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .subtitle,
        .title,
        .description {
            text-align: left;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);
            width: 100%;
            align-items: center;

            .button {
                .button-text {
                    content: "";
                }
            }
        }
    }

    .right-column {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(50% - var(--composer-gap-xl));
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 120px 60px;

        .right-background {
            position: absolute;
            inset: 0;

            .background-image {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                inset: 0;
                background: var(--composer-overlay-color);
                z-index: 1;
            }
        }

        &.full-width {
            position: relative;
          
            width: 100%;
            min-height: 500px;
        }

        &.no-media {
            .stats-list {
                padding: 0;
            }

            .stat-value {
                color: var(--composer-font-color-primary) !important;
            }

            .stat-subtitle,
            .stat-title,
            .stat-description {
                color: var(--composer-font-color-primary) !important;
            }
        }

        .stats-list {
            position: relative;
            z-index: 2;
            gap: var(--composer-gap-xl);
            width: 100%;
            align-items: flex-start;

            .stat-item {
                display: flex;
                flex-direction: column;

                .stat-value {
                    display: flex;
                    align-items: flex-end;
                    color: var(--composer-font-color-secondary);
                    font-size: 7rem;
                    line-height: 1;

                    .stat-prefix,
                    .stat-number,
                    .stat-suffix {
                        color: inherit;
                        font-size: inherit;
                        text-align: left;
                    }
                }

                .stat-title,
                .stat-subtitle,
                .stat-description {
                    color: var(--composer-font-color-secondary);
                    text-align: left;
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        .left-column {
            width: 100%;
        }

        .right-column {
            position: relative;
            width: calc(100% + 100px);
            margin: 0 calc(-1 * var(--composer-gap-xl));
            top: auto;
            right: auto;
            bottom: auto;
            min-height: 400px;
           

            .stats-list {
                .stat-item {
                    .stat-value {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        .left-column {
            width: 100%;

            &.center-alignment {
                .subtitle,
                .title,
                .description {
                    text-align: center;
                }

                .button-container {
                    justify-content: center;
                }
            }
        }

        .right-column {
            position: relative;
            width: calc(100% + 60px);
            margin: var(--composer-gap-lg) -30px 0;
            min-height: 300px;

            &.center-alignment {
                .stats-list {
                    align-items: center;

                    .stat-item {
                        align-items: center;

                        .stat-value {
                            justify-content: center;
                        }

                        .stat-title,
                        .stat-subtitle,
                        .stat-description {
                            text-align: center;
                        }
                    }
                }
            }

            &.full-width {
                width: 100%;
            }
        }
    }
}
