@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;
.container {
  .max-content {
    .header {
      .subtitle {
        content: "";
      }
      .title {
        content: "";
      }
    }

    .item-index {
      position: relative;
      margin: var(--composer-gap-md);
      color: var(--composer-primary-color);
      padding-bottom: var(--composer-gap-xl);

      &.index {
        padding-bottom: var(--composer-gap-md);
      }
    }

    .services-grid {
      margin-bottom: var(--composer-gap-md);
      gap: var(--composer-gap-lg);

      .service-item {
        position: relative;
        padding: var(--composer-gap-lg);

        &[data-animation~="animate1"] {
          .border-frame{
            .border-top {
              &::before {
                content: "";
                position: absolute;
                left: 90px;
                top: 0;
                background-color: var(--composer-primary-color);
                height: var(--composer-border-width-xs);
                width: 0;
                z-index: 2;
                transition: all var(--composer-transition-duration-slow) ease-in-out;
              }
            }
          }
          &:hover{
            .border-frame{
              .border-top{
                &::before{
                  width: calc(100% - 90px);
                }
              }
            }
          }
        }
        &[data-animation~="animate4"]:hover {
          .item-index{
            &.index {
              animation: bounce 1s ease-in-out;
            }
          }

        }

        .border-frame {
          position: absolute;
          width: calc(100% - 80px);
          height: calc(100% - 80px);
          z-index: 0;

          .border-left {
            position: absolute;
            top: calc(-1 * var(--composer-gap-sm));
            left: 0;
            height: calc(100% + 30px);
            width: var(--composer-border-width-xs);
            background-color: rgba(var(--composer-font-color-primary-rgb), 0.2);
          }

          .border-top {
            position: absolute;
            top: calc(var(--composer-gap-xl) + var(--composer-gap-sm));
            left: calc(-1 * var(--composer-gap-xl));
            height: var(--composer-border-width-xs);
            width: calc(100% + 60px);
            background-color: rgba(var(--composer-font-color-primary-rgb), 0.2);
            z-index: 1;
            &:after {
              content: "";
              position: absolute;
              left: 90px;
              top: 0;
              background-color: var(--composer-font-color-primary);
              height: var(--composer-border-width-xs);
              width: calc(100% - 90px);
              z-index: 1;
            }
          }

          .border-right {
            position: absolute;
            top: 0;
            right: 0;
            height: calc(100% + var(--composer-gap-md));
            width: var(--composer-border-width-xs);
            background-color: rgba(var(--composer-font-color-primary-rgb), 0.2);
          }

          .border-bottom {
            position: absolute;
            bottom: 0;
            left: calc(-1 * var(--composer-gap-xl));
            height: var(--composer-border-width-xs);
            width: calc(100% + 60px);
            background-color: rgba(var(--composer-font-color-primary-rgb), 0.2);
          }
        }
        .card-content {
          position: relative;
          z-index: 1;
          padding: var(--composer-gap-md);

          .card-body {
            padding: var(--composer-gap-md);
            background-color: color-mix(
              in srgb,
              var(--composer-html-background),
              var(--composer-font-color-primary) 5%
            );
            transition: background-color var(--composer-transition-duration-slow) ease;

            &[data-animation~="animate2"] {
              &:hover {
                background-color: var(--composer-primary-color);

                .icon {
                  color: var(--composer-html-background);
                }

                .text-wrapper {
                  .item-title {
                    color: var(--composer-font-color-primary);
                  }

                  .item-description {
                    color: var(--composer-font-color-primary);
                  }
                }
              }
            }

            &[data-animation~="animate3"]:hover {
              .icon {
                transform: rotate(360deg);
                transition: transform var(--composer-transition-duration-normal);
              }
            }

            .icon {
              font-size: 2.5rem;
              color: var(--composer-primary-color);
              margin: var(--composer-gap-md) 0;
            }

            .card-number {
              position: absolute;
              color: var(--composer-font-color-primary);
            }
            .text-wrapper {
              display: flex;
              flex-direction: column;
              gap: var(--composer-gap-md);
              .item-title {
                content: "";
                color: var(--composer-font-color-primary);
                overflow: hidden;
                margin: 0;
                position: relative;
                display: inline-block;
              }

              .item-description {
                content: "";
                margin: 0;
                color: var(--composer-tertiary-color);
              }
            }
          }
        }
        &.with-index {
          .item-index.index + .card-content { margin-top: var(--composer-gap-sm); }
        }
        &.no-index {
          .card-content { margin-top: calc(var(--composer-gap-xl) + var(--composer-gap-sm)); }
        }
        &:nth-child(3n + 2) {
          transform: translateY(var(--composer-gap-lg));
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .services-grid {
        gap: var(--composer-gap-xs);
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .services-grid {
        .service-item {
          padding: 0;
          .border-frame {
            width: 100%;
            height: 100%;
            .border-left {
              top: var(--composer-gap-sm);
              height: calc(100% + var(--composer-gap-md));
            }
            .border-right {
              top: var(--composer-gap-sm);
            }
          }
          &:nth-child(3n + 2) {
            transform: none;
          }
        }
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(calc(-1 * var(--composer-gap-xs)));
    animation-timing-function: ease-in-out;
  }
}
