.container {
  .max-content {    
    .card-child {
      margin-bottom: calc(var(--composer-gap-xl) + var(--composer-gap-lg));
      gap: var(--composer-gap-lg);
      
      .card-item-count{
        position: relative;
        padding: var(--composer-gap-lg);
        .line-box{
          position: absolute;
          width: calc(100% - 80px);
          height: calc(100% - 80px);
        
          .line-1{
            position: absolute;
            top: 7px;
            left: 0px;
            height: calc(100% + 30px);
            width: 1px;
            background-color: rgba(var(--composer-tertiary-color-rgb), 0.5);
          }
    
          .line-2{
            position:absolute;
            top: 35px;
            left: -20px;
            height: 1px;
            width: calc(100% + 40px);
            background-color: rgba(var(--composer-tertiary-color-rgb), 0.5);
            &:after{
              content: "";
              position:absolute;
              left: 60px;
              top: 0px;
              background-color: var(--composer-tertiary-color);
              height: 1px;
              width: calc(100% - 60px);
            }
          }

          .line-3{
            position: absolute;
            top: 7px;
            right: 0px;
            height: calc(100% + 30px);
            width: 1px;
            background-color: rgba(var(--composer-tertiary-color-rgb), 0.5);
          }

          .line-4{
            position:absolute;
            bottom: -15px;
            left: -20px;
            height: 1px;
            width: calc(100% + 40px);
            background-color: rgba(var(--composer-tertiary-color-rgb), 0.5);
            
          }
        }
        .card-title {
          position: relative;
          bottom: 5px;
          font-size: 1rem;
          font-weight: bold;
          margin: var(--composer-gap-md) 0px 0px var(--composer-gap-sm);
          color: var(--composer-primary-color);
        }

        .card {
          position: relative;
          padding: var(--composer-gap-sm);
          height: calc(100% - 25px);

          .color-box{
            height: 100%;
            padding: var(--composer-gap-md);
            padding-bottom: 0px;
            border-radius: var(--composer-border-radius-xs);
            background-color:  color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);

            .icon {
                font-size: 2.5rem;
                color: var(--composer-font-color-primary);
                margin: var(--composer-gap-md) 0;
            }

            .card-subtitle{
              font-size: 1.5rem;
              color: var(--composer-font-color-primary);
              overflow: hidden;
            }

            .card-description {
              font-size: 1rem;
              color: var(--composer-font-color-primary);
              opacity: 0.5;
            }
          }          
        }  
        &:nth-child(3n + 2){
          transform: translateY(50px);
        }    
      }
    }
  }
}
  
  @media only screen and (max-width: 768px) {
    .container {
        .max-content {
            .card-child {
              gap: var(--composer-gap-lg);

              .card-item-count{
                position: relative;
                padding: var(--composer-gap-lg);

              .line-box{
                position: absolute;
                
              }
              .card {
                position: relative;
                margin-bottom: var(--composer-gap-md);
                margin-top: 0px !important;
                width: 100%;
                .color-box{
                  width: 100%;
                  padding: var(--composer-gap-md);
                }
              } 
              &:nth-child(3n + 2){
                transform: translateY(0px) !important;
              }  
            }
          }
          }
        }
      }


      @media only screen and (max-width: 400px) {
        .container {
            .max-content {
                .card-child {
                  height: 100%;
                  .card-item-count{
                    position: relative;
                  .line-box{
                    position: absolute;
                  }
                  .card {
                    width: 100%;
                    position: relative;
                    margin-bottom: var(--composer-gap-md);     
                  }
                }
              }
              }
            }
          }
    