@import "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss";

.container {
  .max-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @mixin column-styles {
      .title {
        font-size: 4rem;
      }

      .description {
        color: var(--composer-font-color-primary);
        font-size: 1.5rem;
        opacity: 0.5;
      }

      .buttons-container,
      .buttons-container-center {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: var(--composer-gap-sm);
      }

      .buttons-container-center {
        justify-content: center;
      }

      .button {
        cursor: pointer;
        padding: var(--composer-gap-xs) var(--composer-gap-sm);
        transition: 0.5s;
        color: var(--composer-font-color-primary);
        background-color: var(--composer-secondary-color);
        box-shadow: var(--box-shadow-active);
        border: none;
        border-radius: var(--composer-border-radius-xl);
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: var(--composer-gap-xl);
        gap: var(--composer-gap-xs);

        &:hover {
          background-color: var(--composer-primary-color);
          color: var(--composer-font-color-secondary);
          border: none;
        }
      }

      .button_text {
        content: "";
      }

      .icon {
        font-size: 2.5rem;
      }
    }

    .left-column-no-image {
      width: 100%;
      @include column-styles;
    }

    .left-column {
      width: 70%;
      @include column-styles;
    }

    .right-column {
      width: 25%;
      height: 100%;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    .max-content {
      .left-column {
        .title {
          font-size: 2rem;
        }

        .description {
          font-size: 1rem;
        }

        .button {
          font-size: 1rem;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      flex-direction: column;
      gap: var(--composer-gap-lg);
      .left-column {
        width: 100%;

        .button-element {
          width: 100%;
          .button {
            width: 100%;
          }
        }
      }
      .right-column {
        width: 100%;
      }
    }
  }
}
