.container {
  .max-content {
    .page {
      .up-content {
        .title {
          color: var(--composer-font-color-primary);
        }

        .description {
          color: var(--composer-font-color-primary);
          opacity: 0.5;
        }
      }

      .down-content {
        .card {
          width: 100%;
          height: auto;
          transition: all 0.8s;
          flex: 1 1;
          border-radius: var(--composer-border-radius-xl);
          background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);

          .text-box {
            padding: var(--composer-gap-md);
            width: 100%;
            transition: 0.4s;

            .text-up {
              display: flex;
              gap: var(--composer-gap-md);

              .name {
                color: var(--composer-font-color-primary);
              }

              .job {
                color: var(--composer-font-color-primary);
                opacity: 0.5;
              }
            }

            .description {
              color: var(--composer-font-color-primary);
              opacity: 0.5;
            }
          }

          .image {
            height: 500px;
            width: 100%;
            object-fit: cover;
            transition: filter 0.3s ease;
            border-top-right-radius: var(--composer-border-radius-xl);
            border-top-left-radius: var(--composer-border-radius-xl);
          }

          &:hover {
            background-color: var(--composer-secondary-color);
          }
        }
      }

      .button {
        .button-element {
          width: 100%;
          height: 100%;
          padding: var(--composer-gap-sm);
          background-color: var(--composer-secondary-color);
          color: var(--composer-font-color-primary);
          border-radius: var(--composer-border-radius-xl);
        }
      }
    }
  }
}
