.container {
  width: 100%;
  background-color: var(--composer-color-background);
  padding: 20px 50px;
  display: flex;
  justify-content: center;

  .max-content {
    width: var(--composer-content-width);
    margin: 0 auto;

    .images {
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-column-gap: 15px;
      grid-row-gap:15px;
      grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
      box-sizing: border-box;
      .image-container {
        justify-content: center;
        display: flex;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        .image {
          display: grid;
          margin: auto;
          height: 100%;
          max-height: 100vh;
          width: 100%;
          grid-gap: 20px;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          object-fit: cover;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: scale(1.04);
            filter: brightness(0.9);
          }
        }
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
      cursor: zoom-out;
      z-index: 10;
      .overlay-content {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        .middle-content {
          display: flex;
          flex-direction: column;
          position: relative;
          max-height: 100%;
          margin: auto;
          padding-bottom: 20px;
          width: 35%;
          max-width: 100%;
          text-align: center;
          .image-close-button {
            position: absolute;
            top: -40px; 
            right: -5px; 
            background: none;
            border: none;
            color: #ffffff;
            font-size: 15px;
            cursor: pointer;
          }
          .large-image {
            max-height: 100%;
            position: relative;
            cursor: pointer;
            width: auto;
            max-width: 100%;
          }
          .gallery-image {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 16px;
            color: #ccc;
            word-wrap: break-word;
            max-width: 85%;
            width: fit-content;
            overflow: hidden;
            white-space: nowrap;
          }

          .image-caption {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #ccc;
            font-size: 16px;
          }
        }
        .prev-button,
        .next-button {
          position: absolute;
          top: 50px;
          background: transparent;
          color: white;
          border: none;
          cursor: pointer;
          font-size: 24px;
          transform: translateY(-50%);
        }
        .prev-button {
          left: 20px;
          top: 50%;
        }
        .next-button {
          right: 20px;
          top: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container{ 
    padding: 20px 30px;
    .max-content{
      .images{
        display: grid !important;
        grid-template-columns: repeat(auto-fill,minmax(200px 1fr)) !important;
        .image-container{
          max-width: 100%;
          max-height: 100%;
          }
      }
      .overlay {
        .overlay-content {
          .middle-content {
            flex-direction: column;
            padding-bottom: 20px;
            width: 60%;
            max-width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .container{ 
    padding: 20px 30px;
    .max-content{
      .images{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
      }
      .overlay {
        .overlay-content {
          .middle-content {
            flex-direction: column;
            padding-bottom: 20px;
            width: auto;
            max-width: 90%;
          }
        }
      }
    }
  }
}
