@import "../../../../composer-tools/composer-base-components//base//utitilities/viewports.module.scss";

.container {
  .max-content {
    .content {
      display: flex;
      gap: calc(3 * var(--composer-gap-xl));
      width: 100%;

      .left-content,
      .right-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);
      }

      .left-content {
        .subtitle {
          content: "";
        }
        .title {
          content: "";
        }

        .description {
          color: var(--composer-font-color-primary);
        }
        .buttons {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: var(--composer-gap-sm);

          .button-box {
            display: flex;

            .button-text {
              padding: var(--composer-gap-md) var(--composer-gap-lg);
              min-width: 150px;
              width: 100%;
              border-radius: var(--composer-border-radius-xl);
              background-color: var(--composer-primary-color);
              color: var(--composer-font-color-secondary);
              border: none;
            }
          }
        }
      }

      .right-content,
      .right-content-single {
        justify-content: center;
        gap: var(--composer-gap-md);

        .plan {
          width: 100%;
          background: var(--composer-html-background);
          padding: var(--composer-gap-sm) var(--composer-gap-md);
          border-radius: var(--composer-gap-xs) !important;
          display: flex;
          flex-direction: column;
          transition: 0.5s;
          box-shadow: var(--box-shadow-active);
          color: var(--composer-font-color-primary);
          cursor: pointer;

          &.active {
            background: var(--composer-primary-color);
            gap: var(--composer-gap-sm);
            color: var(--composer-font-color-secondary);
            .plan-price-box,
            .plan-description {
              height: unset !important;
              overflow: unset !important;
            }
            .plan-description,
            .price-description {
              color: var(--composer-font-color-secondary);
              opacity: 0.5;
            }

            .plan-upper {
              margin: 0;
              margin-top: var(--composer-gap-md);
              .icon-box {
                svg {
                  margin-top: 0px;
                }
              }
            }
          }

          .plan-upper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .plan-title {
              margin: 0;
            }

            .icon-box,
            .icon-box-active {
              color: var(--composer-font-color-secondary);
              background-color: var(--composer-font-color-primary);
              width: var(--composer-gap-md);
              height: var(--composer-gap-md);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: var(--composer-border-radius-xl);
              svg {
                margin-top: 2px;
              }
            }

            .icon-box-active {
              background-color: var(--composer-font-color-primary);
              opacity: 0.5;
              svg {
                margin-top: 1px;
              }
            }
          }
          .plan-price-box,
          .plan-description {
            height: 0;
            overflow: hidden;
          }
          .plan-upper {
            margin: var(--composer-gap-sm);
          }
          .plan-price-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .labels {
              display: flex;
              align-items: center;
              gap: var(--composer-gap-sm);

              .price {
                font-size: 2rem;
              }
            }

            .plan-button {
              background-color: transparent;
              border: 1px solid rgba(var(--composer-font-color-secondary-rgb), 0.5);
              border-radius: var(--composer-gap-lg);
              padding: var(--composer-gap-sm) var(--composer-gap-md);
              cursor: pointer;
              transition: all 0.4s ease;
              font-size: 1rem;

              .plan-button-text {
                margin: 0;
              }
            }
          }
        }
      }

      .right-content-single {
        width: 100%;
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    position: relative;

    .max-content {
      .content {
        flex-direction: column;
        gap: var(--composer-gap-lg) !important;

        .left-content,
        .right-content {
          max-width: unset;
        }

        .left-content {
          width: 100%;
          text-align: left;

          .buttons,
          .button-box {
            margin: auto;
          }
          .buttons {
            .button-box {
              width: fit-content;
              .button-text {
                border: none;
                font-size: 1rem;
              }
            }
          }
        }
        .right-content {
          width: 100%;

          .plan {
            .plan-price-box {
              .plan-button {
                width: 100%;
                font-size: 1rem;
                padding: var(--composer-gap-xs) var(--composer-gap-sm);
              }
            }
          }
          .button-box {
            .button-text {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    position: relative;
    justify-content: space-between;

    .max-content {
      .content {
        flex-direction: column;
        gap: var(--composer-gap-md);
        align-items: center;

        .left-content {
          .buttons {
            justify-content: center;
            .button-box {
              .button-text {
                font-size: 1rem;
              }
            }
          }
        }
        .right-content {
          width: 100%;

          .plan {
            .plan-price-box {
              display: flex;
              .plan-button {
                font-size: 1rem;
                text-align: center;
              }

              .labels {
                .price {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
