.container {
  width: 100%;
  max-width: 800px;
  max-height: 590px;
  padding: 0;

  .max-content {
    height: 100%;
    background-color: var(--composer-font-color-secondary);
    position: relative;
    container-type: inline-size;

    @container (max-width: 657px) {
      .content {
        .year-text {
          font-size: 4.5rem !important;
          left: var(--composer-gap-lg) !important;
          top: -3.5% !important;
        }

        .header {
          .header-text {
            font-size: 4rem !important;
            width: 60%;
          }
        }

        .background-image {
          top: -15% !important;
          right: -10% !important;
        }

        .event-content {
          gap: var(--composer-gap-sm) !important;

          .event-speakers {
            .speakers {
              .speaker {
                min-width: 90px !important;

                img {
                  width: 90px !important;
                  height: 90px !important;
                }
              }
            }
          }

          .event-details {
            gap: var(--composer-gap-md) !important;
            flex-direction: row !important;

            .event-button {
              font-size: 1rem !important;
              padding: var(--composer-gap-sm) var(--composer-gap-md) !important;
            }

            .event-date {
              font-size: 1rem !important;
            }
          }
        }
      }

      .contact-infos {
        padding: var(--composer-gap-sm) var(--composer-gap-md) !important;
      }
    }

    @container (max-width: 508px) {
      .content {
        .year-text {
          font-size: 3.5rem !important;
          left: var(--composer-gap-lg) !important;
          top: -3% !important;
        }

        .header {
          padding: 0 !important ;
          .header-text {
            font-size: 3.2rem !important;
          }
        }

        .background-image {
          top: -10% !important;
        }

        .exit-icon {
          width: 23px !important;
          height: 23px !important;
        }

        .event-content {
          .event-speakers {
            .speakers {
              .speaker {
                min-width: 75px !important;

                img {
                  width: 75px !important;
                  height: 75px !important;
                }
              }
            }
          }

          .event-details {
            flex-direction: row !important;
            gap: var(--composer-gap-sm) !important;

            .event-button {
              padding: var(--composer-gap-xs) var(--composer-gap-md) !important;
            }
          }
        }
      }

      .contact-infos {
        padding: var(--composer-gap-sm) var(--composer-gap-md) !important;
        gap: var(--composer-gap-xs) !important;
        .contact-info {
          .contact-icon {
            font-size: 1rem !important;
          }

          .contact-text {
            font-size: 0.9rem !important;
          }
        }
      }
    }

    .content {
      padding: 0 var(--composer-gap-lg);
      padding-top: 70px;
      position: relative;
      z-index: 1;
      overflow: hidden;

      .year-text {
        color: var(--composer-font-color-primary);
        opacity: 0.5;
        position: absolute;
        top: -5%;
        left: var(--composer-gap-xl);
        font-size: 6.5rem;
        margin: 0;
      }

      .header {
        text-align: left;
        padding: var(--composer-gap-sm);

        .header-text {
          margin: 0;
          font-size: 5rem;
          white-space: wrap;
          width: 70%;
          line-height: 1;
          color: var(--composer-font-color-primary);
        }

        .theme-color {
          color: var(--composer-secondary-color);
        }

        .sketch-underline {
          padding-bottom: 0.1rem;
          color: var(--composer-secondary-color);
          background-size: 100% 0.75rem;
          display: inline-block;
          background-position: bottom left;
          background-repeat: no-repeat;
          word-break: break-word;
        }
      }

      .exit-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: var(--composer-gap-md);
        top: var(--composer-gap-md);
        color: var(--composer-font-color-secondary);
      }

      .background-image {
        max-width: 67%;
        max-height: auto;
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        top: -10%;
        right: -15%;
        overflow: hidden;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .event-content {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
        flex-wrap: wrap;
        gap: var(--composer-gap-md);

        .event-speakers {
          text-align: left;
          padding: 0 var(--composer-gap-sm);

          .subheader {
            color: var(--composer-font-color-primary);
          }

          .highlight {
            color: var(--composer-secondary-color);
          }

          .speakers {
            display: flex;
            gap: var(--composer-gap-md);
            width: 100%;
            flex-wrap: wrap;

            .speaker {
              gap: var(--composer-gap-xs);
              min-width: 100px;

              img {
                width: 100px;
                height: 100px;
              }

              .speaker-name {
                font-size: 1.1rem;
                word-break: break-all;
                color: var(--composer-font-color-primary);
              }

              .speaker-title {
                word-break: break-all;
                color: var(--composer-font-color-primary);
                opacity: 0.5;
              }
            }
          }
        }

        .event-details {
          text-align: center;
          justify-content: end;
          align-items: center;
          gap: var(--composer-gap-md);

          .event-button {
            border: 1px solid var(--composer-secondary-color);
            border-radius: var(--composer-border-radius-xl);
            background-color: var(--composer-secondary-color);
            color: var(--composer-font-color-secondary);
            padding: var(--composer-gap-md) var(--composer-gap-md);
            width: fit-content;
          }
          .event-date {
            display: flex;
            flex-direction: row;
            margin: 0;
            gap: var(--composer-gap-sm);
            justify-content: center;
            align-items: center;
            width: 100%;

            .divider {
              width: 2px;
              min-height: 16px;
              height: 100%;
              background-color: var(--composer-secondary-color);
              flex-shrink: 0;
            }

            .first-part {
              flex: 1;
              color: var(--composer-font-color-primary);
              margin: 0;
            }

            .second-part {
              flex: 1;
              color: var(--composer-font-color-primary);
              margin: 0;
            }
          }
        }
      }
    }

    .line {
      height: 1px;
      color: var(--composer-font-color-primary);
      opacity: 0.5;
      width: 100%;
    }

    .contact-infos {
      padding: var(--composer-gap-md) var(--composer-gap-xl);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .contact-info {
        display: flex;
        align-items: center;
        gap: var(--composer-gap-xs);
        flex: 1;

        .contact-icon {
          color: var(--composer-secondary-color);
          font-size: 1.5rem;
        }

        .contact-text {
          color: var(--composer-font-color-primary);
        }
      }
    }
  }
}
