@import "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss";

.maxContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .socialMediaBox {
    display: flex;
    .social {
      display: flex;
      align-items: center;
      gap: var(--composer-gap-sm);
      .icon {
        font-size: 1.5rem;
        color: var(--composer-font-color-primary);
        transition: color 0.3s;
        cursor: pointer;

        &:hover {
          color: var(--composer-tertiary-color);
        }
      }
    }
  }

  .logo {
    .logoImage {
      width: 100%;
      max-height: 60px;
      object-fit: contain;
    }
  }

  .navbar {
    color: var(--composer-font-color-primary);
    display: flex;
    gap: var(--composer-gap-sm);
    justify-content: end;
    align-items: flex-end;
    align-items: center;
    height: fit-content;
    z-index: 20;

    .language {
      color: var(--composer-font-color-primary);
    }

    .hamburgerIcon {
      font-size: 2.5rem;
      cursor: pointer;
    }

    .activeHamburgerIcon {
      color: var(--composer-font-color-primary) !important;
    }
  }

  .logo,
  .socialMediaBox,
  .navbar {
    flex: 1 1;
  }
}

.maxContent > :first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.maxContent > :only-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color {
  background-color: var(--composer-html-background);
}

.active {
  background-color: var(--composer-html-background);
  .max-content {
    .bar {
      .socialMediaBox {
        .title,
        .subtitle {
          color: var(--composer-font-color-primary);
        }
      }
    }
    .navbar {
      .hamburgerIcon {
        z-index: 20;
        color: var(--composer-font-color-primary);
      }
    }
  }
}

.downPage {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--composer-html-background);
  display: flex;
  flex-direction: column;
  gap: var(--composer-gap-md);
  justify-content: center;
  opacity: 0;
  z-index: 15;
  height: fit-content;
  min-height: 100vh;

  &.active {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 1s ease forwards;
  }

  &.closing {
    animation: fadeOut 1s ease forwards;
  }

  .up {
    display: flex;
    align-items: center;
    gap: var(--composer-gap-md);
    margin: 0 var(--composer-gap-xl);

    .leftPage {
      .title {
        font-size: 7rem;
        letter-spacing: var(--composer-gap-xs);
        color: var(--composer-font-color-primary);
      }
    }

    .rightPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .items {
        .item-title {
          font-size: 2.5rem;
          color: var(--composer-font-color-primary);
          opacity: 0;
          transform: translateY(-100px);
          animation: fadeIn 1.5s ease forwards;
          transition: color 0.3s;
          cursor: pointer;

          &:hover {
            color: var(--composer-tertiary-color);
          }
        }
      }
    }

    .leftPage,
    .rightPage {
      flex: 1 1;
    }
  }

  .line {
    border-bottom: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);
  }

  .down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--composer-gap-md);
    margin: var(--composer-gap-md) var(--composer-gap-xl);
    .text1,
    .text2 {
      font-size: 1.5rem;
      color: var(--composer-font-color-primary);
    }

    .divider {
      flex-shrink: 0;
      width: var(--composer-gap-xl);
      height: 1px;
      border-bottom: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100px);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.transparentBackground {
  .socialMediaBox {
    .social {
      .icon {
        color: white;
      }
    }
  }
  .navbar {
    .hamburgerIcon {
      color: white;
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .maxContent {
    .socialMediaBox {
      .social {
        gap: var(--composer-gap-sm);
        .icon {
          font-size: 1.5rem;
        }
      }
    }

    .logo {
      .logoImage {
        width: 100%;
        max-height: 50px;
        object-fit: contain;
      }
    }

    .downPage {
      justify-content: center;
      .up {
        gap: var(--composer-gap-md);
        margin: 0 var(--composer-gap-xl);

        .leftPage {
          display: none;
        }

        .rightPage {
          width: 100%;
          text-align: center;

          .items {
            .item-title {
              font-size: 2.5rem;
              text-align: center;
            }
          }
        }
      }

      .line {
        display: none;
      }

      .down {
        display: none;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .maxContent {
    .socialMediaBox {
      display: none;
    }

    .logo {
      .logoImage {
        width: 100%;
        max-height: 40px;
        object-fit: contain;
      }
    }
  }
  .downPage {
    .up {
      .leftPage {
        display: none;
      }

      .rightPage {
        .items {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: var(--composer-gap-lg);

          .item-title {
            margin: 0;
          }
        }
      }
    }

    .line {
      display: none;
    }

    .down {
      display: none;
    }
  }
}
