@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container {
  overflow-y: scroll;
  height: 100vh;

  .maxContent {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-lg);

    .gridContainer {
      .column {
        height: 100%;
        overflow: hidden;

        .wrapper {
          .card {
            height: 425px;
            width: 100%;
            cursor: pointer;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            .image,
            .full-image {
              width: 100%;
              transition: opacity 0.3s ease;
              opacity: 1;
              object-fit: cover;

              &:hover {
                opacity: 0.8;
              }
            }

            .image {
              height: 80%;
            }

            .full-image {
              height: 100%;
            }

            .textContainer {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 20%;
              align-items: center;
              justify-content: center;
              background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
              gap: var(--composer-gap-xs);

              .title {
                color: var(--composer-font-color-primary);
                text-align: center;

                &:hover {
                  color: var(--composer-primary-color);
                }
              }

              .subtitle {
                color: var(--composer-font-color-primary);
                text-align: center;
              }
            }
          }
        }
      }

      .columnOdd {
        transition: transform 0.3s ease-out;
      }

      .columnEven {
        transform: translateY(-250px);
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        .button-text {
          content: "";
        }
      }
    }

  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    height: 100%;

    .maxContent {
      .gridContainer {
        gap: var(--composer-gap-md);
        
        .column {
          height: auto;
          overflow: visible;
        }

        .columnEven {
          transform: translateY(0px) !important;
        }

        .columnOdd {
          margin-top: 0px;
          transform: none !important;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    height: 100%;

    .maxContent {
      .gridContainer {
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);
        
        .column {
          height: auto;
          overflow: visible;
        }

        .columnEven {
          transform: translateY(0px) !important;
        }

        .columnOdd {
          margin-top: 0px;
          transform: none !important;
        }
      }
    }
  }
}