.container {
    width: 100%;
    padding: 50px 0;
    .max-content {
        max-width: var(--composer-content-width);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        .title,
        .description {
            text-align: center;
        }
        .title {
            word-break: break-word;
            font-size: 3rem;
        }
        .description {
            margin: 20px 0;
        }
        .team-members {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            gap: 50px;
            .team-member {
                flex: 1 1;
                min-width: 250px;
                height: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 6px;
                overflow: hidden;
                background: #f6f6f6;
                box-shadow: var(--composer-box-shadow);
                border-radius: 6px;
                .member-image {
                    max-height: 400px;
                    height: 100%;
                    width: 100%;
                }
                .name-and-position {
                    text-align: center;
                    font-weight: 500;
                    padding: 5px;
                    color: black;
                     :first-child {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                    .team-member-position {
                        margin: 5px 0 0 0;
                    }
                }
                .social-media-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    .social-media-image {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        outline: 1px solid lightgray;
                        padding: 3px;
                        border-radius: 100%;
                        margin: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 50px 20px;
        .max-content {
            align-items: center;
            flex-direction: column;
            .card-item-count {
                min-width: 100%;
            }
        }
    }
}