.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-md);

    .up-content {
      .title {
        color: var(--composer-font-color-primary);
      }

      .description {
        color: var(--composer-font-color-primary);
        opacity: 0.5;
      }
    }

    .team-members {
      .team-member {
        flex: 1 1;
        min-width: 250px;
        height: 100%;
        gap: var(--composer-gap-sm);

        .member-image {
          max-height: 500px;
          height: auto;
          width: 100%;
          border-radius: var(--composer-border-radius-xl);
          object-fit: cover;
        }
        .name-and-position {
          .team-member-name {
            color: var(--composer-font-color-primary);
          }
          .team-member-position {
            color: var(--composer-primary-color);
          }
        }
      }
    }
  }
}
