.container {
    width: 100%;
    padding: 50px 0;
    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        display: flex;
        justify-content: space-around;
        .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            .card-item-count {

                .message {
                    display: flex;
                    flex-direction: column;
                    min-height: 100px;
                    border: 2px solid var(--composer-tertiary-color);
                    // border-left: 5px solid var(--composer-tertiary-color);
                    // border-top: 2px solid var(--composer-tertiary-color);
                    // border-bottom: 2px solid var(--composer-tertiary-color);
                    // border-right: 2px solid var(--composer-tertiary-color);
                    box-shadow: var(--composer-box-shadow);
                    border-radius: 6px;
                    padding: 20px;
                    flex: 1 1;

                    &.setBorderThickness {
                        border-left : 5px solid var(--composer-tertiary-color);
                    }

                    .title {
                        margin: 0;
                        width: 100%;
                        .message-title {
                            width: 100%;
                            display: block;
                            font-weight: bold;
                            color: var(--composer-primary-color);
                        }
                    }
                    .long-text {
                        padding-bottom: 10px;
                        margin: 0;
                        display: block;
                        color: var(--composer-font-color-primary);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 50px 20px;
        .max-content {
            .content {
                .card-item-count {
                    min-width: 100%;
                }
            }
        }
    }
}