@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--composer-gap-sm);
}

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--composer-gap-lg);

    .header-container {
      .subtitle {
        width: fit-content;
      }

      .title,
      .description {
        content: "";
      }
    }

    .cards-list {
      .card {
        box-shadow: var(--box-shadow-active);
        border-radius: var(--composer-border-radius-md);
        padding: var(--composer-gap-lg);

        .card-title,
        .card-description {
          color: var(--composer-font-color-primary);
        }

        .card-subtitle,
        .card-title,
        .card-description {
          text-align: left !important;
        }

        .card-subtitle {
          width: 100%;
          color: var(--composer-primary-color);
        }

        .card-buttons-wrapper {
          @extend .buttons-wrapper;
          width: 100%;

          .card-button {
            .card-button-icon,
            .card-button-text {
              content: "";
            }
          }
        }
      }
    }

    .section-buttons-wrapper {
      @extend .buttons-wrapper;
      margin-inline: auto;

      .section-button {
        .section-button-icon,
        .section-button-text {
          content: "";
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container .max-content {
    gap: var(--composer-gap-md);
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container .cards-list .card {
    padding: var(--composer-gap-md) !important;
  }
}
