@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.maxContent{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .largeMenu{
    .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: var(--composer-gap-md);
  
      .menuItem{
        display: flex;
        align-items: center;
        gap: var(--composer-gap-xs);
        position: relative;
        padding: var(--composer-gap-md) 0;
        cursor: pointer;
  
        span {
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .mobileMenuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    
    .menuIcon {
      font-size: 2rem;
    }
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 90%;
    background: var(--composer-html-background);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    padding: var(--composer-gap-md) var(--composer-gap-xl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &.open {
      transform: translateX(0);
    }

    .mobileCloseButton {
      position: absolute;
      top: var(--composer-gap-md);
      right: var(--composer-gap-md);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 2.5rem;
    }

    .mobileMenuItems {
      margin-top: var(--composer-gap-xl);
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-lg);

      .menuItem {
        padding: var(--composer-gap-sm) 0;
        font-size: 2rem;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}){

}
@container (max-width: #{$composer-tablet-width-lg}){ 
  
  .maxContent{

    .largeMenu{
      display: none;
    }
    .mobileMenuButton{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mobileMenu{
      .mobileMenuItems{
          margin-top: calc(2 * var(--composer-gap-xl));
      }
    }

  }

}
