.container {
  width: 100%;
  padding: 50px 0;
  box-shadow: var(--composer-box-shadow);

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    .logo-comp1-page {
      display: block;
      width: 100%;
      h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0 0 50px 0;
        text-transform: uppercase;
      }
      .image-child {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .image {
          padding: 20px;
          background-color: white;
          box-shadow: var(--composer-box-shadow);
          margin-bottom: 20px;
          border-radius: 6px;
          object-fit: contain;
        }
      }
    }
  }
}

