.container {
  .max-content {
    .header {
      .title {
        content: "";
      }
      .description {
        color: var(--composer-font-color-primary);
      }
    }
    .cards-container {
      .cards {
        .card {
          padding: var(--composer-gap-md);
          background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
          border-radius: var(--composer-border-radius-xl);
          transition: 0.5s;

          .icon-container {
            padding: var(--composer-gap-sm);
            background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 15%);
            border-radius: 50%;
            margin-bottom: var(--composer-gap-md);
            transition: 0.5s;

            .icon {
              font-size: 2rem;
              color: var(--composer-font-color-primary);
            }

            &:hover {
              background-color: var(--composer-font-color-primary);
              .icon {
                color: var(--composer-font-color-secondary);
              }
            }
          }

          .device {
            color: var(--composer-font-color-primary);
          }

          .description {
            color: var(--composer-font-color-primary);
          }

          .button-container {
            .button {
              background-color: var(--composer-secondary-color);
              color: var(--composer-font-color-secondary);
              padding: var(--composer-gap-xs);
              border-radius: var(--composer-border-radius-xl);
              border: none;
              min-width: 200px;
              margin-top: calc(3 * var(--composer-gap-sm));
              display: flex;
              align-items: center;
              justify-content: center;
              gap: var(--composer-gap-sm);
              cursor: pointer;

              .button-icon {
                font-size: 1.5rem;
              }
              .button-text {
                content: "";
              }
            }
            .image {
              max-width: 250px;
              max-width: 200px;
              cursor: pointer;
            }
          }

          &:hover {
            background-color: var(--composer-primary-color);
            .device,
            .platform,
            .description {
              color: var(--composer-font-color-secondary);
            }
          }
        }
      }
    }
  }
}
