@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .header {

      .title,
      .description,
      .subtitle {
        content: "";
      }
    }

    .cards-container {
      .cards {
        .card {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          gap: var(--composer-gap-md);
          padding: var(--composer-gap-md);
          background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
          border-radius: var(--composer-border-radius-md);
          transition: 0.5s;

          .icon-container {
            padding: var(--composer-gap-sm);
            background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 15%);
            border-radius: 50%;
            margin-bottom: var(--composer-gap-md);
            transition: 0.5s;
            width: fit-content;

            .icon {
              font-size: 2rem;
              width: 2rem;
              height: 2rem;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              color: var(--composer-font-color-primary);
            }
          }

          .device,
          .platform,
          .card-description {
            text-align: left !important;
            color: var(--composer-font-color-primary);
            margin: 0;
          }

          .button-container {
            .button {
              .button-icon {
                font-size: 1rem;
                width: 1rem;
                height: 1rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
              }

              .button-text {
                content: "";
              }

              .image {
                height: var(--composer-gap-xl);
                object-fit: contain;
              }
            }
          }

          &:hover {
            background-color: var(--composer-font-color-primary);

            .icon-container {
              background-color: var(--composer-html-background);

              .icon {
                color: var(--composer-font-color-primary);
              }
            }

            .device,
            .platform,
            .card-description {
              color: var(--composer-html-background);
            }
          }
        }
      }
    }
  }
}

@container(max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .cards-container {
        .cards {
          .card {
            .icon-container {
              margin-bottom: 0;
            }

            .button-container {
              .button {
                .image {
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}