.container {
  .max-content {
    .header {
      .title {
        content: "";
      }
      .description {
        color: var(--composer-font-color-primary);
      }
    }
    .cards-container {
      .cards {
        .card {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);
          padding: var(--composer-gap-md);
          background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
          border-radius: var(--composer-border-radius-xl);
          transition: 0.5s;

          .icon-container {
            padding: var(--composer-gap-sm);
            background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 15%);
            border-radius: 50%;
            margin-bottom: var(--composer-gap-md);
            transition: 0.5s;
            width: fit-content;

            .icon {
              font-size: 2rem;
              color: var(--composer-font-color-primary);
            }
          }

          .device {
            font-size: 1rem;
            color: var(--composer-font-color-primary);
            margin: 0;
          }

          .platform {
            font-size: 2rem;
            color: var(--composer-font-color-primary);
            margin: 0;
          }

          .description {
            font-size: 1rem;
            color: var(--composer-font-color-primary);
            margin: 0;
          }

          .button-container {
            .button-element {
              display: flex;
              justify-content: center;
              margin-top: var(--composer-gap-md);
              min-width: 200px;

              .button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--composer-gap-sm);

                .button-icon {
                  font-size: 1.5rem;
                }
                .button-text {
                  content: "";
                }
              }
            }

            .image {
              max-width: 200px;
              cursor: pointer;
            }
          }

          &:hover {
            background-color: var(--composer-font-color-primary);

            .icon-container {
              background-color: var(--composer-font-color-secondary);

              .icon {
                color: var(--composer-font-color-primary);
              }
            }

            .device,
            .platform,
            .description {
              color: var(--composer-font-color-secondary);
            }
          }
        }
      }
    }
  }
}
