@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .content {
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-md);

      .header {
        width: 100%;
        display: flex;
        align-items: center;

        .header-title, .header-description {
          text-align: center;
        }
        .header-subtitle {
          transform: translateY(0px) !important;
          text-align: center !important;
          &::before {
            display: none !important;
          }
        }
      }

      .button-container {
        justify-content: center;
        align-items: center;
        gap: var(--composer-gap-sm);

        .button {
          .button-text {
            content: "";
          }
        }
      }
    }
  }
}

.cards-container {
  .card-item-count,
  .listed,
  .image {
    border-radius: var(--composer-border-radius-sm);
  }

  .card-item-count {
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-height: 100px;

    .listed {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      overflow: hidden;

      &:hover {
        .image {
          transform: scale(1.1);
        }
      }

      .image {
        display: block;
        height: 500px;
        width: 100%;
        transition: var(--composer-transition-duration-normal);
        object-fit: cover;
        text-align: center;
      }

      .image-shadow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: var(--composer-gap-md);
        box-sizing: border-box;

        .card-text-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          z-index: 2;

          .card-subtitle {
            color: var(--composer-font-color-secondary) !important;
            text-align: left;
            font-size: 0.85rem;
            text-transform: uppercase;
            font-weight: 600;

            &::before {
              background-color: var(--composer-font-color-secondary) !important;
            }
          }

          .title {
            text-align: left;
            color: white;
          }

          .card-description {
            color: color-mix(in srgb, white 85%, transparent);
            text-align: left;
            font-size: 0.95rem;
          }

          .card-button-container {
            margin-top: var(--composer-gap-xs);
            .card-button {
              color: var(--composer-font-color-secondary) !important;
              border-bottom: 1px solid var(--composer-font-color-secondary) !important;
            }
          }
        }
      }

      &:not(:has(.image)) {
        .image-shadow.overlay {
          background: transparent;
        }
        .image-shadow {
          .card-text-content {
            .title,
            .card-description {
              color: var(--composer-font-color-secondary);
            }
          }
        }
      }

      .image-shadow.overlay {
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8) 100%);
      }
    }
  }
}



@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .content {
        justify-content: center;
        align-items: center;
        gap: var(--composer-gap-md);

        .button-container {
          flex-direction: row !important;
          flex-wrap: wrap;
          justify-content: center;
          gap: var(--composer-gap-sm);
        }
      }
    }
  }

  .cards-container {
    .card-item-count {
      .listed {
        .image {
          height: 300px;
        }

        .image-shadow {
          padding: var(--composer-gap-sm);
          padding-top: 0;
        }
      }
    }
  }
}