.container {
  .max-content {
    .page {
      display: flex;
      flex-direction: column;
      .up-page {
        .badge {
          content: "";
        }
        .subtitle {
          content: "";
        }
        .description {
          content: "";
        }
      }
      .middle-page{
        width: 100%;
        border-bottom: 1px solid var(--composer-tertiary-color);
        display: flex;
        gap: var(--composer-gap-xl);
        .sections{
          display: flex;
          .title{
            color: var(--composer-font-color-primary);
            font-size: 1rem;
            border-bottom: 1px solid var(--composer-primary-color);
          }
        }
      }
      .down-page {
        width: 100%;
        .card-wrapper{
          .card {
            border-bottom: 1px solid  var(--composer-tertiary-color);
            // padding: 50px;
            .child-container {
              display: flex;
              .card-left { 
                flex: 1;
                .card-title {
                  content: "";
                }
              }
    
              .card-right {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .icon-wrapper{
                  border: 1px solid var(--composer-tertiary-color);
                  background-color: transparent;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .icon{
                    color: var(--composer-tertiary-color);
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
    

    
            .hide {
              display: none;
              &.text {
                display: block;
                font-size: 1.5rem;
                color: rgb(24, 23, 23);
                opacity: 0.8;
                overflow: hidden;
                white-space: pre-line;
                word-break: break-all;
                text-overflow: ellipsis;
                padding: 0 5rem;
                line-height: 2rem;
                margin-top: -1rem;
    
              }
            }
          }
        }
      }  
    }
  }
}

