@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;
.container {
  .max-content {
    .page {
      display: flex;
      flex-direction: column;
      gap: var(--composer-gap-xl);
      .up-page {
        .badge, .subtitle, .description {
          content: "";
        }
      }
      .middle-page{
        width: 100%;
        border-bottom: 1px solid var(--composer-tertiary-color);
        display: flex;
        gap: var(--composer-gap-xl);
        flex-wrap: wrap;
        .sections{
          display: flex;
          .title{
            color: var(--composer-font-color-primary);
            font-size: 1rem;
            border-bottom: 2px solid transparent;
            padding-bottom: var(--composer-gap-sm);
            font-size: 1rem;
            opacity: 0.7;
            transition: all 0.5s ease;
            &.active{
              border-bottom: 2px solid var(--composer-font-color-primary);
              opacity: 1;
              font-weight: bold;
            }
          }
        }
      }
      .down-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);
        .card-wrapper{
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);
          .card {
            display: flex;
            flex-direction: column;
            padding-bottom: var(--composer-gap-lg);
            border-bottom: 1px solid  var(--composer-tertiary-color);
            .child-container {
              display: flex;
              gap: var(--composer-gap-md);
              .card-left { 
                flex: 1;
                .card-title {
                  color: var(--composer-font-color-primary);
                  font-size: 1.5rem;
                }
              }
    
              .card-right {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .icon-wrapper{
                  border: 1px solid var(--composer-tertiary-color);
                  background-color: transparent;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .icon{
                    color: var(--composer-tertiary-color);
                    width: 15px;
                    height: 15px;
                    transform: rotate(0deg);
                    transition: transform 1s ease;
                    &.active{
                      transform: rotate(180deg);
                    }
                  }
                }
              }
            }
            &.active{
              padding-bottom: 0px;
            }
            .hide {
              overflow: hidden;
              padding: 0px;
              transition:padding 0.5s linear;
              .text{
                font-size: 1rem;
                max-height: 0px;
                opacity: 0;
                transition: opacity 0.3s linear;
                color: var( --composer-tertiary-color);
              }
              &.active {
                overflow: hidden;
                padding: var(--composer-gap-md) 0px;
                opacity: 1;
                .text{
                  max-height: 100%;
                  opacity: 1;
                }
              }
            }
          }
        }
      }  
    }
  }
}
@container (max-width: #{$composer-tablet-width}){
  .container{
    .max-content{
      .page{
        .middle-page{
          border-bottom: none;
        }
      }
    }
  }
}