@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
as *;

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-lg);

    .title-container {

      .subtitle,
      .description,
      .title {
        content: "";
      }

      &.with-image {

        .subtitle,
        .title,
        .description {
          text-align: left !important;
        }
      }
    }

    .main-content {
      display: flex;
      gap: var(--composer-gap-lg);

      .images-section {
        flex: 0 0 auto;
        display: flex;
        width: 65%;
        gap: var(--composer-gap-xl);

        .image-box {
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--composer-border-radius-sm);
          }
        }
      }

      .content-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--composer-gap-lg);

        .texts-wrapper {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);

          .text {
            content: "";
          }
        }

        .buttons-container {
          display: flex;
          align-self: flex-start;
          gap: var(--composer-gap-md);
          flex-wrap: wrap;

          &.center {
            align-self: center;
            justify-content: center;
          }

          &.right {
            align-self: flex-end;
            justify-content: flex-end;
          }

          .button-wrapper {
            display: flex;

            .button {
              .button-text {
                content: "";
              }
            }
          }
        }
      }

      &.with-image {
        .content-section {
          .texts-wrapper {
            .text {
              text-align: left !important;
            }
          }

          .buttons-container {
            align-self: flex-start !important;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {}
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      gap: var(--composer-gap-md);

      .main-content {
        flex-direction: column;
        gap: var(--composer-gap-md);

        .images-section {
          width: 100%;
          flex-direction: column;
          gap: var(--composer-gap-sm);

          .image-box {
            width: 100%;
          }
        }

        .content-section {
          gap: var(--composer-gap-md);
        }
      }
    }
  }
}

.overlay {
  position: relative;

  .overlay-layer {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--composer-overlay-color);
  }

  .image {
    position: relative;
    z-index: 0;
  }
}

.no-content {
  justify-content: center;

  .images-section {
    width: 100% !important;
    justify-content: center;

    .image-box {
      width: 100% !important;
      max-width: 800px;
    }
  }
}