$composer-phone-width-sm: 480px;
$composer-phone-width: 640px;
$composer-phone-width-lg: 896px;
$composer-tablet-width-sm: 768px;
$composer-tablet-width: 960px;
$composer-tablet-width-lg: 1024px;
$composer-desktop-width-sm: 1180px;
$composer-desktop-width: 1280px;