.container {
  width: 100%;
  background-color: var(--composer-html-background);
  display: flex;
  height: 100vh;
  align-items: center;

  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;
    display: flex;
  }

  .sliders {
    transition: transform 0.5s cubic-bezier(0, 1.89, 0.99, 1.11);
    max-width: var(--composer-content-width);
    margin: 0 auto;
    .slider {
      display: flex;
      justify-content: space-between;
      height: 100vh;
      transition: transform 0.5s cubic-bezier(0, 1.89, 0.99, 1.11);

      .left-side {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        left: 5%;
        top: 200px;

        .title {
          font-size: 75px;
          width: 400px;
          color: var(--composer-secondary-color);
          transition: color 0.3s ease-in;

          &:hover {
            color: var(--composer-primary-color);
          }
        }
        .subtitle {
          color: var(--composer-font-color-primary);;
          font-size: 24px;
        }

        .line {
          width: 100px;
          text-align: left;
          border-bottom: 2px solid var(--composer-font-color-primary);
        }
        .arrows {
          display: flex;
          color: var(--composer-font-color-primary);;
          flex-direction: column;
          position: absolute;
          left: 0;
          bottom: 200px;
      
      
          .up-arrow,
          .down-arrow {
            cursor: pointer;
            font-size: 52px;
            user-select: none;
          }
        }
      }

      .right-side {
        .image {
          width: 900px;
          height: 100vh;
        }
      }

      .shrink {
        transform: scale(0.9);
      }

      // &.shrink {
      //   transform: scale(0.9);
      // }
  
      // &.expand {
      //   transform: scale(1);
      // }
    }
  }
  .shrink {
    transform: scale(0.9);
  }
  
}


@media only screen and (max-width: 768px) {
  .container {
    .sliders {
      .slider {
        flex-direction: column !important;
        .left-side {
          position: static !important;
          padding-left: 24px !important;
          height: 200px !important;
  
          .title {
            font-size: 50px !important;
            width: 400px;
          }
          .subtitle {
            font-size: 24px !important;
          }
  
          .line {
            width: 90px !important;
          }

          .arrows {
            position: relative !important;
            // flex-direction: row !important;
            left: 0px !important;
            bottom: 290px !important;
        
            .up-arrow,
            .down-arrow {
              font-size: 40px !important;
            }
          }
        }
  
        .right-side {
          .image {
            width: 760px !important;
            object-fit: fill !important;
            padding-bottom: 200px !important;
          }
        }
      }
    }
  
  }
}

@media only screen and (max-width: 548px) {
  .container {
    .sliders {
      .slider {
        flex-direction: column !important;
        width: 40vh !important;
        height: 100vh !important;
        .left-side {
          position: static !important;
          margin-left: 0px !important;
          height: 200px !important;
  
          .title {
            font-size: 34px !important;
            width: 400px;
          }
          .subtitle {
            font-size: 24px !important;
          }
  
          .line {
           width: 60px !important;
          }

          .arrows {
            display: absolute !important;
            left: 0px !important;
            bottom: 250px !important;
        
        
            .up-arrow,
            .down-arrow {
              font-size: 34px !important;
            }
          }
        }
  
        .right-side {
          .image {
            width: 350px !important;
            height: 90% !important;
            // margin: 0 auto !important;
            object-fit: fill !important;
            padding-bottom: 200px !important;
          }
        }
      }
    }
  
  }
}
