.container {
    width: 100%;
    padding-bottom: 0px;
    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        .content {
            display: flex;
            .image-container {
                background-size: cover;
                width: 50%;
                .image {
                    width: 100%;
                    height: 955px;
                }
            }
            .form-container {
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: center;
                .main-wrapper {
                    padding: 10%;
                    .title {
                        font-size: 42px;
                        padding-bottom: 20px;
                        line-height: 1.23;
                        font-weight: 600;
                        color: var(--composer-primary-color);
                    }
                    .description {
                        font-size: 20px;
                        padding-bottom: 30px;
                        line-height: 1.55;
                        font-weight: 300;
                        color: var(--composer-font-color-primary);
                    }
                    .form {
                        display: flex;
                        flex-direction: column;
                        .input {
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: 1px solid #b3b3b3;
                            border-radius: 6px;
                            height: 60px;
                            line-height: 1.33;
                            font-size: 16px;
                            margin-bottom: 25px;
                            outline: none;
                        }
                        .error-message {
                            color: red;
                            font-size: 0.6rem;
                            margin-top: 3px;
                        }
                        .submit-button {
                            border-radius: 30px;
                            height: 60px;
                            text-align: center;
                            font-weight: 700;
                            cursor: pointer;
                            margin-top: 30px;
                            margin-bottom: 10px;
                            background-color: var(--composer-secondary-color);
                            color: #fff;
                            border: 1px solid var(--composer-secondary-color);
                            width: 25%;
                            &:hover {
                                background-color: transparent;
                                color: var(--composer-secondary-color);
                                border: 1px solid var(--composer-secondary-color);
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 900px) {
            .content {
                display: block;
                .image-container {
                    width: 100%;
                    .image {
                        height: 700px;
                        width: 100%;
                    }
                }
                .form-container {
                    display: block;
                    width: 100%;
                    .main-wrapper {
                        padding: 20px 20px 30px;
                        padding-top: 40px;
                        .form {
                            .submit-button {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}