.container {
  width: 100%;

  .max-content {
    width: var(--composer-content-width);
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
    margin: auto;

    .testimonials4 {
      display: block;
      width: 100%;

      .card {
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding: 10px;
        .card-child {
          filter: blur(10px);
          padding: 2rem;
          h1 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 60px;
            color: white;
            word-break: break-all;
          }
          h3 {
            margin: 5px 0;
            opacity: 0.9;
            font-size: 20px;
            color: white;
            word-break: break-all;
          }
          h4 {
            margin: 5px 0;
            opacity: 0.6;
            font-weight: 100;
            color: white;
            word-break: break-all;
            font-size: 15px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1250px) {
  .container {
    flex-direction: column;
    gap: 20px;
    .max-content {
      width: var(--composer-content-width);

      .testimonials4 {
        text-align: center;
        margin: 0;
        padding: 0;
        
      .card {
        .card-child {
          width: 100%;
        }
        }
      }
    }

  }
}
