.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    display: flex;
    margin: auto;

    .testimonials4 {
      display: block;
      width: 100%;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .longtext {
          font-size: 2rem;
        }
        .name {
          opacity: 0.9;
          font-size: 1.5rem;
          margin: 20px 0 5px 0;
        }
        .rank {
          opacity: 0.6;
          font-weight: 100;
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    .max-content {
      .testimonials4 {
        text-align: center;
      }
    }
  }
}
