@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  padding: 120px 60px 60px 60px !important;

  &.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
  }
  .max-content {
    .footer-page {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: var(--composer-gap-lg);

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .image {
           width: 200px;
           height: 40px;
           object-fit: cover;

           &.is-icon {
             font-size: 5rem !important;
             width: 50px !important;
             height: 50px !important;
             display: flex;
             align-items: center;
             justify-content: flex-start;
             color: var(--composer-font-color-primary);
           }
        }

        .subtitle {
          text-align: left;
          text-align: left !important;
          margin-left: 0 !important;
          margin-right: auto !important;
        }

        .title {
          text-align: left;
        }

        .description {
          text-align: left;
        }

        .button-container {
          display: flex;
          flex-wrap: wrap;
          gap: var(--composer-gap-sm);

          .button {

            .button-text {
              content: "";
            }
          }
        }
      }

      .footer-columns {
        display: flex;
        flex: 1;
        justify-content: center;
        gap: var(--composer-gap-md);
        flex-wrap: wrap;

        .list-group {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-sm);
          min-width: 120px;
          align-items: flex-start !important;

          .column-title {
            color: var(--composer-font-color-primary);
            text-align: left !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }

          .text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start !important;

            .footer-text {
              color: var(--composer-tertiary-color);
              transition: all 0.3s ease;
              text-align: left !important;

              &:hover {
                color: var(--composer-primary-color);
              }
            }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: var(--composer-gap-xs);
        align-items: flex-end;

        .upper {
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          gap: var(--composer-gap-md);

          .link-element {
            .link-text {
              position: relative;
              color: var(--composer-font-color-primary);
              transition: all 0.3s ease;
            }

            &.has-path[data-animation~="animate1"] {
              .link-text {
                padding-bottom: 2px;
                
                &::after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0;
                  height: 2px;
                  background-color: var(--composer-primary-color);
                  transition: width 0.3s ease;
                }
                
                &:hover {
                  color: var(--composer-primary-color);
                  
                  &::after {
                    width: 100%;
                  }
                }
              }
            }

            &.has-path[data-animation~="animate2"] {
              .link-text {
                padding: 0 var(--composer-gap-xs);
                border-radius: var(--composer-border-radius-sm);
                
                &:hover {
                  color: var(--composer-primary-color);
                  background-color: rgba(var(--composer-primary-color-rgb), 0.1);
                }
              }
            }

            &.has-path[data-animation~="animate3"] {
              .link-text {
                display: inline-block;
                
                &:hover {
                  color: var(--composer-primary-color);
                  transform: translateY(calc(var(--composer-gap-xs) * -1)) rotate(2deg);
                }
              }
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: flex-end;

          .text {
            text-align: end;
            color: var(--composer-font-color-primary) !important;
            white-space: nowrap;

            &.left {
              text-align: left;
            }
          }
        }

        &.full-width {
          flex: 1;

          .upper, .bottom {
            justify-content: flex-start;
          }
        }
      }

      &:not(:has(.left)) .right .upper {
        justify-content: flex-start;
      }

      &:not(:has(.left)) .right .bottom {
        justify-content: flex-start;
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    padding: 100px var(--composer-gap-xl) 60px var(--composer-gap-xl) !important;
    .max-content {
      .footer-page {
        gap: var(--composer-gap-md);

        .left {
          flex: 1;
          .image {
            width: 150px;
          }
        }

        .footer-columns {
          gap: var(--composer-gap-md);
        }

        .right {
          flex: 1;

          .bottom {
            .text {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    padding: var(--composer-gap-xl) 30px 60px 30px !important;
    .max-content {
      .footer-page {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--composer-gap-md);

        &.center-alignment {
          align-items: center;

          .left {
            display: flex;
            flex-direction: column;
            align-items: center !important;

            .subtitle,
            .title,
            .description {
              text-align: center !important;
              margin-left: auto !important;
              margin-right: auto !important;
            }

            .button-container {
              justify-content: center !important;
            }
          }

          .footer-columns {
            align-items: center;
            .list-group {
              align-items: center !important;
              .column-title, .footer-text {
                text-align: center !important;
              }
            }
          }

          .right {
            align-items: center;
            .upper {
              justify-content: center;
              .link-element {
                .link-text {
                  text-align: center;
                }
              }
            }
            .bottom {
              justify-content: center;
              .text {
                text-align: center;
              }
            }
          }
        }

        .left {
          flex: none;
          max-width: 100%;

          .image {
            width: 150px;
            height: var(--composer-gap-xl);
          }
        }

        .footer-columns {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          gap: var(--composer-gap-md);

          .list-group {
            align-items: flex-start !important;
            .column-title, .footer-text {
              text-align: left !important;
            }
            .column-title {
              font-size: 1.25rem !important;
            }
          }
        }

        .right {
          flex: none;
          display: flex;
          flex-direction: column;
          max-width: 100%;
          gap: var(--composer-gap-xs);
          width: 100%;
          align-items: flex-start;

          .upper {
            justify-content: flex-start;
            .link-element{
              .link-text{
                text-align: left;
              }
            }
          }

          .bottom {
            justify-content: flex-start;

            .text {
              text-align: left;
              white-space: normal;
            }
          }
        }
      }
    }
  }
}

.text {
  white-space: nowrap !important;
}

@container (max-width: #{$composer-phone-width}) {
  .text {
    white-space: normal !important;
  }
}