.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .max-content {
        max-width: var(--composer-content-width);
        .footer-page {
            width: 100%;
            display: block;
            text-align: center;
            color: var(--composer-primary-color);
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 50px 20px;
    }
}