.container {
  width: 100%;
  padding: 50px 0;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 23.8cm;
      .carousel{
        height: 100%;
        width: 80%;
        align-items: center;
          .item {
          align-items: flex-start;
          width: 100% !important;
          height: 900px;
          overflow-wrap: break-word;
          align-items: flex-start;
          // .content{
          //   position: relative;
          // }

        }

        >ul {
          transform: translateY(-40px) translateX(-50%);
          background-color: transparent;
          border-radius: 100px;
          width: auto;
          position: absolute;
          left: 50%;
          bottom: 100px;
          padding: 0px 0px;
          li{
            button{
              &:before{
                font-size: 15px;
                color: white;
              }
            }
          }
        }

      .item {
      display: flex;
      position: relative;

        .image {
          position: absolute;
          top: 0px;
          left: 0;
          right: 0;
          overflow: hidden;
          object-fit: cover;
          img {
            width: 100%;
            // margin-right: 0;
          }

          &:hover {
            .background-image {
              img {
                transform: scale(1.0);
              }
            }
          }

        }
        .content {
          z-index: 15;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 900px;
          .card{
            width: 40vh;
            height: 50vh;
            background-color: white;
            position: relative;
            left: 30%;
            bottom: 100px;
            .card-title{
              width: 120px;
              height: 30px;
              background-color: yellow;
              position: relative;
              bottom: 15px;
              left: 25px;
            }
            .title{
              font-size: 2.4rem;
              letter-spacing: 1px;
              font-weight: 700px;
              padding: 10px 25px;
            }
            .description{
              font-size: 1.5rem;
              padding: 10px 25px;
            }
            .title2{
              text-align: center;
              letter-spacing: 2px;
              padding: 6px;
            }
            .button{
              margin: 0 25px;
              border: none;
              width: 100px;
              height: 30px;
              background-color: transparent;
              cursor: pointer;
              transition: 0.2s all ease;
              &:hover{
                background-color: rgb(217, 217, 217);
                width: 100px;
                height: 30px;
              }

            }
            .time{
              margin: 0 25px;
            }
          }
        }
      }
    }
  }
}
}

@media only screen and (max-width: 1600px) {
  .container{
    .max-content{
      .wrapper{
        .carousel{
          .item{
            .content{
              .card{
                position: relative;
                width: 30% ;
                height: 35% ;
                bottom: 27vh;
                .title{
                  font-size: 19px;
                }
                .description{
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .container{
    .max-content{
      .wrapper{
        .carousel{
          .item{
            .content{
              .card{
                position: relative;
                width: 30% ;
                height: 30% ;
                bottom: 30vh;
                .title{
                  font-size: 17px;
                }
                .description{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 915px) {
  .container{
    .max-content{
      .wrapper{
        .carousel{
          .item{
            .content{
              .card{
                position: relative;
                width: 30% ;
                height: 30% ;
                bottom: 33vh;
                .card-title{
                  width: 100px;
                  height: 30px;
                }
                .title{
                  font-size: 17px;
                  position: relative;
                  bottom: 10px;
                }
                .description{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 825px) {
  .container{
    .max-content{
      .wrapper{
        .carousel{
          .item{
            .content{
              .card{
                width: calc(100% - 60%);
                height: 25.5% ;
                bottom: 33vh;
                left: 150px;
                .card-title{
                  width: 100px;
                  height: 30px;
                }
                .title{
                  font-size: 17px;
                  position: relative;
                  bottom: 10px;
                }
                .description{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 420px) {
  .container{
    .max-content{
      .wrapper{
        .carousel{
          .item{
            display: block;
            .image {
              width: calc(100% +  20%);
              height: calc(100% - 80%);
              img {
                width: 100%;
                height: 100%;
               
              }
    
            }
            .content{
              .card{
                width: 100%;
                left: -10px;
                margin-top: 230px;
                .card-title{
                  left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}