@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;
.container {
  background-color: color-mix(
    in srgb,
    var(--composer-html-background),
    var(--composer-font-color-primary) 5%
  );
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-lg);
    .header {
      .header-title {
        &.dark {
          color: white;
        }
      }
    }
    .grid {
      .item-box {
        &:nth-child(2n) {
          margin-top: var(--composer-gap-xl);
        }
        .item-container {
          position: relative;
          display: flex;
          flex-direction: column;
          border-radius: var(--composer-border-radius-lg);
          background-color: var(--composer-html-background);
          padding: var(--composer-gap-xl) var(--composer-gap-lg);
          gap: var(--composer-gap-md);
          transition: all 0.3s ease;

          &[data-animation~="animate1"]:hover {
            background-color: var(--composer-primary-color);
          }
          &[data-animation~="animate2"]:hover {
            transform: translateY(calc(var(--composer-gap-md) * -1));
            box-shadow: var(--box-shadow-active);
          }

          &[data-animation~="animate3"]:hover {
            transform: scale(1.05);
          }

          &[data-animation~="animate4"]:hover {
            .header-line {
              .item-index {
                color: var(--composer-font-color-secondary);
                transition: color 0.3s ease;
              }
              .out-icon {
                .icon-wrapper {
                  background-color: var(--composer-font-color-primary);
                  transition: background-color 0.3s ease;
                  .icon {
                    color: var(--composer-html-background);
                    transition: color 0.3s ease;
                  }
                }
                &::after {
                  border-right: 2px solid var(--composer-font-color-secondary);
                  transition: border-color 0.3s ease;
                }
              }
            }

            .list-item-title,
            .list-item-text {
              color: var(--composer-font-color-secondary);
              transition: color 0.3s ease;
            }
          }

          &[data-animation~="animate5"]:hover {
            .lower-icon {
              width: 100%;
              color: var(--composer-font-color-secondary);
              transform: translateX(calc(50% - var(--composer-gap-md)));
              transition: all 0.3s ease;
            }
          }

          &[data-animation~="animate6"]:hover {
            .out-icon {
              transform: rotate(360deg);
              transition: transform 0.3s;
            }
          }

          .header-line {
            display: flex;
            justify-content: center;
            align-items: center;
            .left {
              flex: 1;
              .out-icon {
                width: fit-content;
                background-color: transparent;
                border-radius: 50%;
                padding: var(--composer-gap-xs);
                position: relative;
                .icon-wrapper {
                  border-radius: 50%;
                  background-color: color-mix(
                    in srgb,
                    var(--composer-html-background),
                    var(--composer-font-color-primary) 5%
                  );
                  padding: var(--composer-gap-sm);
                  .icon {
                    width: 60px;
                    height: 60px;
                    color: var(--composer-font-color-primary);
                  }
                }
                &::after {
                  top: 0px;
                  right: 0px;
                  position: absolute;
                  content: "";
                  background-color: transparent;
                  height: 100%;
                  width: calc(100% + var(--composer-gap-xs));
                  border-radius: 50%;
                  border-right: 2px solid
                    color-mix(
                      in srgb,
                      var(--composer-html-background),
                      var(--composer-font-color-primary) 5%
                    );
                }
              }
            }
            .right {
              .item-index {
                color: color-mix(
                  in srgb,
                  var(--composer-html-background),
                  var(--composer-font-color-primary) 5%
                );
                font-size: 5rem;
              }
            }
          }

          .list-item-title {
            font-size: 1.5rem;
            color: var(--composer-font-color-primary);
          }
          .list-item-text {
            font-size: 1.5rem;
            color: var(--composer-font-color-primary);
          }
          .lower-icon {
            width: 20px;
            height: 20px;
            color: var(--composer-font-color-primary);
            transition: all 0.3s ease;
            margin-left: 0;
          }
        }
      }
    }
  }
}
@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .grid {
        .item-box {
          &:nth-child(2n) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
