.container {
  width: 100%;
  min-height: 90vh;
  padding: 20px 20px;
  background-color: var(--composer-html-background);

  .max-content {
    max-width: var(--composer-content-width);
    display: flex;
    margin: 0 auto;

    .container2 {
      display: flex;
      margin: 0 auto;
      justify-content: center;

      .testimonials10 {
        width: 100%;
        display: flex;
        flex-direction: row;

        .left-content {
          width: 40%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 0 40px 0 80px;

          justify-content: center;

          .title {
            margin-bottom: 5px;
            color: var(--composer-font-color-primary);
            font-size: 2rem;
          }

          .subtitle {
            margin: 0;
            color: var(--composer-font-color-primary);
            font-size: 3.5rem;
            text-align: start;
          }

          .description {
            color: var(--composer-font-color-primary);
            font-size: 1.5rem;
            margin-top: 5px;
            margin-bottom: 0;
          }

          .button-group {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
            .button {
              font-size: 1.5rem;
              border: none;
              color: var(--composer-secondary-color);
              border: 1px solid var(--composer-secondary-color);
              background-color: transparent;
              padding: 10px 30px;
              transition-duration: 0.3s easein-out;
              min-width: 180px;
            }
            .button:hover {
              color: var(--composer-font-color-secondary);
              background-color: var(--composer-secondary-color);
            }
          }
        }

        .slider-style {
          position: relative;
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 20px;
          align-items: center;
          background: var(--composer-font-color-primary);
          width: 100%;
          height: 140%;
          left: 20px;
          gap: 40px;

          .hiliteTitle {
            font-size: 6.5rem;
            position: absolute;
            color: var(--composer-font-color-secondary);
            right: 50px;
            bottom: -15px;
          }

          .slider-inner-div-with-image {
            background: var(--composer-font-color-primary);
            width: 75%;
            display: flex !important;
            justify-content: start;

            .img-div {
              z-index: 1;
              .img {
                width: 90%;
                border: 2px solid var(--composer-html-background);
              }
            }

            .header-page {
              position: relative;
              width: 60%;
              font-size: 1.5rem;
              background-color: var(--composer-html-background);
              padding: 25px 40px;
              margin: 80px 0 0 -50px;

              .icons {
                font-size: 3rem;
                display: flex;
                justify-content: flex-end;
                gap: 15px;
                color: var(--composer-font-color-primary);
              }

              .iconquote {
                position: absolute;
                font-size: 7rem;
                color: rgba(var(--composer-font-color-primary-rgb), 0.2);
                top: 20px;
                left: 40px;
              }

              .card {
                .text {
                  text-align: start;
                  font-size: 1.5rem;
                  color: var(--composer-font-color-primary);
                }
                .author {
                  color: var(--composer-font-color-primary);
                  font-size: 2rem;
                }
                .position {
                  color: var(--composer-font-color-primary);
                  font-size: 1.5rem;
                }
              }
            }
          }
          .slider-inner-div {
            background: var(--composer-font-color-primary);
            width: 75%;
            display: flex !important;
            justify-content: center;

            .img-div {
              z-index: 1;
              .img {
                width: 90%;
                border: 2px solid var(--composer-html-background);
              }
            }

            .header-page {
              position: relative;
              width: 70%;
              font-size: 1.5rem;
              background-color: var(--composer-html-background);
              padding: 25px 40px;
              margin: 80px 0 0 -50px;

              .icons {
                font-size: 3rem;
                display: flex;
                justify-content: flex-end;
                gap: 15px;
                color: var(--composer-font-color-primary);
              }

              .iconquote {
                position: absolute;
                font-size: 7rem;
                color: rgba(var(--composer-font-color-primary-rgb), 0.2);
                top: 20px;
                left: 40px;
              }

              .card {
                .text {
                  text-align: start;
                  font-size: 1.5rem;
                  color: var(--composer-font-color-primary);
                }
                .author {
                  color: var(--composer-font-color-primary);
                  font-size: 2rem;
                }
                .position {
                  color: var(--composer-font-color-primary);
                  font-size: 1.5rem;
                }
              }
            }
          }

          .slider {
            width: 800px;
            height: 100%;
            margin-top: -30px;
            display: flex;
            align-items: center;
          }

          .slider > div > div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0;
    .max-content {
      .testimonials10 {
        display: flex !important;
        flex-direction: column !important;
        .left-content {
          width: 100% !important;
          padding: 0 30px !important;

          .button-group {
            .button {
              font-size: 1.5rem !important;
              min-width: 150px !important;
            }
          }
        }

        .slider-style {
          height: 100% !important;
          width: 100% !important;
          left: 0 !important;
          gap: 20px !important;
          align-items: center !important;
          padding: 20px !important;

          .hiliteTitle {
            font-size: 3rem !important;
            position: relative !important;
            width: 100% !important;
            text-align: end !important;
            right: 0 !important;
          }

          .slider-inner-div-with-image {
            height: 100% !important;
            width: 100% !important;
            flex-direction: column !important;
            justify-content: start !important;
            padding: 0 20px !important;
            .img-div {
              width: 50%;
              .img {
                width: 50% !important;
              }
            }

            .header-page {
              width: 80% !important;
              margin: -60px 0 0 120px !important;
              height: 100% !important;
              display: flex !important;
              flex-direction: column !important;
              justify-content: center !important;
              .icons {
                font-size: 2rem !important;
                z-index: 2 !important;
                margin-right: 25px !important;
              }
              .iconquote {
                font-size: 5rem !important;
                top: 30px !important;
              }

              .card {
                .text {
                  font-size: 1.5rem !important;
                  padding-right: 0px !important;
                }
                .author {
                  font-size: 2rem !important;
                }
                .position {
                  font-size: 1.5rem !important;
                }
              }
            }
          }
          .slider-inner-div {
            height: 100% !important;
            width: 100% !important;
            flex-direction: row !important;
            justify-content: center !important;
            margin-top: 0 !important;
            padding: 0 20px !important;
            .img-div {
              width: 40%;
              height: 40%;
              .img {
                width: 100% !important;
              }
            }

            .header-page {
              width: 100% !important;
              margin: 0 !important;
              height: 100% !important;
              display: flex !important;
              flex-direction: column !important;
              justify-content: center !important;
              .icons {
                font-size: 2rem !important;
                z-index: 2 !important;
                margin-right: 25px !important;
              }
              .iconquote {
                font-size: 5rem !important;
                top: 30px !important;
              }

              .card {
                .text {
                  font-size: 1.5rem !important;
                  padding-right: 0px !important;
                }
                .author {
                  font-size: 2rem !important;
                }
                .position {
                  font-size: 1.5rem !important;
                }
              }
            }
          }
          .slider {
            max-width: var(--composer-content-width) !important;
            width: 600px !important;
            margin-top: 0 !important;
            margin-right: 0 !important;
            display: flex !important;
            justify-content: center !important;
          }

          .slider > div > div {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
    height: auto !important;
    .max-content {
      .testimonials10 {
        display: flex !important;
        flex-direction: column !important;
        width: 360px !important;

        .left-content {
          order: 0 !important;
          width: 100% !important;
          margin: 30px 0 !important;
          .title {
            font-size: 1.5rem !important;
            padding-right: 0px !important;
            margin-bottom: 0 !important;
          }
          .subtitle {
            font-size: 2rem !important;
          }
          .description {
            font-size: 1rem !important;
            margin-top: 0 !important;
          }
          .button-group {
            .button {
              font-size: 1rem !important;
              min-width: 120px !important;
            }
          }
        }

        .slider-style {
          width: 100% !important;
          margin-top: 0px !important;
          left: 0px !important;
          height: auto !important;
          padding: 20px 0 !important;

          .hiliteTitle {
            display: none;
          }

          .slider-inner-div-with-image {
            width: 100% !important;
            padding: 20px 0 !important;
            justify-content: center !important;
            align-items: center !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
            .img-div {
              width: 100% !important;
              display: flex !important;
              justify-content: start !important;
              margin-bottom: -175px;
              .img {
                width: 40% !important;
                margin: 0 0 0 56px !important;
              }
            }

            .header-page {
              padding: 20px 20px !important;
              margin: 0 !important;
              display: flex !important;
              flex-direction: column !important;
              justify-content: space-between !important;
              height: 100% !important;

              .icons {
                font-size: 2rem !important;
                margin-right: 0 !important;
              }

              .iconquote {
                position: relative !important;
                font-size: 3rem !important;
                top: 130px !important;
                left: 0 !important;
              }

              .card {
                margin-top: 110px;
                .text {
                  font-size: 1rem !important;
                }
                .author {
                  font-size: 1.5rem !important;
                }
                .position {
                  font-size: 1rem !important;
                }
              }
            }
          }

          .slider-inner-div {
            width: 100% !important;
            justify-content: center !important;
            align-items: start !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
            .img-div {
              width: 300px !important;
              display: flex !important;
              justify-content: start !important;
              top: 100px !important;
              .img {
                width: 40%;
                margin: 0 0 !important;
              }
            }

            .header-page {
              padding: 20px 0 20px 10px !important;
              margin: 30px 20px !important;
              width: 100% !important;
              height: 100% !important;
              display: flex !important;
              flex-direction: column !important;
              justify-content: space-between !important;

              .icons {
                font-size: 2rem !important;
                margin-right: 10px !important;
              }

              .iconquote {
                position: relative !important;
                font-size: 3rem !important;
                top: 20px !important;
                left: 0 !important;
              }

              .card {
                margin-right: 10px;
                .text {
                  font-size: 1rem !important;
                }
                .author {
                  font-size: 1.5rem !important;
                }
                .position {
                  font-size: 1rem !important;
                }
              }
            }
          }

          .slider {
            max-width: var(--composer-content-width) !important;
            width: 100% !important;
            margin-right: 0 !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
