@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  position: relative;

  .max-content {
    .wrapper {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: var(--composer-gap-xl);

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--composer-gap-lg);
        width: 100%;

        .title-block {
          width: 100%;
          align-items: flex-start;

          .subtitle,
          .title,
          .description {
            content: "";
            text-align: left;
            margin-left: 0;
          }
        }

        .divider {
          width: 200px;
          height: 1px;
          background-color: var(--composer-tertiary-color);
          margin: var(--composer-gap-sm) 0;
        }

        .icon-container {
          display: flex;
          align-items: center;
          gap: var(--composer-gap-md);

          .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: visible;

            .icon {
              width: var(--composer-gap-md);
              height: var(--composer-gap-md);
              color: var(--composer-font-color-primary);
              font-size: 1.8rem;
              position: relative;
              z-index: 1;
            }

            .icon-wrapper:hover .icon {
              color: var(--composer-font-color-secondary);
            }

            &[data-animation~="animate1"] {
              &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 45%;
                transform: translate(-50%, -50%) scale(0);
                width: var(--composer-gap-xl);
                height: var(--composer-gap-xl);
                border-radius: 50%;
                background-color: var(--composer-font-color-primary);
                z-index: 0;
                transition: transform 0.25s ease, opacity 0.25s ease, background-color 0.2s ease;
                opacity: 0;
              }

              &:hover::before {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                background-color: var(--composer-primary-color);
              }
            }
          }
        }

        .right-block {
          display: flex;
          align-items: center;
          margin-left: auto;
          gap: var(--composer-gap-sm);

          .divider {
            display: block;
            height: 1px;
            background-color: var(--composer-tertiary-color);
            margin: 0 var(--composer-gap-sm);
            width: 200px !important;
            align-self: center;
          }
        }

        &.center {
          justify-content: center;

          .title-block {
            width: auto;
            text-align: center;

            .title,
            .subtitle {
              text-align: left;
            }
          }

          .icon-container {
            margin-left: var(--composer-gap-md);
          }

          .divider {
            width: 200px;
          }
        }

        &.left {
          justify-content: flex-start;

          .title-block {
            width: auto;
            text-align: left;
          }

          .icon-container {
            margin-left: var(--composer-gap-xs);
          }

          .divider {
            width: 25%;
          }
        }
      }

      .map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;

        .map {
          width: 100%;
          height: 700px;
        }
      }

      .bottom-container {
        width: 100%;
        display: flex;
        gap: var(--composer-gap-xs);
        align-items: center;
        justify-content: center;

        .bottom-title {
          padding: 0;
          color: var(--composer-font-color-primary);
          max-width: 50%;
          margin: 0;
          display: inline-block;
          width: auto;
        }

        .phone-container {
          gap: var(--composer-gap-xs);
          display: inline-flex;
          width: auto;

          .phone {
            color: var(--composer-font-color-primary);
            width: fit-content;
            border-bottom: solid 2px var(--composer-font-color-primary);
            margin: 0;
            padding: 0;
            text-align: left;
          }
        }

        &.center {
          justify-content: center;
          gap: var(--composer-gap-md);

          .bottom-title {
            margin-right: var(--composer-gap-xs);
            max-width: 80%;
            padding: 0;
            text-align: center;
          }

          .phone-container {
            width: auto;
            display: flex;
            justify-content: center;
            gap: var(--composer-gap-xs);

            .phone {
              text-align: center;
            }
          }
        }

        &.left {
          justify-content: space-between;
        }
      }

      .popup {
        background-color: var(--composer-html-background);
        width: 250px;
        min-height: auto;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0;
        border-radius: var(--composer-border-radius-xs);

        .popup-header {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);
          padding: var(--composer-gap-md);

          .popup-title {
            color: var(--composer-font-color-primary);
            margin: 0;
            text-align: center;
          }

          .popup-content {
            color: var(--composer-font-color-primary);
            text-align: center;
            margin: 0;
          }
        }

        .popup-link {
          z-index: 10;
          cursor: pointer;
          width: 100%;

          .popup-button {
            background-color: var(--composer-font-color-primary);
            color: var(--composer-html-background);
            cursor: pointer;
            width: 100%;
            padding: var(--composer-gap-md);
            border-bottom-left-radius: var(--composer-border-radius-sm);
            border-bottom-right-radius: var(--composer-border-radius-sm);
          }
        }
      }
    }
  }

}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .wrapper {
        gap: var(--composer-gap-md);

        .popup {
          width: 200px;

          .popup-header {
            gap: var(--composer-gap-sm);

            .popup-title,
            .popup-content {
              content: "";
            }
          }

          .popup-link {
            .popup-button {
              content: "";
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .wrapper {
        gap: var(--composer-gap-md);

        .header {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: var(--composer-gap-sm);

          .title-block {
            .subtitle {
              align-self: center !important;
              transform: translateX(0) !important;

              &::before {
                display: none !important;
              }

              width: 100%;
              text-align: center !important;
            }

            .description {
              text-align: center !important;
            }
          }

          .divider {
            display: none;
          }

          .icon-container {
            width: 100%;
            justify-content: center;
            margin-top: var(--composer-gap-sm);
          }


          &.left {
            .right-block {
              width: 100%;

              .divider {
                display: none !important;
              }

              .title,
              .description,
              .subtitle {
                text-align: center;
              }
            }
          }

          .icon-container {
            justify-content: center;
          }
        }

        .map-container {
          .map {
            height: 350px;
          }
        }

        .bottom-container {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);

          .bottom-title {
            max-width: 100%;
            text-align: center;
          }

          .phone-container {
            .phone {
              font-size: 1.5rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}