@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  padding: var(--composer-gap-xl) 0;

  &.with-image {
    padding: 0 !important;
  }

  .page {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: auto;

    .image-child {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;

      .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: var(--composer-overlay-color);
      }
    }

    .max-content {
      display: flex;
      position: relative;
      height: auto;
      min-height: 250px;

      .left-content {
        &.center {
          align-items: center;
          text-align: center;
        }

        width: 100%;
        justify-content: center;
        bottom: 0;
        opacity: 1;
        transition: opacity 0.5s,
        height 0.5s;
        padding: var(--composer-gap-md) var(--composer-gap-xl);
        overflow: auto;
        z-index: 3;
        min-height: 100%;
        height: auto;
        position: relative;

        .title,
        .description,
        .subtitle {
          content: "";
          text-align: center;

          color: var(--composer-font-color-primary);
        }

        .subtitle {
          transform: translateX(0);
          text-align: center;
          align-self: center;
          color: var(--composer-html-background);

          &::before {
            display: none;
          }
        }

      }

      &.with-image {
        min-height: 350px;

        .left-content {

          .title,
          .description {
            color: white;
            background: transparent;
          }

          .subtitle {
            background: transparent;
          }
        }
      }

    }



    .right-content {
      width: fit-content;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      right: 0;
      transition: all 0.5s;
      overflow: auto;
      height: auto;
      width: 50vw;
      min-width: 50vw;
      position: absolute;
      padding: var(--composer-gap-xl) 0;

      .card {
        width: 100%;
        height: auto;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        border-top-left-radius: var(--composer-border-radius-md);
        border-bottom-left-radius: var(--composer-border-radius-md);
        background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);

        .card-up {
          width: 100%;
          height: auto;
          flex: 1;
          display: flex;
          flex-direction: column;
          margin: 0px;
          padding-top: var(--composer-gap-sm);

          .cardTitle {
            color: var(--composer-font-color-primary);
            padding: var(--composer-gap-md);
            padding-top: 0;
            border-bottom: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);
          }

          .card-subtitle {
            margin-left: var(--composer-gap-md);

            &::before {
              color: white !important;
            }
          }

          .list-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-xs);
            padding: var(--composer-gap-md);

            .list-element {
              display: flex;
              align-items: center;
              gap: var(--composer-gap-sm);
              margin: 0px;

              .icon {
                color: var(--composer-font-color-primary);
                width: 12px;
                height: 12px;
                flex-shrink: 0;
              }

              .text {
                color: var(--composer-font-color-primary);
              }
            }
          }
        }

        .card-down {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          border-top: 1px solid rgb(var(--composer-font-color-primary-rgb), 0.5);

          .buttons-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);
            margin: var(--composer-gap-sm);

            .image-container {
              width: 170px;
              height: var(--composer-gap-xl);
              border-radius: var(--composer-border-radius-sm);

              .image {
                width: 100%;
                height: 100%;
                cursor: pointer;
                object-fit: cover;
                border-radius: var(--composer-border-radius-sm);
              }
            }

            .button {
              .icon {
                content: "";
              }

              .text {
                content: "";
              }
            }
          }
        }
      }
    }

    .card-up .card-subtitle.center-badge {
      margin: 0px 0px var(--composer-gap-sm) !important;
    }

    &:hover {

      .left-content,
      .left-content-no-image {
        opacity: 0;

        .title {
          opacity: 0;
        }

        .description {
          opacity: 0;
        }

        .subtitle {
          opacity: 0;
        }
      }

      .right-content {
        transform: translateX(0);
        opacity: 1;
        z-index: 4;
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container .page {
    .max-content {
      .left-content {
        padding: var(--composer-gap-md) var(--composer-gap-lg);
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .page {
      .max-content {
        .left-content {
          padding: var(--composer-gap-md) !important;
        }
      }

      .right-content {
        width: 20vw;
        min-width: 20vw;

        .card {
          width: 20vw;
          height: auto;
          min-height: 100%;

          .card-up {
            .list-group {
              .list-element {
                .icon {
                  width: var(--composer-gap-sm);
                  height: var(--composer-gap-sm);
                }

                .text {
                  content: "";
                }
              }
            }
          }

          .card-down {
            .buttons-container {
              align-items: baseline;

              .image-container {
                width: 120px;
                height: 35px;

                .image {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}