@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;
.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .maxContent {
    .containerGrid {
      display: flex;
      .leftContainer {
        min-width: 25%;
        max-width: 100%;
        .leftContainerText {
          .title {
            &.title-with-image {
              color: black;
            }
          }

          .subtitle {
            &.subtitle-with-image {
              color: black;
              &:before {
                background: black;
              }
            }
            &.badge-with-image {
              background-color: black;
              color: white;
            }
          }
        }
        .arrow {
          display: flex;
          gap: var(--composer-gap-md);

          .prevArrow,
          .nextArrow {
            padding: var(--composer-gap-sm);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: white;
            color: black;

            &.prevArrowPrimary,
            &.nextArrowPrimary {
              background-color: var(--composer-font-color-primary);
              color: var(--composer-html-background);
            }
            .icon {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
      .slider {
        width: 75%;
        min-height: 330px;
        display: flex;
        align-items: center;

        &.fullSlider {
          width: 100%;
        }
        > div {
          width: 100%;
          > div {
            display: flex !important;
            > div {
              height: auto !important;
              > div {
                height: 100%;
                > div {
                  height: 100%;
                  display: flex !important;
                }
              }
            }
          }
        }
        .image {
          padding-right: calc(var(--composer-gap-xl) * 2);
        }
        .rightWrapper {
          display: flex;
          align-items: center;
          .sliderTitle {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: center;
            max-height: 300px;
            color: black;

            &.sliderTitlePrimary {
              color: var(--composer-font-color-primary);
            }
          }

          .lineContainer {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .line {
              height: 75%;
              width: 1px;
              opacity: 0.5;
              background-color: black;

              &.linePrimary {
                background-color: var(--composer-font-color-primary);
              }
            }
          }
          .rightContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--composer-gap-md);
            padding-left: var(--composer-gap-xl);
            .description {
              color: black;
              font-size: 1.5rem;

              &.descriptionPrimary {
                color: var(--composer-font-color-primary);
              }
            }

            .stars {
              padding: var(--composer-gap-xs) calc(var(--composer-gap-xs) * 2);
              border-radius: var(--composer-border-radius-xl);
              width: fit-content;
              align-items: center;
              justify-content: center;
              display: flex;
              background-color: black;
              color: white;

              &.starsPrimary {
                background-color: var(--composer-font-color-primary);
                color: var(--composer-html-background);
              }
            }
          }
        }
      }
    }
  }
}
@container (max-width: #{$composer-tablet-width}) {
  .container {
    .maxContent {
      .containerGrid {
        flex-direction: column;
        .leftContainer {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-xs);
          .title {
            margin: 0px;
          }
        }
        .slider {
          width: 100%;

          .image {
            padding: 0px;
            max-width: 40%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .maxContent {
      .containerGrid {
        .slider {
          .image {
            max-width: 100%;
          }
          > div {
            > div {
              > div {
                > div {
                  > div {
                    flex-direction: column;
                  }
                }
              }
            }
          }
          .rightWrapper {
            flex-direction: column-reverse;
            gap: var(--composer-gap-xs);
            .sliderTitle {
              writing-mode: unset;
              transform: rotate(0deg);
              text-align: start;
              margin: 0;
            }
            .lineContainer {
              display: none;
            }
            .rightContainer {
              align-items: center;
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
}
