@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;
.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .maxContent {
    .containerGrid {
      display: flex;
      gap: var(--composer-gap-xl);
      .leftContainer {
        flex: 0 0 25%;
        min-width: 0;
        .leftContainerText {
          text-align: left !important;
          align-items: flex-start !important;
          .subtitle,
          .title,
          .top-description {
            content: "";
            text-align: left !important;
            justify-content: flex-start !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
          .button-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);

            .button,
            .button-text,
            .button-icon {
              content: "";
            }
          }
          .arrow {
            display: flex;
            gap: var(--composer-gap-md);

            .prevArrow,
            .nextArrow {
              padding: var(--composer-gap-sm);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              background-color: var(--composer-font-color-primary);
              color: var(--composer-html-background);

              .icon {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
      .slider {
        flex: 1;
        min-width: 0;
        display: flex;
        align-items: center;

        &.fullSlider {
          flex: 1 1 100%;
        }
        > div {
          width: 100%;
          > div {
            display: flex !important;
            > div {
              height: auto !important;
              > div {
                height: 100%;
                > div {
                  height: 100%;
                  display: flex !important;
                }
              }
            }
          }
        }
      
        .rightWrapper {
          display: flex;
          align-items: center;
          .sliderTitle {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: center;
            color: var(--composer-font-color-primary);
            margin-right: 0;
            height: fit-content;
            width: fit-content;
            align-self: center;
            justify-content: flex-start !important;
          }

          .lineContainer {
            padding: 0 var(--composer-gap-md);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .line {
              height: 75%;
              width: 1px;
              opacity: 0.5;
              background-color: var(--composer-font-color-primary);
            }
          }
          .rightContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--composer-gap-md);
            .description {
              color: var(--composer-font-color-primary);
              font-size: 1.5rem;
              text-align: left !important;
            }

            .stars {
              padding: var(--composer-gap-xs) calc(var(--composer-gap-xs) * 2);
              border-radius: var(--composer-border-radius-xl);
              width: fit-content;
              align-items: center;
              justify-content: center;
              display: flex;
              background-color: var(--composer-font-color-primary);
              color: var(--composer-html-background);

              .star {
                content: "";
              }
            }
          }
        }
      }
    }
  }

  &.center {
    .maxContent {
      .containerGrid {
        .leftContainer {
          .leftContainerText {
            text-align: left !important;
            align-items: flex-start !important;
          }
        }
        .slider {
          .rightWrapper {
            .rightContainer {
              align-items: flex-start !important;
              text-align: left !important;
              .description {
                text-align: left !important;
              }
            }
          }
        }
      }
    }
  }

  &.with-background {
    .leftContainer {
      .leftContainerText {
        .subtitle {
          color: black;
          background: transparent !important;
          padding: 0 !important;
          margin: 0 !important;
          transform: none !important;
          &::before {
            display: none !important;
            transform: none !important;
          }
        }
        .title,
        .top-description {
          color: black;
        }
        .arrow {
          .prevArrow,
          .nextArrow {
            background-color: black !important;
            color: white !important;
          }
        }
      }
    }
    .slider {
      .sliderTitle {
        color: black !important;
      }
      .lineContainer {
        .line {
          background-color: black !important;
        }
      }
      .rightContainer {
        .description {
          color: black !important;
        }
        .stars {
          background-color: black !important;
          color: white !important;
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .maxContent {
      .containerGrid {
        flex-direction: column;
        .leftContainer {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-xs);
          .title {
            margin: 0;
          }
        }
        .slider {
          width: 100%;

          .image {
            padding: 0;
            max-width: 40%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .maxContent {
      .containerGrid {
        gap: var(--composer-gap-md);
        .slider {
          .image {
            max-width: 100%;
          }
          > div {
            > div {
              > div {
                > div {
                  > div {
                    flex-direction: column;
                  }
                }
              }
            }
          }
          .rightWrapper {
            flex-direction: column-reverse;
            gap: var(--composer-gap-xs);
            .sliderTitle {
              writing-mode: unset;
              transform: rotate(0deg);
              text-align: start;
              margin: 0;
            }
            .lineContainer {
              display: none;
            }
            .rightContainer {
              align-items: center;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
