.container {
    width: 100%;
    padding: 50px 50px;
    .max-content {
        max-width: var(--composer-content-width);
        display: flex;
        flex-direction: column;
        margin: auto;
        .up-page {
            width: 100%;
            .badge {
                color: var(--composer-primary-color);
                border-radius: 6px;
                font-size: 0.8rem;
                background: rgb(244, 244, 244);
            }
            .text-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1 {
                    font-size: 3.5rem;
                    margin: 0 0 12px;
                }
                p {
                    font-size: 1.5rem;
                    margin: 0 0 40px;
                }
            }
        }
        .down-page {
            width: 100%;
            gap: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .all-card {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                min-width: 250px;
                .card {
                    flex: 1 1;
                    width: 100%;
                    height: 250px;
                    min-width: 250px;
                    min-height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .top {
                        .position {
                            margin: 0;
                            font-size: 1.2rem;
                            color: var(--composer-primary-color);
                        }
                        h2 {
                            margin: 10px 0;
                        }
                        .image {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    p {
                        margin: 16px 0;
                        font-size: 1.1rem;
                    }
                    .icon-group {
                        display: flex;
                        gap: 10px;
                        img {
                            width: 20px;
                            height: 20px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    h3 {
        font-size: 2rem;
        margin-bottom: -0.8rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    h5 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 50px 20px;
        .down-page {
            gap: 60px !important;
            .all-card {
                width: unset !important;
                flex: 1 1 !important;
            }
        }
    }
}