.container {
  .max-content {
    display: flex;
    flex-direction: column;
    .up-page {
      width: 100%;
      .text-group {
        width: 100%;
        gap: var(--composer-gap-sm);
      }
    }
    .down-page {
      padding-top: 2rem;

      .all-card {
        min-width: 250px;

        .card {
          flex: 1 1;
          width: 100%;
          min-width: 250px;

          .top {
            .position {
              color: var(--composer-primary-color);
              word-break: break-all;
            }
            .card-name {
              color: var(--composer-primary-color);
              word-break: break-all;
            }
            .image {
              width: 6.5rem;
              height: 6.5rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .card-description {
            color: var(--composer-font-color-primary);
          }
          .icon-group {
            display: flex;
            gap: var(--composer-gap-sm);
            margin-top: 1rem;

            .icon {
              color: var(--composer-font-color-primary);
            }
          }
        }
      }
    }
  }
}

@container (max-width: 768px) {
  .container {
    .down-page {
      gap: var(--composer-gap-xl);
      .all-card {
        width: unset !important;
      }
    }
  }
}
