@import "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss";

.container {
  .max-content {
    .footer-page {
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-lg);
      .header {
        text-align: center;
        align-items: center;

        .subtitle {
          color: var(--composer-font-color-primary);
          font-size: 2rem;
        }
        .title {
          color: var(--composer-font-color-primary);
          font-size: 3rem;
        }
      }

      .middle-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--composer-gap-lg);
        width: 100%;

        .list-group {
          flex: 1 1 290px;
          max-width: 290px;
          text-align: center;

          .title {
            font-size: 1.5rem;
            color: var(--composer-font-color-primary);
          }

          .text {
            font-size: 1rem;
            color: var(--composer-font-color-primary);
          }
        }
      }

      .bottom-container {
        display: flex;
        justify-content: center;
        .bottom-text {
          font-size: 1rem;
          color: var(--composer-font-color-primary);
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    .max-content {
      .footer-page {
        gap: var(--composer-gap-md);

        .middle-container {
          gap: var(--composer-gap-md);

          .list-group {
            flex: 1 1 200px;
            max-width: 200px;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .footer-page {
        justify-content: center;
        align-items: center;
        gap: var(--composer-gap-sm);
        .header {
          .subtitle {
            font-size: 1rem;
          }
          .title {
            font-size: 1.5rem;
          }
        }

        .middle-container {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);

          .list-group {
            flex: 1;
            max-width: 100%;
          }
        }
      }
    }
  }
}
