.container {
    width: 100%;
    overflow: auto;
    background-color: var(--composer-html-background);
    margin: auto;

    .max-content {
        color: var(--composer-font-color-primary);
        max-width: var(--composer-content-width);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    


    .description1 {
        font-size: 3rem;
        align-items: left;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        font-weight: bold;
        animation: fadeInUp 400ms ease-out;
        flex-direction: column;
        max-width: 70%;



        @media only screen and (min-width: 451px) and (max-width: 1024px) {
            margin-left: 35px;
            max-width: 100%;
            margin-right: 10px;

        }

        @media only screen and (max-width: 450px) {
            margin-left: 35px;
            font-size: 24px;
            max-width: 100%;
            margin-right: 20px;

        }
    }

    .description2 {
        font-size: 3rem;
        align-items: left;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        font-weight: bold;
        flex-direction: column;
        max-width: 70%;

        @media only screen and (min-width: 451px) and (max-width: 1024px) {
            margin-left: 35px;
            max-width: 100%;
            margin-right: 10px;
        }

        @media only screen and (max-width: 450px) {
            margin-left: 35px;
            max-width: 100%;
            font-size: 24px;
            margin-right: 20px;
        }
    }


    .list-item {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        max-width: 75%; 
        flex-direction: column;
        @media only screen and (min-width: 451px) and (max-width: 1024px) {
            max-width: 100%; 
            margin-right: 2.1rem;
        }

        @media only screen and (max-width: 450px) {
            max-width: 100%; 
            margin-right: 2.8rem;

        }


        .cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 2rem;
            margin-top: 4rem;
            min-height: 50px;
            color: var(--composer-font-color-primary);

            @media only screen and (max-width: 450px) {
                display: table;
                margin: 2rem;
                margin-left: 4rem;
            }
        }


        .item-container {
            display: flex;
            justify-content: left;
            align-items: center;
            border-top: 2px solid rgba(var(--composer-tertiary-color-rgb), 0.2);

            @media only screen and (max-width: 450px) {
                position: relative;
            }

            .index {
                font-size: 2rem;
                margin-right: 10px;
                padding-bottom: 2.8rem;
                margin-top: 5rem;
                color: var(--composer-font-color-primary);
                font-weight: normal;

                @media only screen and (max-width: 450px) {
                    font-size: 22px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 1.5rem;
                }
            }

            .icon {
                width: 50px !important;
                height: 50px !important;
                margin-right: 10px;
                margin-bottom: 50px;
                flex-shrink: 0;
                color: var(--composer-tertiary-color);

                @media only screen and (max-width: 450px) {
                    margin-right: 0;
                    margin-left: -4rem;
                    margin-bottom: -2rem;
                    margin-top: 3rem;
                    vertical-align: middle;
                }
            }

            .list-item-h1 {
                margin-left: 2rem;
                margin-top: -2.5rem;
                text-align: center;
                white-space: nowrap;
                font-weight: bold;
                font-size: 22px;
                line-height: 1.35;
                padding-right: 10rem;
                max-width: 16rem;
                color: var(--composer-font-color-primary);

                @media only screen and (max-width: 450px) {
                    font-size: 22px;
                    margin-left: 3rem;
                    margin-top: -0.9rem;
                }
            }
        }

        .list-item-p {
            justify-content: center;
            text-align: left;
            font-size: 16px;
            line-height: 1.55;
            margin-left: 20px;
            margin-top: 10px;
            color: var(--composer-font-color-primary);

            @media only screen and (min-width: 451px) and (max-width: 1024px) {
                margin-top: 2px;
            }

            @media only screen and (max-width: 450px) {
                font-size: 14px;
                margin-left: -4rem;
                margin-right: 4px;
                margin-bottom: 0;
                margin-top: 2rem;
            }
        }

    }
}
}





@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}