@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
  position: relative;
  overflow: hidden;

  .max-content {
    .intro-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: var(--composer-gap-xl);

      &.no-image {
        min-height: unset;
      }

      .text-content {
        .vertical-content {
          .title,
          .subtitle,
          .description,
          .bottomText {
            text-align: left;
          }
          .actions-wrapper {
            align-items: flex-start;
          }
          .action-buttons {
            justify-content: flex-start;
          }
          .text-wrapper {
            justify-content: flex-start;
            width: 100%;
          }
          .thumb-row {
            justify-content: flex-start;
          }
        }

        &.no-image-center {
          .vertical-content {
            align-items: center;

            .title,
            .subtitle,
            .description,
            .bottomText {
              text-align: center;
            }
            .actions-wrapper {
              align-items: center;
            }
            .action-buttons {
              justify-content: center;
            }
            .text-wrapper {
              justify-content: center;
            }
            .thumb-row {
              justify-content: center;
            }
          }
        }
      }

      .image-container {
        position: relative;
        width: 50%;
        flex-shrink: 0;

        &.image-container-alone {
          width: 100%;
        }

        .thumbnail-overlay {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: var(--composer-overlay-color);
          transition: opacity var(--composer-transition-duration-normal) ease;
          pointer-events: none;
          z-index: 1;
        }

        .media-image {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }

      .text-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: var(--composer-gap-lg);
        padding-right: var(--composer-gap-lg);

        &.text-content-alone {
          width: 100%;
        }

        .vertical-content {
          .subtitle,
          .title,
          .description,
          .text-wrapper {
            content: "";
          }

          .subtitle {
            margin-left: 0;
          }

          .action-buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--composer-gap-md);
          }

          .button {
            content: "";
            display: flex;
          }

          .button-text {
            content: "";
          }

          .button-icon {
            content: "";
            display: flex;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .intro-wrapper {
        flex-direction: column;
        gap: var(--composer-gap-lg);

        .image-container {
          order: 2;
          flex: 0 0 100%;
          width: 100%;
          .media-image {
            width: 100%;
            aspect-ratio: 1 / 1;
          }
        }

        .text-content {
          order: 1;
          width: 100%;
          flex: 0 0 100%;
          padding-left: var(--composer-gap-lg);
          padding-right: var(--composer-gap-lg);
          &.center {
            .vertical-content {
              align-items: center;

              .title,
              .subtitle,
              .description {
                text-align: center !important;
              }

              .subtitle {
                margin-left: auto;
              }

              .action-buttons {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
