.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .page {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;

      .child-page {
        flex: 1 1;
        display: flex;
        justify-content: flex-end;
      }

      .texts {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        
        .title1 {
          font-size: 3.5rem;
          color: rgb(18, 22, 43);
          opacity: 0.8;
          margin: unset;
        }
        .title2 {
          font-size: 1.5rem;
          line-height: 25px;
        }
      }

      .child-page-right {
        width: 100%;
        max-width: 400px;
        margin: 20px 100px;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .right-up {
        width: 100%;
        padding: 5% 5% 0 5%;
        .title4{
          font-size: 2rem;
          margin-bottom: 35px;
          margin-left: 40px;
        }
        ul li {
          margin-bottom: 5%;
          overflow: hidden;
          white-space: pre-line;
          text-overflow: ellipsis;
          word-break: break-all;
          display: flex;
          align-items: center;
          gap: 10px;

          .circle-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: var(--composer-primary-color);
            color: #fff;
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }

      .right-down {
        width: 100%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;

        .right-down-up {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          right: 50px;
          
          .little {
            width: 20%;
            display: flex;
            flex-direction: column;
          }
          .other {
            width: 50%;
            display: flex;
            justify-content: flex-end;
          }
        }
        .button-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
            .button {
              width: 100%;
              height: 50px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: var(--composer-secondary-color);
              border: 1px solid var(--composer-secondary-color);
              color: white;
              border-radius: 6px;
              font-size: 1.4rem;
              cursor: pointer;
              padding: 20px 30px;
              position: relative;
              &:hover {
                color: var(--composer-primary-color);
                background: transparent;
                border: 1px solid var(--composer-primary-color);
              }

              &.primary {
                border: 1px solid var(--composer-primary-color);
                background-color: var(--composer-primary-color);
                color: white;

                &:hover {
                  color: var(--composer-secondary-color);
                  background: transparent;
                  border: 1px solid var(--composer-secondary-color);
                }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;

    .max-content{
      align-items: center;
      flex-direction: column;
      .page {
        .texts{
          position: relative;
          left: 10px;

          .title1{
            font-size: 23px;
          }

          .title2{
            font-size: 15px;
            padding: 10px 70px 0 0;
          }

          .text3{
            font-size: 13px;
            padding: 10px 70px 0 0;
          }
        }
        flex-direction: column;
        .right-down{
          .right-down-up{
            justify-content: space-between;
          }
        }
        .child-page{
          width: 55vh;
          position: relative;
          right: 60px;

          .right-up {
          position: relative;
          right: 13px;
          }

          .little {
            position: relative;
            left: 90px;
          }
          .child-page-right{
            max-width: unset !important;
          }
        }
      }
      
    }
  }
}