ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 20px 50px;
  background: var(--composer-html-background);
  color: var(--composer-font-color-primary);

  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;
  }
}
.container-alternate {
  width: 100%;
  padding: 57px 50px 42px;
  background: var(--composer-html-background);
  color: var(--composer-font-color-primary);

  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% / 2);
  padding: 0 4em 4em 0;

  .title {
    font-weight: 600;
    font-size: 3.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }

  .description {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

.featured-alternate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .title {
    font-weight: 600;
    font-size: 3.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }

  .description {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .featured-button-container {
    margin-bottom: 0;
  }
}

.cards-div {
  width: 65%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0;
}
.cards-div-alternate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.card-container {
  width: 100%;
  border: 1px solid var(--composer-font-color-primary);
  min-height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--composer-html-background);
  padding: 5%;
}

.card-container.active {
  scale: 1.1;
  position: relative;

  .tag {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.5em 1.5em;
    transform: translate(-50%, -50%);
    color: var(--composer-font-color-secondary);
    border: 1px solid var(--composer-primary-color);
    background-color: var(--composer-primary-color);
    max-width: 100%;
    word-break: break-word;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .icon {
      color: var(--composer-primary-color);
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
    .title {
      font-size: 16px;
      font-weight: 500;
      color: var(--composer-font-color-primary);
      word-break: break-word;
    }
    .price {
      font-size: 3.4em;
      font-weight: 600;
      color: var(--composer-font-color-primary);
    }
  }

  .body {
    margin-bottom: 20px;
    width: 100%;
    .items {
      width: 100%;
      display: flex;
      flex-direction: column;
      .item {
        padding: 1em 0;
        border-bottom: 1px solid var(--composer-font-color-primary);
        text-align: center;
        word-break: break-word;
      }
      > li:last-child {
        border-bottom: none;
      }
      > li {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.featured-button-container {
  margin-bottom: 20px;
}

.button {
  max-width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.5s ease;
  padding: 1em 2em;
  color: var(--composer-font-color-primary);
  background-color: var(--composer-font-color-secondary);
  border: 1px solid var(--composer-font-color-primary);
  word-break: break-word;

  .button-text {
    position: relative;
    color: var(--composer-text-color-primary);
    right: 0;
    transition: 0.6s all;
  }

  .button-icon {
    position: absolute;
    right: 20px;
    opacity: 0;
    transition: 0.6s;
    color: var(--composer-font-color-primary);
  }

  &:hover {
    transform: translateY(-5px);
  }

  &.has-icon:hover {
    .button-text {
      right: 10px;
    }

    .button-icon {
      opacity: 1;
      right: 10px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 20px 30px;
  }

  .container-alternate {
    padding: 20px 30px 43px;
  }

  .card {
    width: 85%;
  }

  .wrapper {
    flex-direction: column;

    .featured {
      width: 100%;
      gap: 2em;
      padding-right: 0;
    }

    .featured-alternate {
      width: 100%;
      gap: 2em;
      padding-right: 0;
    }

    .cards-div {
      width: 100%;
      flex-direction: grid;

      .card-container {
        width: 100% !important;
      }
    }

    .cards-div-alternate {
      width: 100%;
      flex-direction: grid;

      .card-container {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px 30px;
  }
  .container-alternate {
    padding: 20px 30px;
  }
  .featured {
    width: 100%;
    padding: 0;
    align-items: center;

    .button {
      justify-content: end;
    }
  }

  .featured-alternate {
    width: 100%;
    padding: 0;
    align-items: center;

    .button {
      justify-content: end;
    }
  }

  .cards-div {
    width: 90%;
    flex-direction: column;
    gap: 2em;

    .card-container {
      width: 100%;
    }

    .card-container.active {
      scale: 1;
    }
  }

  .cards-div-alternate {
    width: 90%;
    flex-direction: column;
    gap: 2em;

    .card-container {
      width: 100%;
    }

    .card-container.active {
      scale: 1;
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 20px 30px;
  }
  .container-alternate {
    padding: 20px 30px;
  }

  .featured {
    align-items: flex-start;
  }

  .featured-alternate {
    align-items: flex-start;
  }

  .cards-div {
    width: 90%;
    flex-direction: column;
    gap: 2em;

    .card-container {
      width: 100%;
    }

    .card-container.active {
      scale: 1;
    }
  }
}
