@import "../../../composer-base-components/base/utitilities/viewports.module.scss";
.container, .container-noimage {
  padding: 0 !important;
  height: 100vh;
  display: flex;
  gap: var(--composer-gap-xl);
  .box {
    flex: 1;
    .max-content {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px 20px 50px;        
        .title {
          font-size: 6rem;
        }
        .description {
          font-size: 1.5rem;
        }
        .link-text-center {
          text-align: center;
        }
        .link-text, .link-text-center {
          color: var(--composer-font-color-primary);
          font-size: 1.5rem;
          text-decoration: underline;
          cursor: pointer;
          margin: 0px;
        }
      }
    }
  }
  .right, .right-no-left{
    flex: 2;
    height: 100%;
    position: relative;
    .image-wrapper{
      height: 100%;
      .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .icon-box {
      width: fit-content;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;
      .icon-wrapper{
        width: 100px;
        height: 100px;
        background-color: var(--composer-primary-color);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          padding: var(--composer-gap-sm);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--composer-font-color-secondary);
          font-size: 2.5rem;
        }
      }
    }
  }
  .right-no-left{
    .icon-box {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container, .container-noimage {
    flex-direction: column-reverse;
    .box {
      width: 100% ;    
      .max-content {
        .content {
          padding: 20px 40px;
          width: 100%;
          .title {
            font-size: 5rem;
          }
        }
      }
    }
    .right, .right-no-left{
      overflow: hidden;
      .icon-box {
        left: 50%;
        transform: translate(-50%, -50%);
        .icon-wrapper{
          .icon {
          }
        }
      }
    }
  }
} 

@container (max-width: #{$composer-phone-width}) {
  .container, .container-noimage {
    gap: 0px;
    .box {
      width: 100%;
      .max-content {
        .content {
          padding: var(--composer-gap-md);
          .title {
            font-size: 4rem;
          }
        }
      }
    }
    .right, .right-no-left{
      .icon-box {
        .icon-wrapper{
          width: 70px;
          height: 70px;
          .icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
} 