.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;

      .header-page {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        h3 {
          color: var(--composer-primary-color);
          margin: 0;
        }
        h1 {
          margin: 0;
        }
        .button {
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          transition: 0.3s;
          display: block;
          color: white;
          background-color: var(--composer-primary-color);
          padding: 15px 30px;
          border-radius: 6px;
          border: 1px solid transparent;
          width: 200px;
          &:hover {
            color: var(--composer-primary-color);
            background-color: transparent;
            border: 1px solid var(--composer-primary-color);
          }
        }
      }
      .card-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        gap: 20px;

        .card {
          background-color: var(--composer-primary-color);
          border-radius: 10px;
          padding: 20px 20px 0 20px;
          min-height: 250px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
          }
          h5 {
            font-size: 2rem;
            margin: 0;
            color: white;
          }
          p {
            font-size: 1.2rem;
            margin: 0;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    .max-content {
      display: flex;

      .content {
        flex-direction: column;

        .header-page {
          width: 100%;
          gap: 20px;
        }
        .card-child{
          width: 100%;

        }
      }
    }
  }
}
