@import "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss";

.container {
  .max-content {
    display: flex;
    justify-content: center;
    .page {
      .text-group {
        .title {
          color: var(--composer-font-color-primary);
        }
        .subtitle {
          color: var(--composer-font-color-primary);
        }
      }

      .down-page {
        .all-card {
          width: 100%;
          .card {
            height: 100%;
            max-width: 100%;
            min-width: 300px;
            margin-left: var(--composer-gap-xl);
            position: relative;
            padding: var(--composer-gap-md);
            border: 1px solid color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
          }
          .card-items {
            height: 100%;
            padding: var(--composer-gap-md) 0;
            background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
          }
          .item-content {
            margin-left: -55px;
            display: flex;
          }
          .box-image {
            position: relative;
            flex: 0 0 25%;
            width: 100%;
            height: 100%;

            .profile-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .box-text {
            flex: 0 0 70%;
            padding: 0 var(--composer-gap-md);
          }
          .item-name {
            color: var(--composer-font-color-primary);
          }
          .item-position {
            color: var(--composer-primary-color);
          }
          .icon-group {
            display: flex;
            align-items: center;
            gap: var(--composer-gap-md);
            margin-top: var(--composer-gap-md);
            flex-wrap: wrap;
            .icons {
              cursor: pointer;
              object-fit: cover;
              width: 20px;
              height: 20px;
              margin: var(--composer-gap-sm);
              color: var(--composer-font-color-primary);
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    .down-page {
      gap: var(--composer-gap-xl);
      .all-card {
        flex: 1 1 !important;
      }
    }
    .card-item-count {
      width: 100%;
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .card {
      margin-left: var(--composer-gap-md) !important;
    }
    .profile-image {
      margin-left: var(--composer-gap-md) !important;
    }

    .all-card {
      .box-text {
        padding: 0 var(--composer-gap-lg) !important;
      }
      .icon-group {
        gap: var(--composer-gap-xs) !important;
        margin-top: var(--composer-gap-md) !important;
        .icons {
          width: var(--composer-gap-md) !important;
          height: var(--composer-gap-md) !important;
        }
      }
    }
  }
}
