.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    
    .content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      .basic {
        display: flex;
        flex-direction: column;
        box-shadow: var(--composer-box-shadow);
        border-radius: 6px;
        min-height: 200px;
        padding: 20px;
        flex: 1 1;
        align-items: center;
        img{
          width: 60%;
          height: 60%;
          object-fit: cover;
          border-radius: 6px;
        }
        .title {
          display: block;
          font-weight: bold;
          font-size: large;
          margin: 0;
        }
        .long-text {
          display: block;
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    .max-content{
      .card-item-count{
        min-width: 100%;
      }
    }
  }
}
