.container {
  width: 100%;
  box-sizing: border-box;
  // min-height: calc(100vh - 80px);
  background-color: var(--composer-html-background);
  // padding: 50px 0px;
  display: flex;
  align-items: center;
  .max-content {
    // max-width: var(--composer-content-width);
    // margin: auto;
    display: flex;
    justify-content: center;
  }
}
