@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    
    .gallery{
        width: 100%;
        overflow: hidden;
        
        .items-container {
            display: flex;
            animation: scrollText 15s infinite linear;
            white-space: nowrap;
            width: max-content;
            align-items: center;
    
            &:hover{
                animation-play-state: paused;
            }
            
            .item-child{
                display: flex;
                align-items: center;
                gap: calc(var(--composer-gap-md) * 2);
                padding: 0 var(--composer-gap-md);
                cursor: pointer;
                transition: all 0.3s ease;
                flex-shrink: 0;
                min-width: max-content;
                
                &:hover {
                    .text {
                        color: var(--composer-primary-color);
                    }
                    
                    .image {
                        animation-play-state: paused;
                    }
                }
                
                .image{
                    display: flex;
                    align-items: center;
                    animation: rotateImage 6s infinite linear;
                    flex-shrink: 0;
                    
                    .image-element{
                        width: 120px;
                        height: 120px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                
                .text{
                    font-size: 5rem;
                    font-weight: 600;
                    color: var(--composer-font-color-primary);
                    white-space: nowrap;
                    transition: color 0.3s ease;
                    text-transform: uppercase;
                    flex-shrink: 0;
                    overflow: visible;
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .container {
        .gallery {
            .items-container {
                .item-child {
                    gap: var(--composer-gap-lg);
                    .image {
                        .image-element {
                            width: 100px;
                            height: 100px;
                        }
                    }
                    
                    .text {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        padding: var(--composer-gap-xl) 0 !important;
        min-height: 180px;
        .gallery {
            .items-container {
                .item-child {
                    .image {
                        .image-element {
                            width: 80px;
                            height: 80px;
                        }
                    }
                    
                    .text {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
}

@keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
} 