@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  background-color: var(--composer-primary-color);
    .max-content {
        position: relative;
        max-width: 100%;
        .background-text {
            width: 100%;
            z-index: 1;
            pointer-events: none;
            position: relative;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 40%, rgba(255, 255, 255, 0) 80%);
            -webkit-background-clip: text;
            transform: scaleY(1.1);
            transform-origin: center;
            
            .text {
                font-weight: 900;
                text-align: center;
                font-size: 10rem;
                white-space: nowrap;
                color: var(--composer-primary-color);
                text-transform: uppercase;
                -webkit-text-stroke-width: 4px;
                stroke-width: 4px;
                -webkit-text-stroke-color: #FFFFFF00;
                stroke: #FFFFFF00;
            }
        }

        .platforms-carousel {
            position: absolute;
            z-index: 2;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
        }

        .platform-slide {
            padding: var(--composer-gap-sm);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .platform-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        transition: filter 0.5s, transform 0.3s ease;
        filter: grayscale(0%) brightness(1);
  
        &:hover {
          transform: scale(0.9);
          filter: grayscale(100%) brightness(0.1);
        }
                
                &.no-animation {
                    &:hover {
                    transform: none;
                    }
                }
                
                .platform-logo {
                    width: clamp(150px, 18vw, 240px);
                    max-width: 100%;
                    height: auto;
                    aspect-ratio: 3/1;
                    object-fit: contain;
                    transition: opacity 0.3s ease, transform 0.5s;
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
  .background-text {
    .text {
      font-size: 5.8rem !important;
      -webkit-text-stroke-width: 3px !important;
      stroke-width: 3px !important;
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .background-text {
    .text {
      font-size: 2.7rem !important;
      -webkit-text-stroke-width: 2px !important;
      stroke-width: 2px !important;
      letter-spacing: -0.3rem;
    }
  }
  
  .platform-slide {
    .platform-item {
      .platform-content {
        .platform-logo {
          scale: 0.6;
        }
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 3/1;
        }
      }
    }
  }
}
