.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .stats6-page {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .card {
        text-align: center;
        min-width: 250px;
        flex: 1 1;
        box-shadow: var(--composer-box-shadow);
        border-radius: var(--composer-border-radius);
        padding: 30px 0;
        img {
          border-radius: 20px;
          box-shadow: var(--composer-box-shadow);
        }
        h4 {
          font-size: 3rem;
          margin: 20px 0;
        }
        p {
          font-size: 1.5rem;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;

    .stats6-page {
      gap: 50px !important;
    }
  }
}
