.banner {
  text-align: center;
  color: var(--composer-primary-color);
  p {
    color: var(--composer-font-color-primary);
  }
}

.container {
  width: 100%;
  padding: 50px 0;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .title {
      font-size: 2.3rem;
    }
    .description{
      font-size: 1.3rem;
      margin-bottom: 30px;
    }

    .stats6-page {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      
      .card {
        text-align: center;
        width: 30%;
        box-shadow: var(--composer-box-shadow);
        border-radius: var(--composer-border-radius);
        padding: 30px 0;
        img {
          border-radius: 20px;
          box-shadow: var(--composer-box-shadow);
        }
        .data-card-title {
          font-size: 3rem;
          margin: 20px 0;
          color: var(--composer-primary-color);
          word-break: break-all;
        }
        .data-card-description {
          font-size: 1.2rem;
          margin: 0;
          color: var(--composer-font-color-primary);
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 50px 20px;
    .stats6-page {
      .card {
        width: 100% !important;
      }
      flex-direction: column;
    }
  }
}
