@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
  .max-content {
    .banner {
      margin-bottom: calc(2 * var(--composer-gap-lg));

      .description {
        color: var(--composer-tertiary-color);
      }
    }

    .stats6-page {
      .card {
        gap: var(--composer-gap-md);
        width: 100%;
        align-items: center;

        .data-card-title {
          font-size: 2.5rem;
          color: var(--composer-primary-color);
          word-break: break-all;
          margin: 0;
        }

        .data-card-description {
          margin: 0;
          color: var(--composer-tertiary-color);
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .banner {
        margin-bottom: calc(2 * var(--composer-gap-md));
        .description {
          width: 100%;
        }
      }
      .stats6-page {
        gap: var(--composer-gap-xl) !important;

        .card {
          gap: var(--composer-gap-md);
          .data-card-title {
            font-size: 2rem;
          }

          .data-card-description {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .banner {
        margin-bottom: calc(2 * var(--composer-gap-sm));
      }
      .stats6-page {
        gap: var(--composer-gap-lg) !important;
      }
    }
  }
}
