$transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);
.container {
    width: 100%;
    padding: 50px 100px;
    .max-content {
        max-width: var(--composer-content-width);
        display: flex;
        justify-content: center;
        margin: auto;
        .page {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .up-page {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 5rem;
                .subtitle {
                    font-size: 3.5rem;
                    letter-spacing: 0.02em;
                    margin: 10px 0;
                    color: var(--composer-primary-color);
                    opacity: 0.9;
                }
                .title-p {
                    margin: unset;
                    font-size: 1.6rem;
                    color: var(--composer-font-color-primary);
                    opacity: 0.9;
                }
                .badge {
                    color: var(--composer-primary-color);
                    border-radius: 10px;
                    font-size: 1rem;
                    background: rgb(244, 244, 244);
                    padding: 5px 7px;
                    display: inline-block;
                    width: max-content;
                }
            }
            .card-page {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;
                .card {
                    min-width: 300px;
                    min-height: 200px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    white-space: pre-line;
                    text-overflow: ellipsis;
                    margin-bottom: 5rem;
                    overflow: hidden;
                    .title {
                        font-size: 1.5rem;
                        letter-spacing: 0.02em;
                        margin: unset;
                        color: var(--composer-primary-color);
                        opacity: 0.9;
                        font-weight: bold;
                    }
                    .description {
                        font-size: 1.6rem;
                        color: var(--composer-font-color-primary);
                        opacity: 0.9;
                        margin: unset;
                    }
                    .icon {
                        display: flex;
                        justify-content: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: var(--composer-primary-color);
                        position: relative;
                        align-items: center;
                        div {
                            color: #fff;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    .down-container {
        width: 100%;
        height: 300px;
        margin-top: 200px;
        background-color: var(--composer-secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .child-container {
            min-height: 300px;
            height: fit-content;
            width: 90%;
            max-width: var(--composer-content-width);
            background-color: var(--composer-primary-color);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            text-align: center;
            margin-bottom: 300px;
            .title2 {
                font-size: 2rem;
                letter-spacing: 0.02em;
                margin: unset;
                color: var(--composer-font-color-primary);
                opacity: 0.9;
            }
            .description {
                font-size: 1.5rem;
                color: var(--composer-font-color-primary);
            }
            .button-group {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                margin-top: 2rem;
                .button {
                    border: 0px solid;
                    border-radius: 6px;
                    color: #fff;
                    cursor: pointer;
                    padding: 10px;
                    background: transparent;
                    transition: $transition;
                    opacity: 0.9;
                    &:hover {
                        opacity: 1;
                    }
                }
                .primary {
                    background-color: var(--composer-secondary-color);
                }
                .secondary {
                    border: 1px solid rgb(200, 200, 200);
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        .max-content {
            .card-item-count {
                min-width: 100%;
            }
            .up-page,
            .card-page {
                padding: 0px 20px;
            }
        }
    }
}