.container {
    width: 100%;
    margin: 100px;
        .max-content {
        max-width: 1000px;
        margin: auto;
        margin-top: -60px;
        .next-button{
            position: absolute;
            bottom: 15%;
            right: 17%;
            cursor: pointer;
            font-size: 16px;
            font-family: sans-serif;
            background-color: transparent;
            border: none;
            padding: 5px;
            letter-spacing: 2.5px;
        }
        .next-button::after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.1); /* Şeffaf gri renk */
        }
        .prev-button{
            position: absolute;
            bottom: 15%;
            left: 20%;
            cursor: pointer;
            font-size: 16px;
            background-color: transparent;
            border:none;
            padding: 5px;
            letter-spacing: 2.5px;
        }
        .prev-button::before{
          content: '';
          position: absolute;
          top: 0;
          right: 50%;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.1); /* Şeffaf gri renk */
        }
        
        .slider-parent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left:50px;
            margin-top: 50px;
            margin-bottom: 50px;
            .slick-slide {
                width: 100px;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
            }
            .carousel {
                width: 1000px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                .card {
                    max-width: 100%;
                    display: flex !important;
                    flex-direction: column !important;
                    justify-content: center !important;
                    align-items: center !important;
                    .img {
                        height: 400px;
                        width: 300px;
                        object-fit: cover;
                    }
                }
                button {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: unset;
        .max-content {
            .slider-parent {
                width: 100%;
                .carousel {
                    width: 210%;
                    padding: unset;
                    margin-left: -32px;
                    .card{
                        min-width: 80%;
                        max-height: 50%;
                        
                    .img {
                        height: 200px;
                        min-height: 200px;
                        object-fit: cover;
                    }
                }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: unset;
        .max-content {
            .slider-parent {
                width: 100%;
                .carousel {
                    width: 100%;
                    padding: unset;
                    .card{
                        min-width: 80%;
                        max-height: 50%;
                        
                    .img {
                        height: 200px;
                        min-height: 200px;
                        object-fit: cover;
                    }
                }
                }
            }
        }
    }
}


@media only screen and (max-width: 380px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: unset;
        .max-content {
            .slider-parent {
                width: 100%;
                .carousel {
                    width: 470%;
                    padding: unset;
                    margin-left: -335px;
                    .card{
                        min-width: 80%;
                        max-height: 50%;
                        
                    .img {
                        height: 200px;
                        min-height: 200px;
                        object-fit: cover;
                    }
                }
                }
            }
        }
    }
}