@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container {
    .max-content {
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);

        .header {
            .subtitle {
                margin-left: 0
            }

            .title,
            .description {
                text-align: left;
            }
        }

        .button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: var(--composer-gap-sm);

            .button {
                .button-text {
                    content: "";
                }
            }
        }
    }
}

@container (max-width: #{$composer-phone-width}) {
    .container {
        .max-content {
            gap: var(--composer-gap-sm);
        }
    }
}