$transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);

.container {
  .max-content {
    display: flex;

    .page {
      width: 100%;
      padding-bottom: 2rem;

      .page-up {
        width: 100%;
        overflow: hidden;
        color: var(--composer-font-color-primary);

        .title {
          color: var(--composer-primary-color);
        }

        .subtitle {
          color: var(--composer-primary-color);
        }

        .description {
          color: var(--composer-font-color-primary);
        }
      }

      .page-down {
        column-gap: 0;

        .all-card {
          .card {
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
            border-radius: var(--composer-border-radius-md);
            box-shadow: var(--box-shadow-active);
            overflow: hidden;

            &.focused {
              scale: 1.06;
              background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
            }

            .card-up {
              width: 100%;
              justify-content: center;
              align-items: center;

              .subtitle {
                width: max-content;
                color: var(--composer-primary-color);
              }

              .card-up-texts {
                width: 100%;
                justify-content: center;
                align-items: center;
                color: var(--composer-font-color-primary);
                padding: var(--composer-gap-lg);

                .price-title2 {
                  opacity: 0.5;
                }
              }
            }

            .card-middle {
              width: 100%;
              margin-bottom: 2rem;
              color: var(--composer-font-color-primary);

              .list-group {
                width: 100%;
                align-items: center;
                gap: var(--composer-gap-sm);

                .list-element {
                  display: flex;
                  align-items: center;
                  gap: var(--composer-gap-sm);
                  color: var(--composer-font-color-primary);

                  .circle-icon {
                    display: flex;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    color: var(--composer-font-color-primary);
                  }
                }
              }
            }

            .card-down {
              width: 100%;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              align-items: center;
              gap: 1rem;
              margin-bottom: 2rem;

              .button {
                width: 200px;
                min-width: 100px;
                border-radius: var(--composer-border-radius-xl);
                cursor: pointer;
                padding: var(--composer-gap-md);
                background: transparent;
                transition: $transition;
                border: 1px solid var(--composer-secondary-color);
                background-color: var(--composer-secondary-color);
                color: var(--composer-font-color-secondary);

                &:hover {
                  background-color: transparent;
                  color: var(--composer-font-color-primary);
                }
              }
            }
          }
        }
      }

      .price-title1 {
        color: var(--composer-primary-color);
      }

      .price-title2 {
        color: var(--composer-primary-color);
      }
      .price-pricing {
        color: var(--composer-secondary-color);
      }
    }
  }
}
