@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  .max-content {
    .wrapper,
    .wrapper-center {
      display: flex;
      gap: var(--composer-gap-lg);
      .left-container {
        flex: 1;

        .subtitle, .title {
          content: "";
        }
      }

      .right-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);

        .bottom-section {
          display: flex;
          justify-content: space-between;
          gap: var(--composer-gap-md);

          .description {
            color: var(--composer-font-color-primary);
            flex: 1;
          }

            .submit-button {
              .button-text{
                text-align: center;
              }
            }
        }

        .inputs {
          display: flex;
          gap: var(--composer-gap-md);

          .input-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            grid-row: auto;

            .input-container {
              display: flex;
              gap: var(--composer-gap-sm);
              border-bottom: 1px solid var(--composer-tertiary-color);

              .input {
                color: var(--composer-font-color-primary);
                resize: vertical;
                padding: var(--composer-gap-md) var(--composer-gap-sm);
                border: none;
                background-color: var(--composer-html-background);
                width: 100%;
                font-family: inherit;
                overflow-y: auto;
                font-size: 1rem;
                resize: none;
              }

              .input::placeholder {
                color: var(--composer-tertiary-color);
              }

              .input:focus,
              textarea:focus {
                outline: none;
                box-shadow: none;
              }

              .input.error {
                border-bottom-color: var(--composer-danger-color);
              }

              .icon {
                width: var(--composer-gap-md);
                transform: translateY(80%);
                height: var(--composer-gap-md);
                color: var(--composer-font-color-primary);
                font-size: 1rem;
              }

              &:has(textarea) {
                .icon {
                  transform: translateY(80%);
                  top: var(--composer-gap-md);
                }
              }
            }
          }
        }

        .error-message {
          color: var(--composer-danger-color);
          font-size: 1rem;
          margin-top: var(--composer-gap-xs);
        }
      }
    }

    .wrapper-center {
      flex-direction: column;
      .right-container{
        .bottom-section{
          .description{
            text-align: left;
          }
        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--composer-gap-md);
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .wrapper,
      .wrapper-center {
        flex-direction: column;
        gap: var(--composer-gap-md);
        .right-container {
          .bottom-section {
            margin-top: var(--composer-gap-md);
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .wrapper,
      .wrapper-center {
        .right-container {
          .bottom-section {
            flex-direction: column;
          }

          .inputs {
            flex-direction: column;
          }
        }
      }
    }
  }
}
