.container {
    background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
    padding-top: var(--composer-gap-md);
    padding-bottom: var(--composer-gap-md);

    .max-content {
        .section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;

                .homeIcon {
                    color: var(--composer-font-color-primary) !important;
                    font-size: 1rem !important;
                    margin: var(--composer-gap-xs);
    
                    &:hover {
                        color: var(--composer-primary-color) !important;
                    }
                }
    
                .home-title {
                    color: var(--composer-font-color-primary);
                }
            }

            .item {
                .icon {
                    color: var(--composer-font-color-primary);
                    font-size: 1.5rem;
                }
            }

            .currentPage {
                color: var(--composer-font-color-primary);
                font-size: 1rem;
                margin: var(--composer-gap-xs);
            }
        }
    }
}