.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to right, var(--composer-primary-color) , var(--composer-secondary-color));
  .max-content {
    width: var(--composer-content-width);
    .comp2-page {
      display: block;
      padding: 80px 100px;
      h2 {
        font-weight: 100;
        line-height: 1.4;
        width: 400px;
        margin-bottom: 5px;
        color: white;
      }
      h1 {
        font-weight: 800;
        line-height: 1.4;
        font-size: 35px;
        margin-top: 0;
        color: white;
      }
      .button {
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        transition: 0.3s;
        display: block;
        color: black;
        background-color: white;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 10px;
        border: 1px solid transparent;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        &:hover {
          background-color: transparent;
          color: white;
          border: 1px solid white;
        }
      }
      .button2 {
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        transition: 0.3s;
        display: block;
        color: white;
        background-color: transparent;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        width: 200px;
        margin-bottom: 20px;
        &:hover {
          border: 1px solid white;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 20px;
    .comp2-page {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 10px;
      h1, h2 {
        width: 100%;
      }
      .button {
        margin-top: 0;
        width: 100%;
      }
      .button2 {
        width: 100%;
      }
    }
  }
}
