@import '../../../composer-base-components/base/utitilities/viewports.module.scss';
.container {
    .max-content {
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-md);
        .title {
            margin: 0px;
            text-align: center;
        }
        .description {
            margin: 0px;
            text-align: center;
        }
        .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--composer-gap-sm);
            .button{
                content: "";
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width-lg}) {
    .container {
        .max-content {
            .heading-page {
                .heading {
                    min-width: auto !important;
                }
                .button-container {
                    .button, .button-reverse {
                        width: 100%;
                    }
                }
            }
        }
    }
}
