@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;

    &.no-image{
        padding-top: var(--composer-gap-md);
        padding-bottom: var(--composer-gap-md);
        .max-content{
            .cards{
                margin-bottom: 0px;
                background-color: unset;
                padding: 0px;
                &::before{
                    content: unset;
                }
            }
        }
    }

    .max-content {
        display: flex;
        @media screen and (max-width: $composer-tablet-width-lg) {
            flex-direction: column;
            gap: 0;
            align-items: center;
            margin-bottom: var(--composer-gap-md);
            
        }

        .cards {
            &:before{
                content: "";
                position: absolute;
                right: 0px;
                top: 0px;
                width: 2000px;
                background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);;
                height: 100%;
                z-index: 0;
            }
            position: relative;
            border-radius: var(--composer-border-radius-sm);
            width: 100%;
            background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
            height: fit-content;
            padding: var(--composer-gap-xl) calc(var(--composer-gap-xl) + 20px) var(--composer-gap-xl) 0px;
            margin-bottom: var(--composer-gap-lg);

            @media screen and (max-width: $composer-tablet-width-lg) {
                padding: var(--composer-gap-md);
                margin-bottom: 0px;
            }

            @media screen and (max-width: $composer-phone-width) {
                padding: 0px;
            }

            .card {
                z-index: 1;
                display: flex;
                transition: 0.4s;
                color: var(--composer-font-color-primary);
                padding: var(--composer-gap-md);
                gap: var(--composer-gap-md);
                border-radius: var(--composer-border-radius-sm);

                .icon-box {
                    min-width: calc(2.67rem + var(--composer-gap-xs));
                    height: calc(2.67rem + var(--composer-gap-xs));

                    .icon {
                        width: calc(2.67rem + var(--composer-gap-xs));
                        height: calc(2.67rem + var(--composer-gap-xs));
                    }
                }

                .labels {

                    .subtitle {
                        color: var(--composer-primary-color);
                        transition: 0.4s;
                    }

                    .title {
                        margin: 0 0 var(--composer-gap-md) 0;
                    }

                    .description {
                        content: "";
                    }
                }

                &:hover {
                    background: var(--composer-primary-color);
                    color: var(--composer-font-color-secondary);
                    .labels{
                        .subtitle{
                            color: var(--composer-font-color-secondary);
                        }
                    }
                }

                @media screen and (max-width: $composer-tablet-width-lg) {
                    padding: var(--composer-gap-md);
                }
            }
        }

        .video-container {
            width: 80%;
            position: relative;
            margin-left: calc(-1 * var(--composer-gap-lg));
            margin-top: var(--composer-gap-lg);

            @media screen and (max-width: $composer-tablet-width-lg) {
                height: 370px;
                min-width: 100%;
                margin: var(--composer-gap-md) 0px 0px;

            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--composer-border-radius-sm);
            }

            .play-icon-box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--composer-font-color-primary);
                font-size: 2rem;
                background: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
                width: 4rem;
                height: 4rem;
                display: grid;
                place-items: center;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .overlay {
            .video-container {
              height: fit-content;
              width: 70%;
              .video {
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                .player {
                  max-height: 100%;
                  height: fit-content;
                  border-radius: var(--composer-border-radius-xs);
                  width: auto;
                  max-width: 100%;
                }
              }
            }
            .close-icon-box {
              position: absolute;
              top: var(--composer-gap-md);
              right: var(--composer-gap-md);
              color: var(--composer-font-color-secondary);
              background-color: transparent;   
              .close-icon {
                width: 1.5em;
                height: 1.5em;
              }
            }
          }
    }
}

@container (max-width: #{$composer-tablet-width-lg}) {
    .container {
        padding: 0px;
        .max-content {
            .cards{
                padding: var(--composer-gap-md) 0px;
                gap: var(--composer-gap-md);
                .card{
                    border-radius: 0px;
                }
                &::before{
                    left: -50%;
                    right: unset;
                }
            }
            .video-container{
                padding: 0px var(--composer-gap-md);
            }
        }
    }
}