.container {
    width: 100%;
    padding: 50px 50px;
    .max-content {
        max-width: var(--composer-content-width);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .title {
                font-size: 4rem;
                margin: 0;
                color: var(--composer-primary-color);
            }
            .description {
                font-size: 1.2rem;
                margin: 0;
                color: var(--composer-font-color-primary);
            }
            button {
                background-color: var(--composer-secondary-color);
                color: white;
                border-radius: 6px;
                padding: 10px 20px;
                border: 1px solid var(--composer-secondary-color);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: var(--composer-secondary-color);
                    border: 1px solid var(--composer-secondary-color);
                    background: transparent;
                }
            }
        }
        .card-left {
            display: flex;
            .card-child {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 50%;
                gap: 20px;
                .card {
                    width: 100%;
                    border-radius: 10px;
                    padding: 20px 20px 0 20px;
                    min-height: 250px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    box-shadow: var(--composer-box-shadow);
                    img {
                        width: 40px;
                        height: 40px;
                    }
                    .card-title {
                        font-size: 2.4rem;
                        margin: 0;
                        color: var(--composer-primary-color)
                    }
                    .card-description {
                        font-size: 1.2rem;
                        margin: 0;
                        color: var(--composer-font-color-primary);
                    }
                }
            }
            .image {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        .max-content {
            padding: 0 20px;
            .header {
                text-align: center;
            }
            .card-child {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}