@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    background-color: var(--composer-html-background);

    .max-content {
        display: flex;
        flex-direction: column;
        gap: var(--composer-gap-lg);

        .header-section {
            .title {
                content: "";
            }

            .subtitle {
                content: "";
            }

            .description {
                color: var(--composer-font-color-primary);
            }

            .button-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--composer-gap-sm);

                .button {
                    content: "";

                    .button-text {
                        content: "";
                    }
                }
            }
        }

        .cards-grid {
            .card {
                background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
                border-radius: var(--composer-border-radius-md);
                align-items: flex-start;
                padding: var(--composer-gap-xl);

                .card-value {
                    color: var(--composer-font-color-primary);
                    margin-bottom: var(--composer-gap-sm);
                   width: 100%;
                    display: flex;
                    font-size: 4rem;

                    &.no-line {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    .stat-prefix,
                    .display-value,
                    .stat-suffix {
                        content: "";
                    }
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background-color: color-mix(in srgb, var(--composer-font-color-primary) 10%, transparent);
                    margin-bottom: var(--composer-gap-sm);
                }

                .card-subtitle {
                    color: var(--composer-font-color-primary);
                    text-align: left !important;
                }

                .card-title {
                    color: var(--composer-font-color-primary);
                    text-align: left !important;
                }

                .card-description {
                    color: var(--composer-font-color-primary);
                    text-align: left !important;
                }
            }
        }
    }
}

@container (max-width: #{$composer-tablet-width}) {
    .cards-grid {
        .card {
            padding: var(--composer-gap-md) !important;
        }
    }

    .card-value {
        font-size: 2.5rem !important;
    }
}

@container (max-width: #{$composer-phone-width}) {
    .max-content {
        gap: var(--composer-gap-md) !important;
    }

    .card-value {
        font-size: 3rem !important;
    }
}