@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    background-color: var(--composer-html-background);
}

.max-content {
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
}

.header-section {
    align-items: flex-start;
    text-align: left;

    .button-container {
        margin-bottom: var(--composer-gap-md);
        display: flex;
        flex-wrap: wrap;
        gap: var(--composer-gap-sm);

        .button {
            content: "";
        }
    }
}

.subtitle {
    color: var(--composer-primary-color);
    transform: none !important;

    &::before {
        display: none;

    }
}

.description {
    color: var(--composer-font-color-primary);
}

.cards-grid {
    gap: var(--composer-gap-lg)
}

.card {
    background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);
    border-radius: var(--composer-border-radius-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--composer-gap-xl);
}

.card-value {
    color: var(--composer-font-color-primary);
    margin-bottom: var(--composer-gap-sm);
    padding-bottom: var(--composer-gap-sm);
    border-bottom: 1px solid color-mix(in srgb, var(--composer-font-color-primary) 10%, transparent);
    width: 100%;
}

.card-label {
    color: var(--composer-font-color-primary);
    margin: 0;
}

@container (max-width: #{$composer-tablet-width}) {
    .max-content {
        padding: 80px 40px;
    }

    .card-value {
        font-size: 4rem !important;
    }
}

@container (max-width: #{$composer-phone-width}) {
    .max-content {
        padding: 50px 20px;
    }

    .card-value {
        font-size: 3rem !important;
    }
}