.container {
  width: 100%;
  height: 100%;
  background-color: var(--composer-html-background);
  display: flex;
  align-items: center;
  position: relative !important;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .slider-style {
      .slider {
        position: relative;

        .cover_image {
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          z-index: 1;
          position: relative;
        }

        .card {
          display: flex;
          flex-direction: column;
          place-items: center;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          justify-content: center;
          z-index: 2;

          .image {
            width: 500px;
            height: 500px;
            object-fit: cover;
            position: absolute !important;
          }

          .content {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 180px;
            left: 335px;
            gap: 35px;

            .text-content {
              display: flex;
              flex-direction: column;
              gap: 35px;

              .subtitle {
                font-size: 13px;
                font-weight: bold;

              }

              .title {
                font-size: 5.5rem;
                font-weight: bold;
              }
            }

            .pagination {
              display: flex;
              place-items: center;
              gap: 10px;

              .active-slide {
                font-weight: bold;
              }

              .slide-count {
                font-weight: bold;
              }
            }
          }

          .progress-bar {
            max-width: 40px;
            height: 2px;
            background-color: rgb(204, 191, 191);
            position: relative;
            width: 100%;
          }

          .active {
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
          }

          .description-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: black;
            color: white;
            width: 300px;
            height: 150px;
            padding: 30px;
            position: absolute;
            right: 300px;
            bottom: 160px;
          }
        }
      }
    }

    .page-bottom {
      bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      place-items: center;
      position: relative;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 20px;
      font-size: 13px;
      font-weight: bold;
    }

    .prev-icon {
      left: 20px;
      position: absolute;
      font-size: 40px;
    }

    .next-icon {
      right: 20px;
      position: absolute;
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .max-content {
      .slider-style {
        .slider {
          .image {
            width: 450px;
            height: 450px;
          }

          .content {
            left: 30px !important;
          }

          .description-div {
            right: 30px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    .max-content {
      .slider-style {
        .slider {
          .card {
            .image {
              width: 300px;
              height: 300px;
              position: relative;
              top: 120px;

            }

            .content {
              .text-content {
                position: relative;
                top: -140px;
                gap: 5px;

                .title {
                  font-size: 3rem;
                }
              }

              .pagination {
                position: relative;
                bottom: -325px;
                left: 100px;
              }
            }

            .description-div {
              bottom: 100px;
              left: 25px;

            }
          }
        }
      }
    }

    .page-bottom {

      .prev-icon {
        font-size: 30px;
      }

      .next-icon {
        font-size: 30px;
      }
    }
  }
}