$gap:30px;
$width-of-items: 600px;
.container {
  width: 100%;
  .max-content {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
  


  &:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }




  .wrapper {
    right: 20px;
    position: relative;
    margin: 20px;
    margin-top: 0px;
    display: flex;
    width: var(--composer-content-width);

    .carousel > button:first-child {
      margin-left: 40px;
      &:before {
        transform: rotateZ(-45deg);
        
    }
    }

    .carousel > :last-child {
      margin-right: 90px;

      &:before {
        transform: rotateZ(135deg);
    }
    }

    .carousel {
      width: 100%;

      >button {
        z-index: 10;
        &:before {
            content: "";
            position: absolute;
            transform: rotateZ(135deg);
            font-size: 100px;
            width: 50px;
            height: 50px;
            border-top: 3px solid white;
            border-left: 3px solid white;
        }
      }

      

      .items {
        width: 100%;

        display: flex;
        height: 100vh;

        position: relative;

        .background-img {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
      
          img {
            
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      
        .content {
          height: 100%;
          display: flex;
          width: 100%;

          &.content-reverse {
            flex-flow: row-reverse;

            .left{
              .item{
                left:0 !important;
              }
            }
          }
      
      
          .left{
            flex: 1;
            position: relative;
        
        
            .item {
              margin-right: 40px;
              background-color: #f5f5f5 !important;
              position: absolute;
              right: 0;
              bottom: 0;
              padding: 100px;
              margin-bottom: $gap;
              width: 65%;
              height: auto;
              .year {
      
              color: #bbb ;
              font-size: 4rem;
              font-weight: 700;
              padding: 10px;
              word-wrap: break-word;
      
      
              }
        
              .title {
                
                padding: 10px;
                font-size: 3rem;
                font-weight: 700;
                width: 60%;
      
                word-wrap: break-word;
                
              }
            }
          }
        
          .right{
            flex: 1;
            position: relative;
      
            div {
              display: flex;
              flex-direction: row;
              padding-right: 30%;
              margin-bottom: $gap;
              position: absolute;
              right: 0;
              bottom: 0;
              
      
              .action-button {
                font-weight:400;
                background-color: #f5f5f5;
                background-image: url(https://woodmart.xtemos.com/wp-content/uploads/2021/05/wd-furniture-long-arrow-black.svg);
                background-repeat: no-repeat;
                background-position: 87% 50%;
                border: none;
                padding: 20px;
                width: 200px;
                font-size: 1.5rem;
                color: black;
                transition: 0.3s;

                &:hover {
                  cursor:pointer;
                  background-color: #e2e0e0;
                }
              }
            }
        
            
          }
        
          }
        }

      }
    }





  }

}



@media only screen and (max-width: 768px) {
  .container {
  
    .wrapper {
  
  
      .carousel > button:first-child {
      
      }
  
      .carousel > :last-child {
      }
  
      .carousel {
  
        .max-content {
       
      
        }
  
        .items {
  
          .background-img {
 
            img {
             
            }
          }
        
          .content {
            flex-direction: column;

            &.content-reverse {
              flex-flow: column-reverse;
            }
            .left{
              display: flex;
              align-items: center;
              justify-content: center;
              .item {
                right: auto;
                bottom: auto;
                margin: 0px 0px;
                width: $width-of-items;
                .year {
                  font-size: 3rem;
                }
          
                .title {
                  font-size: 2rem;                  
                }
              }
            }
          
            .right{
              display: flex;
              justify-content: center;
        
              div {
                right: auto;
                bottom: auto;
                margin: 0px 0px;
                padding-right: 0px;
                width: $width-of-items;
                
        
                .action-button {
                  text-align: center;
                  display: block;
                  width: 100%;
                }
              }
          
              
          
          
            }
          }
  
        }
      }
  
  
  
  
  
    }
  
  }
}


@media only screen and (max-width: 400px) {
  .container {
  
    .wrapper {
  
  
      .carousel > button:first-child {
        margin-left: 30px;
        top:45%;

      }
  
      .carousel > :last-child {
        margin-right: 50px;
        top:45%;
      }
  
      .carousel {

        >button {
          &:before{
            width: 20px;
            height: 20px;
          }
        }
  
        .max-content {
       
      
        }
  
        .items {
  
          .background-img {
 
            img {
            }
          }
        
          .content {
            .left{
              .item {
                padding: 10px 10px;
                width: 300px;
                .year {
                  font-size: 2rem;
                }
          
                .title {
                  font-size: 1.5rem;
                  margin-right: 0px;
                }
              }
            }
          
            .right{
        
              div {
                width: 300px;
        
                .action-button {
                  font-size: 1.4rem;
                }
              }
            }
          }
  
        }
      }
  
    }
  
  }
}