@use '../../../composer-base-components/base/utitilities/viewports.module.scss' as *;

.container {
  position: relative;

  &.has-background {
    .max-content {
      .content-container {
        .subtitle {
          color: #ffffff;
          background: transparent !important;
          padding: 0 !important;
        }

        .title,
        .description {
          color: #ffffff;
        }
      }
    }
  }

  &.overlay-active {
    &::before {
      position: absolute;
      content: "";
      background: var(--composer-overlay-color);
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .max-content {
    position: relative;
    z-index: 2;

    .content-container {
      align-items: center;

      .subtitle,
      .title,
      .description {
        text-align: center !important;
      }

      .subtitle {
        transform: translateX(0);

        &::before {
          display: none;
        }
      }

      .buttons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: var(--composer-gap-sm);
        justify-content: center;

        .button {
          content: "";

          .button-text {
            content: "";
          }
        }
      }
    }
  }
}