@import '../../../composer-base-components/base/utitilities/viewports.module.scss'; 
.container, .container-no-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.overlay-active {
    &::before{
      position: absolute;
      content: "";
      background: var(--composer-overlay-color);
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }
  }
  .max-content {
    position: relative;
    z-index: 1;
      .content-container {
        .title, .title-no-image {        
          content: "";
        }
        .title{
          color: white;
        }
        .description, .description-no-image {
          content: "";
          color: var(--composer-font-color-primary);
        }
        .description{
          color: white;
        }
        .buttons {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          gap: var(--composer-gap-md);
          .button, .button-no-image {
            padding: var(--composer-gap-sm) var(--composer-gap-md);
            border-radius: var(--composer-border-radius-xs);
            cursor: pointer;
            transition: all 0.3s ease;
            border: 2px solid white;
            background-color: transparent;
            color: white;
            text-align: center;
            &:hover {
              background-color: white;
              color: var(--composer-primary-color);
            }
          }
          .button-no-image{
            color: var(--composer-primary-color);
            border: 2px solid var(--composer-primary-color);
            &:hover {
              background-color: var(--composer-primary-color);
              color: var(--composer-font-color-secondary);
            }
          }
        }
      
    }
  }
}
.container{
  padding: 100px 50px !important;
}

@container (max-width: #{$composer-phone-width}){
  .container, .container-no-image{
    .max-content {
      .content-container {
        .buttons {
          >div{
            width: 100% !important;
          }
          .button, .button-no-image{
            width: 100%;
          }
        }
      }
    }

  }
}
