.container {
  width: 100%;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .feature-list {
      display: flex;
      flex-direction: column;
      box-shadow: var(--composer-box-shadow);
      border-top: 5px solid var(--composer-primary-color);
      border-radius: 6px;
      height: max-content;
      min-width: 250px;
      flex: 1 1;
      padding: 20px;

      .title {
        display: block;
        font-weight: bold;
        padding: 0;
        margin: 0 0 5px 0;
      }
      hr {
        display: block;
        width: 100%;
        max-width: 180px;
        margin: 0 0 12px 0;
        border: 1px solid var(--composer-primary-color);
        padding: 0;
      }
      .list-group {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .list-item {
          cursor: pointer;
          color: black;
          background-color: white;
          transition: all 0.5s;
          padding: 10px;
          border-radius: 6px;
          border: 1.5px solid var(--composer-primary-color);
          box-shadow: rgba(208, 212, 218, 0.3) 0px 8px 24px;
          &:hover {
            background-color: var(--composer-primary-color);
            border: 1.5px solid white;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }
}
