.container {
  width: 100%;
  padding: 30px;
  background-color: var(--composer-html-background);
}

.max-content {
  max-width: var(--composer-content-width);
  margin: auto;
}

.title {
  text-align: left;
  font-size: 7rem;
  color: var(--composer-primary-color);
  margin: 20px 0;
  padding-left: 30px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.subtitle {
  text-align: left;
  color: var(--composer-font-color-primary);
  font-size: 2.45rem;
  margin: 20px 0 30px;
  margin-top: 30px;
  padding-left: 40px;
  font-weight: lighter;
}

.faint-line {
  border: none;
  border-top: 1px solid var(--composer-font-color-primary);
  margin: 0 30px;
}

.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.slider-parent {
  width: 100%;
  margin: auto;
}

.carousel .slick-dots {
  bottom: -25px;
}

.slider-inner-div {
  border-radius: 10px;
}

.content-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
  transition: filter 0.5s;
}

.img-div {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  flex-grow: 1;
}

.img-div img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  transition: transform 0.5s;
}

.img-div:hover img {
  transform: scale(1.03);
}

.item-page {
  width: 100%;
}

.first-item, .item-title {
  color: var(--composer-font-color-primary);
  margin: 10px 0;
}

.item-title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  position: relative;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.item-title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--composer-font-color-primary);
  visibility: hidden;
  transform-origin: left;
  transition: width 0.5s ease-in-out;
}

.item-title:hover::after {
  visibility: visible;
  width: 100%;
}

@keyframes underlineExpand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.item-title::after {
  animation: underlineExpand 0.5s ease-in-out;
}

.no-animation .item-title::after {
  animation: none !important;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
    margin-top: 30px;
  }

  .max-content {
    width: 100%; 
    padding: 0 10px;
  }

  .title, .subtitle {
    width: 100%;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 1.25rem;
    margin: 40px 0 30px;
  }

  .faint-line {
    margin: 0 10px;
  }

  .wrapper {
    padding: 0;
  }

  .slider-parent {
    width: 100%; 
  }

  .carousel {
    width: 100%; 
    margin: 0 auto;
  }

  .slider-inner-div {
    width: 100%;
    padding: 0;
  }

  .content-div {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .img-div img {
    height: 180px;
  }

  .item-page .first-item {
    font-size: 1rem;
    margin: 10px 0;
  }

  .item-title {
    font-size: 1.25rem;
    margin: 10px 0;
    font-weight: 700;
    letter-spacing: 1.2px;
    position: relative;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }
}

@media screen and (min-width: 601px) and (max-width: 1280px) {
  .container {
    padding: 20px;
  }

  .max-content {
    padding: 0 20px;
  }

  .title {
    font-size: 4rem;
    padding-left: 20px;
    margin-bottom: 50px;
  }

  .subtitle {
    font-size: 1.5rem;
    padding-left: 20px;
    margin: 50px 0 10px;
  }

  .faint-line {
    margin: 0 20px;
  }

  .wrapper {
    padding: 0;
  }

  .content-div {
    padding-left: 0;
    padding-right: 20px;
  }

  .img-div img {
    height: 150px; 
  }

  .first-item {
    font-size: 1rem;
  }

  .item-title {
    font-size: 1.5rem;
  }
}
