@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
  background-color: var(--composer-html-background);
  .max-content {
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-lg);

    .section-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: var(--composer-gap-xl);
      font-size: 1.5rem;
      margin-bottom: 2rem;

      .section-title {
        display: inline-block;
        flex: 1;
        border-bottom: 2px solid var(--composer-tertiary-color);
        padding-bottom: var(--composer-gap-sm);
        text-align: center;
        font-size: 2rem;
        margin: 0;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          border-color: var(--composer-primary-color);
        }

        &.active {
          border-color: var(--composer-primary-color);
        }
      }
    }

    .active-section-content {
      width: 100%;
      .section-content-wrapper {
        display: flex;
        flex: 1;
        gap: var(--composer-gap-xl);
        animation: fadeIn 0.5s ease;
        color: var(--composer-font-color-primary);
        text-align: justify;
        width: 100%;
        .text-1,
        .text-2 {
          width: 100%;
        }
      }
    }

    .section-hidden {
      display: none;
      opacity: 0;
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .button {
        border-radius: var(--composer-border-radius-sm);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@container (max-width: #{$composer-phone-width}) {
  .max-content {
    gap: var(--composer-gap-lg) !important;
  }

  .section-container {
    gap: var(--composer-gap-md) !important;
    flex-direction: column;
    .section-title {
      font-size: 1.5rem !important;
      width: 100% !important;
    }
  }

  .section-content-wrapper {
    flex-direction: column !important;
    gap: var(--composer-gap-md) !important;
  }
}
