@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
    .max-content {
        display: flex;
        gap: var(--composer-gap-xl);
        align-items: center;
        .left {
            flex: 1;
            
            &[data-alignment="center"] {
                text-align: left;
                align-items: baseline;
                .subtitle, .title, .description{
                    text-align: left;
                }

                .subtitle{
                    margin: 0;
                }
            }
            
            .subtitle, .title, .description{
                content: ""
            }
        }
        .right{
            flex: 1;
            .image-item {
                display: flex;
                align-items: center;
                justify-content: center;
                .image {
                    object-fit: contain;
                    width: 300px;
                    height: 100px;
                }
            }
        }
        
    }
}
@container (max-width: #{$composer-tablet-width}) {
    .container{
        .max-content{
            gap: var(--composer-gap-md);
            flex-direction: column;
            
            .left {
                &[data-alignment="center"] {
                    text-align: center;
                    align-items: center;
                    .subtitle, .title, .description{
                        text-align: center;
                    }
                }
            }
            
            .right {
                .image-item {
                    .image {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 3/1;
                    }
                }
            }
        }
    }
}