* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 640px;

  .max-content {
    max-width: var(--composer-content-width);
    margin: 0 auto;
    width: 100%;
  }
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider {
  height: 100%;
  width: 100%;

  div {
    height: 100%;
  }
}

.slider-item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 500ms;

  .max-content {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-item-title {
    font-size: 5em;
    color: white;
    width: 90%;
    transition: 700ms;
    margin-bottom: -200px;
    opacity: 0;
    text-align: center;

    &.anim {
      margin-bottom: 0;
      opacity: 1;
    }
  }

  .slider-item-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.footer-max-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  max-width: var(--composer-content-width);
  min-height: 150px;
}

.slider-footer {
  position: absolute;
  border-top-left-radius: 10px;
  bottom: 0;
  right: 0;
  background-color: var(--composer-html-background);
  display: flex;
  justify-content: center;
  align-items: center;

  .slider-footer-items {
    width: 90%;
    min-height: 150px;
    height: 100%;
    display: grid;
    padding: 20px;
    gap: 20px;

    .slider-footer-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 85px;
      gap: 10px;

      .slider-footer-item-image {
        width: 60%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        transition: 500ms;
        transition-property: transform;

        &.hover-animation:hover {
          transform-origin: center;
          transform: rotate(5deg);
        }
      }

      .slider-footer-item-body {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .slider-footer-item-title {
          line-height: 1em;
          margin-bottom: 10px;
          color: var(--composer-font-color-primary);
        }

        .slider-footer-item-subtitle {
          color: color-mix(
            in srgb,
            var(--composer-html-background),
            var(--composer-font-color-primary) 60%
          );
        }
      }
    }
  }

  .slider-buttons {
    width: 10%;
    height: 100%;
    min-height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .slider-button {
      border: none;
      background-color: var(--composer-font-color-primary);
      color: var(--composer-font-color-secondary);
      width: 100%;
      height: 100%;
      transition: 400ms;
      flex-grow: 1;
      cursor: pointer;
      position: relative;

      .slider-arrow-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition-property: transform;
        transition: 300ms;
      }

      &:hover {
        color: var(--composer-font-color-primary);
        background-color: var(--composer-font-color-secondary);

        .slider-arrow-icon {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .slider-footer {
    width: auto !important;
    display: flex;
    justify-content: flex-end;

    .slider-footer-items {
      width: 100%;
    }

    .slider-buttons {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .slider-footer {
    height: 62.5px;

    .slider-footer-items {
      display: none;
    }

    .slider-buttons {
      height: 100%;
      width: 125px;
      flex-direction: row;
      .slider-button {
        width: 100%;
        height: 100%;
      }
    }
  }
}
