@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  height: 600px;
  padding: 0;

  .slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .slider {
      height: 100%;
      width: 100%;

      div {
        height: 100%;
      }

      .carousel {
        .card {
          .slider-item {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 500ms;

            .max-content {
              max-width: var(--composer-content-width);
              margin: 0 auto;
              width: 100%;
              z-index: 2;
              position: relative;
              display: flex;
              align-items: center;
              padding: var(--composer-gap-md) var(--composer-gap-xl);
            }

            .slider-item-title {
              margin: 0 0 -200px 0;
              width: 100%;
              transition: 700ms;
              opacity: 0;

              >blinkpage {
                display: -webkit-box !important;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              &.show {
                margin-bottom: 0;
                opacity: 1;
              }
            }

            .slider-item-title-with-img {
              color: white;
            }

            .slider-item-overlay {
              width: 100%;
              height: 100%;
              background-color: black;
              opacity: 0.4;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }
    }


    .footer-max-content {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      width: 100%;
      max-width: var(--composer-content-width);
      min-height: 150px;

      .slider-footer {
        position: absolute;
        border-top-left-radius: var(--composer-border-radius-md);
        bottom: 0;
        right: 0;
        background-color: var(--composer-html-background);
        display: flex;
        justify-content: center;
        align-items: center;

        &.footer-disappear {
          background: transparent !important;
          border-radius: 0 !important;
          width: 85px !important;
        }

        .slider-footer-items {
          width: 90%;
          min-height: 150px;
          height: 100%;
          display: grid;
          padding: var(--composer-gap-md);
          gap: var(--composer-gap-md);
          max-height: 170px;

          .slider-footer-item {
            display: flex;
            align-items: center;
            min-height: 85px;
            gap: var(--composer-gap-sm);

            .slider-footer-item-image {
              width: 60%;
              height: 100%;
              object-fit: cover;
              border-radius: var(--composer-border-radius-md);
              transition: 500ms;
              transition-property: transform;

              &.hover-animation:hover {
                transform-origin: center;
                transform: rotate(5deg);
              }
            }

            .slider-footer-item-body {
              display: flex;
              justify-content: center;
              flex-direction: column;

              .slider-footer-item-title {
                line-height: 1em;
                margin: 0 0 var(--composer-gap-sm) 0;
                color: var(--composer-font-color-primary);
              }

              .slider-footer-item-subtitle {
                margin: 0;
                color: var(--composer-tertiary-color);
              }
            }
          }
        }

        .slider-buttons {
          width: 10%;
          height: 100%;
          min-height: 170px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          &.full-width {
            width: 100% !important;
          }

          &.width-20-percent {
            width: 20% !important;
          }

          .slider-button {
            border: none;
            background-color: var(--composer-font-color-primary);
            color: var(--composer-font-color-secondary);
            width: 100%;
            height: 100%;
            transition: 400ms;
            flex-grow: 1;
            cursor: pointer;
            position: relative;

            .slider-arrow-icon {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              transform-origin: center;
              transition-property: transform;
              transition: 300ms;
            }

            &:hover {
              color: var(--composer-font-color-primary);
              background-color: var(--composer-font-color-secondary);

              .slider-arrow-icon {
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
}




@container (max-width: #{$composer-tablet-width-lg}) {

  .container {
    .slider-wrapper {
      .slider {
        .carousel {
          .card {
            .slider-item {
              .max-content {
                padding: var(--composer-gap-md) var(--composer-gap-lg);
              }
            }
          }
        }
      }

      .footer-max-content {
        .slider-footer {

          .slider-footer-items {
            .slider-footer-item {
              flex-wrap: wrap;

              .slider-footer-item-image {
                height: auto;
                max-height: 100px;
                width: 100%;
              }

              .slider-footer-item-body {
                width: 100%;

                .slider-footer-item-title {
                  margin: 0 0 var(--composer-gap-sm) 0;
                  line-height: 1rem;
                  color: var(--composer-font-color-primary);
                }

                .slider-footer-item-subtitle {
                }
              }
            }
          }

          .slider-buttons {
            justify-content: center;
          }
        }
      }
    }
  }

}

@container (max-width: #{$composer-phone-width-lg}) {

  .container {
    .slider-wrapper {
      .slider {
        .carousel {
          .card {
            .slider-item {
              .max-content {
                padding: var(--composer-gap-md) var(--composer-gap-md);
              }

              .slider-item-title {
                font-size: 2rem;
              }
            }
          }
        }
      }

      .footer-max-content {
        .slider-footer {
          height: 62.5px;
          width: 125px !important;

          &.footer-disappear {
            width: 125px !important;
          }

          .slider-footer-items {
            display: none;
          }

          .slider-buttons {
            height: 62.5px !important;
            width: 125px !important;
            flex-direction: row;
            min-height: unset;

            &.full-width {
              height: 62.5px !important;
              width: 125px !important;
            }

            .slider-button {
              width: 100%;
              height: 62.5px;
            }
          }
        }
      }
    }
  }
}