@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {
  position: relative;

  .max-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--composer-gap-md);

    .header {
      align-items: center;

      .title,
      .subtitle,
      .description {
        text-align: center;
      }

      .description {
        margin-bottom: 0 !important;
      }

      .subtitle {
        transform: translateX(0);

        &::before {
          display: none;
        }
      }
    }

    .form {
      display: flex;
      justify-content: center;

      .newsletter {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 55%;
        min-width: 500px;
        gap: var(--composer-gap-md);

        .inputs {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .input {
            padding: 15px;
            background-color: transparent;
            border-radius: var(--composer-border-radius-sm);
            height: 100%;
            width: 100%;
            outline: none;
            border: 1px solid var(--composer-tertiary-color);
            color: var(--composer-font-color-primary);

            &::placeholder {
              color: var(--composer-font-color-primary);
            }
          }

          .error {
            position: absolute;
            bottom: -20px;
            left: 0;
            color: var(--composer-danger-color);
          }
        }

        .submit-button {
          margin-top: 0;

          .button-text {
            content: "";
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .form {
        .newsletter {
          width: 60%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .header {
        align-items: var(--composer-content-alignment);

        .title,
        .subtitle,
        .description {
          text-align: var(--composer-content-alignment);
        }
      }

      .form {
        flex-direction: column;
        gap: var(--composer-gap-sm);

        .newsletter {
          width: 100%;
          min-width: 100%;
          flex-direction: column;

          .inputs {
            .input {
              padding: var(--composer-gap-xs);
            }
          }

          .submit-button {
            justify-content: var(--composer-content-alignment);
            width: 50%;
          }
        }
      }
    }
  }
}