$transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .max-content {
    max-width: var(--composer-content-width);
    .page {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .up-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        overflow: hidden;
        white-space: pre-line;
        text-overflow: ellipsis;
        word-break: break-all;

        .subtitle {
          font-size: 4.5rem;
          letter-spacing: 0.02em;
          margin: unset;
          color: var(--composer-font-color-primary);
          opacity: 0.9;
        }

        .description {
          font-size: 1.8rem;
          color: var(--composer-font-color-primary);
          opacity: 0.9;
        }

        .badge {
          color: var(--composer-primary-color);
          border-radius: 10px;
          font-size: 0.8rem;
          background: rgb(244, 244, 244);
          padding: 3px 5px;
          display: inline-block;
          margin-bottom: 2rem;
        }
      }

      .down-page {
        width: 100%;

        .cards {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;

          .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            background: rgb(248, 248, 248);
            box-shadow: var(--composer-box-shadow);
            border-radius: 6px;

            .card-up {
              width: 100%;
              margin-bottom: 3rem;
              border-bottom: 1px solid rgb(240, 240, 240);

              .up-elements {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item-card-title1 {
                  margin-top: 0;
                  font-size: 1.5rem;
                  color: rgb(19, 34, 63);
                  opacity: 0.9;
                }

                .tag {
                  color: #fff;
                  border-radius: 15px;
                  font-size: 1rem;
                  background: var(--composer-secondary-color);
                  padding: 5px 8px;
                  display: inline-block;
                }
              }

              .pricing {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                .price {
                  width: 100%;
                  display: flex;
                  flex-flow: row-reverse;
                  justify-content: flex-end;
                  gap: 4%;
                  position: relative;

                  .item-price {
                    font-size: 6.5rem;
                    color: rgb(19, 23, 29);
                    opacity: 0.9;
                    letter-spacing: 0.02em;
                    margin: 15px 0;

                    .item-per {
                      font-size: 1.3rem;
                    }
                  }
                  .currency {
                    position: relative;
                    .item-currency {
                      font-size: 1.8rem;
                      font-weight: bold;
                      color: rgb(42, 51, 66);
                      opacity: 0.9;
                      position: absolute;
                      top: 20%;
                    }
                  }
                }

                .item-description-p {
                  font-size: 1.3rem;
                  color: rgb(42, 51, 66);
                  opacity: 0.9;
                  margin-block-end: unset;
                }
              }

              .button-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                a {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                }

                .button {
                  width: 100%;
                  max-width: 300px;
                  border: 0px solid;
                  border-radius: 6px;
                  color: #fff;
                  cursor: pointer;
                  padding: 17px;
                  background: transparent;
                  transition: $transition;
                  opacity: 0.9;
                  font-size: 1.5rem;
                  margin-bottom: 2rem;
                  &:hover {
                    opacity: 1;
                  }
                }

                .primary {
                  background-color: var(--composer-secondary-color);
                }
                .secondary {
                  border: 1px solid rgb(200, 200, 200);
                  color: black;
                }
              }
            }

            .card-down {
              width: 100%;

              .list-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: unset;
                margin: 0px;

                .li {
                  width: 100%;
                  list-style-type: none;
                  display: flex;
                  align-items: center;
                  gap: 12px;
                  font-size: 1.2rem;
                  opacity: 0.9;
                  color: rgb(42, 51, 66);

                  .circle-icon {
                    width: 25px;
                    height: 25px;
                    color: #fff;
                    border: 1px solid var(--composer-tertiary-color);
                    border-radius: 50%;
                    background-color: var(--composer-tertiary-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                      width: 15px;
                      height: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
      .max-content{
        align-items: center;
        flex-direction: column;
        .page {
          .up-page {
            .subtitle {
              font-size: 2.5rem !important;
            }
            .description {
              font-size: 1.5rem !important;
            }
          }
    
          .pricing {
            .item-price {
              font-size: 4rem !important;
            }
          }
    
          .button-group {
            .button {
              font-size: 1.2rem !important;
            }
          }
      }
    
    }
  }
}
