.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--composer-html-background);
  overflow: hidden;
  position: relative;
  .image-container-2 {
    position: absolute;
    top: 10rem;
    right: 10rem;
    z-index: 0;
  }
  .image-container-3 {
    position: absolute;
    bottom: 1rem;
    left: -20rem;
    z-index: 0;
  }
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
