.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--composer-html-background);
  overflow: hidden;
  position: relative;
  .image-container-2 {
    position: absolute;
    top: 10rem;
    right: 10rem;
    z-index: 0;
  }
  .image-container-3 {
    position: absolute;
    bottom: 1rem;
    left: -20rem;
    z-index: 0;
  }
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .background-text {
      position: absolute;
      z-index: 0;
      height: 60rem;
      font-size: 40rem;
      // font-size: 80rem;
      padding-bottom: 20rem;
      // top: 100rem;
      animation: moveText 20s linear infinite;
    }

    .content-container {
      position: relative;
      .title {
        position: absolute;
        top: 30%;
        left: 60%;
        font-size: 10rem;
        color: #fff;
      }
      .subtitle {
        color: #fff;
        position: absolute;
        top: 50%;
        left: -15%;
        transform: rotateZ(-90deg);
        font-size: 1.5rem;
        letter-spacing: 2px;
      }
      .image {
        border-radius: 2%;
      }
      .sliderNumber {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 5%;
        left: 95%;
        display: flex;
        justify-content: space-between;
        .overlay {
          display: inline-block;
          height: 1px;
          width: 2rem;
          position: absolute;
          right: 1rem;
          bottom: 40%;
          background: white;
        }
        .slider-number {
          font-size: 13px;
        }
      }
    }
  }
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
