.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--composer-html-background);
  overflow: hidden;
  // padding: 50px 0px;
  // display: flex;
  // align-items: center;
  position: relative;
  .image-container-2 {
    position: absolute;
    top: 10rem;
    right: 10rem;
    z-index: 0;
  }
  .image-container-3 {
    position: absolute;
    bottom: 1rem;
    left: -20rem;
    z-index: 0;
  }
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;
  }
}
