.container {
  width: 100%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .call-to-action4-page {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding: 0 10px;
      h2 {
        font-weight: 100;
        max-width: 550px;
        margin: 0;
        font-size: 1.5rem;
        color: white;
      }
      h1 {
        font-size: 3rem;
        margin: 0;
        color: white;
        max-width: 550px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .button {
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          transition: 0.3s;
          display: block;
          color: black;
          background-color: white;
          padding: 15px 30px;
          font-size: 1.5rem;
          font-weight: 400;
          border-radius: 6px;
          border: 1px solid transparent;
          width: 200px;
          &:hover {
            background-color: transparent;
            color: white;
            border: 1px solid white;
          }
        }
        .button2 {
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          transition: 0.3s;
          display: block;
          color: white;
          background-color: transparent;
          padding: 15px 30px;
          font-size: 18px;
          font-weight: 400;
          border-radius: 6px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          width: 200px;
          &:hover {
            border: 1px solid white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
    .call-to-action4-page {
      text-align: center;
      margin: 0;
      h1, h2 {
        max-width: 100% !important;
      }
      .buttons {
        width: 100%;
        display: flex;
        flex-direction: column !important;
        .button,
        .button2 {
          width: 100% !important;
        }
      }
    }
  }
}
