.container {
  width: 100%;
  background-color: var(--composer-html-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100 !important;

  .max-content {
    padding: 0px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: var(--composer-content-width);
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

    .content-left {
      img {
        height: 80px;
      }
    }

    .content-right {
      display: flex;
      align-items: center;
      gap: 35px;

      .navbar-child {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--composer-html-background);
        opacity: 0;
        transform: translateY(100%);
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        z-index: 1;
        transition: opacity 0.5s ease;

        h3 {
          margin: 14px 0;
          padding: 14px 20px;
          font-size: 18px;
          cursor: pointer;
          color: var(--composer-font-color-primary);
          transition: all 0.4s;

          &:hover {
            color: var(--composer-primary-color);
          }
        }

        &.closing {
          animation: slideOut 0.5s forwards;

          display: flex;
          position: relative;
          opacity: 0;
        }

        &.active {
          animation: slideIn 0.5s forwards;
          opacity: 1;
          display: flex;
          position: relative;
        }

        .extendable .extendable-title-content {
          display: flex;
          gap: 10px;
          transition: all 0s ease;

          svg {
            flex-shrink: 0;
            transition: transform 0.4s ease;
          }

          &:hover svg {
            transform: rotate(180deg);
            transform-origin: center;
          }
        }

        .extendable:hover .dropdown-content {
          max-height: 1000px;
          opacity: 1;
        }

        .dropdown-content {
          position: absolute;
          background-color: var(--composer-html-background);
          min-width: 150px;
          z-index: 1;
          max-width: 170px;
          padding: 10px 10px;
          border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.3);
          opacity: 0;
          overflow: hidden;
          top: 80%;
          margin-left: -10px;
          transition: max-height 0s ease, opacity 0.4s ease;

          a,
          div {
            display: block;
            text-decoration: none;
            transition: background-color 0.3s ease;
            color: var(--composer-font-color-primary);
          }

          a,
          div:hover {
            color: var(--composer-primary-color);
          }

          .container-border {
            box-shadow: 5px 5px 30px
              rgba(var(--composer-font-color-primary-rgb), 0.3);

            .no-image-text {
              text-align: center;
              font-size: 16px;
              padding: 20px 0px;
              font-weight: 400;
            }

            .image-container {
              position: relative;
              width: 100%;
              background-color: transparent;
              transition: all 1s ease;
              overflow: hidden;

              .image-overlay {
                background-color: var(--composer-font-color-primary) !important;
                height: 100% !important;

                .image {
                  width: 100%;
                  height: auto;
                  display: block;
                  transition: all 1s ease;
                  z-index: 1;
                  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                }
              }

              .text-overlay {
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                color: var(--composer-font-color-secondary);
                font-size: 14px;
                text-align: center;
                border-radius: 5px;
                opacity: 0;
                transition: all 0.5s ease-in;

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
              }

              &:hover {
                background-color: var(--composer-font-color-primary);
              }

              &:hover .image {
                mix-blend-mode: color;
              }

              &:hover .text-overlay {
                bottom: 45%;
                opacity: 1;
                transform: translateX(-50%);
              }
            }
          }
        }
      }

      @keyframes slideIn {
        0% {
          transform: translateY(50%);
        }

        100% {
          transform: translateY(0);
        }
      }

      @keyframes slideOut {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(50%);
        }
      }

      .hamburger-container {
        cursor: pointer;
        z-index: 4;

        .hamburger {
          position: relative;
          width: 24px;
          height: 19.2px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;
          transition: transform 0.4s ease;
          color: var(--composer-font-color-primary) !important;

          span {
            display: block;
            height: 4px;
            background-color: var(--composer-font-color-primary);
            transition: all 0.3s ease;
          }

          &.open span:nth-child(1) {
            transform: translateY(5px) rotate(45deg);
          }

          &.open span:nth-child(2) {
            opacity: 0;
          }

          &.open span:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .max-content {
      padding: 0 30px !important;
    }

    .content-right {
      margin: 0 !important;
      padding: 0 !important;
      height: 100% !important;

      .navbar-child {
        padding: 25px 30px 25px 25px !important;
        margin-left: 60% !important;
        position: fixed !important;
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: var(--composer-html-background) !important;
        padding-top: 55px !important;
        top: 0% !important;
        right: 0 !important;
        width: 40% !important;
        gap: 10px !important;

        &.active {
          height: 100vh !important;
          padding-top: 80px !important;
        }

        // Style for the dropdown
        ul {
          padding: 0 !important;
          margin: 0 !important;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }

        .ul-none {
          display: none;
        }

        li {
          font-size: 14px !important;
          margin: 10px 5px;
          list-style-type: none !important;

          a,
          div {
            text-decoration: none;
            color: initial;
            cursor: pointer;

            &:hover {
              color: var(--composer-primary-color) !important;
            }
          }
        }

        .rightSlider {
          display: block;
          pointer-events: auto;
        }

        &.activeChild {
          opacity: 1;
          display: flex;
          position: relative;
        }

        .right-section {
          display: flex;
          width: 100%;
          justify-content: space-between !important;
          flex-shrink: 0 !important;
          align-items: center !important;

          .extendable {
            .dropdown-content-tablet-telephone {
              display: flex !important;
            }
          }

          div {
            height: 18px;
            transition: transform 0.4s ease;
            align-items: center;
          }

          .rotate {
            transform: rotate(180deg);
            transform-origin: center;
          }

          svg {
            flex-shrink: 0 !important;
            color: var(--composer-font-color-primary) !important;

            width: 18px !important;
            height: auto !important;
            align-items: center;
          }

          .extendable::selection .dropdown-content {
            max-height: 300px !important;
            opacity: 1;
          }
        }
      }
    }

    .navbar-child.active {
      display: none;
    }

    .navbar-child h3 {
      margin: 10px 0px !important;
      padding: 0 !important;
      font-size: 18px !important;
      color: var(--composer-font-color-primary);
      cursor: pointer;
      transition: color 0.3s ease;
    }

    .hamburger-container {
      z-index: 2;
      cursor: pointer;
    }

    .hamburger {
      position: relative;
      width: 24px;
      height: 19.2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .hamburger span {
      height: 3px !important;
      background-color: var(--composer-font-color-primary);
      transition: all 0.3s ease;
    }

    .hamburger.open span:nth-child(1) {
      transform: translateY(0) rotate(-45deg) !important;
      transform-origin: top right;
    }

    .hamburger.open span:nth-child(2) {
      opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
      transform: translateY(0) rotate(45deg) !important;
      transform-origin: bottom right;
    }
  }
}

@media (max-width: 468px) {
  .container {
    .max-content {
      padding: 0px 30px !important;
    }

    .content-left {
      img {
        height: 50px !important;
      }
    }

    .content-right {
      margin: 0 !important;
      padding: 0 !important;
      height: 100% !important;

      .navbar-child {
        padding: 25px 30px 25px 25px !important;
        margin-left: 50% !important;
        position: fixed !important;
        display: flex;
        flex-direction: column;
        background-color: var(--composer-html-background) !important;
        padding-top: 55px !important;
        top: 0% !important;
        right: 0 !important;
        width: 50% !important;
        gap: 10px !important;

        &.active {
          height: 100vh !important;
          padding-top: 80px !important;
        }

        // Style for the dropdown
        ul {
          padding: 0 !important;
          margin: 0 !important;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }

        .ul-none {
          display: none;
        }

        li {
          font-size: 14px !important;
          margin: 10px 5px;
          list-style-type: none !important;
        }

        .rightSlider {
          display: block;
        }

        &.activeChild {
          opacity: 1;
          display: flex;
          position: relative;
        }

        .right-section {
          display: flex !important;
          width: 100%;
          justify-content: space-between !important;
          flex-shrink: 0 !important;
          align-items: center !important;

          .extendable {
            .dropdown-content-tablet-telephone {
              display: flex !important;
              font-size: 16px !important;
              padding-right: 5px;
            }
          }

          div {
            height: 12px !important;
            transition: transform 0.4s ease;
          }

          svg {
            flex-shrink: 0 !important;
            width: 12px !important;
            height: auto !important;
            align-self: center;
          }

          .extendable::selection .dropdown-content {
            max-height: 300px !important;
            opacity: 1;
          }
        }
      }
    }

    .navbar-child.active {
      display: none;
    }

    .navbar-child h3 {
      padding: 0px !important;
      font-size: 16px !important;
      color: var(--composer-font-color-primary);
      cursor: pointer;
      transition: color 0.3s ease;
    }

    .hamburger-container {
      z-index: 2;
      cursor: pointer;
    }

    .hamburger {
      font-size: smaller;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2;
      width: 18px !important;
      height: 15px !important;
    }

    .hamburger span {
      height: 3px !important;
      background-color: var(--composer-font-color-primary);
      transition: all 0.3s ease;
    }

    .hamburger.open span:nth-child(1) {
      transform: translateY(0) rotate(-45deg) !important;
      transform-origin: top right;
    }

    .hamburger.open span:nth-child(2) {
      opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
      transform: translateY(0) rotate(45deg) !important;
      transform-origin: bottom right;
    }
  }
}
