.container {
    width: 100%;
    padding: 50px;

    .max-content {
        max-width: var(--composer-content-width);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        row-gap: 110px;

        .container-top {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;
            gap: 10px;
            padding: 0 20px;

            .title-container {
                width: 40%;
                text-align: center;
                color: var(--composer-primary-color);
                font-size: 2.1em;

                .title {
                    margin: 0;
                    text-align: left;
                }
            }

            .description-container {
                width: 30%;
                padding-top: 15px;
                color: var(--composer-font-color-primary);

                .description-inner {
                    text-align: justify;
                    font-size: 18px;
                    line-height: 1.7em;
                }
            }
        }

        .container-bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .egg-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;

                .image-container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    max-width: 400px;

                    .background-image,
                    .member-image {
                        width: 80%;
                        aspect-ratio: 1;
                    }

                    .background-image {
                        width: 70%;
                    }

                    .member-image {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: -14.5%;
                        z-index: 2;
                    }
                }

                .icon-container {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    column-gap: 12px;
                    color: var(--composer-secondary-color);
                    font-size: 2em;
                    margin-top: 20px;
                }

                .members-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    .name {
                        width: max-content;
                        color: var(--composer-primary-color);
                        font-size: 1.8em;
                        margin: 0;
                    }

                    .occupation {
                        width: max-content;
                        color: var(--composer-font-color-primary);
                        font-size: 1.2em;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 50px 20px;

        .max-content {
            max-width: var(--composer-content-width);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 100%;

            .container-top {
                .title-container {
                    width: 50%;

                    .title {
                        padding: 0;
                        font-size: 1.8em;
                    }
                }

                .description-container {
                    width: 50%;
                    padding-top: 10px;

                    .description-inner {
                        width: 100%;
                    }
                }
            }


        }
    }
}

@media only screen and (max-width: 700px) {
    .container-top {
        flex-direction: column;

        .title-container,
        .description-container {
            width: 100% !important;
        }
    }

    .egg-item {
        width: 50% !important;
    }
}

@media only screen and (max-width: 500px) {
    .egg-item {
        width: 100% !important;
    }
}