@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

@keyframes bounceIcon {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes scaleUpIcon {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes colorChangeIcon {
  0% {
    color: var(--composer-font-color-primary);
  }

  100% {
    color: var(--composer-primary-color);
  }
}

.container {
  .max-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--composer-gap-lg) * 2);

    .vertical-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title-container {
        width: 45%;
        text-align: var(--composer-content-alignment);

        .subtitle,
        .title {
          content: "";
        }
      }

      .description-container {
        width: 45%;

        .description {
          text-align: right;
        }
      }
    }

    .container-bottom {
      gap: var(--composer-gap-xl);

      .card-item {
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;
        gap: var(--composer-gap-md);

        &[data-animation~="animate1"] {
          &:hover {
            transform: scale(1.1);
          }
        }

        &[data-animation~="animate4"] {
          &:hover {
            .icon-container {
              .icon {
                animation: bounceIcon 0.6s ease both;
                animation-delay: calc(var(--icon-index, 0) * 0.1s);
              }
            }
          }
        }

        &[data-animation~="animate5"] {
          .icon-container {
            .icon {
              transform: scale(0.8);
              opacity: 0.5;
            }
          }

          &:hover {
            .icon-container {
              .icon {
                animation: scaleUpIcon 0.5s ease both;
                animation-delay: calc(var(--icon-index, 0) * 0.1s);
              }
            }
          }
        }

        &[data-animation~="animate3"] {
          &:hover {
            .icon-container {
              .icon {
                animation: colorChangeIcon 0.5s ease both;
                animation-delay: calc(var(--icon-index, 0) * 0.1s);
              }
            }
          }
        }

        .image-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .background-image,
          .member-image {
            transition: transform 0.3s ease;
            width: 80%;
            aspect-ratio: 1;
          }

          .background-image {
            width: 70%;
          }

          .member-image {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -15%;
            z-index: 2;
          }
        }

        .members-container {
          align-items: center;

          .icon-container {
            column-gap: var(--composer-gap-sm);
            line-height: 0;
            font-size: 1.5rem;

            .icon {
              color: var(--composer-font-color-primary);
              transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
              display: inline-flex;
              align-items: center;
              justify-content: center;

              &.has-image {
                width: var(--composer-gap-md);
                height: var(--composer-gap-md);
                object-fit: cover;
              }
            }
          }

          .name {
            color: var(--composer-font-color-primary);
            transition: transform 0.3s ease;
            text-align: center;
          }

          .position,
          .card-description {
            text-align: center;
            color: var(--composer-tertiary-color);
            transition: transform 0.3s ease;
            text-align: center;
          }
        }

        &[data-animation~="animate2"] {
          &:hover {

            .name,
            .position,
            .card-description {
              transition: transform 0.3s ease;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .container-bottom {
        gap: calc(var(--composer-gap-xl) * 2);
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .vertical-content {
        flex-direction: column;

        .title-container {
          width: 100%;

          .subtitle {
            transform: translateX(0) !important;

            &::before {
              background: none !important;
            }

            justify-content: center;
          }

          .title {
            text-align: var(--composer-content-alignment);
          }
        }

        .description-container {
          width: 100%;

          .description {
            text-align: var(--composer-content-alignment);
          }
        }
      }
    }
  }
}