@use "../../../composer-base-components/base/utitilities/viewports.module.scss" as *;

@mixin textEllipsis($line, $important: "") {
  * {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line#{$important};
  }
}

.no-image-anm {
  overflow-y: hidden !important;
}

.container {
  padding: 0 !important;

  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }

  .max-content {
    position: relative;
    height: 100%;

    .image-container {
      height: 100%;
      position: relative;

      .image {
        position: relative;
        height: 130%;
        width: 100%;
        inset: 0px;
        color: transparent;
        scale: 1;
        object-fit: cover;
        transition: transform 0.2s ease;
      }

      .no-img-anm {
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
    }

    .card {
      border-radius: var(--composer-border-radius-xs);
      position: absolute;
      bottom: var(--composer-gap-md);
      background: var(--composer-html-background);
      right: var(--composer-gap-xl);
      width: 30%;

      .box {
        padding:calc(var(--composer-gap-lg) * 2) var(--composer-gap-lg);
        display: flex;
        gap: var(--composer-gap-sm);
        flex-direction: column;
        gap: var(--composer-gap-md);
        .heading {
          display: flex;
          flex-direction: column;
          gap: var(--composer-gap-md);
          .sub-heading-container {
            font-size: 1rem;
            color: var(--composer-font-color-primary);
            display: flex;
            gap: var(--composer-gap-sm);
            align-items: center;
            .sub-heading-line {
              height: 1px;
              background-color: rgba(var(--composer-font-color-primary-rgb), 0.2);
              width: 4rem;
              margin: 0px;
            }
            .sub-heading-title {
              flex: 1;
              font-size: 1.5rem;
              color: var(--composer-font-color-primary);
              @include textEllipsis(2);
            }
          }
          .title {
            font-size: 3.5rem;
            margin: 0;         
            color: var(--composer-font-color-primary);
            @include textEllipsis(2);
          }
        }

        .desc {
          margin: 0;
          font-size: 1.5rem;
          color: var(--composer-font-color-primary);
          max-height: 20rem;
          overflow: auto;
        }

        .note {
          font-size: 1.5rem;
          color: var(--composer-primary-color);
          margin: 0;
          @include textEllipsis(2);
        }

        .button-container {
          .button{
            content: "";
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container{
    .max-content{
      .card {
        width: 50%;
        .box {
          .heading {
            .sub-heading-container {
              .sub-heading-line {
                width: 3rem;
              }
              .sub-heading-title {
                font-size: 1rem;
              }
            }
            .title {
              font-size: 2rem;
              letter-spacing: 2px;
            }
          }
    
          .desc,
          .note {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    height: fit-content;
    padding: 20px !important;
    .max-content {
      display: flex;
      flex-direction: column;
        .image-container {
          .image {
            scale: 1;
            height: auto;
            transform: none !important;
          }
        }
      .card {
        bottom: 0 ;
        position: relative ;
        transform: none ;
        right: 0px ;
        width: auto ;
    
        .box {
          padding: var(--composer-gap-md) ;
          .heading {
            .sub-heading-container {
              .sub-heading-line {
                display: none;
              }
            }
          }
          .desc{
            max-height: unset !important;
          }
        }
      }
    }
  }
}
