@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

@mixin textEllipsis($line, $important: "") {
  * {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line#{$important};
  }
}

.no-image-anm {
  overflow-y: hidden !important;
}

.container {
  padding: 0 !important;
  background-color: var(--composer-html-background);
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }

  .max-content {
    position: relative;
    height: 100%;

    .image-container {
      height: 100%;
      position: relative;

      .image {
        position: relative;
        height: 130%;
        width: 100%;
        inset: 0px;
        color: transparent;
        scale: 1;
        object-fit: cover;
        transition: transform 0.2s ease;
      }

      .no-img-anm {
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
    }

    .card {
      border-radius: var(--composer-border-radius-xs);
      position: absolute;
      bottom: var(--composer-gap-md);
      background: var(--composer-font-color-secondary);
      right: 80px;
      width: 40%;

      .box {
        padding: var(--composer-gap-lg);
        display: flex;
        gap: var(--composer-gap-sm);
        flex-direction: column;

        .heading {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: var(--composer-gap-sm) 0 !important;

          .sub-heading-container {
            letter-spacing: 3px;
            font-size: 1rem;
            margin: 0;
            color: var(--composer-font-color-primary);
            display: flex;
            padding: var(--composer-gap-sm) 0;
            flex-wrap: nowrap;

            .sub-heading-line {
              height: 1px;
              background-color: rgba(var(--composer-font-color-primary-rgb), 0.5);
              vertical-align: middle;
              width: 4rem;
              margin-right: var(--composer-gap-sm);
            }

            .sub-heading-title {
              flex: 1;
              font-size: 1rem;
              word-break: break-word;
              color: var(--composer-font-color-primary);
              @include textEllipsis(2);
            }
          }

          .title {
            font-size: 3rem;
            letter-spacing: 2px;
            margin: 0;
            word-break: break-word;
            color: var(--composer-font-color-primary);
            @include textEllipsis(2);
          }
        }

        .desc {
          line-height: 1.6;
          display: block;
          margin: 0;
          font-size: 1rem;
          word-break: break-word;
          color: var(--composer-font-color-primary);
          max-height: 20rem;
          overflow: auto;
        }

        .note {
          font-size: 1rem;
          letter-spacing: 1px;
          color: var(--composer-primary-color);
          word-break: break-word;
          margin: 0;
          @include textEllipsis(2);
        }

        .button-container {
          margin-top: var(--composer-gap-sm);
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .card {
    width: 45% !important;

    .box {
      .heading {
        .sub-heading-container {
          .sub-heading-line {
            width: 3rem !important;
          }

          .sub-heading-title {
            font-size: 1rem !important;
          }
        }

        .title {
          font-size: 2rem !important;
          letter-spacing: 2px;
        }
      }

      .desc,
      .note {
        font-size: 1rem !important;
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    height: fit-content;

    .max-content {
      display: flex;
      flex-direction: column;
    }
  }

  .card {
    border-radius: 0 !important;
    bottom: 0 !important;
    position: relative !important;
    transform: none !important;
    right: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    width: auto !important;

    .box {
      padding: var(--composer-gap-md) !important;

      .heading {
        .sub-heading-container {
          .sub-heading-line {
            display: none;
          }
        }
      }

      .desc{
        max-height: unset !important;
      }
    }
  }

  .image-container {
    flex: 1;
    height: 50vh !important;

    .image {
      scale: 0;
      height: auto;
      transform: none !important;
    }
  }
}
