.container {
  width: 100%;
  padding: 50px 20px;

  .max-content {
    max-width: var(--composer-content-width);
    margin: auto;

    .basic-page {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .up-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .title {
          font-size: 6.9rem;
          margin: unset;
          text-align: center;
          color: transparent;
          -webkit-text-stroke: 1px var(--composer-primary-color);
          letter-spacing: 3px;
        }
      }

      .down-page,
      .slider {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .card {
          display: flex;
          justify-content: center;
          position: relative;
          flex-direction: column-reverse;

          .person-image {
            position: relative;
            height: 400px;
            min-height: 400px;
            width: 100%;
            object-fit: cover;
            border-radius: 6px;
            transition: 0.4s;
          }

          .person-image:hover {
            border-radius: 45%;
            transition: 0.4s;
          }

          .person-info {
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            bottom: 0;
            border-radius: 6px;
            opacity: 0.8;
            padding: 15px 15px;
            height: 140px;

            .text-group {
              padding: 15px 0;
              background-color: var(--composer-html-background);
              z-index: 2;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              transition:
                margin-bottom 1s,
                border-bottom 1s,
                padding-bottom 1s;

              .item-name {
                margin: unset;
                font-size: 1.6rem;
                color: var(--composer-font-color-primary);
              }
            }

            .icons-bar {
              transition: 0.5s;
              display: flex;
              opacity: 0;
              flex-direction: row;
              gap: 13px;
              width: 100%;
              margin-bottom: -55px;

              .icon {
                font-size: 40px;
                color: var(--composer-font-color-primary);
                border-radius: 50%;
                border: 1px solid var(--composer-font-color-primary);
                padding: 10px;
                transition: 300ms;
                cursor: pointer;

                &:hover {
                  color: var(--composer-primary-color);
                }
              }
            }
          }

          &:hover {
            .icons-bar {
              margin-bottom: 0px;
              opacity: 1;
            }
          }
        }

        :nth-child(2n + 1) {
          flex-direction: column;
        }
      }

      .down-page {
        display: flex;
      }

      .slider {
        display: none;
      }
    }
  }
}

.card-noimg {
  align-items: center !important;
}

.personinfo-noimg {
  width: auto !important;
}

.itemname-noimg {
  text-align: center !important;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 100vh;
    .max-content {
      .basic-page {
        .up-page {
          .title {
            font-size: 5rem;
          }
        }

        .down-page {
          display: none !important;
        }

        .slider {
          display: flex !important;
          gap: 10px;
          height: 550px;

          div {
            height: 100%;
          }

          .card {
            padding: 0 10px 0 10px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .person-info {
              height: 136px;
              display: flex;
              justify-content: center;
              align-items: center;

              .icons-bar {
                .icon {
                  font-size: 35px;
                }
              }
            }
          }

          :nth-child(2n) {
            .card {
              display: flex;
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .up-page {
    .title {
      font-size: 3.2rem !important;
    }
  }
}
