@import "../../../composer-base-components/base/utitilities/viewports.module.scss";

.container {
  color: var(--composer-font-color-primary);
  display: flex;

  .max-content {
    display: flex;
    flex-direction: column;

    .header-wrapper {
      width: 60%;

      &.full-width {
        min-width: 100%;
      }

      .header {
        word-break: break-word;
      }
    }

    .bottom-content {
      flex-wrap: unset;

      .subHeader {
        flex: 1;
        position: sticky;
        top: 5rem;
        display: unset;
        line-height: 1.5;

        &.full-width {
          min-width: 100%;
        }

        .description {
          max-width: 90%;
          word-break: break-word;

          &.full-width {
            min-width: 100%;
          }
        }

        .button-content {
          display: flex;

          .contact-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 2rem;
            text-transform: uppercase;
            background-color: var(--composer-secondary-color);
            color: var(--composer-font-color-secondary);
            transition: none;
            word-break: break-word;
            cursor: pointer;
            max-width: 90%;
            border-radius: var(--composer-border-radius-xs);

            &.animated {
              transition: transform 0.4s ease;
            }

            &.animated:hover {
              transform: translateY(-2px);
            }

            .contact-button-icon {
              flex-shrink: 0;
              margin-left: .5rem;
              font-size: 1rem;
              color: var(--composer-font-color-secondary);
            }

            &.button-full-width {
              max-width: 30%;
            }
          }
        }
      }

      .no-title {
        top: 0;
      }

      .cards-container {
        gap: 0;
        flex: 3;

        .listed {
          display: flex;
          flex-direction: column;
          border: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
          border-bottom: none;
          padding: 1rem 3rem 1.5rem 3rem;
          gap: var(--composer-gap-xl);

          .card-text {
            position: relative;
            flex: 1;
            width: 85%;
            text-align: left;
            word-break: break-word;
            white-space: normal;
            text-overflow: ellipsis;
            line-height: 1.5;
            overflow: hidden;
          }

          .card-amount-container {
            display: flex;
            align-items: flex-start;

            .card-icon {
              font-size: 2.5rem;
              color: var(--composer-font-color-primary);
              flex-shrink: 0;
            }

            .card-amount {
              position: relative;
              flex-shrink: 0;
              text-align: left;
              font-size: 4rem;
              font-weight: bold;
              color: var(--composer-font-color-primary);
              margin: 0;
              max-width: 85%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .card-icon-after {
              font-size: 2rem;
              margin-top: auto;
              margin-bottom: auto;
              flex-shrink: 0;
            }
          }

          &:nth-child(even) {
            border-left: none;
          }

          &:nth-child(-n + 2) {
            border-top: none;
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width-lg}) {
  .container {
    .max-content {
      .header-wrapper {
        width: 100%;

        &.full-width {
          min-width: 100%;
        }
      }

      .bottom-content {
        flex-direction: column;

        .subHeader {
          width: 100%;
          margin-right: 0;
          position: static;

          .description {
            max-width: 100%;

            &.full-width {
              min-width: 100%;
            }
          }

          &.full-width {
            min-width: 100%;
          }

          .button-content {
            display: inherit;

            .contact-button {
              max-width: 100%;

              &.button-full-width {
                max-width: 60%;
              }
            }
          }
        }

        .cards-container {
          .listed {
            width: 100%;
            padding: 2rem 2.5rem;
            max-width: 100%;

            &:first-child {
              border-top: none;
            }

            &:nth-child(2) {
              border-top: none;
            }

            .card-amount-container {
              .card-amount {
                max-width: 80%;
                font-size: 3.5rem;
              }

              .card-icon {
                font-size: 2rem;
              }

              .card-amoun::after {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width-lg}) {
  .container {
    .max-content {
      .bottom-content {
        .subHeader {
          .button-content {
            .contact-button {
              &.button-full-width {
                max-width: 80%;
              }
            }
          }
        }

        .cards-container {
          .listed {
            padding: 1.5rem 2rem;

            &:first-child {
              border-top: none;
              border-bottom: 1px solid rgba(var(--composer-font-color-primary-rgb), 0.2);
            }

            &:nth-child(2n) {
              border-right: none;
            }

            .card-amount-container {
              .card-icon {
                font-size: 1.5rem;
              }

              .card-amount {
                font-size: 3rem;
                max-width: 70%;
              }

              .card-icon-after {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}