@use "../../../composer-base-components/base/utitilities/viewports.module.scss"
  as *;

.container {
  background-color: var(--composer-html-background);
  background-size: cover;
  background-position: center;

  .max-content {
    .content {
      .featured-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--composer-gap-sm);

        .section-subtitle {
          margin-top: 0;
          margin-bottom: 0;
        }

        .black {
          color: black;
          max-width: 90%;
          &::before {
            background-color: black;
          }
        }

        .section-title {
          margin-top: 0;
          margin-bottom: 0;
        }
        .card-link-container {
          .featured-card-link {
            content: "";
          }

          .featured-card-link-with-image {
            color: black;
            border-bottom-color: black !important;
          }
        }
      }

      .card-item-count,
      .vertical,
      .overlay,
      .overlay-content {
        border-radius: var(--composer-border-radius-sm);
      }

      .card-item-count,
      .card-item-count-no-bg {
        position: relative;
        background-color: transparent;

        &:hover .overlay {
          opacity: 1;
          border: 0.5px solid var(--composer-tertiary-color);
        }

        &:hover .vertical {
          opacity: 0;
        }

        .overlay {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: var(--text-color-white);
          text-align: center;
          z-index: 1;
          opacity: 0;
          transition: opacity 0.6s ease;
        }

        .overlay-content {
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center !important;
          padding: var(--composer-gap-md);
          color: var(--composer-font-color-secondary);
          gap: var(--composer-gap-sm);

          &.apply-overlay {
            background-color: var(--composer-overlay-color);
          }

          .long-text {
            font-size: 1.5rem;
            color: var(--composer-font-color-primary);
            text-align: center;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 5;
            -webkit-line-clamp: 5;

            &.image-or-overlay-exist {
              color: var(--text-color-white);
            }
          }

          .overlay-links-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--composer-gap-sm);

            .overlay-link {
              color: var(--text-color-white);
              border: 1px solid var(--text-color-white);
            }
          }
        }

        .vertical {
          min-height: 250px;
          height: 100%;
          padding: var(--composer-gap-lg) var(--composer-gap-xl);
          transition: opacity 0.6s ease;
          gap: var(--composer-gap-md);
          justify-content: center;

          .icon-container,
          .icon-container-no-bg {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              margin: 0;
              width: 30px;
              height: 30px;
              color: var(--composer-font-color-secondary);
            }
          }

          .icon-container {
            background-color: #f4e9d5;
          }

          .icon-container-no-bg {
            background-color: var(--composer-primary-color);
          }

          .title {
            color: var(--composer-font-color-primary);
            margin-top: 0;
            margin-bottom: 0;
            &.title-with-bg {
              color: #000000;
            }
          }

          .subtitle {
            color: var(--composer-tertiary-color);
            margin-top: 0;
            margin-bottom: 0;
            &.subtitle-with-bg {
              color: #000000;
            }
          }
        }
      }
      .card-item-count {
        border: 1px solid #eeeeee;
      }
      .card-item-count-no-bg {
        border: 1px solid var(--composer-tertiary-color);
      }
    }
  }
}

@container (max-width: #{$composer-tablet-width}) {
  .container {
    .max-content {
      .content {
        gap: var(--composer-gap-sm);

        .card-item-count {
          .vertical {
            padding: var(--composer-gap-md);
            justify-content: center;
            align-items: center;

            .title {
              font-size: 1rem;
            }

            .subtitle {
              font-size: 1rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .section-subtitle {
    transform: translateX(0) !important;
    &::before {
      content: none !important;
    }
  }

  .section-title {
    text-align: center !important;
  }

  .featured-card {
    align-items: center !important;
    .card-link-container {
      margin-bottom: 1rem;
      .featured-card-link-with-image {
        display: flex;
        align-items: center;
        text-align: center !important;
      }
    }
  }
}
