@use "../../../../composer-tools//composer-base-components//base//utitilities/viewports.module.scss" as *;

.container {
  background-color: color-mix(in srgb, var(--composer-html-background), var(--composer-font-color-primary) 5%);

  .max-content {
    .title-block {
    .subtitle, .title {
      content: "";
    }
    }
  }

  .wrapper {
    display: flex;
    gap: var(--composer-gap-lg);
    flex-wrap: wrap;
    justify-content: space-between;

    .map-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--composer-gap-lg);

      .location-item {
        display: flex;
        text-align: left;

        .location-items {
          width: 40%;

          .location-index {
            font-size: 1.5rem;
            color: var(--composer-font-color-primary);
          }

          .location-city {
            font-size: 2rem;
            color: var(--composer-font-color-primary);
          }

          .location-adress,
          .location-description {
            font-size: 1rem;
            color: var(--composer-tertiary-color);
          }
        }
      }

      .location-map {
        width: 60%;
        min-height: 300px;
        box-shadow: var(--box-shadow-active);

        > div {
          border-radius: var(--composer-border-radius-xs);
        }

        &.full-width {
          width: 100%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .wrapper {
        .map-container {
          .location-item {
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-md);

            .location-items {
              width: 100%;
            }
          }

          .location-map {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}
