@use "../../../../composer-tools/composer-base-components/base/utitilities/viewports.module.scss" as *;

.container {

  .max-content {
    .title-block {
      .location-logo {
        width: 80px;
        height: auto;
        margin-bottom: var(--composer-gap-sm);
        color: var(--composer-font-color-primary);
        font-size: 4rem;
      }

      .location-description-header {
        margin-top: 0;
        margin-bottom: var(--composer-gap-lg);
      }
      .subtitle,
      .title {
        content: "";
      }
    }
  }

  .wrapper {
    display: flex;
    gap: var(--composer-gap-lg);
    flex-wrap: wrap;
    justify-content: space-between;

    .map-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--composer-gap-lg);

      .location-item {
        display: flex;
        text-align: left;
        gap: var(--composer-gap-lg);


        .location-items {
          width: 40%;

          .location-index {
            color: var(--composer-font-color-primary);
            margin-top: var(--composer-gap-md);
            font-size: 2.75rem;
          }

          .location-city {
            color: var(--composer-font-color-primary);
          }

          .location-address,
          .location-description {
            color: var(--composer-font-color-primary);
          }
        }
      }

      .location-map {
        width: 60%;
        min-height: 300px;
        box-shadow: var(--box-shadow-active);
        border-radius: var(--composer-border-radius-sm);
        overflow: hidden;

        

        &.full-width {
          width: 100%;
        }
      }
    }
  }
}

@container (max-width: #{$composer-phone-width}) {
  .container {
    .max-content {
      .title-block {
        .location-logo {
          width: 40px;
          font-size: 2.5rem;
        }
      }
      .wrapper {
        .map-container {
          .location-item {
            display: flex;
            flex-direction: column;
            gap: var(--composer-gap-md);

            .location-items {
              width: 100%;
            }
          }

          .location-map {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}